# the idea behind packageNames is with ppas there is a boolean var set of yes or no bascially that is "install the most popular apps/packages, from the PPA"


######################################################################################
# Sort of a Meta-function
function installPPAThemes() {

	clear

	fancy_message action "Installing Themes via PPA"
	userPrompt

	## Install Themes
	installApp "arc-icons arc-theme adapta-gtk-theme"

}
