# the idea behind packageNames is with ppas there is a boolean var set of yes or no bascially that is "install the most popular apps/packages, from the PPA"


##########################################################################
## Start of Specific Theme PPAs

# May 2022: has Focal Support, so this is still updated
function plataThemePPA() {
    # https://gitlab.com/tista500/plata-theme
    ppaTitle="Plata-Theme"
    ppaRef="https://launchpad.net/~tista/+archive/ubuntu/plata-theme"
    PPASource="ppa:tista/plata-theme"
    supportedBases="bionic focal"
    packageNames="plate-theme"

    universalAddRepo ${PPATitle} ${PPASource} ${packageNames}

}

######################################################################################
# Sort of a Meta-function
function installPPAThemes() {
	clear

	# Plata (Solus 4.0's new default theme) PPA
	plataThemePPA

	clear

	fancy_message action "Installing Themes via PPA"
	userPrompt

	## Install Themes
	installApp "arc-icons arc-theme plata-theme adapta-gtk-theme"

}
