# for bionic specific stuff ... probably could combine all of this but i seperated this when i had more theme
# ppas included
. $ubuntuFunctDir/tic/f_ubuntu_bionic_theming.cfg

# sort of a catch-all file
. $ubuntuFunctDir/tic/f_ubuntu_theming.cfg
