# the idea is to have the EOL (not supported) distros here for better organizing

## Fedora
    # https://fedorapeople.org/groups/schedule/f-34/f-34-key-tasks.html
	fedora32EOL="May 2021"

	# https://fedorapeople.org/groups/schedule/f-35/f-35-key-tasks.html
	fedora33EOL="November 2021"

#######################################
# OpenSuse based

	# EOL
	leap152EOL="December 31 2021"

###########################################
#Ubuntu Based

	# LTS -  EOL
		#Xenial
    	LTS1604EOL="April 2021"

# non-LTS

	# EOL
		# Groovry - 20.10 - EOL July 2021
		groovy2010EOL="July 2021"
		hippo2104EOL="Jan 2022"
