
# Fedor	## Solus based
	## I need a better way to do this just in case the user is on a REALLY old version that has not been updated in awhile
	solusEOL="Rolling Release"
#######################################
# OpenSuse based

	# EOL
	leap150EOL="End of November 2019"


leap151EOL="End of November 2020"
leap152EOL="November 2021"

twEOL="No End of Life (if updated) - Rolling Release"


###########################################
#Ubuntu Based

	# LTS EOL

		# Trusty
		LTS1404EOL="April 2019"

## LTS

    #Xenial
    LTS1604EOL="April 2021"

    #Bionic
    LTS1804EOL="April 2023"

    #Focal
    LTS2004EOL="2030"

# non-LTS

    # Eoan
    ubuntu1910EOL="July 2020"

######################################################
# Rolling Releases

	archEOL="Rolling Release"

	## Solus based
	## I need a better way to do this just in case the user is on a REALLY old version that has not been updated in awhile
	solusEOL="Rolling Release"

	## Keeping OpenSUSETw EOL with the OpenSUSE group in this file