
## Fedora

	#EOL
	fedora30EOL=""
	fedora31EOL=""

# active Fedora
fedora32EOL=""



## Solus
	## I need a better way to do this just in case the user is on a REALLY old version that has not been updated in awhile
	solusEOL="Rolling Release"



#######################################
# OpenSuse based

	# EOL
	leap151EOL="End of November 2020"


leap152EOL="November (or end of December) 2021"
leap153EOL="November 2022"


twEOL="No End of Life (if updated) - Rolling Release"


###########################################
#Ubuntu Based

	# LTS EOL
		#Xenial
    	LTS1604EOL="April 2021"
	

## LTS

    
    #Bionic
    LTS1804EOL="April 2023"

    #Focal
    LTS2004EOL="2030"

# non-LTS



######################################################
# Rolling Releases

	archEOL="Rolling Release"

	## Solus based
	## I need a better way to do this just in case the user is on a REALLY old version that has not been updated in awhile
	solusEOL="Rolling Release"

	## Keeping OpenSUSETw EOL with the OpenSUSE group in this file