
# Fedora based 

fedora29EOL="Fedora 29 EOL not known ATM"
fedora30EOL="Fedora 30 EOL not known ATM"

# OpenSuse based 

leap150EOL="End of November 2019"
leap151EOL="End of November 2020"
twEOL="No End of Life (if updated) - Rolling Release"

#Ubuntu Based 

## LTS

    # Trusty
    LTS1404EOL="April 2019"

    #Xenial 
    LTS1604EOL="April 2021"

    #Bionic 
    LTS1804EOL="April 2023"

# non-LTS

    # Disco
    ubuntu1904EOL="January 2020"
    
    # Eoan
    ubuntu1910EOL="Around May 2020"

# Solus based 
## I need a better way to do this just in case the user is on a REALLY old version that has not been updated in awhile 
solusEOL="Rolling Release"