## Fedora

	# https://en.wikipedia.org/wiki/Fedora_version_history
	fedora41EOL="December 2025"
	fedora42EOL="May 2026"
	fedora43EOL="December 2026"
	fedora44EOL=""

#######################################
# OpenSuse based


	leap156EOL="December 31, 2025"
	leap160EOL=""

	twEOL="No End of Life (if updated) - Rolling Release"

###########################################
#Ubuntu Based

# ref: https://ubuntu.com/about/release-cycle

	# LTS -  EOL
	jammy2204EOL="May 2027"
	noble2404EOL="May 2029"
	resolute2604EOL="July 2031"

	# non-LTS
	questing2510EOL="July 2026"
	

######################################################
# Rolling Releases

	archEOL="Rolling Release"

	## Solus based
	## I need a better way to do this just in case the user is on a REALLY old version that has not been updated in awhile
	solusEOL="Rolling Release"