## Fedora

	# https://en.wikipedia.org/wiki/Fedora_version_history
	fedora35EOL="Dec 07, 2022"
	fedora36EOL="May 16, 2023"

#######################################
# OpenSuse based

	leap153EOL="November 30, 2022"
	twEOL="No End of Life (if updated) - Rolling Release"

###########################################
#Ubuntu Based

# https://en.wikipedia.org/wiki/Ubuntu_version_history

	# LTS -  EOL
	focalLTS2004EOL="April 23, 2025"
	jammy2204EOL="April 21, 2027"

	# non-LTS

######################################################
# Rolling Releases

	archEOL="Rolling Release"

	## Solus based
	## I need a better way to do this just in case the user is on a REALLY old version that has not been updated in awhile
	solusEOL="Rolling Release"