. $functionsdir/ubuntu/menus/f_ubuntu_menus.cfg
################################################

function universalSoftwareMenu
{
	x=1
	clear
	while [ $x=1 ]; do


		echo -e   "Please Select Task \n"

		echo -e   "1. \t Adds Common Software (Ones I always Add) "
		echo -e   "2. \t [Sub-Menu] Web Browsers"
		echo -e   "3. \t [Sub-Menu] Ubuntu-base Specific"
		echo -e 	"4.	[Sub-Menu] Install Sublime Text"
		echo -e   "5. \t Install Tiny Media Manager"

		echo -e "T.\t [TEST ONLY] installList test"



		echo -e  "\vm. \tReturn to Main Menu"
		echo -e	"q. \tExit to Prompt \n\n"

		read -p "Your Choice?: " ubuntuSelection

		case $ubuntuSelection in

		  	1) echo "This code is not available at the present time"
				 x=1	;;

		  	2) browserMenu
			 	x=1 ;;

			3) ubuntuSpecificSoftwareMenu
			 	x=1 ;;

			4) sublimetextInstall
				x=1 ;;


			5) tinyMediaManagerInstall
				x=1
				;;


			[tT]) listInstall defaultRepoApps.list
				 x=1 ;;


			[mM]) clear
				  exit
				  ;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

			esac

	done


}


function browserMenu
{
	clear
	x=1

	while [[ $x=1 ]]; do

		echo -e "Web Browser Software Menu "
		echo -e  "1. \t Install Google Chrome"
		echo -e  "2. \t Install Chromium"
		echo -e  "3. \t Install Firefox"
		echo -e  "4. \t Install Vivaldi\n\n"

		read -p  "Your Choice?:" browserSelection

		case $browserSelection in


		   	 ## Inside the f_universalSoftware.cfg file
		  1) chromeInstall
				 x=1
				 ;;


			 # This should be in all repos (openSuse, Fedora, ubuntu, solus, and arch's pacman repo )
		  2) installApp chromium-browser
				x=1
				;;

		  3) installApp firefox
				x=1
				;;

		  4) installApp vivaldi
				x=1
				;;

		esac

	done
}
