function archSupport
{
    clear

    ## Archive Support
    echo "Installing Archive Support"
    fedoraInstall cabextract lzip unrar p7zip p7zip-plugins
    userPrompt
}

function msFonts
{
    clear
    echo "Installing MS Fonts"
    fedoraInstall curl fontconfig libcurl
    rpm -i https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm
    userPrompt
}

function fedyCodecs
{
    clear
    echo "Preparing Codecs"
    installApp gstreamer1-libav fftw-libs-double gstreamer-ffmpeg gstreamer-plugins-bad-free gstreamer-plugins-espeak gstreamer-plugins-ugly libofa
    userPrompt
}

function themeEngines
{
    clear
    echo "Install Theme Engine"
    installApp gtk-murrine-engine gtk-unico-engine
    userPrompt
}

function fontRendering
{
    clear
    echo "Improve Font Rendoring"
    installApp fedy-font-config freetype-freeworld google-noto-sans-fonts
    userPrompt

}


function addAdaptaTheme
{
    sudo dnf -y copr enable heikoada/gtk-themes
    sudo dnf -y install adapta-gtk-theme-common adapta-gtk-theme-gtk2 adapta-gtk-theme-gtk3 adapta-gtk-theme-gtk4


}
