function archSupport
{
    clear

    ## Archive Support
    echo "Installing Archive Support"
    fedoraInstall cabextract lzip unrar p7zip p7zip-plugins
    userPrompt
}

function msFonts
{
    clear
    echo "Installing MS Fonts"
    fedoraInstall curl fontconfig libcurl
    rpm -i https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm
    userPrompt
}

function fedyCodecs
{
    clear
    echo -e "Preparing Codecs"
    sudo dnf -y groupinstall multimedia

    gstreamer1-libav

    echo -e "Codecs are now installed"
    userPrompt
}

function themeEngines
{
    clear
    echo "Install Theme Engine"
    installApp gtk-murrine-engine gtk-unico-engine
    userPrompt
}

function fedoraFontRendering
{
    clear
    echo "Improve Font Rendoring"
    installApp fedy-font-config freetype-freeworld google-noto-sans-fonts
    userPrompt

}
