################################################################################
## Fedora based 

function AddRPMFusion
{
	
	# Add RPM Fusion repos with rpm -E %fedora .... this should work on any version
  	
  	clear
  	echo "Adding BOTH RPMFusion Free and Non-Free Repos"
  	userPrompt

	echo -e "Setting up RPM Fusion repos"
	sudo dnf install https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

}

function AddUnitedRPM
{
 
  	# United RPM Source: https://github.com/UnitedRPMs/unitedrpms.github.io/blob/master/README.md

  	#Import GPG Key
 	rpm --import https://raw.githubusercontent.com/UnitedRPMs/unitedrpms/master/URPMS-GPG-PUBLICKEY-Fedora-24

	clear
	echo "Adding United RPM Repositories"

 	sudo dnf -y install https://github.com/UnitedRPMs/unitedrpms/releases/download/7/unitedrpms-$(rpm -E %fedora)-7.fc$(rpm -E %fedora).noarch.rpm
	
}