fedoraRepoFunction= . "$rootdir"/tasks/functions/fedora/f_fedoraExtraRepos.cfg
$fedoraRepoFunction


function InstallFedy
{

	# This NEEDS RPM Fusion to be installed first.  

	echo "Installing Fedy"
	# Instructions for fedy found via http://folkswithhats.org/
	sudo sh -c 'curl https://www.folkswithhats.org/installer | bash'
	echo "Fedy is now installed"
	userPrompt

}

function detectFedoraVersion
{
    fedoraVersion= "rpm -E %fedora"

}

###############################################
function addAdaptaTheme
{
    sudo dnf -y copr enable heikoada/gtk-themes
    sudo dnf -y install adapta-gtk-theme-common adapta-gtk-theme-gtk2 adapta-gtk-theme-gtk3 adapta-gtk-theme-gtk4
}
