

function ExtraRepos
{
    
    ## Testing only 
    echo -e "VersionID:$versionid"
    echo
    echo -e "FedoraSupported:$fedoraSupported"
    

    userPrompt
    if [ "$fedoraSupported" == 'yes' ]; then

        clear
        echo -e "Installing extra repos for Fedora"

        ## Question of which repo + a third option for both goes here
        echo -e "What Repositories would you like to install?"
        echo -e "1. RPM Fusion "
        echo -e "2. United RPM "
        echo -e "A. Both RPM Fusion and United RPM"
        read -p "Your Choice?:" rpmrepoChoice

        case $rpmrepoChoice in

            1) AddRPMFusion ;;

            2) AddUnitedRPM ;;

            A) AddRPMFusion
               AddUnitedRPM
              ;;

            *) invalidSection ;;

        esac
    else
        clear 
        echo -e "You seem to be on a version of Fedora that is no longer supported."
        echo 
        echo -e "Your detected Fedora version is: $versionid"
    fi 
    
}
