function UpdateFedora
{
    clear
		echo "Upgrading Fedora to latest packages"
		userPrompt
		fedoraUpdate

		clear
		return
}

function InstallFedy
{

	echo "installing Fedy"
	# Instructions for fedy found via http://folkswithhats.org/
	bash -c 'su -c "curl http://folkswithhats.org/fedy-installer -o fedy-installer && chmod +x fedy-installer && ./fedy-installer"'

}

function detectFedoraVersion
{
    fedoraVersion= "rpm -E %fedora"

}

function AddRPMFusion
{

	# Add RPM Fusion repos with rpm -E %fedora .... this should work on any version
  clear
  echo "Adding BOTH RPM free and non-free Repos"
	su -c 'dnf install http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm'

}

functions AddUnitedRPM
{
  # United RPM Source: https://github.com/UnitedRPMs/unitedrpms.github.io/blob/master/README.md

  clear
  echo "Adding United RPM Repositories"

   if [ "${fedoraVersion}" == "24" ]; then
        su -c 'dnf -y install https://raw.githubusercontent.com/UnitedRPMs/unitedrpms/master/RPM/unitedrpms-24-2.noarch.rpm'

    elif [ "${fedoraVersion}" == "25" ]; then
        su -c 'dnf -y install https://raw.githubusercontent.com/UnitedRPMs/unitedrpms/master/RPM/unitedrpms-25-1.noarch.rpm'

    elif [ "${fedoraVersion}" == "26" ]; then
        su -c 'dnf -y install https://raw.githubusercontent.com/UnitedRPMs/unitedrpms/master/RPM/unitedrpms-26-1.noarch.rpm'

    else
         echo "Version not supported"
    fi

}

function InstallExtraSoftware
{
  clear
  echo "Add Extra software"
  echo -e "Software including: Hexchat, mpv, Audacious and Filezilla"

  read -p "Press any key to continue, or Control + Z to exit script"

  installApp $usefulApps

}
