
function InstallFedy
{

	echo "installing Fedy"
	# Instructions for fedy found via http://folkswithhats.org/
	bash -c 'su -c "curl http://folkswithhats.org/fedy-installer -o fedy-installer && chmod +x fedy-installer && ./fedy-installer"'

}

function detectFedoraVersion
{
    fedoraVersion= "rpm -E %fedora"

}
