function archSupport
{
    clear
    ## Archive Support
    echo "Installing Archive Support"
    sudo dnf install cabextract lzip unrar p7zip p7zip-plugins
    read -p "Press [Enter] to Continue"

}

function msFonts
{
    clear
    echo "Installing MS Fonts"
    sudo dnf install curl fontconfig libcurl
    rpm -i https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm
    read -p "Press [Enter] to Continue"
}

function fedyCodecs
{
    clear
    echo "Preparing Codecs"
    sudo dnf install a52dec amrnb amrwb clang clang-libs faac faad2 faad2-libs fedy-multimedia-codecs ffmpeg-libs fftw-libs-double flac fribidi gcc-c++ gstreamer gstreamer-ffmpeg gstreamer-plugins-bad gstreamer-plugins-bad-free gstreamer-plugins-bad-nonfree gstreamer-plugins-base gstreamer-plugins-espeak gstreamer-plugins-fc gstreamer-plugins-good gstreamer-plugins-ugly hwloc-libs lame lame-libs libass libdca libebml libfc14audiodecoder libmad libebml libmatroska libmimic libmms libmp4v2 libmpcdec libmpeg2 libmpg123 libofa librtmp libstdc++-devel libva mjpegtools-libs ocl-icd opencl-filesystem opencore-amr opencv-core openjpeg-libs pocl schroedinger twolame-libs uthash-devel vo-amrwbenc x264 x264-libs x265 x265-libs xvidcore
    read -p "Press [Enter] to Continue"
}

function themeEngines
{
    clear
    echo "Install Theme Engine"
    sudo dnf install gtk-murrine-engine gtk-unico-engine
    read -p "Press [Enter] to Continue"
}

function fontRendering
{
    clear
   echo "Improve Font Rendoring"
    sudo dnf install  fedy-font-config freetype-freeworld google-noto-sans-fonts
    read -p "Press [Enter] to Continue"


}
