
multimedia_menu_items=(
	1 "[Sub-Menu] Install MakeMKV"
	2 "Install Audio Recorder"
	3 "Install XNViewMP"
	4 "[Media Player] Install Deadbeef"
	5 "[Media Player] Install Celluloid"
	6 "Install Strawberry Media Player"
	7 "[Media Organizer] Install Tiny Media Manager"
	8 "[Media Organizer] Install MediaElch"
	9 "[Audio Editor] Install Tenacity (Audacity fork)"
	10 "[Ubuntu only] Install ANoise - White Noise app"
	11 "[Audio Editor] Install ocenAudio"
	K "Get most recent MakeMKV key information"
	S "Return to Main Software Menu"
	M "Return to Main Menu"
	Q "Exit to Prompt"
)

function multimediaSoftwareMenuCaseStatement() {

	case $multimediaSoftwareSelection in

		1) installMakeMKV  ;;
		2) installAudioRecorder ;;
		3) installXNViewMP ;;
		4) installDeadbeef ;;
		5) installCelluloid ;;
		6) installStrawberry ;;
		7) installTinyMediaManager ;;
		8) installMediaElch ;;
		9) installTenaCityFlatpak ;;
		10) installANoisePPA
			userPrompt
			 ;;
		11) installOcenAudio ;;
		[kK]) makeMKVKeyInfo
			# needed since the menus wipe the key off the screen when they refresh
			userPrompt ;;

		[sS]) mainSoftwareMenuType ;;
		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;

	esac

}


function multimediaSoftwareMenuDialog() {
	createDialogMenu
}

function multimediaSoftwareMenuEcho() {
	createEchoMenu
}


function multimediaSoftwareMenuType(){
  	baseMenuName="multimediaSoftwareMenu"
    menuTitle="Xmetal Multimedia Software Menu"
    currentMenuCaseStatementName="multimediaSoftwareMenuCaseStatement"

    declare -n menuArrayName=multimedia_menu_items
	declare -n currentMenuSelection=multimediaSoftwareSelection

	$menuName
}