shells_menu_items=(
	1 "Install fish shell, and Oh-My-Fish"
	2 "Install zsh Shell, and Oh-My-zsh"
	3 "[NOT coded yet] Install Powerline"
	U "U. \t ${bold}[Sub-Menu]${completeReset} Universal App Support (Snap and/or Flatpak)"
	M "Return to Main Menu"
	Q "Exit to Prompt \n\n"
)

function shellSoftwareMenuCaseStatement() {

	case $shellSelection in
		1)	metaInstallFishShell ;;
		2)	metaInstallZSHShell ;;
		3)	echo -e "Powerline code not coded yet " ;;
		[uU]) universalAppMenu ;;
		[mM]) mainMenuDialog ;;
		[qQ]) quitScript ;;
		*) invalidSection ;;
	esac

}

# Shell and shell related
# if you do powerline again, it'd go here
function universalShell()
{
	x=1
	clear
	while [ $x=1 ]; do

	echo -e 	"Please Select Task \n"


	read -p "Your Choice?: " shellSelection



	done

}

function shellSoftwareMenuType(){

}