
software_menu_items=(
	1 'Adds Common Software - via your distrobutions default repos'
	2 '[SUBMENU] Web Browsers'
	3 '[SUBMENU] Office/Productivity/Programming-Related Software'
	4 '[SUBMENU] Multimedia Programs'
	5 '[SUBMENU] Shells (zsh and fish)'
    6 'Install Build Essentials/Dev packages'
	7 'Install-Extract Etcher'
	8 'Install PlayonLinux and Wine-Stable'
	9 'Install Intel Microcode package'
	10 'Install Java support'
	11 '[Sub-Menu] Download Ventoy'
	E 'Specific tasks for ElementaryOS'
	F '[SUBMENU] Flatpaks SubMenu'
	U '[SUBMENU] Universal App Support (Snap and/or Flatpak)'
	M 'Return to Main Menu'
	Q 'Exit to Prompt'
)


function mainSoftwareMenuCaseStatement() {

	case $mainSoftwareMenuSelection in

		1)
			# location: /functions/universal/software/f_universalSoftware.cfg
			massSoftwareInstall ;;
		2) browserSoftwareMenuType ;;
		3) productivitySoftwareMenuType ;;
		4) multimediaSoftwareMenuType ;;
		5) shellSoftwareMenuType ;;
		6) universalBuildEssentials ;;
		7) installEtcher ;;
		8) installWineCompleteMeta ;;
		9) installIntelMicroCode ;;
		10) checkForJava ;;
		11) clear
			ventoyDownloadMenuType 
			userPrompt ;; 
		[eE]) InstallElementaryAdditions ;;
		[fF]) flatpakUniversalMenuType ;;
		[uU]) universalAppMenuMenuType ;;
		[mM]) mainMenuType ;;
		[qQ])
				quitScript
				menuLoop=1
				break
				;;
        *) invalidSection ;;

	esac

}

function mainSoftwareMenuDialog() {
	createDialogMenu
}

function mainSoftwareMenuEcho() {
    echoMenuLoop
}

function mainSoftwareMenuType() {
    baseMenuName="mainSoftwareMenu"
    menuTitle="Xmetal Main Software Menu"
    currentMenuCaseStatementName="mainSoftwareMenuCaseStatement"

    declare -n menuArrayName=software_menu_items
	declare -n currentMenuSelection=mainSoftwareMenuSelection

	$menuName
}