echo -e "Loading Software Menus config"

$softwareMenuFolder/f_browsersSoftwareMenu.cfg
$softwareMenuFolder/f_multimediaSoftwareMenu.cfg
$softwareMenuFolder/f_productivitySoftwareMenu.cfg
$softwareMenuFolder/f_shellsSoftwareMenu.cfg

#the main file
$softwareMenuFolder/f_universalSoftwareMenus.cfg