echo -e "Loading Software Menus config"

$softwareMenuFolder/f_browsersSoftwareMenus.cfg
$softwareMenuFolder/f_multimediaSoftwareMenus.cfg
$softwareMenuFolder/f_productivitySoftwareMenus.cfg
$softwareMenuFolder/f_shellsSoftwareMenus.cfg

#the main file
$softwareMenuFolder/f_softwareMenus.cfg