# just an idea doing this in a function ... 
function gitThemingExtract()
{
    ## ?? do i need to pass any vars or is this un-needed code? 
    ## keep this here for now, assuming "yes"
    # $1 = gitRepoName
    # $2 = themeType - NEW var i just created in my head typing this 
        # this will be "theme" or "icon"

    # Here the theme related git repo HAS been cloned 

    
    if [ "$themeType" = 'icon' ]; then
        themeExtractDir="$iconHome"

    elif [ "$themeType" = 'theme' ]; then
        themeExtractDir="$themeHome"
    fi 

}

# Todo: Add Openbox Arc Theme
function gitArcOpenBox
{
  # Source: https://github.com/dglava/arc-openbox/

    gitURL="https://github.com/dglava/arc-openbox.git"

    echo "Installing 'Unofficial' Arc Theme Component for OpenBox"
    gitClone $gitURL

        
    mkdir $themeHome/Arcbox

}


##############################################################################

function MintyIcons
{
    ## ?? is this going to get the master branch, aka older versions? 

    gitURL="https://github.com/linuxmint/mint-y-icons.git"

    
    gitClone $gitURL
 

    clear
    echo "Installing Mint-y Icons "
    mkdir $iconHome/mint-y-icons
    cd mint-y-icons/usr/share/icons
    mv * $iconHome/mint-y-icons
    clear
}


################################################################
function gitThemesMenu
{

  #######################################################################
  x=1
  clear

  while [[ $x=1 ]]; do


      echo -e   "What Theme would you like to install?\n "
      echo -e   "1) \t Arc Theme and Icons Pack (includes Openbox Support)"

      echo -e   "M) \t Return to Main Menu"
      echo -e   "Q) \t Exit to Prompt\n\n"

      read -p "Your Choice?:" gitThemeSelection

      case $gitThemeSelection in

    1)  
        # TODO: add universal call for the arc theme
        # function for OpenBox support 
        gitArcOpenBox\
        echo "installed Arc"
        x=1
        ;;

    [mM]) bash "$rootdir"/xmetalLinuxScripts.sh
          ;;

    [qQ]) $commonFunctions
          quitScript
          ;;

      esac

  done
}
