# source: http://www.devpy.me/10-of-the-best-linux-themes-compared/




################################################################################
function nunixThemingInstall()
{

  if [ "$distroBase" = "arch" ]; then 
    ## Install from community repo.
    $install numix-themes

  elif [ "$distroBase" = "fedora" ]; then 

  elif [ "$distroBase" = "opensuse" ]; then
      ### Not 100% sure what repos its coming from 
      ### gtk2-metatheme-numix gtk3-metatheme-numix cinnamon-metatheme-numix numix-icon-theme
  elif [ "$distroBase" = "solus" ]; then

  elif [ "$distroBase" = "ubuntu" ]; then 
      universalAddRepo Numix ppa:numix/ppa
      $refresh
      $install numix-gtk-theme
  else
      echo "distroBase not detected" 
  fi 



}

function plataThemeInstall()
{

  if [ "$distroBase" = "arch" ]; then 
    # AUR needed (not counting gnome-looks maybe .. )

    ## plata-theme plata-theme-gnome plata-theme-slim


  elif [ "$distroBase" = "fedora" ]; then 

      dnf copr enable mizuo/plata-theme
      
      # then install a theme {Plata, Plata-Noir or Plata-Lumine}
      # $install plata-theme-Plata
      
      # for all themes
      $install plata-theme

  elif [ "$distroBase" = "opensuse" ]; then

  elif [ "$distroBase" = "solus" ]; then
    # For Solus pre-4.0 
    $install plata-theme

    # 4.0 has plata as a default theme already 

  elif [ "$distroBase" = "ubuntu" ]; then 

  else
      echo "distroBase not detected" 
  fi 

}

########################################################################################
# Mint-Y Theming 

function mintYThemingInstall()
{
  # Idea: for the distros that do not have Mint-Y in their repos, eventually getting it via the Mint Github page and installing it that way, may be the way to go w


  if [ "$distroBase" = "arch" ]; then 
    # AUR needed perhaps 
    # mint-y-themes-git mint-y-icons-git  


  elif [ "$distroBase" = "fedora" ]; then 
      $install mint-themes mint-y-icons

  elif [ "$distroBase" = "opensuse" ]; then
      $install mint-themes
  elif [ "$distroBase" = "solus" ]; then
    echo -e "Mint-Y Themes are not in Solus's repo"

  elif [ "$distroBase" = "ubuntu" ]; then 

  else
      echo "distroBase not detected" 
  fi 


}

function arcThemingInstall()
{

    if [ "$distroBase" == 'ubuntu' ]; then
      
      ## What about the Arc theme ... I know the Noobslab theme ppa has them but is it in the default repo?
        ## if so ... use default repo's version to avoid adding PPAs if not needed

      sudo sh -c "echo 'deb http://download.opensuse.org/repositories/home:/Horst3180/xUbuntu_16.04/ /' >> /etc/apt/sources.list.d/arc-theme.list"
      
      $refresh
      
      installApp arc-theme arc-icons


    elif [ "$distroBase" == 'fedora' ]; then
      $install gtk-murrine-engine arc-theme arc-theme-plank 


      # arc-kde, if the DE is plasma  


    elif [ "$distroBase" == 'opensuse' ]; then
      $install gtk2-engine-murrine

      $refresh

    ## openSUSE
      #Tumbleweed



      universalAddRepo Horst3180_Arc_Theme http://download.opensuse.org/repositories/home:Horst3180/openSUSE_Tumbleweed/home:Horst3180.repo
      $refresh
      $install arc-theme


    elif [ "$distroBase" == 'arch' ]; then
      echo -e "Installing the GTK-Engine-murrine package"
      $install gtk-engine-murrine

      echo "Adding Arc Theme and Icon Pack"
      $install arc-icon-theme arc-firefox-theme arc-suite gtk-theme-arc

    elif [ "$distroBase" == 'solus']; then 
      ## not 100% sure of the package name but it should be in the default repos 
      ## if the name is wrong, its likely arc-theme then 
      $install arc-gtk-theme

    else
      return 
    fi

    # This may not work with Arch based distros 
    $install arc-theme

}



################################################################################
## Adapta GTK Theme Section 

function adaptaThemeMetaInstall()
{

    # Install the theme, icon pack if there is one but do not install "wallpaper packs" and stuff like that

    if [ "$distroBase" = 'ubuntu' ]; then
      

      ## From PPA comments
      ## https://launchpad.net/~tista/+archive/ubuntu/adapta

      ### * Supported Xenial, Zesty, Artful and Bionic (Gtk+ 3.18.x or higher)
      #### While it may be in some default repos ... IIRC, this is the official PPA the dev lists, so this is why I am doing it this way. 

      universalAddRepo AdaptaRepo ppa:tista/adapta
      $refresh
      clear

    elif [ "$distroBase" = 'opensuse' ]; then

      ## TW - @System repo - cinnamon-theme-adapta gtk2-metatheme-adapta gtk3-metatheme-adapta gtk4-metatheme-adapta metacity-theme-adapta plank-theme-adapta xfwm4-theme-adapta gnome-shell-theme-adapta openbox-theme-adapta

      # adapta-gtk-theme is in TW and Leap 15 .. not Leap 42.3 which is EOL in June 2019 

      $install metatheme-adapta-common


    elif [ "$distroBase" = 'fedora' ]; then 
      $install adapta-backgrounds adapta-gtk-theme adapta-gtk-theme-plank adapta-gtk-theme-gedit

    elif [ "$distroBase" = 'arch' ]; then
      $install adapta-gkt-theme 
    
    elif [ "$distroBase" = 'solus' ]; then
      return 

      ## include adapta-kde IF KDE is detected 

    else
      echo "Adapta Theme Installer Function: FILLER TEXT"
      return 
    fi


    $install $packageName

}
  
##############################################################################
##############################################################################
function metaThemeInstall
{
  
  arcThemingInstall
  adaptaThemeMetaInstall
  # mintYThemingInstall
  nunixThemingInstall
  plataThemeInstall

}