# source: http://www.devpy.me/10-of-the-best-linux-themes-compared/


################################################################################
# The two Misc functions here are only for things in the default repos (though if different things are in different branches, that can be a pain )
function miscIcons()
{

  clear 
  echo -e "Installing Various Icon Packs"

  # for icon themes with the same names in multiple distros 
  case $distroBase in 

  fedora|opensuse) $install elementary-icon-theme humanity-icon-theme papirus-icon-theme ;;

  esac 

  case $distroBase in 

    arch) $install elementary-icon-theme ;;
  
    fedora) $install pop-icon-theme numix-icon-theme suru-icon-theme breeze-icon-theme;; 

    opensuse) $install yaru-icon-theme fazenza-icon-theme ubuntu-mate-icon-theme elementary-xfce-icon-theme ;; 

    solus) $install suru-plus-icon-theme surfn-arc-icon-theme elementary-icon-theme yaru-icon-theme ;; 

    ubuntu) $install ubuntu-mate-icon-themes yaru-theme-icon humanity-icon-theme bluebird-gtk-theme greybird-gtk-theme elementary-icon-theme ;; 

  esac 

}

function miscThemes()
{
  clear
  echo -e "Installing Various Themes"

  case $distroBase in 
  
    arch) $install materia-gtk-theme ;; 

    fedora) $install pop-gtk-theme bluebird-gtk3-theme clearlooks-phenix-gtk3-theme greybird-gtk3-theme bluebird-gtk2-theme greybird-gtk2-theme adwaita-gtk2-theme clearlooks-phenix-gtk2-theme ;;

    solus) $install materia-gtk-theme vertex-gtk-theme ;; 

    ubuntu) $install shimmer-themes materia-gtk-theme ;; 

  esac 

}

## End of Misc theming section
####################################################################################


################################################################################
## Adapta GTK Theme Section 

function adaptaThemeMetaInstall()
{
  clear
  echo -e "Installing Adapta Theming"

  case $distroBase in 
    
    # Install the theme, icon pack if there is one but do not install "wallpaper packs" and stuff like that

    ubuntu) $install adapta-gtk-theme adapta-kde ;;


    opensuse) 
      # gtk4-metatheme-adapta adapta-gtk-theme

      $install metatheme-adapta-common gtk2-metatheme-adapta gtk3-metatheme-adapta  \ 
      cinnamon-theme-adapta metacity-theme-adapta plank-theme-adapta xfwm4-theme-adapta \ 
      gnome-shell-theme-adapta openbox-theme-adapta  ;; 

    arch) 
      $install adapta-gtk-theme ;;

    fedora) 
      $install adapta-backgrounds adapta-gtk-theme adapta-gtk-theme-plank adapta-gtk-theme-gedit ;;

    solus) $install adapta-gtk-theme adapta-kde ;; 

    *)
      echo "Adapta Theme Installer Function: FILLER TEXT"
      return ;; 
  
    esac

    $install $packageName

}

## End of Adapta Theming 
#########################################################################################



function arcThemingMetaInstall()
{

  clear
  echo -e "Installing Arc Theming"
  
  case $distroBase in 
   
    fedora) 
    # arc-kde, if the DE is plasma 
    $install gtk-murrine-engine 
    $install arc-theme arc-theme-plank 
    ;;   

    opensuse) 
      $install gtk2-engine-murrine arc-icon-theme ;; 

    arch) 
      echo -e "Installing the GTK-Engine-murrine package"
      $install gtk-engine-murrine

      echo "Adding Arc Theme and Icon Pack"
      $install arc-icon-theme arc-gtk-theme gtk2-metatheme-arc gtk3-metatheme-arc ;; 

    solus) 
      ## not 100% sure of the package name but it should be in the default repos 
      ## if the name is wrong, its likely arc-theme then 
      $install arc-gtk-theme arc-icon-theme arc-kde arc-plank-theme ;; 

    ubuntu) 

      ## What about the Arc theme ... I know the Noobslab theme ppa has them but is it in the default repo?
      ## if so ... use default repo's version to avoid adding PPAs if not needed
    
    $refresh
    
    $install arc-theme arc-icons
    ;; 

    *) return ;; 

  esac 

  # This may not work with Arch based distros 
  $install arc-theme 

}

## End of Arc Theming Section
##########################################################################


########################################################################################
# Mint-Y Theming 

function mintYThemingInstall()
{
  # Idea: for the distros that do not have Mint-Y in their repos, eventually getting it via the Mint Github page and installing it that way, may be the way to go w

  clear
  echo -e "Installing Mint-Y Theming"

  case $distroBase in 

    arch)  # AUR needed 
      # mint-y-themes-git 
      echo -e "Mint Theming for Arch not coded yet "
      return ;;

    fedora) $install mint-themes mint-y-icons mint-y-theme ;; 

    opensuse) $install mint-themes gtk2-metatheme-mint gtk3-metatheme-mint ;; 
    
    solus) echo -e "Mint-Y Themes are not in Solus's repo" ;; 

    opensuse) 
    # GTK themes (Mint-x? Mint-Y?)
    # not in Leap 42.3 (EOL June 2019), HOWEVER, it is in Leap 15.0 and TW repos 
    $install mint-themes metatheme-mint-common gtk3-metatheme-mint gtk2-metatheme-mint
    
    ;; 

    ubuntu) 
      echo -e "Mint Themes for Ubuntu based distros, is not coded yet "
      return ;; 

    *) echo "distroBase not detected" ;; 

  esac 

}

# Emd of Mint theme installs
#################################################################################


##################################################################################
# Numix Theming 

function nunixThemingMetaInstall()
{
  clear
  echo -e "Installing Numix Theming"
  
  case $distroBase in 

    arch) 
        ## Install from community repo.
        $install numix-gtk-theme
        ;; 

    fedora) $install numix-gtk-theme numix-icon-theme numix-icon-theme-square numix-icon-theme-circle ;;

    opensuse) 
      ### Not 100% sure what repos its coming from 
      $install metatheme-numix-common gtk2-metatheme-numix gtk3-metatheme-numix cinnamon-metatheme-numix
      return ;; 
    
    solus) $install numix-gtk-theme numix-icon-theme numix-icon-theme-square ;; 

    ubuntu) $install numix-gtk-theme numix-icon-theme ;; 

    *) echo "distroBase not detected" ;; 
  
  esac
    
}

# End of Numix Theming code 
#########################################################################


########################################################################
# Start of Plata Theming Code 

function plataOpensuseInstall()
{
  case $openSUSEBranch in 

    tumbleweed) 

      ## Tumbleweed Repos only (official)

        # some of this may be redundant, as they may already be included  in the metatheme packages 
        $install plata-theme gtk2-metatheme-plata gtk3-metatheme-plata gtk4-metatheme-plata openbox-theme-plata metatheme-plata-common ;;
  
    leap)
      # Leap 15.x has community repos 

      # Nothing in Leap 42.3 Repos but that is expected to be EOL on June 30, 2019, anyway 
      return ;;
    
  esac 

}

function plataThemeMetaInstall()
{
  clear
  echo -e "Installing Plata Theming"

  case $distroBase in 

    arch) 

          # AUR needed (not counting gnome-looks maybe .. )
          # on fresh installs "zip" is needed 


          ## plata-theme plata-theme-gnome plata-theme-slim

          echo -e "Arch code for the Plata theme not done yet "
          return ;;

    opensuse) plataOpensuseInstall ;; 

    esac 

    ##############################################################

    case $distroBase in 

      fedora) 

          sudo dnf copr enable mizuo/plata-theme
          
          # for all themes
          $install plata-theme ;; 

        solus) 
            # For Solus pre-4.0 
            $install plata-theme ;; 

            # 4.0 has plata as a default theme already 
        
        ubuntu) 
            plataThemePPA 
            $install plata-theme
            
            ;; 

        
        *) echo "distroBase not detected" ;; 

  esac 

}

# End Plata Theming 
########################################################################################


########################################################################################
## Yaru Theming

function yaruThemeMetaInstall()
{
  case $distroBase in 

    opensuse) $install yaru-icon-theme gtk2-metatheme-yaru gtk3-metatheme-yaru ;; 

    solus) $install yaru-icon-theme ;; 

    ubuntu) $install yaru-theme-icon yaru-theme-sound yaru-theme-gtk ;; 

  esac 

}


## End Yaru
########################################################################################

#########################################################################################
## Breeze 

# Opensuse 

function breezeThemeMetaInstall()
{

  case $distroBase in 
  
    arch) $install breeze-gtk breeze-icons ;; 

    fedora) $install breeze-icon-theme ;;

    opensuse) $install gtk2-metatheme-breeze gtk3-metatheme-breeze ;; 

    solus) $install breeze-gtk-theme ;; 

    ubuntu) $install breeze-gtk-theme ;; 

  esac 

}

## End Breeze
########################################################################################



  
##############################################################################
function metaThemeInstall
{

  arcThemingMetaInstall
  adaptaThemeMetaInstall
  mintYThemingInstall
  nunixThemingMetaInstall
  plataThemeMetaInstall
  
  miscIcons
  miscThemes
}