function checkApp
{
  echo $1
  echo -e ""

  ## note to self: this check below doesn't seem to be working

  if [ "${1}" == 'googleChrome' ]; then
    echo -e "Passing to Google Chrome install function"

    userPrompt

    appNum=appNum + 1
  else

    echo -e "Exception "
  fi

   # After the check, the arraycount variable that was originally passed should be increased if true....
   ## Another idea would be to add whatever is needed in the special functions, but maybe not call the install function from them? ...

   ## This idea MAY BE an issue at some point down the line I am not thinking of
}

function installAppList
{
  echo -e "Testing message: Passing to Check function"
  checkApp ${1}
  userPrompt

    if [ "${distroBase}" == 'ubuntu' ] || [ "${distroBase}" == 'fedora' ] || [ "${distroBase}" == 'opennsuse' ] || [ "${distroBase}" == 'arch' ] ; then

      ## The idea is instead of separate checks, at this point the app will be in a default repos and the installApps function handles what commands to run, so there is NO NEED for separate checks here ..

      installApps $appList

    else
       echo "Detected Linux distribution is not supported "
    fi

    userPrompt

}
