## I have no idea if this is really needed anymore 

############################################################

# Checks to see if detected OS is supported and if so, passes to install function
function installAppList
{
  echo -e "Testing message: Passing to Check function"
  checkApp ${1}
  userPrompt

    if [ "${distroBase}" == 'ubuntu' ] || [ "${distroBase}" == 'fedora' ] || [ "${distroBase}" == 'opennsuse' ] || [ "${distroBase}" == 'arch' ] ; then

      ## The idea is instead of separate checks, at this point the app will be in a default repos and the installApps function handles what commands to run, so there is NO NEED for separate checks here ..

      installApps $appList

    else
       echo "Detected Linux distribution is not supported "
    fi

    userPrompt

}
