
function installAppList
{
    ## THIS is the universal installer function

    ## For now (I .. think) This WILL assume that the package is in the repos that
    ## are on the system when this is called, though i am thinking of ideas around this

    clear
    echo $1 $2 $3
    ## Pause for testing
    userPrompt

    if [ "${distroBase}" == 'ubuntu' ]; then
      sudo apt install $appList

    elif [ "${distroBase}" == 'fedora' ]; then
        sudo dnf install $appList
    elif [ "${distroBase}" == 'opennsuse' ]; then
        sudo zypper install $appList
    elif [ "${distroBase}" == 'arch' ]; then
        sudo pacman -S $appList
    else
       echo "FILLER TEXT FOR NOW ... "
    fi


}

########################################
## Functions for Ubuntu Based Distros
########################################
function aptInstall
{
      ## Idea: put in loop to see if 'apt' works and IF NOT use apt-get
      sudo apt install $appList -y
}
