
function wineInstall
{
    if [ "${distroBase}" == 'ubuntu' ]; then
        # Source: https://wiki.winehq.org/Ubuntu
        clear
        sudo dpkg --add-architecture i386

        addPPA ppa:wine/wine-builds

        ubuntuUpdate
        clear

        installApp --install-recommends winehq-devel

        installApp playonlinux

    elif [ "${distroBase}" == 'fedora' ]; then
         echo "FILLER TEXT FOR NOW ... "
    elif [ "${distroBase}" == 'opennsuse' ]; then
         echo "FILLER TEXT FOR NOW ... "

         ## Add Wine Repos

    elif [ "${distroBase}" == 'arch' ]; then
        installApp wine
    else
       echo "FILLER TEXT FOR NOW ... "
    fi

}


function etcherInstall
{
   url=https://resin-production-downloads.s3.amazonaws.com/etcher/1.0.0-beta.17/Etcher-1.0.0-beta.17-linux-x64.zip

   stripFileInfo $url
   wget $url

   unzip Etcher-1.0.0-beta.17-linux-x64.zip -d ~/Downloads
   #unzip $file

   echo -e "Etcher's AppImage is now located in your Downloads folder"
   echo -e "Please navigate to that folder and click the icon to run it"
   echo -e "or navigate to it in a terminal and type "./Etcher-linux-x64.AppImage"
}

function installDeadBeef
{
    # NOTE TO SELF: DEADBEEF IS NOW IN ALOT OF default repos
    echo "Installing DeadBeef Media Player"


      ## HOW DO I ALLOW universal installer for both
      if [ "${distroBase}" == 'ubuntu' ] then

        ## Add GetDebs PPA
        getDebsPPA


        elif [ "${distroBase}" == 'fedora' ]; then
          ## Add UnitedRPM repo
          ### Prompt user that a repo must be installed and ask them for a response, so they can say "no"

          echo "filler"

        elif [ "${distroBase}" == 'opennsuse' ]; then

          # Leap and Tumbleweed has this repos
          echo "Filler - in Multimedia:apps repo - from OBS reference"

        else
           echo "FILLER TEXT FOR NOW ... "
        fi

        ## Moved install line outside of the loop and removed arch check since its in the pacman repos
        installApp deadbeef

}



function equalizerInstall
{
    ## Function for pulse-audio equalizer
    echo -e "Filler"
}
