function universalUpgrade
{

  if [ "${distroBase}" == 'ubuntu' ]; then
    ubuntuUpgrade

  elif [ "${distroBase}" == 'fedora' ]; then
      sudo dnf upgrade
      clear
      echo -e "System Up-to-date"
  elif [ "${distroBase}" == 'opennsuse' ]; then
      suseUpgrade
  elif [ "${distroBase}" == 'arch' ]; then
      sudo pacman -Syyu
      clear
      echo -e "System Up-to-date"
  else
     echo "FILLER TEXT FOR NOW ... "
  fi

}

###############################################################################

function ubuntuUpgrade
{
      if [ "$(command -v apt)" ]; then

        echo -e "Refreshing Repo List"
        userPrompt
        sudo apt update
        clear
        echo "Repos Refreshed"


        sudo apt upgrade
        clear
        echo -e "System Updated \n\n"


      elif [ "$(command -v apt-get)" ]; then
        clear
        echo -e "Refreshing Repo List"
        userPrompt
        sudo apt-get update
        clear
        echo "Repos Refreshed"


        sudo apt-get upgrade
        clear
        echo -e "System Updated \n\n"


      fi
}


function suseUpgrade
{
		clear
    echo "Updating OpenSuse - Note: you may have to scroll down and agree to the agreement for this to work"
    userPrompt
    sudo zypper up
		echo "Update Complete"
    clear
}





#############################################################
## Install related


function installApp
{


}




## Ubuntu Fuctions
function ubuntuInstall
{
      if [ "$(command -v apt)" ]; then
          sudo apt install $appList -y

      elif [ "$(command -v apt-get)" ]; then
          sudo apt-get install $appList -y

      fi
}

function DEBInstall
{

    ## To call this maybe an example like the comment below
    ## would be the way to go

    ### atom="URL HERE"
    ### DEBInstall atom


    ##########################################
    # $1 needs to be a URL ... i think

    # Step 1: stripFileInfo function to get info
    stripFileInfo $1

    # Step 2 - download DEB file
    wget $1

    # Step 3 - run dpkg -i to install
    sudo dpkg -i "filenamewithdeb from stripFileInfo"

}

## Functions for Arch


function AURInstall
{
    # Yaourt? ... Packer? ... I need a script to install that
	echo -e "To Fill in Later"
}


########################################
## Functions for OpenSuse
########################################

function suseInstall
{
    # How to install in Suse
    sudo zypper install $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11
}

## not 100% sure about this one "no being needed"
function ympInstall
{
	OCICLI $1 $2 $3 %4

}

#############################################################################
########################################
## Functions for adding PPA/repos/...etc
########################################

## Functions for OpenSuse

function suseAddRepo
{
      #Adding Repos in OpenSuse
      sudo zypper addrepo -f $1
}

function suseAddRepoName
{
      ## $1 is the Repo Name
      ## $2 is the Repo "URL"

      #Adding Repos in OpenSuse
      sudo zypper addrepo -f -n $1 $2
}

## Functions for Ubuntu Based Distros

function addPPA
{
  sudo apt-add-repository -y $1 $2 $3 $4 $5 $6 $7 $8
}
