function wineInstall
{
    if [ "${distroBase}" == 'ubuntu' ]; then
        # Source: https://wiki.winehq.org/Ubuntu
        clear
        sudo dpkg --add-architecture i386

        addPPA ppa:wine/wine-builds

        aptUpdate
        clear

        sudo apt install --install-recommends winehq-devel
        sudo apt install playonlinux

    elif [ "${distroBase}" == 'fedora' ]; then
         echo "FILLER TEXT FOR NOW ... "
    elif [ "${distroBase}" == 'opennsuse' ]; then
         echo "FILLER TEXT FOR NOW ... "
    elif [ "${distroBase}" == 'arch' ]; then
        sudo pacman -S wine
    else
       echo "FILLER TEXT FOR NOW ... "
    fi

}

function etcherInstall
{
	 url=https://resin-production-downloads.s3.amazonaws.com/etcher/1.0.0-beta.17/Etcher-1.0.0-beta.17-linux-x64.zip

   stripFileInfo $url
	 wget $url

	 unzip Etcher-1.0.0-beta.17-linux-x64.zip -d ~/Downloads
	 #unzip $file

	 echo "Etcher's AppImage is now located in your Downloads folder"
	 echo "Please navigate to that folder and click the icon to run it"
	 echo "or navigate to it in a terminal and type "./Etcher-linux-x64.AppImage"
}

function installDeadBeef
{

  ## HOW DO I ALLOW universal installer for both
  if [ "${distroBase}" == 'ubuntu' ]; then
      echo "Installing DeadBeef Media Player"

      ## Add GetDebs PPA
      getDebsPPA

      installApp deadbeef

    elif [ "${distroBase}" == 'fedora' ]; then
        ## Add UnitedRPM repo

        ## Install Deadbeef
    elif [ "${distroBase}" == 'opennsuse' ]; then
        ## Placeholder
    elif [ "${distroBase}" == 'arch' ]; then
        installApp deadbeef
    else
       echo "FILLER TEXT FOR NOW ... "
    fi

}

function installAtom
{

  if [ "${distroBase}" == 'ubuntu' ]; then
    echo "Downloading and Installing the Atom Text Editor"
  	wget https://atom.io/download/deb
  	clear

  	# Converting the downloaded file to a deb file
  	sudo mv deb atom.deb
  	sudo gdebi atom.deb


    clear
  	echo "Atom Text Editor installed"

    ## Cleanup
    rm atom.deb

  elif [ "${distroBase}" == 'fedora' ]; then
      echo -e "Placeholder"

  elif [ "${distroBase}" == 'opennsuse' ]; then
    curl -o atom.rpm https://atom.io/download/rpm
    #this is obviously not done

  elif [ "${distroBase}" == 'arch' ]; then
      echo -e "Placeholder AUR function needed "
  else
     echo "FILLER TEXT FOR NOW ... "
  fi

}


function installChrome
{

  if [ "${distroBase}" == 'ubuntu' ]; then

    echo -e " Adding Google Chrome \(Stable\) "
    wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
    sudo sh -c 'echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'

    aptUpdate
    clear

    installApp google-chrome-stable
    clear

  elif [ "${distroBase}" == 'fedora' ]; then
      echo -e "Placeholder"

  elif [ "${distroBase}" == 'opennsuse' ]; then

      ## Leap 421 and 422
      installApp http://dl.google.com/linux/chrome/rpm/stable/x86_64 Google-Chrome

      ## Refresh Repos
      sudo zypper ref

      ## Deal with signing key
      wget https://dl.google.com/linux/linux_signing_key.pub
      sudo rpm --import linux_signing_key.pub

      ## Install
      installApp google-chrome-stable

  elif [ "${distroBase}" == 'arch' ]; then
        installApp google-chrome
  else
     echo "FILLER TEXT FOR NOW ... "
  fi
}


function equalizerInstall
{
    ## Function for pulse-audio equalizer
    echo -e "Filler"

}


function RepoLibreOffice
{

  # Removed if-then loop  since the package name is the same

  ## Is this function really needed? 

  echo " Installing Libre Office via your distributions repository "

	installApp libreoffice


}
