function arcInstall
{

    if [ "${distroBase}" == 'ubuntu' ]; then
      installApp arc-icons


    elif [ "${distroBase}" == 'fedora' ]; then
      installApp gtk-murrine-engine

      echo "Install Arc Repo "
      universalAddRepo http://download.opensuse.org/repositories/home:Horst3180/Fedora_24/home:Horst3180.repo


    elif [ "${distroBase}" == 'opensuse' ]; then
      installApp gtk2-engine-murrine

      echo "Adding Arc Theme repo to OpenSuse and Installing "
      universalAddRepo http://download.opensuse.org/repositories/home:Horst3180/openSUSE_Leap_42.1/home:Horst3180.repo

      # Try at calling a variable from the universal functions file
      zypperRefresh


    elif [ "${distroBase}" == 'arch' ]; then
      echo "Make sure your Gnome/GTK version is between 3.14 and 3.22"

      installApp gtk-engine-murrine

      echo "Adding Arc Theme and Icon Pack"
      installApp arc-icon-theme arc-firefox-theme arc-suite gtk-theme-arc

    else
       echo "FILLER TEXT FOR NOW ... "
    fi

    # This may not work with Arch based distros 
    installApp arc-theme

}