updateFunctions= . $functionsdir/universal/pmanagement/upgrade.cfg
$updateFunctions

addSourceFunction= . $functionsdir/universal/pmanagement/addSource.cfg
$addSourceFunction


#################################################
function universalUpgrade
{

  if [ "${distroBase}" == 'ubuntu' ]; then
    ubuntuUpgrade

  elif [ "${distroBase}" == 'fedora' ]; then
      sudo dnf upgrade
      clear
      echo -e "System Up-to-date"

  elif [ "${distroBase}" == 'opennsuse' ]; then
      suseUpgrade

  elif [ "${distroBase}" == 'arch' ]; then
      sudo pacman -Syyu
  else
     echo "FILLER TEXT FOR NOW ... "
  fi

  clear
  echo -e "System Up-to-date"

}


#############################################################
## Install related


function installApp
{

    if [ "${distroBase}" == 'ubuntu' ]; then
      sudo apt install $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11

    elif [ "${distroBase}" == 'fedora' ]; then
        sudo dnf install $1 $2 $3 $4 $5 $6 $7 $8
    elif [ "${distroBase}" == 'opennsuse' ]; then
        sudo zypper install $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11

    elif [ "${distroBase}" == 'arch' ]; then
        sudo pacman -S $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11
    else
       echo "FILLER TEXT FOR NOW ... "
    fi

}


## Ubuntu Functions

function ubuntuInstall
{
      if [ "$(command -v apt)" ]; then
          sudo apt install $appList -y

      elif [ "$(command -v apt-get)" ]; then
          sudo apt-get install $appList -y

      fi
}

function dpkgInstall
{

  sudo dpkg -i $1
}

