function universalUpgrade
{

  if [ "${distroBase}" == 'ubuntu' ]; then
    ubuntuUpgrade

  elif [ "${distroBase}" == 'fedora' ]; then
      sudo dnf upgrade
      clear
      echo -e "System Up-to-date"

  elif [ "${distroBase}" == 'opennsuse' ]; then
      suseUpgrade

  elif [ "${distroBase}" == 'arch' ]; then
      sudo pacman -Syyu
      clear
      echo -e "System Up-to-date"
  else
     echo "FILLER TEXT FOR NOW ... "
  fi

}

###############################################################################

function ubuntuUpgrade
{
      if [ "$(command -v apt)" ]; then

        echo -e "Refreshing Repo List"
        userPrompt
        sudo apt update
        clear
        echo "Repos Refreshed"


        sudo apt upgrade
        clear
        echo -e "System Updated \n\n"


      elif [ "$(command -v apt-get)" ]; then
        clear
        echo -e "Refreshing Repo List"
        userPrompt
        sudo apt-get update
        clear
        echo "Repos Refreshed"


        sudo apt-get upgrade
        clear
        echo -e "System Updated \n\n"


      fi
}

## For OpenSuse
zypperRefresh= sudo zypper ref

function suseUpgrade
{
		clear
    echo "Updating OpenSuse - Note: you may have to scroll down and agree to the agreement for this to work"
    userPrompt
    sudo zypper up
		echo "OpenSuse Update Complete"
    clear
}

#############################################################
## Install related


function installApp
{

    if [ "${distroBase}" == 'ubuntu' ]; then
      sudo apt install $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11

    elif [ "${distroBase}" == 'fedora' ]; then
        sudo dnf install $1 $2 $3 $4 $5 $6 $7 $8
    elif [ "${distroBase}" == 'opennsuse' ]; then
        sudo zypper install $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11

    elif [ "${distroBase}" == 'arch' ]; then
        sudo pacman -S $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11
    else
       echo "FILLER TEXT FOR NOW ... "
    fi

}


## Ubuntu Functions

function ubuntuInstall
{
      if [ "$(command -v apt)" ]; then
          sudo apt install $appList -y

      elif [ "$(command -v apt-get)" ]; then
          sudo apt-get install $appList -y

      fi
}

function dpkgInstall
{

  sudo dpkg -i $1

}

#############################################################################
## Functions for adding PPA/repos/...etc

function universalAddRepo
{

  ## How does passing arguements to functions INSIDE of other functions work ??
    # Arch


    # Fedora
      sudo dnf config-manager --add-repo $1

    # Suse
      ## is the suseAddRepo function needed or can i just convert both to "suseAddRepoName"


    # Ubuntu
      addPPA $1

}


## Functions for OpenSuse

function suseAddRepo
{
      #Adding Repos in OpenSuse
      sudo zypper addrepo -f $1
}

function suseAddRepoName
{
      ## $1 is the Repo Name
      ## $2 is the Repo "URL"

      #Adding Repos in OpenSuse
      sudo zypper addrepo -f -n $1 $2
}

function zypperAddRepo
{
    zypper ar -r %1

    # Refresh Repo
    zypper ref

}

##################################

## Functions for Ubuntu Based Distros

function addPPA
{
  sudo apt-add-repository -y $1 $2 $3 $4 $5 $6 $7 $8
}
