
# Leap Multimedia related 
function leapMultimedia()
{
    case $leapVersion in

        42.3) osuseCodecRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_42.3/multimedia:apps.repo" ;;

        15.0) osuseCodecRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_15.0/multimedia:apps.repo" ;;

        15.1) osuseCodecRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_15.1/multimedia:apps.repo" ;;

    esac

    return $osuseCodecRepo
}


# sort of a Metafunction 
function manualOpenSuseCodecInstall
{

    case $openSUSEBranch in 

    tumbleweed) 

        osuseCodecRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Tumbleweed/multimedia:apps.repo"
        ;; 

    leap) leapMultimedia ;;

    esac

    ## Add the Repo 
    sudo zypper addrepo -r $osuseCodecRepo

    # Install Codecs 
    $install opensuse-codecs-installer x264 libx265-130 libx264-148 ffmpeg gstreamer-plugins-bad gstreamer-plugins-libav gstreamer-plugins-ugly


}