
# Leap Multimedia related
function leapMultimediaInstall()
{
    case $leapVersion in

        42.3) osuseMMediaRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_42.3/multimedia:apps.repo" ;;

        15.0) osuseMMediaRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_15.0/multimedia:apps.repo" ;;

        15.1) osuseMMediaRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_15.1/multimedia:apps.repo" ;;

    esac

    return $osuseMMediaRepo
}


# sort of a Metafunction
function manualOpenSuseCodecInstall()
{

    case $openSUSEBranch in

    tumbleweed)

        osuseMMediaRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Tumbleweed/multimedia:apps.repo"
        ;;

    leap) leapMultimediaInstall ;;

    esac

    ## Add the Repo
    sudo zypper addrepo -r $osuseMMediaRepo

    # Install Codecs
    $install opensuse-codecs-installer ffmpeg gstreamer-plugins-bad gstreamer-plugins-libav gstreamer-plugins-ugly


}