# Goal: to add the updated third party Cinnamon Repo to OpenSuse ... NOT TO actually install it
function openSuseCinnamonRepo()
{
    echo -e "Please note... You do not NEED this repo, in order to get Cinnamon on Opensuse"

    if [  "openSUSEBranch" = "leap" ]; then

        case $leapVersion in

            15.1)
                cinnamonRepo="http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_15.1/X11:Cinnamon:Current.repo"

                ;;

            15.2) echo -e "Placeholder" ;;

            *) echo -e "Invalid Selection" ;;

		esac

        zypper ar -qry $cinnamonRepo
        $refresh


	# if not openSUSE leap
    else
        # put any messages here ?
        return
    fi


}


# TODO: Function below needs to be redone
function metaSUSECinnamonInstall()
{
    echo -e "About to install the Cinnamon Desktop Envirnoment"
    sudo zypper ref && sudo zypper in -y cinnamon cinnamon-screensaver pix xed

    echo -e "Cinnamon has been installed"
    userPrompt

    clear

    echo -e "Do you want to install Linux Mint, Mint-Y theming for your Cinnamon install?"
    echo
    read -p "(Y/N) " mintyCinnChoice

    case $mintyCinnChoice in

        [yY])
            ## Add Linux Mint's Mint-y theming
            mintYThemingMetaInstall
            ;;

        [nN]) return  ;;

        *) echo "Invalid selection" ;;

    esac

}