
function get_leap_multimedia_repo() {

    [ "${openSUSEBranch}" = "tumbleweed" ] && openSUSE_MM_repo="https://download.opensuse.org/repositories/multimedia:/apps/openSUSE_Tumbleweed/multimedia:apps.repo"

    case ${leap_branch} in
		15.6) openSUSE_MM_repo="https://download.opensuse.org/repositories/multimedia:/apps/15.6/multimedia:apps.repo" ;;
        15.5) openSUSE_MM_repo="https://download.opensuse.org/repositories/multimedia:/apps/15.5/multimedia:apps.repo" ;;
    esac
}


# sort of a Metafunction
function manualOpenSuseCodecInstall() {

    # gets repo URL 
    get_leap_multimedia_repo

    ## Add the Repo
    sudo zypper addrepo -r ${openSUSE_MM_repo} "repo-multimedia"

    # Install Codecs
    installApp "opensuse-codecs-installer ffmpeg gstreamer-plugins-bad gstreamer-plugins-libav gstreamer-plugins-ugly"

}