
# Leap Multimedia related
function leapMultimediaInstall() {
    case ${leapVersion} in
      15.4) opsuseMediaRepo="https://download.opensuse.org/repositories/multimedia:/apps/15.4/multimedia:apps.repo" ;;
		  15.3) opsuseMediaRepo="https://download.opensuse.org/repositories/multimedia:/apps/15.3/multimedia:apps.repo" ;;
    esac

    return ${osuseMMediaRepo}
}


# sort of a Metafunction
function manualOpenSuseCodecInstall() {

    case ${openSUSEBranch} in

      tumbleweed)	osuseMMediaRepo="https://download.opensuse.org/repositories/multimedia:/apps/openSUSE_Tumbleweed/multimedia:apps.repo" ;;
      leap) leapMultimediaInstall ;;

    esac

    ## Add the Repo
    sudo zypper addrepo -r ${osuseMMediaRepo}

    # Install Codecs
    installApp "opensuse-codecs-installer ffmpeg gstreamer-plugins-bad gstreamer-plugins-libav gstreamer-plugins-ugly"

}