

# TODO: Function below needs to be redone
function metaSUSECinnamonInstall()
{
    echo -e "About to install the Cinnamon Desktop Envirnoment"
    sudo zypper ref && sudo zypper in -y cinnamon cinnamon-screensaver pix xed

    echo -e "Cinnamon has been installed"
    userPrompt

    clear

    echo -e "Do you want to install Linux Mint, Mint-Y theming for your Cinnamon install?"
    echo
    read -p "(Y/N) " mintyCinnChoice

    case $mintyCinnChoice in

        [yY])
            ## Add Linux Mint's Mint-y theming
            mintYThemingMetaInstall
            ;;

        [nN]) return  ;;

        *) echo "Invalid selection" ;;

    esac

}