# Goal: to add the updated third party Cinnamon Repo to OpenSuse ... NOT TO actually install it
function openSuseCinnamonThirdPartyRepo()
{
   repoName="home:Dead_Mozay:Cinnamon"
   
    echo -e "Adding third party Cinnamon Repo for OpenSUSE"

    if [ "$openSUSEBranch" = "tumbleweed" ]; then
        # Comm = as in Community repo
        cinnCommRepo="http://download.opensuse.org/repositories/home:/Dead_Mozay:/Cinnamon/openSUSE_Tumbleweed/home:Dead_Mozay:Cinnamon.repo"

    elif [  "$openSUSEBranch" = "leap" ]; then

        case $leapVersion in

            15.0) cinnCommRepo="http://download.opensuse.org/repositories/home:/Dead_Mozay:/Cinnamon/openSUSE_Leap_15.0/home:Dead_Mozay:Cinnamon.repo" ;;
            15.1) cinnCommRepo="http://download.opensuse.org/repositories/home:/Dead_Mozay:/Cinnamon/openSUSE_Leap_15.1/home:Dead_Mozay:Cinnamon.repo" ;;

        esac

    fi

    # Add the repo
    sudo zypper ar -fp 90 -r $cinnCommRepo -n $repoName

    clear
    echo -e "Updating based on the new Cinnamon Repo that was added, $repoName"
    echo
    echo -e "If you see any messages about packages conflicting with existing (if Cinnamon was already installed)"
    echo -e "Cinnamon packages, go ahead and click OK or Allow ... just let it do its thing, in otherwords"
    echo
    echo -e "Also, in my tests, I have noticed that a reboot is needed to see the new version "

    # Update based on the new repo
    # wait a second ... does this install anything or just give priority to the new repo
        # I ask because i am adding a new option to add the repo BUT NOT to install Cinnamon
    $update --from $repoName --allow-vendor-change

}
#######################################################################################

# NOT the meta function
function openSUSECinnamonInstall()
{

    if [ "$openSUSEBranch" = "tumbleweed" ]; then

        sudo zypper ref && sudo zypper in -y cinnamon cinnamon-screensaver pix xed

        mintYThemingInstall



    elif [ "$openSUSEBranch" = "leap" ]; then

        case $leapVersion in

            15.0)
            CinnRepoOpenSUSE="http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_15.0/X11:Cinnamon:Current.repo" ;;

            15.1)
            CinnRepoOpenSUSE="http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_15.1/X11:Cinnamon:Current.repo" ;;

        esac

        echo -e "Adding Repo for OpenSUSE Leap"
        sudo zypper ar -f $CinnRepoOpenSUSE

        echo
        sudo echo -e "Refreshing repos and installing Cinnamon"
        sudo zypper ref
        userPrompt


        sudo zypper in -t pattern cinnamon
    fi

}

# Bad function name i know ...
function metaSUSECinnamonInstall()
{

    # Ask if the user wants to add the updated community repo first 
    #clear
    echo -e "About to install the Cinnamon Desktop Envirnoment"
    echo 
    echo -e "Do you want to install a third party repo to add UPDATED Cinnamon packages?"
    echo -e "Repo Info: http://download.opensuse.org/repositories/home:/Dead_Mozay:/Cinnamon/"
    echo
    read -p "(Y/N) " thirdPartyCinnChoice

    case $thirdPartyCinnChoice in

        [yY]) openSuseCinnamonThirdPartyRepo ;;

        [nN]) echo -e "Community Repo NOT installed" ;;

        *) echo "Invalid selection" ;;

    esac


    # There is a question of  why am i adding two repos... though if the user says no to the third party answer, these are the instructions I found on OpenSUSE's site
    openSUSECinnamonInstall


}