# Goal: to add the updated third party Cinnamon Repo to OpenSuse ... NOT TO actually install it
function openSuseCinnamonRepo()
{
    echo -e "Please note... You do not NEED this repo, in order to get Cinnamon on Opensuse"
    
    if [  "openSUSEBranch" = "leap" ]; then

        case $leapVersion in

            15.1)
                    # Note: Templatify later 
                    ## UN-TESTED
                    # Leap 15.1 from what i sees default repos are still stuck on Cinn 3.6.7 so that is why i am leavving this here 

                    zypper ar -cf http://download.opensuse.org/repositories/home:/Dead_Mozay:/Cinnamon/openSUSE_Leap_15.1/ MozayCinnamonRepo

                    
                    return ;; ;

        esac

    else
        return
    fi


}


###############################################################################
## TODO: move this to the universal directory/folder and the third party section 


function thirdPartyRepoQuestion()
{
    # $1 = function name to call if the user wants to proceed

    # This seems messesd up, but I suppose the thing to pass to this function would the function name?
        ## the logic/coding seems hacky to me, but i may come back to that later

    clear
    echo -e "Please note: this is a third party repo that I know works. I would never include repos that I did not trust to at least try on my own systems, but I know some users will not want to add things that are not officially from OpenSUSE"
    echo
    read -p "Do you still want to add this repo? (Y/N)" suseThirdPartyRepoChoice


    case $suseThirdPartyRepoChoice in

        [yY])
            echo -e "OpenSuse Repos would be added at this point"
            userPrompt

            # function call
            # openSuseCinnamonRepo $1
            ;;

        [nN]) return ;;


    esac


}