## Idea: This depends on distro detection and what version.

## Have ONE function for say adding pacman and then based on the distro (if statement?) add the repo APPROPRIATE to the OpenSuse version

##############################################################################

## THIS does not include pacman related stuff 
function manualOpenSuseCodecInstall
{
    
    # Do case 
    # openSUSEBranch="tumbleweed"
    
    case $openSUSEBranch in 

    tumbleweed) 

        osuseCodecRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Tumbleweed/multimedia:apps.repo"
        ;; 


    leap) 

        # Check for branch of Leap

        case $OSRELEASE_VERSIONID in

        42.3) osuseCodecRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_42.3/multimedia:apps.repo" ;;

        15) osuseCodecRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_15.0/multimedia:apps.repo" ;;

        15.1) osuseCodecRepo="https://download.opensuse.org/repositories/multimedia:apps/openSUSE_Leap_15.1/multimedia:apps.repo" ;;

        esac 

    esac 

    # Add Repo
    zypper addrepo $osuseCodecRepo
    #refresh repo
    $refresh 
    # Install Codecs 
    $install opensuse-codecs-installer

}
