. $functionsDir/check/includeCheckDir.cfg


##################################################

## What is the point of this IF the EOL checks are done in each sub-section
function universalEOLCheck()
{

  eolFedoraCheck
  #EOL OpenSuse Check goes here

  EOLUbuntuCheck

}

###########################################################################
function specificDistroChecks()
{
  # Array var for new loop idea 
  declare -a specificDistroChecks=("archCheck" "fedoraCheck" "openSuseCheck" "solusCheck" "ubuntuCheck")

  # Start Counter 
  distroCounter=0

  #While the $distroCheck var, IS null
  while [ -z "$distroBase" ]; do
  
    # ??? - Goal: just scall the array element which IS A FUNCTION call 
    ${specificDistroChecks[distroCounter]}

    #increase counter by one 
    let "distroCounter++"

  done

  ###################################################################################

  ## Old way and when the above code works for sure, this is not needed anymore 
  
  # Various more specific checks
  #archCheck
  #fedoraCheck
  #openSuseCheck
  #solusCheck
  #ubuntuCheck

  ##########################################################
  return 
}

function completeDistroCheck()
{

  # Gets info from /etc/os-release file
  osreleaseInfo

  ## Call to specific distro check functions
  specificDistroChecks

  ## Location of function: f_getinfo.cfg
  checkSupportStatus $supported

  ## GTK Version detection 
  gtkVersionDetection


}
