kernel=`uname -r`

#############################################
## Path Variables

scriptsDir=$(eval pwd)/scripts/
themeDir=$(eval pwd)/tasks/themes/

fedoraDir=$(eval pwd)/tasks/functions/fedora/
opensuseDir=$(eval pwd)/tasks/functions/opensuse/
ubuntuFunctDir=$(eval pwd)/tasks/functions/ubuntu/
UniSoftFunctDir=$(eval pwd)/tasks/functions/universal/software/
functionsDir=$(eval pwd)/tasks/functions/


#######################################################################
themeHome=~/.themes
iconHome=~/.icons

##############################################################################

packageName=${packageURL/*\//}


## Trying, this task as a variable 
removeQuotesVar='sed s/\"//g"'

# Trial at Bash formatting text 
#bold=$(tput bold)
#normal=$(tput sgr0)

# Limits output to seven characters, and removes the rest
sevenCharLimit="cut -c-7"