kernel=`uname -r`

#############################################
## Path Variables
postInstallsDir="$rootdir"/postInstalls
themeDir="$rootdir"/tasks/themes
scriptsDir="$rootdir"/scripts
functionfolder="$rootdir"/tasks/functions

themeHome=~/.themes
iconHome=~/.icons

## References file that contains list of apps in most default repos (no extra processing) 
#defaultUsefulAppsFile= . "$rootdir"/data/defaultRepoApps.list
#$defaultUsefulAppsFile
##############################################################################

packageName=${packageURL/*\//}

####################################################################################

## Trying, this task as a variable 
removeQuotesVar='sed s/\"//g"'

# Trial at Bash formatting text 
bold=$(tput bold)
normal=$(tput sgr0)
