## Load config files

. $functionsDir/universal/pmanagement/includePackageManager.cfg
## some includes in other locations MAY be redundant now ..


# May 2022: I just split a few function out that were a bit larger when this file started getting "too long"
. $functionsDir/f_detection.cfg
. $functionsDir/f_xmetalTasks.cfg


##############################################################
function quitScript() {
  clear
  echo "Goodbye"
  exit
}

function invalidSection() {
  echo "invalid selection "
  sleep 2s
  x=1
}

function userPrompt() {
  read -p "Press [Enter] to continue "
}

###########################################################################
## Menu Related 

# this is for what sort of menus will be used - it checks if dialog is installed
function checkDialog() {


	# if dialog is not installed (unlike what i pass to the "commadcheck function") I DO NOT want it to auto-install
	# for a user

	# that function mentioned above does the same thing as this command so to speak but "if not installed", it installs it
	$(command -v dialog)

	dialogCheckResult=$?

	if [ $dialogCheckResult == 0 ];then
		menuType="dialog"
	elif [ $dialogCheckResult == 1 ];then
		menuType="echo"
	else
		echo -e "error detecting dialog command status"
		exit
	fi

}

## NO CLUE if this is the best place to put this
function detectMenuVariant() {

	if [ $(command -v dialog) ]; then
		menuName=$baseMenuName"Dialog"
		menuType="dialog"
	else 
		menuName=$baseMenuName"Echo"
		menuType="echo"
	fi

}

## End Menu Related 
###############################################################################


##########################################################################################
function intialTasks() {

	# Gets info about distro
	# This is located in the f_generalInfo.cfg file
	printf "Getting Info about distro..\n"

	intialChecks

}
