# What i need to know 
##  progName (for say "progName.desktop" file that will need to be created )


#########################################################
#[Desktop Entry]
#Encoding=UTF-8
#Exec=/home/user/eclipse-version/eclipse/eclipse
#Icon=/home/user/eclipse-version/eclipse/icon.xpm
#Type=Application
#Terminal=false
#Comment=Eclipse Integrated Development Environment
#Name=Eclipse Luna
#GenericName=eclipse-4.4 M4
#StartupNotify=false
#Categories=Development;IDE;Java;



################################################################




shortcutPath="/usr/share/applications/"