# What i need to know?
    # Shortcut name (what is in front of ".Desktop") ?


#########################################################

# function to move third party app (tarballs, not really debs or rpm files) to a "Programs" folder
function moveToProgramsFolder()
{
    # Check if the folder exists, and if not, create it

    if [ -d "$programDir" ]; then
        echo -e "$programDir already exists"
    else
        echo -e "$programDir does not already exist, creating directory to store third party apps"
        mkdir $programDir
        echo -e "Program directory create.  The location is in your user's Home folder as \"Programs\" "

    fi

        echo
        echo -e "Moving $progName/ to $programDir"

        cp $progName/ $programDir

        # probably should be put somewhere else 
        clear

        echo -e "Creating Destination directory"
        
        if [ -d "$programDir/$progName" ]; then
            echo -e "$programDir/$progName already exists"
        else 
            mkdir $programDir/$progName
        fi 

        clear
        echo -e "Moving contents of $progName/* to $programDir$progName/"
        mv $progName/* $programDir$progName/
        userPrompt

}


function menuItemAddition()
{
    
    clear
    ## At this point the program should be in it's proper directory in ~/Programs/
    echo -e "Creating Menu Item, for $progTitle"
        
    # Moving .Desktop "Menu"file, to correct folder
    # sudo is needed due to the permission of the destination folder 
    
    sudo cp $xmetalScriptsRoot/$menuFile $menuDir

    sudo desktop-file-install $xmetalScriptsRoot/$menuFile

    update-desktop-database

    # note to self: the icon may be in the same dir ... forget that "for now"
    echo -e "Menu entry created for $progTitle"
    userPrompt

}

function menuItemRemoval()
{
    echo -e "Removing Menu Item for $1"


    echo -e "Menu Entry for $1 removed"

}

## Meta function? 
function customMenuItemChoice()
{
    
    echo
    echo -e "Do you want to Add or Remove a Menu entry for $1?"
    echo -e "(A) Add Memu item"
    echo -e "(R) Remove Menu Item"
    
    read -p "(A/R): " custoMenuChoice

    case $custoMenuChoice in

        [aA]) 
        
        menuItemAddition ;;

        [rR]) menuItemRemoval ;;

    esac

}