# What i need to know?
    # Shortcut name (what is in front of ".Desktop") ?


#########################################################

function moveToProgramsFolder()
{
    # Check if the folder exists, and if not, create it

    if [ -d "$programDir" ]; then
        return
    else
        echo -e "$programDir does not already exist, creating directory to store third party apps"
        mkdir $programDir
        echo -e "Program directory create.  The location is in your user's Home folder as \"Programs\" "

        echo
        echo -e "This is where the extracted directory woul be moved"

    fi

}


function menuItemAddition()
{
    # $1 is the .Desktop file, filename

     # What I need
     # - program Icon
     # - .Desktop file 
        # - path to program "Executable"



    ## At this point the program should be in it's proper directory in ~/Programs/
    echo -e "Creating Menu Item, for $1"
    
    

    
    echo -e "Menu entry created"

}

function menuItemRemoval()
{
    echo -e "Removing Menu Item for $1"


    echo -e "Menu Entry for $1 removed"

}

## Meta function? 
function customMenuItemMenu()
{
    echo
    echo -e "Do you want to Add or Remove a Menu entry for $1?"
    echo -e "(A) Add Memu item"
    echo -e "(R) Remove Menu Item"
    
    read -p "(A/R): " custoMenuChoice

    case $custoMenuChoice in

        [aA]) 
        
        menuItemAddition ;;

        [rR]) menuItemRemoval ;;

    esac

}