function cpuVendorDetection() {
  if [ "$cpuVendorCommand" = "GenuineIntel" ]; then
    cpuType="Intel"
  else
    #TODO: AMD later on
    return
  fi

}


##############################################

function supportStatusDetection() {
  # EOL = actual date of the EOL
  # supported="yes" or supported="no"

  case $supported in

	yes) return ;;

	no)
		clear
		fancy_message warn "Your distro/distro version of Linux is no longer supported"
		echo

		# idea: perhaps have another function that gives a link to the detected distro's homepage
		fancy_message info "Scripts Exiting"
		userPrompt

		# does this exit the entire script
		exit
		;;

	*) fancy_message error "Your Distro's support status can not be detected" ;;

  esac

}


##############################################
function packageManDetection() {

	fancy_message acti "About to run Package Manager detection"
	if [ $(command -v pacman) ]; then

		pmanager="pacman"

		install=${admin}${pmanager}" -S "
		refresh=${admin}${pmanager}" -$y"
		update=${admin}${pmanager}" -Syu"

	elif
		[ $(command -v dnf) ]; then
		pmanager="dnf"

		install=${admin}${pmanager}" install"
		refresh=${admin}${pmanager}" check-update"
		update=${admin}${pmanager}" upgrade"

	#openSuse
	elif [ $(command -v zypper) ]; then
		pmanager="zypper"

		install=${admin}${pmanager}" install"
		refresh=${admin}${pmanager}" refresh"

		# update info missing due to up vs dup depending on what branch you are on

	# Solus
	elif [ $(command -v eopkg) ]; then
		pmanager="eopkg"

		install=${admin}${pmanager}" install"
		# commenting out because the extra quote confuses me 
		#refresh=${admin}${pmanager}" "
		update=${admin}${pmanager}" up"

	elif [ $(command -v apt) ]; then

		pmanager="apt"

		install=${admin}${pmanager}" install"
		refresh=${admin}${pmanager}" update"

		update=${admin}${pmanager}" upgrade"

	elif [ $(command -v apt-get) ]; then

		pmanager="apt-get"

		install=${admin}${pmanager}" install"
		refresh=${admin}${pmanager}" update"
		update=${admin}${pmanager}" upgrade"

		# KDE Neon updates needed here too?

		# Send to function to get more info about say Debian vs Ubuntu and what Ubuntu spin it could be
	fi

}