function cpuVendorDetection() {
  if [ "$cpuVendor" = "GenuineIntel" ]; then
    cpuType="Intel"
  else
    #TODO: AMD later on
    return
  fi

}


##############################################

function supportStatusDetection() {
  # EOL = actual date of the EOL
  # supported="yes" or supported="no"

  case $supported in

	yes) return ;;

	no)
		clear
		fancy_message warn "Your distro/distro version of Linux is no longer supported"

		# idea: perhaps have another function that gives a link to the detected distro's homepage
		fancy_message info "\nScripts Exiting"
		userPrompt

		# does this exit the entire script
		exit
		;;

	*) fancy_message error "Your Distro's support status can not be detected" ;;

  esac

}


##############################################

# Assigns vars to install or remove packages
function assignInstallUninstallVars() {
	case $pmanager in 
		apt-get|apt|dnf|eopkg|zypper) 
			install=${admin}${pmanager}" install"
			uninstall=${admin}${pmanager}" remove"
			purge=${admin}${pmanager}" purge"
			;; 
		pacman) 
			install=${admin}${pmanager}" -S"
			uninstall=${admin}${pmanager}" -R"
			;;
	esac 
}

# Assigns cars to update or upgrade packages 
function assignRefreshUpdatevars() {
	case $pmanager in 
		apt-get|apt) 
			refresh=${admin}${pmanager}" update"
			update=${admin}${pmanager}" upgrade"

			# KDE Neon updates needed here too?
			;; 
		dnf) 
			refresh=${admin}${pmanager}" check-update"
			update=${admin}${pmanager}" upgrade"
			;;

		eopkg)
			# commenting out because the extra quote confuses me
			#refresh=${admin}${pmanager}" "
			update=${admin}${pmanager}" up"
			;;

		pacman) 
			refresh=${admin}${pmanager}" -$y"
			forceRefresh=${admin}${pmanager}" -Syy"
			update=${admin}${pmanager}" -Syu"
			;; 

		zypper)

			refresh=${admin}${pmanager}" refresh"
			# update info missing due to up vs dup depending on what branch you are on
			;;

	esac 
}

# March 2023 idea .... some of this can be condensed i feel ... 
function packageManDetection() {

	fancy_message action "About to run Package Manager detection"
	
	# not sure if this can be short-handed 
	if [[ $(command -v apt) || $(command -v apt-get) ]]; then
		pmanager="apt"
	fi

	[ $(command -v dnf) ] && pmanager="dnf"
	[ $(command -v eopkg) ] && pmanager="eopkg"
	[ $(command -v pacman) ] && pmanager="pacman"
	[ $(command -v zypper) ] && pmanager="zypper"

	assignInstallUninstallVars
	assignRefreshUpdatevars
}