################################################################################################

function mainArchMenu
{

	x=1

	while [[ $x=1 ]]; do

		clear
		echo -e "Xmetal's Debian based,  Post-Installation Script \n"
		echo
		echo -e "Please Select task: \n"

		echo -e 	"1.\t ${bold}[Sub-Menu] AUR Support Options ${completeReset}"
		echo -e 	"2.\t ${bold}[Sub-Menu] Manjaro specific ${completeReset}"
		echo -e 	"3. \t Reset to Original Mirrors "
		echo -e 	"4.\t Add Sound Support"
		echo -e  	"5.\t Adds Archive Support"

		echo
		echo -e 	"m. \t Return to Main Menu"
		echo -e		"q. \t Exit to Prompt\n\n"

		read -p 	"Your Choice?:"  archSelection

		case $archSelection in

			1)  aurHelperMenu
				x=1 ;;

			2)	manjaroMenu
				x=1 ;;

			3) resetMirrors
				x=1 ;;

			4) soundSupport
				x=1	;;

			5)	archiveSupport
				x=1 ;;

			[mM]) mainMenu ;;

			[qQ])  quitScript   ;;

			* ) invalidSection ;;

		esac

	done

}

##########################################################################
function mainFedoraMenu
{

	clear
	x=1

	while [[ $x=1 ]]; do

		#clear
		echo -e "Xmetal's Fedora based Script \n"
		echo -e "Please Select your Choice \n"

		echo -e   "1. \t Add Fedy"
		echo -e   "2. \t Perform Common Fedy Tasks (without having to install Fedy)"

		echo -e   "m. \t Return to Main Menu"

		echo -e   "q.Exit to Prompt \n\n"

		read -p "Your Choice?:" fedoraSelection

		case $fedoraSelection in

			1) InstallFedy
				x=1
				;;

			2) massFedyTasks
				x=1
				;;

			[mM]) mainMenu ;;


			[qQ]) quitScript	;;

			*) invalidSection ;;

		esac

	done

}


############################################################

function mainOpenSUSEMenu
{

	x=1

	while [[ $x=1 ]]; do
		clear

		echo -e 	"Xmetal's OpenSUSE Script \n"
		echo -e 	"Please Select your Choice \n"

		echo -e 	"1. \t Install Cinnamon"
		echo -e		"2. \t Add Community Cinnamon Repo, without installing Cinnamon"

		echo -e 	"m. \t Return to Main Menu"
		echo -e  	"q. \t Exit to Prompt  \n\n"

		read -p 	"Your Choice?:" openSuseSelection

		case $openSuseSelection in

			1) metaSUSECinnamonInstall ;;

			2) openSuseCinnamonThirdPartyRepo ;;

			[mM]) mainMenu ;;

			[qQ]) quitScript ;;

			*) invalidSection ;;

		esac

	done

}

##########################################
function mainSolusMenu
{
	x=1

	while [[ $x=1 ]]; do

	clear
	echo -e 	"${bold}${underline}Xmetal's Solus Script${completeReset}\n"
	echo -e 	"Please Select your Choice \n"

	echo -e 	"1.	Switch from the ${italics}Stable Repo${completeReset} to Unstable Repos${completeReset}"
	echo -e 	"2. \tSwitch from the ${italics}Unstable Repo${completeReset} to Stable Repos${completeReset}"

	echo -e 	"\n${underline}Individual Tasks below${completeReset}\n"
	echo -e   "3. \tAdd Unstable Repo ${italics}(DOES NOT disable the default repo or ENABLE Unstable repos)${completeReset}"
	echo -e   "4. \tDisable the UnStable Repo ${completeReset}"

	echo -e 	"m. \tReturn to Main Menu"
	echo -e 	"q.	Exit to Prompt \n\n"

	read -p "Your Choice?:" fedoraSelection

	case $fedoraSelection in

			1) enableUnstableRepo
				x=1 ;;

			2) enableStableRepo
				x=1 ;;

			3) sudo eopkg add-repo SolusUnstable $solusUnstableRepo
			x=1 ;;

			4) sudo eopkg disable-repo solusUnstableRepo
			x=1	;;

			[mM]) mainMenu ;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

		esac

	done

}

##################################################################################

function mainUbuntuMenu
{

	x=1

	while [[ $x=1 ]]; do
	clear

		echo -e  "Xmetal\'s Ubuntu based,  Post-Installation Script \n"

		echo -e  "Please Select Task \n"

		echo -e "P. \t Decide if Popular packages associated with PPAs are installed by default (Default=no)"

		echo -e   "\vm. \tReturn to Main Menu"
		echo -e	  "q. \tExit to Prompt \n\n"

		read -p "Your Choice?: " ubuntuSelection

		case $ubuntuSelection in

			# located in /functions/ubuntu/PPAs/f_PPAMaintence.cfg
			[pP]) ppaPackageInstallDefault
				x=1 ;;


			[mM]) mainMenu ;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

		esac

	done
}

########################################################

function mainDebianMenu
{

	x=1

	while [[ $x=1 ]]; do

		#clear
		echo -e "Xmetal's Arch Linux based,  Post-Installation Script \n"
		echo -e "Please NOTE: Many of these tasks are predone on distros such as Antergos or Manjaro \n\n"
		echo -e "In some installs like Anarchy Linux's, they are also done already, if you installed that way"
		echo
		echo -e "Please Select task: \n"

		echo -e 	"1.\t Install Linux Firmware Packages (Both)"
		echo -e 	"2.\t Install Intel MicroCode Package"
		echo -e 	"3. \t Install Archive Support "

		echo
		echo -e 	"m. \t Return to Main Menu"
		echo -e		"q. \t Exit to Prompt\n\n"

		read -p 	"Your Choice?:"  archSelection

		case $archSelection in

			1)  debianLinuxFirmmware
				x=1 ;;

			2)	debianIntelMicroCode
				x=1 ;;

			3) debianArchiveSupport
				x=1 ;;

			[mM]) mainMenu ;;

			[qQ]) quitScript   ;;

			* ) invalidSection ;;

		esac

	done

}
