################################################################################################

function mainArchMenu
{
	## commenting out to see if these includes are even needed
	# I say "no"
	# . $functionsdir/arch/f_arch.cfg
	# . $functionsdir/arch/f_manjaro.cfg

	###############################################################################
	x=1

	while [[ $x=1 ]]; do

		clear
		echo -e "Xmetal's Arch Linux based,  Post-Installation Script \n"
		echo -e "Please NOTE: Many of these tasks are predone on distros such as Antergos or Manjaro \n\n"
		echo -e "In some installs like Anarchy Linux's, they are also done already, if you installed that way"
		echo 
		echo -e "Please Select task: \n"

		echo -e 	"1.\t ${bold}[Sub-Menu] AUR Support Options{completeReset}"
		echo -e 	"2.\t ${bold}[Sub-Menu] Manjaro specific${completeReset}"
		echo -e 	"3.\t Add Sound Support"
		echo -e  	"4.\t Adds Archive Support"
		
		echo -e 	"m. \t Return to Main Menu"
		echo -e		"q. \t Exit to Prompt\n\n"

		read -p 	"Your Choice?:"  archSelection

		case $archSelection in

			1)  aurSupportMenu
				x=1 ;; 
			
			2)	manjaroMenu
				x=1 ;; 

			3)  soundSupport
				x=1	;;

			4) archiveSupport
				x=1 ;;


			[aA]) sudo pacman -Syyu

				SoundSupport
				archiveSupport
				x=1
				;;

			[mM]) clear 
					exit
					;;

			[qQ])  quitScript   ;;

			* ) invalidSection ;;

	  	esac

	done

} 

##########################################################################

function mainFedoraMenu
{
	
	# WHY ? ... this seems completely un-needed 
	#. $functionsdir/fedora/includeFedoraFunctions.cfg

	#######################################################################################
	clear 
	x=1

	while [[ $x=1 ]]; do

		#clear
		echo -e "Xmetal's Fedora based Script \n"
		echo -e "Please Select your Choice \n"

		echo -e   "1. \t Add Fedy"
		echo -e   "2. \t Perform Common Fedy Tasks (without having to install Fedy)"
		
		echo -e   "m. \t Return to Main Menu"

		echo -e   "q.Exit to Prompt \n\n"

		read -p "Your Choice?:" fedoraSelection

		case $fedoraSelection in

			3) InstallFedy
			   x=1
			   ;;

			3) massFedyTasks
			   x=1
			   ;;

			[mM])	clear 
					exit
					;;

			[qQ]) quitScript	;;

			* ) invalidSection ;;

		esac
		
	done

}

############################################################

function mainOpenSuseMenu
{
	
	## include files with functions 
	
	## 2019: why are these here?
	########################################################

	x=1

	while [[ $x=1 ]]; do

		clear

		echo -e "Xmetal's OpenSuse Script \n"
		echo -e "Please Select your Choice \n"

		echo -e  "1. \t Add Cimmamon to OpenSuse"
		echo -e "2.	\t Add Plasma 5 Repo(s)"


	  echo -e "m. \t Return to Main Menu"
		echo -e  "q. \t Exit to Prompt  \n\n"

		read -p "Your Choice?:" openSuseSelection

		case $openSuseSelection in

			1) cinnamonSuseRepo
				x=1	 ;;

			2.) # not available now 
				x=1 ;;

			[mM])	
				clear 
				exit
				;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

		esac

	done

}

##########################################
function mainSolusMenu
{
	. $functionsdir/solus/f_solus.cfg

	x=1

	while [[ $x=1 ]]; do

	clear
	echo -e 	"${bold}${underline}Xmetal's Solus Script${completeReset}\n"
	echo -e 	"Please Select your Choice \n"

	echo -e 	"1.	Switch from the ${italics}Stable Repo${completeReset} to Unstable Repos${completeReset}"
	echo -e 	"2. \tSwitch from the ${italics}Unstable Repo${completeReset} to Stable Repos${completeReset}"

	echo -e 	"\n${underline}Individual Tasks below${completeReset}\n"
	echo -e   "3. \tAdd Unstable Repo ${italics}(DOES NOT disable the default repo or ENABLE Unstable repos)${completeReset}"
	echo -e   "4. \tDisable the UnStable Repo ${italics}(useful for when the Solus Team says \"Dont Update, if you\'re using the Unstable Repo\")${completeReset}"

	echo -e 	"m. \tReturn to Main Menu"
	echo -e 	"q.	Exit to Prompt \n\n"

  read -p "Your Choice?:" fedoraSelection

	case $fedoraSelection in

		1) enableUnstableRepo 
			x=1 ;;

		2) enableStableRepo
			x=1 ;;

	  	3) sudo eopkg add-repo SolusUnstable $solusUnstableRepo
	       x=1 ;;

		4) sudo eopkg disable-repo solusUnstableRepo
		   x=1	;;

		[mM])	clear 
				exit
				;;

		[qQ]) quitScript ;;

		* ) invalidSection ;;

		esac
	done

	
}

##################################################################################

function mainUbuntuMenu
{

	. $functionsdir/ubuntu/includeUbuntuFunctions.cfg


	x=1

	clear

	while [[ $x=1 ]]; do

			echo -e   "Xmetal\'s Ubuntu based,  Post-Installation Script \n"

			echo -e   "Please Select Task \n"

			echo -e   "\v1. \t Adds Theme PPAs (Ravenfinity, Moka, Noobslab\'s Icon Repo (both), \n \t Noobslab\'s Theme Repo, Numix, and snwh\'s (Paper Theme) )"
			echo -e   "\v2. \t Install PPA Themes/Icons \n \t (Ambiance, Radiance, Moka, The Arc Theme AND Arc Icons, \n \t Numix Themes and Icons, Vertex Icons, AND Kawaiki Icons "
				
			echo -e   	"\v m. \tReturn to Main Menu"
			echo -e		"q. \tExit to Prompt \n\n"

			read -p "Your Choice?: " ubuntuSelection

			case $ubuntuSelection in

			  1) addThemePPAs
				 x=1 ;;

			  2) installPPAThemes
				 x=1 ;;

			[mM])	clear 
					exit
					;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

			esac

	done
}