##############################################################################
## Directory Related vars

# note to self: do NOT put the trailing / on these var's below
xmetalScriptsRoot=$(eval pwd)
downloadListDir="$xmetalScriptsRoot/data"

settingsDir="$xmetalScriptsRoot/settings"
archSettingsFile="$settingsDir/archSettings.cfg"
ubuntuSettingsFile="$settingsDir/ubuntuSettings.cfg"

#  where to put this? 
#fancy_message action "Importing Settings files"
# . $archSettingsFile
# . $ubuntuSettingsFile

functionsDir="$xmetalScriptsRoot/functions"
uniFunctionDir="$functionsDir/universal"
checkDir="$functionsDir/check"
infoDir="$functionsDir/info"
softwareDir="$functionsDir/universal/software"
menusDir="$functionsDir/menus"
## Function Directories for each distro base
fedoraDir="$functionsDir/fedora/"
opensuseDir="$functionsDir/opensuse/"
ubuntuFunctDir="$functionsDir/ubuntu/"

#todo: change to pmanageDir 
pmanagedir="$uniFunctionDir/pmanagement"
universalAppDir="$pmanagedir/thirdparty/universalApps"

homeDir="/home/$USER"
downloadDir="$homeDir/Downloads"

#not sure if programName is needed here 
programName=""
extractedDownloadDir="$downloadDir/$programName"

# place to put local .desktop files for extracted apps
homeMenuFileDir="$homeDir/.local/share/applications"


########################################################################
# in scripts location
localMenuFileDir="$xmetalScriptsRoot/menu"


# Place to put third party apps
## This has to be made first
## The other dirs here are capitlized so I will leave this capitalized
programDir="$homeDir/Programs"

sourceListDir="/etc/apt/"


themeHome="$homeDir/.themes/"
iconHome="$homeDir/.icons/"
appListDir="$(pwd)/lists/"
userKeyringLocation="/usr/share/keyrings/"
aptSourcelist="/etc/apt/sources.list"
sourceListDir="/etc/apt/"


## End of Dir related Vars 
##############################################################################

##############################################################################
## Software Related Vars 


# Universal package related
snapUpdate="snap refresh"
snapInstall="snap install"

# this should be echo'd out to the user and not actually ran
# using vars here a mistake?
# May 2022: $flatpakInfo? ... this seems like i made a mistake perhaps
flatpakRun="flatpak run $flatpakInfo"
flatpakUpdate="flatpak update"

flatpakExists=$(flatpak list | awk -v a="$programName" '$1 ~ a {print $1}' )
snapExists=$(snap list | awk -v a="$programName" '$1 ~ a {print $1}' )
# ENd of Universal Package related

aptAddRepo="sudo apt-add-repository"

## End of Software Vars 
##############################################################################

##############################################################################
# Various Variables 

admin="sudo "
kernel=$(uname -r)
currentDate=$(date +"%F")

# processor's architecture
# result on my system = "X86_64"
procArch=$(uname -m)

## DO NOT include the backtick at the end
githubURL="http://github.com"



removeChars="tr -d \[:graph:]"
removeSpaces="tr -d \[:blank:]"

# I dont like how i had to change to single vs double quotes
removeDQuotes='tr -d \" '

usefulSoftware=(
	'catfish'
	'chromium'
	'dconf-editor'
	'deluge'
	'easytag'
	'filezilla'
	'fish'
	'gparted'
	'hexchat'
	'mediainfo'
	'pavucontrol'
	'picard'
	'variety'
	'youtube-dl'
)

cpuVendorCommand=$(awk '/vendor/  { print $3 ;exit; } ' /proc/cpuinfo)

# for menus
BACKTITLE="Xmetal's Linux Scripts"
MENU="Please Select an option"
HEIGHT=0
WIDTH=0
CHOICEHEIGHT=0

menuBorder="###############################################"

# End Various variables
##############################################################################

# controls, if PPA pacakges are auto-installed by default 

# if a value is not set already, set the default value 
if [ -z "${PPAPackageInstall}" ]; then PPAPackageInstall="no"; fi 

##################################################################################