#########################################################################
# directory Related vars

# note to self: do NOT put the trailing / on these var's below
xmetalScriptsRoot=$(eval pwd)
downloadListDir=$xmetalScriptsRoot/data
settingsDir=$xmetalScriptsRoot/settings

functionsDir=$xmetalScriptsRoot/functions
uniFunctionDir=$functionsDir/universal
checkDir=$functionsDir/check
infoDir=$functionsDir/info
softwareDir=$functionsDir/universal/software
pmanagedir=$uniFunctionDir/pmanagement
universalAppDir=$pmanagedir/thirdparty/universalApps


downloadsDir="/home/$USER/Downloads"
sourceListDir=/etc/apt/

# Place to send .desktop files
menuDir=~/.local/share/applications

# Place to put third party apps
## This has to be made first
## The other dirs here are capitlized so I will leave this capitalized
programDir=~/Programs


admin="sudo "
kernel=$(uname -r)
menuFilesPath=$(eval pwd)/menuFiles
currentDate=$(date +"%F")

# processor's architecture
# result on my system = "X86_64"
procArch=$(uname -m)


## DO NOT include the backtick at the end
githubURL="http://github.com"

aptAddRepo="sudo apt-add-repository"

# End Software related variables
##############################################################################

################################################
# Universal package related
snapUpdate="snap refresh"
snapInstall="snap install"

# this should be echo'd out to the user and not actually ran
# using vars here a mistake?
flatpakRun="flatpak run $flatpakInfo"
flatpakUpdate="flatpak update"

# ENd of Universal Package related
################################################

####################################################################
## Function Directories for each distro base

fedoraDir=$functionsDir/fedora/
opensuseDir=$functionsDir/opensuse/
ubuntuFunctDir=$functionsDir/ubuntu/
appListDir=$(pwd)/lists/

#####################################################################
themeHome="~/.themes/"
iconHome="~/.icons/"

removeChars="tr -d \[:graph:]"
removeSpaces="tr -d \[:blank:]"


# I dont like how i had to change to single vs double quotes
removeDQuotes='tr -d \" '

sourceListDir="/etc/apt/"


usefulSoftware=(
	'catfish'
	'chromium'
	'dconf-editor'
	'deluge'
	'easytag'
	'filezilla'
	'fish'
	'gparted'
	'hexchat'
	'mediainfo'
	'pavucontrol'
	'picard'
	'variety'
	'youtube-dl'
)

#Test
cpuVendorCommand=$(awk '/vendor/  { print $3 ;exit; } ' /proc/cpuinfo)


flatpakExists=$(flatpak list | awk -v a="$progName" '$1 ~ a {print $1}' )
snapExists=$(snap list | awk -v a="$progName" '$1 ~ a {print $1}' )

userKeyringLocation="/usr/share/keyrings/"

aptSourcelist="/etc/apt/source.list"