# directory Related vars
# note to self: do NOT put the trailing / on these var's below
xmetalScriptsRoot=$(eval pwd)
downloadListDir=$xmetalScriptsRoot/data
functionsDir=$xmetalScriptsRoot/functions
uniFunctionDir=$functionsDir/universal
checkDir=$functionsDir/check
infoDir=$functionsDir/info
softwareDir=$functionsDir/universal/software

settingsDir=$xmetalScriptsRoot/settings

downloadsDir=~/Downloads
sourceListDir="/etc/apt/"

# Place to send .desktop files
menuDir=/usr/share/applications/

# Place to put third party apps
## This has to be made first
## The other dirs here are capitlized so I will leave this capitalized

programDir=~/Programs


admin="sudo "
kernel=$(uname -r)
menuFilesPath=$(eval pwd)/menuFiles
currentDate=$(date +"%F")

# processor's architecture
# result on my system = "X86_64"
procArch=$(uname -m)


## DO NOT include the backtick at the end
githubURL="http://github.com"

aptAddRepo="sudo apt-add-repository"

# End Software related variables
##############################################################################

################################################
# Universal package related
snapUpdate="snap refresh"
snapInstall="snap install"

# this should be echo'd out to the user and not actually ran
# using vars here a mistake?
flatpakRun="flatpak run $flatpakInfo"
flatpakUpdate="flatpak update"

# ENd of Universal Package related
################################################

####################################################################
## Function Directories for each distro base

fedoraDir=$functionsDir/fedora/
opensuseDir=$functionsDir/opensuse/
ubuntuFunctDir=$functionsDir/ubuntu/
appListDir=$(pwd)/lists/

#####################################################################
themeHome="~/.themes/"
iconHome="~/.icons/"

## Do not put "sed" here
removeSpaces="s/\s//g"
removeChars="s/[Aa-Zz]*//g"

# I dont like how i had to change to single vs double quotes
removeDQuotes='tr -d \" '

sourceListDir="/etc/apt/"


#Test
cpuVendorCommand=$(awk '/vendor/  { print $3 ;exit; } ' /proc/cpuinfo)
