
# Similar to a "run all tasks" script, this will be the function that runs all the tasks that would be in the ForME scripts (maybe removed at some point from that folder )

## When this is called ... all the general checks and specific checks are DONE ... no need to redo checks

function xmetalTasks() {

	clear

	fancy_message info "Xmetal Task's selected"
	fancy_message question "Are you sure you want to run these tasks back to back?"
	
	fancy_message warn "If you interrupt them when they are running, there MAY be problems, down the road"
	echo 

	read -r -p "Your Choice? (Y/N)" xmetalTasksChoice

	case ${xmetalTasksChoice} in

	[yY])

		# optimize mirrors/repo function for faster downloads
		# Location: /functions/universal/pmanagement/f_pmanagement.cfg

		clear
		fancy_message action "(If applicable) Optimizing Repos/Mirrors"
		optimizeRepo
		fancy_message info "Mirror/Repo Optimizing Done"
		userPrompt
		clear

		##################################################################

		# Universal Updater
		fancy_message action "Updating Packages"
		universalUpdate
		fancy_message info "Packages Updated"
		userPrompt
		clear

		#################################################################
		# Third party repo function
		## THIS DOES add (if Fedora) RPMFusion [both repos], (if openSuse) the general Packman repo

		fancy_message action "(If applicable) Adding Extra Repos"
		
		# the point of this case statement is that since this function is used for PPAs too on Ubuntu based distros this may 
		# not make sense here ... but on OpenSUSE/Fedora this installs what i want, listed above 
		case ${distroBase} in 
			fedora|opensuse) universalAddRepo ;; 
		esac 


		userPrompt
		clear

		####################################################################
		# Codec installation
		# location: /functions/universal/software/f_multimediaSoftware.cfg

		# I decided to put this here as some distros need the third party repo added first but i wanted to do a full update BEFORE anything third party was added ... before THAT
		fancy_message action "Installing Codecs"
		universalCodecInstall
		userPrompt

		#######################################################################
		# Add Common software, function

		#Installs software located in most distro bases
		# This function has the seperate Firefox and Bleachbit function calls in it
		#massSoftwareInstall

		#installs vscode
		#install XNViewMP
		# tiny Media Manager install
		# etcher install
		#installMakeMKV

		clear
		fancy_message action "Installing commonly used Apps"
		fancy_message warn "* There are some third party apps downloaded here"

		universalSoftwareInstaller

		userPrompt

		##############################################################################
		# Install OMF - fish shell, Oh-My-Fish for the fish shell, and some OMF addons
		# location: /function/universal/software/f_cli_related.cfg
		clear
		fancy_message action "Installing fish shell and Oh-My-Fish Addition"

		metaInstallFishShell

		fancy_message info "Fish shell Added"
		userPrompt

		##############################################################

		clear
		fancy_message action "Installing some common theming"
		metaThemeInstall
		fancy_message info "Theming Added"
		userPrompt

		# Vivaldi/ Google Chrome?

		fancy_message info "Xmetal's Batch scripts are DONE"
		userPrompt
		clear

		;;

	[nN]) return ;;

	*) fancy_message warn "Invalid Selection" ;;

  esac

}

