# include variables config file
## DO NOT shorten this first line, but others can be shortened
## fancy_message cant be used here since it's not declared until f_from_debget.cfg
echo "Loading Variables"
. ${dir}/functions/f_variables.cfg

## DO NOT MOVE above call ... this SHOULD be first
. ${functionsDir}/f_timeVariables.cfg


# random stuff from the great project "deb-get"
. ${functionsDir}/f_from_debget.cfg


# These contain code that determines WHAT BRANCH or version of a distro base is being used
fancy_message info "Loading config files for individual distro checks"
. ${checkDir}/includeCheckDir.cfg


fancy_message info "Loading config files containing info on what distro and DE is being used"
. ${infoDir}/includeInfoDir.cfg

# global functions and vars
. ${functionsDir}/f_common.cfg

# This is for bug-fixing .. re-word this later
fancy_message info "Loading Universal Config files"
. $uniFunctionDir/includeUniversalFunctions.cfg
. ${functionsDir}/includeSpecificDistroCfg.cfg
. ${functionsDir}/gitRelated/gitFunctions.cfg


fancy_message info "Loading common and Menu config files"
. ${menusDir}/includeMenus.cfg

