# include variables config file
## DO NOT shorten this first line, but others can be shortened 
. $dir/functions/f_variables.cfg
## DO NOT MOVE above call ... this SHOULD be first 


echo -e "Loading loading common and Main Menu config files "

# global functions and vars 
. $functionsDir/f_common.cfg


# These contain code that determines WHAT BRANCH or version of a distro base is being used 
echo 
echo "Loading config files for individual distro checks"
. $checkDir/includeCheckDir.cfg


echo 
echo -e "Loading config files containing info on what distro and DE is being used"
. $infoDir/includeInfoDir.cfg


# This is for bug-fixing .. re-word this later 
echo 
echo -e "Loading Universal Config files"
. $uniFunctionDir/includeUniversalFunctions.cfg


. $functionsDir/includeSpecificDistroCfg.cfg


. $functionsDir/includeSpecificDistroCfg.cfg


# Menus for each of the main distro bases, are here 
. $functionsDir/f_mainMenus.cfg
