## Not sure ATM if vars or functions are a better idea

## "Guide used" : https://misc.flogisoft.com/bash/tip_colors_and_formatting

completeReset="\e[0m"

bold="\e[1m"
italic="\e[3m"
underline="\e[4m"

# FORGROUND colors
fgdefaut="\e[39m"
fgblack="\e[30m"
fglightred="\e[91m"
fglightblue="\e[94m"
fgblue="\e[34m"
fglightyellow="\e[93m"
fglightgreen="\e[92m"

# Light-blue-ish
fglightcyan="\e[96m"

# BACKGROUND colors
bgdefaut="\e[49m"
bglightred="\e[101m"
bglightblue="\e[104m"
bgblue="\e[44m"


#############################

equalSignBorder=$(printf "%*s" $COLUMNS |tr " " "=")


