###########################################################
## IDEA: make this displayable from various parts of the scripts so if people forget different info, they can just hit a button and this function is called

## the only point for this is TESTING only ... a normal user wouldn't see this function's output

function lsbReleaseOutput()
{

    # more Exact name? ... this could be handy 
    lsbDistribID=$(lsb_release -si)


    echo
    echo -e "${bold}LsbDescription: ${completeReset} $lsbDescription "
    echo -e "${bold}lsbRelease: ${completeReset} $lsbRelease "
    echo -e "${bold}lsbCodeName: ${completeReset} $lsbCodename "
    echo -e "${bold}Lsb Distribution ID: ${completeReset} $lsbDistribID "
}



function osreleaseFileOutput()
{

  echo -e "${bold}OSRELEASE_NAME:${completeReset}" $OSRELEASE_NAME
  echo -e "${bold}OSRELEASE_IDLIKE: ${completeReset}"  $OSRELEASE_IDLIKE
  echo -e "${bold}OSRELEASE_ID: ${completeReset}" $OSRELEASE_ID
  echo -e "${bold}OSRELEASE_VERSIONID: ${completeReset}" $OSRELEASE_VERSIONID
  echo -e "${bold}OSRELEASE_VERSION: ${completeReset}" $OSRELEASE_VERSION

  case $distroBase in 

    ubuntu) 
      echo
      echo "${bold}OSRELEASE_UBUNTU_CODENAME:${completeReset} " $OSRELEASE_UBUNTU_CODENAME
      echo
      ;;

  esac 
 

}

## not sure where i planned to call this from, but ... leave it for now anyway .... seems like more of a "test" output thing for debugging 
function distroPackageManagementOutput()
{
 echo
  echo -e "PACKAGE INFO test output"
  echo "Your distro's install command is: " $install
  echo "Your distro's refresh command is: " $refresh
  echo "Your distro's update/upgrade command is: " $update
  echo

  return 

}

function mainDisplayDistroInfo()
{
  # clear
  # osreleaseFileOutput

  #######################################################
  ## Keep for now ...
  ## echo -e "Your Desktop Environment:\t\t\t ${bold}$desktopNameWVersion ${completeReset}"
  ## echo -e "Your GTK Version:\t\t\t\t ${bold} ${gtkVersion:0:7} ${completeReset} \n"
  #########################################################

  # distroPackageManagementOutput
  
  # echo "Your Desktop: " $DE
  #echo
  #echo "install software test: $install $software"
  #echo
  #echo "GTK Version Detected: " $gtkVersion
  #userPrompt

  echo -e "Your distro's End of Life is: $EOL"
}

function distroBranchOutput()
{
  case $distroBase in 

    debian) 
        echo -e "Debian Base detected: $debianBranch" ;; 


    fedora) echo -e "Fedora Branch detected: Fedora $fedoraVersion" ;;

    opensuse) 
      echo -e "OpenSuse Branch detected: $openSUSEBranch " ;; 

    ubuntu) 
      # TODO

      return ;; 

    *) return ;; 

  esac 

}


function massInfoOutput()
{
    clear
    lsbReleaseOutput

    # For a space between the two 
    echo

    osreleaseFileOutput

    echo
    echo -e "Distro Base detected: $distroBase"

    distroBranchOutput

    case $supported in 

      yes) echo -e "The distrobution and version you are on${bold} IS ${completeReset}currently supported"
          # TODO display EOL info here 
          ;; 

      no) echo -e "The distrobution and version you are on${bold} IS NOT ${completeReset}currently supported" ;;

      *) echo -e "Support status for your distrobution and version, not detected"  ;; 

    esac 

    # for a space
    echo 

    echo -e "${bold} Your distrobution's EOL is: ${completeReset} $EOL"

    userPrompt

}