###########################################################
## IDEA: make this displayable from various parts of the scripts so if people forget different info, they can just hit a button and this function is called

## the only point for this is TESTING only ... a normal user wouldn't see this function's output

function lsbReleaseOutput()
{

    # more Exact name? ... this could be handy 
    lsbDistribID=$(lsb_release -si)


    echo
    echo -e "LsbDescription: $lsbDescription"
    echo -e "lsbRelease: $lsbRelease"
    echo -e "lsbCodeName: $lsbCodename"
    echo -e "Lsb Distribution ID: $lsbDistribID"
}



function osreleaseFileOutput()
{

echo "OSRELEASE_NAME:" $OSRELEASE_NAME
  echo "OSRELEASE_IDLIKE: "  $OSRELEASE_IDLIKE
  echo "OSRELEASE_ID: " $OSRELEASE_ID
  echo "OSRELEASE_VERSIONID: " $OSRELEASE_VERSIONID
  echo "OSRELEASE_VERSION: " $OSRELEASE_VERSION

  case $distroBase in 

    ubuntu) 
      echo
      echo "OSRELEASE_UBUNTU_CODENAME: " $OSRELEASE_UBUNTU_CODENAME
      echo
      ;;

  esac 
 

}

## not sure where i planned to call this from, but ... leave it for now anyway 
function distroPackageManagementOutput()
{
 echo
  echo -e "PACKAGE INFO test output"
  echo "Your distro's install command is: " $install
  echo "Your distro's refresh command is: " $refresh
  echo "Your distro's update/upgrade command is: " $update
  echo

  return 

}

function mainDisplayDistroInfo()
{
  # clear
  # osreleaseFileOutput

  #######################################################
  ## Keep for now ...
  ## echo -e "Your Desktop Environment:\t\t\t ${bold}$desktopNameWVersion ${completeReset}"
  ## echo -e "Your GTK Version:\t\t\t\t ${bold} ${gtkVersion:0:7} ${completeReset} \n"
  #########################################################

  # distroPackageManagementOutput
  
  # echo "Your Desktop: " $DE
  #echo
  #echo "install software test: $install $software"
  #echo
  #echo "GTK Version Detected: " $gtkVersion
  #userPrompt

  echo -e "Your distro's End of Life is: $EOL"
}

function distroBranchOutput()
{
  case $distroBase in 

    debian) 
        echo -e "Debian Base detected: $debianBranch" ;; 


    fedora) echo -e "Fedora Branch detected: Fedora $fedoraVersion" ;;

    opensuse) 
      echo -e "OpenSuse Branch detected: $openSUSEBranch " ;; 

    ubuntu) 
      # TODO

      return ;; 

    *) return ;; 

  esac 

}


function massInfoOutput()
{
    clear
    lsbReleaseOutput

    osreleaseFileOutput

    echo
    echo -e "Distro Base Detected: $distroBase"

    distroBranchOutput

    userPrompt

}