# checks to see if app is already installed 

# Takes 2 arguments
    ## $1 is the program name (progName?)
    ## $2 is the flatpak id
is_app_installed() {
    local package="$1"
    local flatpak_id="$2"

    # native binary or AM install (https://github.com/ivan-hc/AM)
    ## if native package is installed or installed via AM already, return 
    ## nothing else to do
    if command -v "$package" >/dev/null 2>&1; then
        return 0
    fi

    # flatpak
    ## if length of flatpak_id is non-zero AND flatpak is installed, go 
    ## to nested loop
    if [ -n "$flatpak_id" ] && command -v flatpak >/dev/null 2>&1; then
        
        # if flatpak of app is already installed, exit ... nothing else to do
        if flatpak info "$flatpak_id" >/dev/null 2>&1; then
            return 0
        fi
    fi

    return 1
}

# checks of package is in the default repo
repo_has_pkg() {
    local pkg="$1"

    case "$distroBase" in
        debian|ubuntu)
            apt-cache show "$pkg" >/dev/null 2>&1
        ;;
        fedora)
            dnf info "$pkg" >/dev/null 2>&1
        ;;
        arch)
            pacman -Si "$pkg" >/dev/null 2>&1
        ;;
        suse)
            zypper info "$pkg" >/dev/null 2>&1
        ;;
        solus)
            eopkg info "$pkg" >/dev/null 2>&1
        ;;
    esac
}

# (if not installed, when this is called) install package via native methods
install_app_natively() {
    local pkg="$1"

    # is this even needed as a check?
    case "$distroBase" in
        arch|debian|fedora|opensuse|solus|ubuntu)
            $install "$pkg"
        ;;

    esac
}