# Placeholder file, to prevent issues with the script running

## This function gets called from a parent function 
function defaultUsefulAppsInstall()
{
  
  appNumber=0
  while read line
  do
    usefulApps[appNumber]="$line"
    appNumber=$appNumber+1

  done < ${defaultUsefulAppsFile}


  # This, is what was in my test. 
  ## FIRST, i should do an echo "test"
  clear
  echo -e "\nUsefulAppList:"
  echo -e "${usefulApps[@]}"
  userPrompt

  ### The final thing is, I want to send ${usefulApps[@]} to the installApps function"
  #echo "sudo eopkg install ${usefulApps[@]}"

}