# Include package management related directory

fancy_message info "Loading Universal function config files"

. ${uniFunctionDir}/f_bashformatting.cfg

fancy_message info "Loading Software config files"
. ${uniFunctionDir}/software/includeSoftwareFunctions.cfg

fancy_message info "Loading Theme related config files"
. ${uniFunctionDir}/tic/f_universalThemes.cfg

fancy_message info "Loading Distro Cleaning code"
. ${uniFunctionDir}/cleanup/includeCleaningDir.cfg
