# Include package management related directory

echo -e "including Universal function config files"

. ${uniFunctionDir}/f_bashformatting.cfg

echo -e "\nLoading Software config files"
. ${uniFunctionDir}/software/includeSoftwareFunctions.cfg

echo -e "Loading Theme related config files "
. ${uniFunctionDir}/tic/f_universalThemes.cfg

echo -e "Including Distro Cleaning code"
. ${uniFunctionDir}/cleanup/includeCleaningDir.cfg

# random stuff from the great project "deb-get"
. ${uniFunctionDir}/f_from_debget.cfg 