# Include package management related directory

echo -e "including Universal function config files"

#called earlier then here so i commented this out ... think i needed this for distro detection
# so i called this earlie r
#. $uniFunctionDir/pmanagement/includePackageManager.cfg

. $uniFunctionDir/f_bashformatting.cfg

echo -e "\nLoading Software config files"
. $uniFunctionDir/software/includeSoftwareFunctions.cfg

echo -e "Loading Theme related config files "
. $uniFunctionDir/tic/f_universalThemes.cfg

echo -e "Including Menu config files "
. $uniFunctionDir/menus/includeMenus.cfg

echo -e "Including Distro Cleaning code"
. $uniFunctionDir/cleanup/includeCleaningDir.cfg
