//output:ScriptStatus.html

H1 Status of Scripts

  H2 Arch Scripts
    p Status - Not Tested since my current install is Antergos where most of the scripts I made are pre-done 


  H2 Fedora Scripts

  H2 OpenSuse Scripts 

  H2 Ubuntu Scripts 
    H3 Update System - Status -
    H3 Add Theme and Icon PPA - Status - Works
      p better support for sorting between distro branches is needed 
    
    H3 Budgie Remix / Ubuntu Budgie Theming addition - Status - Function can not be found 
