## This file is for adding third party repos 
# This is for 16.10 or ABOVE

function budgieRemixPPA
{
  
  # PPA only supports xenial (16.04) and Yakkety (16.10 which is EOL) only 

  ## Put a check for ubuntuname=xenial here 

	  echo -e "Adding PPA for Ubuntu Budgie (formerly Budgie Remix) and Refreshing repos"
	  addPPA ppa:budgie-remix/ppa

	  universalUpgrade

}

function ubuntuBudgieBackportsPPA
{
	## This MAY be the more updated/new/whatever version of the PPA I should use, vs Budgie-Remix 

	## Support Xenial (16.04) to 18.04 though what packages are avaiable, differs 

	addPPA ppa:ubuntubudgie/backports
}


function noobslabThemes
{
  	universalAddRepo ppa:noobslab/icons2 && universalAddRepo ppa:noobslab/icons && universalAddRepo ppa:noobslab/themes
}

function addLTSThemePPAs
{
  
  	# ravefinity-project/ppa - for Trusty to Zesty (now anyway)
  	## Has various ambience, radience themes and humanity-colors, among other packages 
    
  	#ppa:noobslab/nitrux-os - Trusty (not counting EOL releases) only 

  	# ppa:moka/stable - Xenial only, it seems 



    universalAddRepo ppa:ravefinity-project/ppa && universalAddRepo ppa:moka/stable && universalAddRepo ppa:noobslab/nitrux-os && universalAddRepo ppa:noobslab/potenza && universalAddRepo ppa:noobslab/evolvere
}
