<<<<<<< HEAD

<<<<<<< HEAD
main_menu=(
=======

=======
>>>>>>> 975ee957 (menu work and cleanup)
mainMenuArray=(
>>>>>>> 11543977 (menu work and code refactoring)
    1 'Update System'
    2 'Optimize Mirrors'
    3 'Arch Related'
    4 'Debian Related'
    5 'Fedora Related'
    6 'OpenSUSE Related'
    7 'Solus Related'
    8 'Ubuntu Related'
	C 'Install Multimedia Codecs'
	I 'Display Info about current install'
	R "Install Third Party Codecs"
    S 'Install Software'
    T 'Install Theming'
	X 'Xmetal Bulk Tasks'
	Q 'Quit To Prompt'
)

# Idea: for either type of Menu
function mainMenuCaseStatement() {

	case $mainMenuSelection in

		1) universalUpdate

            ## For updating Snaps and/or Flatpaks
            universalAppUpdates
            ;;

        2) optimizeRepo ;;

        # Located in /functions/f_mainSubMenus.cfg
<<<<<<< HEAD
<<<<<<< HEAD
        3) archMenuType ;;
        4) debianMenuType ;;
        5) fedoraMenuType ;;
        6) openSUSEMenuType ;;
        7) solusMenuType ;;
        8) ubuntuMenuType ;;
<<<<<<< HEAD
=======
        3)  archMenuEcho ;;
        4) mainDebianMenu ;;
=======
        3) archMenuType ;;
        4) debianMenuType ;;
>>>>>>> 975ee957 (menu work and cleanup)
        5) mainFedoraMenu ;;
        6) mainOpenSUSEMenu ;;
        7) mainSolusMenu ;;
        8) mainUbuntuMenu ;;
>>>>>>> 11543977 (menu work and code refactoring)
=======
>>>>>>> ff955b73 (menu work)

        [cC]) universalCodecInstall ;;
        [iI]) massInfoOutput ;;
        [rR]) thirdPartyRepoCheck ;;
        [sS]) universalSoftwareMenu ;;
        [tT]) universalThemingMenu ;;
        [xX]) xmetalTasks ;;
        [qQ])
			quitScript
			menuLoop=1
			break
			;;
        *) invalidSection ;;

	esac
}



# night time note: there is no looping yet
function mainMenuDialog(){

	TITLE="Main Menu"
	HEIGHT=25
	WIDTH=65
	CHOICEHEIGHT=15

	mainMenuSelection=$(dialog 	--title "$TITLE" \
						--backtitle "$BACKTITLE" \
						--menu "$MENU" \
						$HEIGHT $WIDTH $CHOICEHEIGHT \
						"${mainMenuArray[@]}" \
						3>&2 2>&1 1>&3)

	mainMenuCaseStatement

	# still needed?
	menuLoop

}

<<<<<<< HEAD
function mainMenuEcho() {
	echoMenuLoop
}
#####################################################

# META function for main Menu
function mainMenuType() {
	baseMenuName="mainMenu"
	menuArrayName="main_menu"
	menuTitle="Xmetal Linux Scripts Main Menu"
	currentMenuCaseStatementName="mainMenuCaseStatement"
	currentMenuSelectionVar="mainMenuSelection"

	# this is needed here but not in the submenus
	detectMenuVariant
	assignMenuName

	$menuName


=======

#######################################################


function mainMenuEcho() {
	menuArrayName="mainMenu"
	menuName=$menuArrayName"Echo"
	menuTitle="Xmetal Linux Scripts Main Menu"
	currentMenuCaseStatementName="mainMenuCaseStatement"
	currentMenuSelectionVar="mainMenuSelection"

	echoMenuLoop

}
#####################################################

# META function
function mainMenuType() {
	menuName="mainMenu"

<<<<<<< HEAD
# problem: when coming here from a submenu, it will always loop back to the main menu when i want it to loop to that
#submenu


function selectMenuType() {
	[ $menuType="dialog" ] && mainMenuDialog fi
	[ $menuType="echo" ] && mainMenuEcho fi
>>>>>>> 11543977 (menu work and code refactoring)
=======
	detectMenuVariant
>>>>>>> 975ee957 (menu work and cleanup)
}