<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

<<<<<<< HEAD
main_menu=(
=======

=======
>>>>>>> 975ee957 (menu work and cleanup)
mainMenuArray=(
>>>>>>> 11543977 (menu work and code refactoring)
=======

main_menu=(
>>>>>>> 8756e7bb (menu work)
=======
main_menu_items=(
>>>>>>> b574982e (most all menus working)
    1 'Update System'
    2 'Optimize Mirrors'
    3 '[Sub-Menu] Arch Related'
    4 '[Sub-Menu] Debian Related'
    5 '[Sub-Menu] Fedora Related'
    6 '[Sub-Menu] OpenSUSE Related'
    7 '[Sub-Menu] Solus Related'
    8 '[Sub-Menu] Ubuntu Related'
	9 '[Sub-Menu] Cleanup Linux System'
	C 'Install Multimedia Codecs'
	I 'Display Info about current install'
	R "Check/Install Third Party Repositories"
    S '[Sub-Menu] Install Software'
    T '[Sub-Menu] Install Theming'
	X 'Xmetal Bulk Tasks'
	Q 'Quit To Prompt'
)

# Idea: for either type of Menu
function mainMenuCaseStatement() {

	case $currentMenuSelection in

		1) universalUpdate

            ## For updating Snaps and/or Flatpaks
            universalAppUpdates
            ;;

        2) optimizeRepo ;;

        # Located in /functions/f_mainSubMenus.cfg
<<<<<<< HEAD
<<<<<<< HEAD
        3) archMenuType ;;
        4) debianMenuType ;;
        5) fedoraMenuType ;;
        6) openSUSEMenuType ;;
        7) solusMenuType ;;
        8) ubuntuMenuType ;;
<<<<<<< HEAD
<<<<<<< HEAD
=======
        3)  archMenuEcho ;;
        4) mainDebianMenu ;;
=======
        3) archMenuType ;;
        4) debianMenuType ;;
>>>>>>> 975ee957 (menu work and cleanup)
        5) mainFedoraMenu ;;
        6) mainOpenSUSEMenu ;;
        7) mainSolusMenu ;;
        8) mainUbuntuMenu ;;
>>>>>>> 11543977 (menu work and code refactoring)
=======
>>>>>>> ff955b73 (menu work)
=======
		9) cleanupMenuType ;;
>>>>>>> 92a2e0de (first part of distro cleanup code)

        [cC]) universalCodecInstall ;;
        [iI])
				massInfoOutput
				clear
				;;
        [rR]) thirdPartyRepoNotice ;;
        [sS]) mainSoftwareMenuType ;;
        [tT]) universalThemingMenuType ;;
        [xX]) xmetalTasks ;;
        [qQ]) quitScript ;;
        *) invalidSection ;;

	esac

}

# night time note: there is no looping yet
function mainMenuDialog(){
    createDialogMenu
}

<<<<<<< HEAD
<<<<<<< HEAD
function mainMenuEcho() {
    createEchoMenu
}

# META function for main Menu
function mainMenuType() {

	baseMenuName="mainMenu"
	menuTitle="Xmetal Linux Scripts Main Menu"
	currentMenuCaseStatementName="mainMenuCaseStatement"

	declare -n menuArrayName=main_menu_items
	declare -n currentMenuSelection=mainMenuSelection

 	# this is needed here but not in the submenus, there this is already known
	detectMenuVariant

	$menuName
<<<<<<< HEAD


=======

#######################################################


=======
>>>>>>> 8756e7bb (menu work)
function mainMenuEcho() {
	echoMenuLoop
}
#####################################################

# META function for main Menu
function mainMenuType() {
	baseMenuName="mainMenu"
	menuArrayName="main_menu"
	menuTitle="Xmetal Linux Scripts Main Menu"
	currentMenuCaseStatementName="mainMenuCaseStatement"
	currentMenuSelectionVar="mainMenuSelection"

<<<<<<< HEAD
	echoMenuLoop

}
#####################################################

# META function
function mainMenuType() {
	menuName="mainMenu"

<<<<<<< HEAD
# problem: when coming here from a submenu, it will always loop back to the main menu when i want it to loop to that
#submenu


function selectMenuType() {
	[ $menuType="dialog" ] && mainMenuDialog fi
	[ $menuType="echo" ] && mainMenuEcho fi
>>>>>>> 11543977 (menu work and code refactoring)
=======
	detectMenuVariant
>>>>>>> 975ee957 (menu work and cleanup)
=======
	# this is needed here but not in the submenus
	detectMenuVariant
	assignMenuName

	$menuName


>>>>>>> 8756e7bb (menu work)
=======
>>>>>>> b574982e (most all menus working)
}