. $menusDir/f_batchMenuFunctions.cfg
. $menusDir/f_mainMenus.cfg

# Sub menus
. $menusDir/submenus/f_archSubMenus.cfg
. $menusDir/submenus/f_debianSubMenus.cfg
. $menusDir/submenus/f_fedoraSubMenus.cfg
. $menusDir/submenus/f_opensuseSubMenus.cfg
. $menusDir/submenus/f_solusSubMenus.cfg
. $menusDir/submenus/f_ubuntuSubMenus.cfg