echo -e "loading data related to the main menu"
. $menusDir/f_batchMenuFunctions.cfg
. $menusDir/f_mainMenus.cfg

subMenusFolder=". $menusDir/submenus/"
distroBasesMenuFolder="$subMenusFolder/distrobases"

echo -e "Loading Data related to distro base submenus"
# Sub menus for distro bases
$distroBasesMenuFolder/f_archSubMenus.cfg
$distroBasesMenuFolder/f_debianSubMenus.cfg
$distroBasesMenuFolder/f_fedoraSubMenus.cfg
$distroBasesMenuFolder/f_openSUSESubMenus.cfg
$distroBasesMenuFolder/f_solusSubMenus.cfg
$distroBasesMenuFolder/f_ubuntuSubMenus.cfg


$subMenusFolder/f_cleanupMenus.cfg
$subMenusFolder/f_universalAppSubMenu.cfg
$subMenusFolder/f_themingSubMenus.cfg