<<<<<<< HEAD
<<<<<<< HEAD
. $menusDir/f_batchMenuFunctions.cfg
. $menusDir/f_mainMenus.cfg

# Sub menus
. $menusDir/submenus/f_archSubMenus.cfg
. $menusDir/submenus/f_debianSubMenus.cfg
. $menusDir/submenus/f_fedoraSubMenus.cfg
. $menusDir/submenus/f_opensuseSubMenus.cfg
. $menusDir/submenus/f_solusSubMenus.cfg
. $menusDir/submenus/f_ubuntuSubMenus.cfg
=======

. $menusDir/f_batchMenuFunctions.cfg
. $menusDir/f_mainMenus.cfg


# Sub menus 
<<<<<<< HEAD
. $menusDir/f_archSubMenus.cfg
>>>>>>> 11543977 (menu work and code refactoring)
=======
=======
. $menusDir/f_batchMenuFunctions.cfg
. $menusDir/f_mainMenus.cfg

# Sub menus
>>>>>>> 8756e7bb (menu work)
. $menusDir/submenus/f_archSubMenus.cfg
. $menusDir/submenus/f_debianSubMenus.cfg
. $menusDir/submenus/f_fedoraSubMenus.cfg
. $menusDir/submenus/f_opensuseSubMenus.cfg
. $menusDir/submenus/f_solusSubMenus.cfg
. $menusDir/submenus/f_ubuntuSubMenus.cfg
>>>>>>> 975ee957 (menu work and cleanup)
