
#######################################
# To move to another .cfg file later

function arcThemeNative
{
    ## https://software.opensuse.org/download.html?project=home%3AHorst3180&package=arc-theme

    echo -e "Visit the Offical Github page at: https://github.com/horst3180/Arc-theme"

  # If Arch



  # If OpenSuse

    ## Tumbleweed URL - http://software.opensuse.org/ymp/home:Horst3180/openSUSE_Tumbleweed/arc-theme.ymp

    ## Leap 42.1 URL -http://software.opensuse.org/ymp/home:Horst3180/openSUSE_Leap_42.1/arc-theme.ymp

    # Leap 42.2 URL - http://software.opensuse.org/ymp/home:Horst3180/openSUSE_Leap_42.2/arc-theme.ymp


  # If Ubuntu
  ## For 16.04
    sudo sh -c "echo 'deb http://download.opensuse.org/repositories/home:/Horst3180/xUbuntu_16.04/ /' > /etc/apt/sources.list.d/arc-theme.list"
    sudo apt-get update
    sudo apt-get install arc-theme

    ## For 16.04
    sudo sh -c "echo 'deb http://download.opensuse.org/repositories/home:/Horst3180/xUbuntu_14.04/ /' > /etc/apt/sources.list.d/arc-theme.list"
    sudo apt-get update
    sudo apt-get install arc-theme

}
