[Desktop Entry]
Encoding=UTF-8
Exec=/home/$USER/Downloads/eclipse/eclipse
Icon=/home/$USER/eclipse-version/eclipse/icon.xpm
Type=Application
Terminal=false
Comment=Tiny Media Manager
Name=Tiny Media Manager
GenericName=eclipse-4.4 M4
StartupNotify=false
Categories=Video;Videos;