################################################################
# Another IDEA to check distro based on the package manager 

### This all is probably not needed for the way i decided to do things, but I will leave it for now

function guessDistroPackageManager
{

    # https://stackoverflow.com/questions/592620/check-if-a-program-exists-from-a-bash-script may be really helpful


    if [[$(command -v apt) || $(command -v apt-get) || $(command -v aptitude)]]; then
      ## Maybe do another test but its safe to assume its Ubuntu or Debian based

      distroBase="ubuntu"


      ### A Check for which version needs to go here

      break


    elif [ [ $(command -v dnf) ] || [ $(command -v yum) ] || [ -e "/etc/fedora-release" ] ]; then
      ## IF YUM ... display message about distro POSSIBLY being out of date ..

      distroBase="redhat"
      distro="fedora"

      break


    # Check for characteristics of Arch Linux
    elif [[$(command -v pacman) || $(command -v yaourt) ]]; then
      distroBase="arch"

      break

    # Check for OpenSuse
    ## The first part is JUST checking if /etc/SuSE-release, exists 
    
    elif [[$(-f /etc/SuSE-release) || $(command -v zypper)]]; then
      distroBase="opensuse"

      break

    else
      echo -e "Can not Determine distro"

   fi

}


