
function deadbeefInstall
{

  programName="DeadBeef Media Player"
  programHomepage="http://deadbeef.sourceforge.net/"
  DEBURL="http://sourceforge.net/projects/deadbeef/files/debian/deadbeef-static_0.7.2-2_amd64.deb/download"


  # OpenSuse should be ok, Solus has this in the repos ... Fedora and the Ubuntu base is what needs work 


  # Step 1 - Pass to download function (stripURLInfo type function is called WITHIN there)

    
  ## Shouldn't this be checking $extfinal (that would be the final file extension with any extra goofy stuff stripped out) instead of the distro base? 

    if [ "$distroBase" == 'ubuntu' ]; then

      packageURL=$DEBURL

    elif [ "$distroBase" == 'fedora' ]; then

      # RPM needed
      ## I got it from a third party site ... what is the "most official" way to get this? 
      echo -e "filler"

    else

       # The catch-all step
       echo "Deadbeef not installed. You are not (detected to be..) on a supported distro for my scripts"
    fi

    ## Moved install line outside of the loop and removed arch check since its in the pacman repos

    ## since this is now in the leap and Tumbleweed repos, a simple install line is all that is needed now 
    
    installApp deadbeef
}

#################################################################



function equalizerInstall
{
    programName="Pulse Audio Equalizer"
    packageName="pulseaudio-equalizer"
    ## Function for pulse-audio equalizer
 
    #installApp $packageName

}


function filebotInstall
{
  ## Java has to be installed

  programName="Filebot"
  programHomepage=https://sourceforge.net/projects/filebot/
  
  ## get the $filenameWEXT var later that is the same thing ... just (in template?) assign $packageName to that var's content 
  
  DEBURL=https://sourceforge.net/projects/filebot/files/filebot/FileBot_4.7.9/filebot_4.7.9_amd64.deb/download




   if [ "$distroBase" == 'ubuntu' ]; then
        echo -e "Add the way to install the DEB"
        packageURL=$DEBURL

    elif [ "$distroBase" == 'arch' ]; then
        echo -e "Filler ... AUR code needed, here i think "
    else
       echo "FILLER TEXT FOR NOW ... "
    fi


}



##########################################

function tinyMediaManagerInstall
{
  ## Note to self: Java has to be installed

  programName="Tiny Media Manager"
  programHomepage=""
 
  packageUrl=https://release.tinymediamanager.org/dist/tmm_2.9.8_6644bb9_linux.tar.gz

  # Setup temp location for download 
  mkdir ~/Documents/tmm
  cd ~/Documents/tmm

  ## Pass to function to get info and download file 
  downloadFile $programName $packageURL


  # filenameWEXT needs to get to the next function but DO I need to pass anything? or is this var "just known" without a pass ?
  extractDownload 
  





  clear
  echo -e "Extracting Tiny Media Manager archive"
  mkdir tinyMediaManager
  tar -xvzf $packageName -C tinyMediaManager
  clear
  echo -e "File Extracted"
  userPrompt

  echo -e "Moving Tiny Media Directory to The home directory's Download folder"
  mv tinyMediaManager/ ~/Documents
  userPrompt

  # Cleanup
  clear
  echo "Cleanup Un-needed folder"
  cd ..

  ## Idea: I should put a check in here to make sure i am in the correct directory before I rm anything
  rm -rf tmm/
  userPrompt

}
###########################################
