
#################################################################################
function deadbeefInstall
{

  programName="DeadBeef Media Player"
  programHomepage=http://deadbeef.sourceforge.net/
  DEBURL=http://sourceforge.net/projects/deadbeef/files/debian/deadbeef-static_0.7.2-2_amd64.deb/download

  # NOTE TO SELF: DEADBEEF IS NOW IN ALOT OF default repos
  # Note to self: Leap and Tumbleweed has this repos

  # Step 1 - Pass to download function (stripURLInfo type function is called WITHIN there)

    
    if [ "$distroBase" == 'ubuntu' ]; then

      packageURL=$DEBURL

    elif [ "$distroBase" == 'fedora' ]; then

      # RPM needed

    elif ["$distroBase" == 'solus']; then
      sudo eopkg install deadbeef

    else
       # The catch-all step
       echo "FILLER TEXT FOR NOW ... "
    fi

    ## Moved install line outside of the loop and removed arch check since its in the pacman repos

    ## since this is now in the leap and Tumbleweed repos, a simple install line is all that is needed now 
    
    installApp deadbeef
}

#################################################################



function equalizerInstall
{
    programName="Pulse Audio Equalizer"
    packageName="pulseaudio-equalizer"
    ## Function for pulse-audio equalizer
 
    #installApp $packageName

}


function filebotInstall
{
  ## Java has to be installed

  programName="Filebot"
  
  programHomepage=https://sourceforge.net/projects/filebot/
  
  packagName=filebot_4.7.9_amd64.deb
  
  DEBURL=https://sourceforge.net/projects/filebot/files/filebot/FileBot_4.7.9/filebot_4.7.9_amd64.deb/download




   if [ "$distroBase" == 'ubuntu' ]; then
        echo -e "Add the way to install the DEB"
        url=$DEBURL

    elif [ "$distroBase" == 'arch' ]; then
        echo -e "Filler ... AUR code needed, here i think "
    else
       echo "FILLER TEXT FOR NOW ... "
    fi


}



##########################################
## How can I (for future tarballs too) "template-afy"
function tinyMediaManagerInstall
{
  ## Note to self: Java has to be installed

  programName="Tiny Media Manager"
  programHomepage=""
  packageName="tmm.tar.gz"
  url=https://release.tinymediamanager.org/dist/tmm_2.9.8_6644bb9_linux.tar.gz


  mkdir ~/Documents/tmm
  cd ~/Documents/tmm

  ## The ext doesn't matter here 
  ## Pass to function to get info and download file 

  
  downloadFile



  





  clear
  echo -e "Extracting Tiny Media Manager archive"
  mkdir tinyMediaManager
  tar -xvzf $packageName -C tinyMediaManager
  clear
  echo -e "File Extracted"
  userPrompt

  echo -e "Moving Tiny Media Directory to The home directory's Download folder"
  mv tinyMediaManager/ ~/Documents
  userPrompt

  # Cleanup
  clear
  echo "Cleanup Un-needed folder"
  cd ..

  ## Idea: I should put a check in here to make sure i am in the correct directory before I rm anything
  rm -rf tmm/
  userPrompt

}
###########################################
