###########################################

function universalThemingMenu
{
	# The idea is to have basic theme stuff here but not too much ... maybe my top 2 or 3 favorites .... I DO have my theming git repo that i plan to "fill out" with themes but this is for a few really good themes so people can do it from inside of these scripts/"this git repo" and not have to go do the other one for some of (my OPINION) THE BEST themes 

		clear
		x=1

		while [[ $x=1 ]]; do

			echo -e "Menu"
			echo -e "1. \t Install Adapta Theme"
			echo -e "2. \t Install Arc Theme"
			echo -e "3. \t Install Mint-Y Theme"
			echo -e "4. \t Install Numix Theme"
			echo -e "5. \t Install Plata Theme"

			read -p  "Your Choice?:" themingSelection

			case $themingSelection in


			  1) adaptaThemeMetaInstall
				x=1
				;;

				2) 
				x=1
				;;

				3)
				x=1
				;;

				4)
				x=1
				;;


			esac

		done

}

###############################################################

# I changed the name fron browserMenu, so I am sure something broke, but not sure where yet ... 
# I will fix that later 
function universalBrowserMenu()
{
	clear
	x=1

	while [[ $x=1 ]]; do

		echo -e "Web Browser Software Menu "
		echo -e  "1. \t Install Google Chrome"
		echo -e  "2. \t Install Chromium"
		echo -e  "3. \t Install Firefox"
		echo -e  "4. \t Install Vivaldi\n\n"

		read -p  "Your Choice?:" browserSelection

		case $browserSelection in


		## Inside the f_universalSoftware.cfg file
		  1) chromeInstall
				x=1
				;;

		# This should be in all repos (openSuse, Fedora, ubuntu, solus, and arch's pacman repo )
		  2) $install chromium-browser
				x=1
				;;

		  3) $install firefox
				x=1
				;;

		  4) vivaldiInstall
				x=1
				;;

		esac

	done
}


function mutlimediaSoftwareMenu()
{
	x=1
	while [ $x=1 ]; do

		echo -e 	"${bold}Multimedia Software Menu ${completeReset}"
		echo -e   	"Please Select Task \n"

		echo -e   	"1. \t Install Tiny Media Manager"
		echo -e 	"2. \t Install MakeMKV"
		echo -e 	"3.	 Install XNViewMP"
		echo -e 	"4. \t Install Deadbeef"

		echo 
		echo -e 	"K. \t Get most recent MakeMKV key Info "


		echo -e  "\vm. \tReturn to Main Menu"
		echo -e	"q. \tExit to Prompt \n\n"

		read -p "Your Choice?: " multimediaSoftwareSelection

		case $multimediaSoftwareSelection in

			1) tinyMediaManagerInstall
					x=1 ;;

			2) installMakeMKV
					x=1 ;; 

			3) installXNViewMP
				x=1 ;;
			
			4) installDeadbeef
				x=1 ;; 


			[kK]) makeMKVKeyInfo
				x=1 ;; 



			[mM]) clear
					exit
					;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

			esac

	done



}

function productivitySoftwareMenu()
{

	x=1

	while [ $x=1 ]; do

	echo -e   "Please Select Task \n"

	echo -e   "1. \t Install Atom Editor"
	echo -e		"2s. \t Install vscode"

	echo -e  "\vm. \tReturn to Main Menu"
	echo -e	"q. \tExit to Prompt \n\n"

	read -p "Your Choice?: " productivitySelection

	case $productivitySelection in

		1) installAtom
			x=1 ;; 

		2) installVSCode
				x=1 ;; 

		[mM]) clear
				exit
				;;

		[qQ]) quitScript ;;

		* ) invalidSection ;;

		esac

	done

}


#  main Software menu 
function universalSoftwareMenu()
{
	x=1
	clear
	while [ $x=1 ]; do

		echo -e   "Please Select Task \n"

		echo -e   "1. \t Adds Common Software "
		echo -e   "2. \t ${bold}[Sub-Menu]${completeReset} Web Browsers"

		echo -e   "3\v. \t ${bold}[Sub-Menu] ${completeReset}Specific tasks for certain distrobutions or version of said-distros"
		echo -e   "4. \t [Sub-Menu] Office/Productivity Software"
		echo -e   "5. \t [Sub-Menu] Multimedia Programs"

		echo -e  "\vm. \tReturn to Main Menu"
		echo -e	"q. \tExit to Prompt \n\n"

		read -p "Your Choice?: " ubuntuSelection

		case $ubuntuSelection in

			1) echo -e "About to install $software"
				userPrompt
				$install $software 
					x=1 ;;

			2) universalBrowserMenu
				x=1 ;;

			3) # this contains (all i remember) basic setup stuff for ElementaryOS ... maybe i need to make this menu more specific 
				specificUbuntuSoftwareMenu
				x=1 ;; 

			4) productivitySoftwareMenu
				x=1 ;; 

			5) mutlimediaSoftwareMenu
				x=1 ;; 


			[mM]) clear
					exit
					;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

			esac

	done


}
