
wine_install_menu_items=(
	1 "Install Wine, from your Linux distro's default repository"
	2 "Install Wine-Stable, from WineHQ"
	S "Back to Main Software Menu"
	M "Back to Main Menu"
	Q "Quit to Prompt"
)

function installWineMenuCaseStatement() {

	case $installWineMenuSelection in

        1) installWineDefaultRepoMeta ;;

        2)
			# not created yet
			# case statement for detecting distroBase IS IN this function
			installWineHQRepoMeta
			;;

		[mM]) mainMenuType ;;
		[sS]) mainSoftwareMenuType ;;
		[qQ]) quitScript ;;
		*) invalidSection ;;

	esac


}


function installWineMenuDialog() {
	createDialogMenu
}

function installWineMenuEcho() {

	clear
	echo -e "(note: WineHQ is not available in all distro bases)\n\n "

	createEchoMenu
}



function installWineMenuType() {
	baseMenuName="installWineMenu"
	currentMenuCaseStatementName="installWineMenuCaseStatement"
	menuTitle="Xmetal Linux Wine Install Menu"

	declare -n menuArrayName=wine_install_menu_items
	declare -n currentMenuSelection=installWineMenuSelection


	$menuName
}