
#######################################
## Sort of the main menu so to speak 

function ubuntuSpecificSoftwareMenu
{

	x=1
	clear
	while [ $x=1 ]; do

		echo -e   "Please Select Task \n"

		## This should be changed
		echo -e   "1. \t Add Official LibreOffice PPA - Which may contain newer versions than more distros have in their current repo"
    	echo -e   "2. \t Add UKUU GUI App for installing mainline Ubuntu Kernels"

    	echo -e  "4. \t ${bold}[Elementary OS]${completeReset} Setup Common packages, like gdebi, Gnome Tweak, and Synaptic"


		## I know Unity is still working on 18.04 for me but ... should I keep this ? 
		#echo -e   "6. \t ${bold}[Stock Ubuntu/Unity as the DE]${completeReset} Install Unity Tweak Tool"
		#echo -e   "7. \t ${bold}[Stock Ubuntu/Unity as the DE]${completeReset} Install Unsettings to tweak Unity"



	    echo

		echo -e  "\v m. \tReturn to Main Menu"
		echo -e	"q. \tExit to Prompt \n\n"

		read -p "Your Choice?: " ubuntuSoftwareSelection

		case $ubuntuSoftwareSelection in

	    	1) PPALatestLibreOffice
	        	x=1 ;;

	        2) ukuuInstall
	        	x=1 ;;


			4) InstallElementaryAdditions
				x=1 ;; 


		
			[mM]) clear
				exit
				;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

		esac

	done

}
