
#######################################
## Sort of the main menu so to speak



function ubuntuSpecificSoftwareMenu
{

	x=1
	clear
	while [ $x=1 ]; do

	echo -e   "Please Select Task \n"

	echo -e  "1. \t ${bold}[Elementary OS]${completeReset} Setup Common packages, like gdebi, Gnome Tweak, and Synaptic"

	echo -e   "2. \t Add Official LibreOffice PPA - Which may contain newer versions than more distros have in their current repo"

	echo

	echo -e  "\v m. \tReturn to Main Menu"
	echo -e	"q. \tExit to Prompt \n\n"

	read -p "Your Choice?: " ubuntuSoftwareSelection

	case $ubuntuSoftwareSelection in

		1) InstallElementaryAdditions
			x=1 ;;
		2) PPALatestLibreOffice
			x=1 ;;

		[mM]) clear
			exit
			;;

		[qQ]) quitScript ;;

		* ) invalidSection ;;

	esac

	done

}
