function fedoraCoprRepoAdd() {
	# $1 = repo name

	fancy_message action  "Installing ${1} copr repo"
	sudo dnf -y copr enable "${1}"

	# ?? does adding the copr repo "refresh" the repo list too? or should i code that here?

	return
}

function installFedoraMultiimediaPlugins() {
	sudo dnf group upgrade --with-optional Multimedia
}