# May 2024: still updated on github but not this copr repo 
# source: https://github.com/daniruiz/flat-remix


# function flatRemixTheme() {
# 	fedoraCoprRepoAdd daniruiz/flat-remix
# 	installApp "flat-remix flat-remix-gtk flat-remix-gnome"
# }