function fedoraSnaps
{
	$install snapd 
	
	## due to --classic not working on snaps by default 
	sudo ln -s /var/lib/snapd/snap /snap

}


function InstallFedy()
{

	clear
	echo -e "Installing Fedy"
	# Instructions for fedy found via http://folkswithhats.org/
	$install https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/folkswithhats-release.noarch.rpm
	
	# thus function doesn't exist anymore
	AddRPMFusion

	echo -e "Now installing Fedy"
	$install fedy

	echo "Fedy is now installed"
	userPrompt

	clear
}

