function InstallFedy() {
	# Instructions found here: https://github.com/rpmfusion-infra/fedy

	clear

    # july 2022: check for (this new way doesn't install ... ) RPMFusion
        # another update: it may if i ask the user if they want to, but it doesn't just automatically do it without
        # the user's approval
	thirdPartyRepoCheck

	# Install fedy copr repository
	fancy_message action  "Adding Fedy Copr repo"
	sudo dnf copr enable kwizart/fedy

	installApp "fedy"

	fancy_message info "Fedy is now installed"
	userPrompt

	clear
}
################################################

function fedoraArchSupport(){
    clear

    ## Archive Support
    fancy_message action  "Installing Archive Support"
    installApp "cabextract lzip p7zip p7zip-plugins unrar"
    userPrompt
}

function fedoraMSFonts() {
    clear

    installApp "lpf-mscore-fonts"

    userPrompt
}

## Fedy Codecs tasks have been moved to a universal codec install function

function themeEngines() {
    clear
    fancy_message action "Installing Theme Engine"
    installApp "gtk-murrine-engine gtk-unico-engine"
    userPrompt
}

function fedoraFontRendering() {
    clear
    fancy_message action  "Improving Font Rendoring"
    userPrompt

    gsettings set org.gnome.settings-daemon.plugins.xsettings antialiasing "rgba"
    gsettings set org.gnome.settings-daemon.plugins.xsettings hinting "slight"

}


###############################################
# Meta function
function massFedyTasks() {
    fedoraArchSupport
    fedoraMSFonts
    themeEngines
    fedoraFontRendering
}