function AddRPMFusion()
{
	
	# Add RPM Fusion repos with rpm -E %fedora .... this should work on any version
  	
  	clear
  	echo "Adding BOTH RPMFusion Free and Non-Free Repos"
  	userPrompt

	echo -e "Setting up RPM Fusion repos"
	$install https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

}

function InstallFedy()
{

	clear
	echo -e "Installing Fedy"
	# Instructions for fedy found via http://folkswithhats.org/
	$install https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/folkswithhats-release.noarch.rpm
	
	# Call to function that adds RPM Fusion (Free and Non-free)
	AddRPMFusion

	echo -e "Now installing Fedy"
	$install fedy

	echo "Fedy is now installed"
	userPrompt

	clear
}

# This needed anymore? 
function detectFedoraVersion()
{
	fedoraVersion= "rpm -E %fedora"
}

###############################################

function dnfCheckPkgInstalled()
{
	
	dnfPkgInstalled=$(sudo dnf list installed | grep -o $1)

	clear
	echo -e "Fedora Results:"
	echo -e "Variable passed:$1"
	echo -e "Check Line:$dnfPkgInstalled"
	echo
	userPrompt
	clear

	### The echos below are ONLY for testing 
	if [ "$dnfPkgInstalled" == '$1' ]; then
		# for testing
		clear
		
		echo -e "package $1 IS installed"
		userPrompt
	fi
}


