
# Keep this since its no longer updated? 
function addAdaptaTheme
{
    sudo dnf -y copr enable heikoada/gtk-themes
    $install adapta-gtk-theme
}


function flatRemix
{
	sudo dnf -y copr enable daniruiz/flat-remix
	$install flat-remix flat-remix-gtk flat-remix-gnome

}
