function fedoragtk3ThemeInstall
{
	clear
	echo -e "Installing GTK2 themes"
	$install bluebird-gtk3-theme clearlooks-phenix-gtk3-theme greybird-gtk3-theme
}

function fedoragtk2ThemeInstall
{
	clear
	echo -e "Installing GTK2 themes"
	$install bluebird-gtk2-theme greybird-gtk2-theme adwaita-gtk2-theme clearlooks-phenix-gtk2-theme
}

function fedoraIconsInstall
{
	clear
	echo -e "Installing Icons"
	$install breeze-icon-theme
}

function fedoraNumix
{
	clear
	echo -e "Installing Numix themes and Icons"

	$install numix-gtk-theme numix-icon-theme numix-icon-theme-circle

}


// Keep this since its no longer updated? 
function addAdaptaTheme
{
    sudo dnf -y copr enable heikoada/gtk-themes
    $install adapta-gtk-theme
}

function arcIcon
{
	sudo dnf copr -y enable user501254/Arc
	$install arc-icon-theme
}

function flatRemix
{
	sudo dnf -y copr enable daniruiz/flat-remix
	$install flat-remix flat-remix-gtk flat-remix-gnome

}

#############################################


function fedoraMassThemes
{
	#This installs a number of themes (Should i break it down to DEs/WMs?) that I find myself adding

	### GNOME SHELL specific themes should be in a different function 

	### These themes can typically be used in say LXDE, XFCE, Mate...etc... the ones in this function that is ...  

	## Not sure the location of these atm .. some may be in rpm fusion or unitedRPMs


	## A) Call Adapta install function from here 

	## B) Install Arc

	$install arc-theme arc-theme-plank

	# Install gtk3 themes
	fedoragtk3ThemeInstall

	# Install gtk2 themes 
	fedoragtk2ThemeInstall

	## Install Icons 
	fedoraIconsInstall
}
