function InstallFedy() {
	# Instructions found here: https://github.com/rpmfusion-infra/fedy

	clear


    # May 2024: this basically STILL matches (not line-for-line) OFFICIAL instructions

	thirdPartyRepoCheck

	# Install fedy copr repository
	fancy_message action  "Adding Fedy Copr repo"
	sudo dnf copr enable kwizart/fedy

	installApp "fedy"

	fancy_message info "Fedy is now installed"
	userPrompt

	clear
}
################################################

function fedoraArchSupport() {
    clear

    ## Archive Support
    fancy_message action "Installing Archive Support"
    installApp "cabextract lzip p7zip p7zip-plugins unrar"
    userPrompt
}

# May 2024 - still same code in fedy
function fedoraMSFonts() {
    clear

    installApp "lpf-mscore-fonts"

    userPrompt
}

## Fedy Codecs tasks have been moved to a universal codec install function

function themeEngines() {
    clear
    fancy_message action "Installing Theme Engine"
    installApp "gtk-murrine-engine gtk-unico-engine"
    userPrompt
}

function fedoraFontRendering() {
    clear
    fancy_message action  "Improving Font Rendoring"
    userPrompt

    gsettings set org.gnome.settings-daemon.plugins.xsettings antialiasing "rgba"
    gsettings set org.gnome.settings-daemon.plugins.xsettings hinting "slight"

}

fedoraFedyCodecs() { 
 

    rpm -q --quiet ffmpeg-free
    ffmpeg_free_test=$?

    rpm -q --quiet libavcodec-free
    libavcodec_free_test=$?

# groupupdate multimedia doesn't work well until fedora-40 with libavcodec-freeworld

        if [ ${ID} == "fedora" -a "${VERSION_ID}" -ge 40 ]; then
        dnf -y install libavcodec-freeworld
        elif [ ${ID} != "fedora" -a "${VERSION_ID}" -ge 9 ]; then
        dnf -y install libavcodec-freeworld
        elif [ ${ID} != "fedora" -a "${VERSION_ID}" -lt 9 ]; then
        dnf -y install ffmpeg
        elif [ x$ffmpeg_free_test == x0 ] ; then
        dnf -y swap ffmpeg-free ffmpeg --allowerasing
        elif [ x$libavcodec_free_test == x0 ] ; then
        dnf -y swap libavcodec-free ffmpeg-libs --allowerasing
        else
        dnf -y install ffmpeg
        fi

dnf -y groupinstall multimedia --exclude=PackageKit-gstreamer-plugin,libva-intel-media-driver
}

###############################################
# Meta function
function massFedyTasks() {
    fedoraArchSupport
    fedoraMSFonts
    themeEngines
    fedoraFontRendering
}