

################################################

function fedoraArchSupport()
{
    clear

    ## Archive Support
    echo "Installing Archive Support"
    installApp cabextract lzip unrar p7zip p7zip-plugins
    userPrompt
}

function fedoraMSFonts()
{
    clear

    echo "Installing MS Fonts"
    installApp curl fontconfig libcurl
    rpm -i https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm
    userPrompt
}

function fedyCodecs()
{
    clear
    echo -e "Preparing Codecs"
    sudo dnf -y groupinstall multimedia
    clear

    sudo dnf install gstreamer1-libav

    echo -e "Codecs are now installed"
    userPrompt
}

function themeEngines()
{
    clear
    echo "Install Theme Engine"
    installApp gtk-murrine-engine gtk-unico-engine
    userPrompt
}

function fedoraFontRendering()
{
    clear
    echo "Improve Font Rendoring"
    installApp fedy-font-config freetype-freeworld google-noto-sans-fonts
    userPrompt

}

function fancyBash
{
    # Not sure if this is correct yet 
    if [[ ! -z \$BASH ]]; then
        if [[ \$EUID -eq 0 ]]; then
            PS1="\[\033[33m\][\[\033[m\]\[\033[31m\]\u@\h\[\033[m\] \[\033[33m\]\W\[\033[m\]\[\033[33m\]]\[\033[m\] # "
        else
            PS1="\[\033[36m\][\[\033[m\]\[\033[34m\]\u@\h\[\033[m\] \[\033[32m\]\W\[\033[m\]\[\033[36m\]]\[\033[m\] \$ "
        fi
    fi

}

function fedoraFontSetup()
{
    
    gsettings set org.gnome.settings-daemon.plugins.xsettings antialiasing "rgba"
    gsettings set org.gnome.settings-daemon.plugins.xsettings hinting "slight"

}


function massFedyTasks()
{
    ## Calls other functions 
    
    clear
    echo -e "Performing comming tasks of Fedy"
    echo 

    echo -e "*** ${bold}NOTICE: ${normal} This does NOT ask for user permission on each step."
    echo -e "I will be adding the fedy menu back so users can pick each task... this option"
    echo -e ", is more for me and those that want to automate a number of the types of things"
    echo -e "Fedy does.  If this is not what you want, please press Control + Z to stop the script now"
    read -p "Your Choice?  (c to continue, m to return to the menu): " fedyTasksSelection

    case $fedyTasksSelection in

        [cC])  fedoraFontSetup
            fancyBash
            fedoraFontRendering
            fedoraMSFonts
            fedoraArchSupport
            fedyCodecs
            ;;

        [mM]) clear 
            exit
            ;;

    esac 

}
