##################################################################################
## Start of code for zsh and oh-my-zsh

function installZSHExtras() {
	fancy_message action "Installing a few extras"

	# Extra packages not in openSUSE it seems
	# Nov 2022: what? ... what is the code below doing? ... I think i forgot to finsh this
	case distroBase in

		arch) zsh-completions zsh-syntax-highlighting zsh-autosuggestions ;;
		debian|solus|ubuntu) zsh-syntax-highlighting zsh-autosuggestions ;;

	esac

	fancy_message info "Extras's installed"
}

function installZSH() {
	#installs (all supported distros) JUST zsh
	fancy_message action "Installing zsh shell"
	installApp "zsh"


	fancy_message action "Changing Shell to zsh"
	chsh -s "/usr/bin/zsh"

	userPrompt
}


# Howto: https://linuxhint.com/setup-configure-autocomplete-zsh/
function installGITZSH_autocomplete() {
	fancy_message action "Installing zsh-autocomplete from Git repo"
	git clone --depth 1 -- https://github.com/marlonrichert/zsh-autocomplete.git

	cd zsh-autocomplete source
	zsh-autocomplete.plugin.zsh
}


function installOhMyZsh() {

	fancy_message action "Installing Oh-My-Zsh"

	# wget
	sh -c "$(wget https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh -O -)"
}

function installZapPluginManager() {

	# note to self: Official instructions, below
	# zsh && checkLastCommandStatus "zsh is Installed"

	fancy_message action "Installing Zap Plugin Manager for zsh" && zsh <(curl -s https://raw.githubusercontent.com/zap-zsh/zap/master/install.zsh) --branch release-v1 && fancy_message info "Zap Plugin Manager now installed, a restart of your terminal maybe needed" || "ZSH Shell not installed, yet"

	userPrompt

}

function zap_sudo_plugin() {

	# 1 - check for zsh 
	# 2 - check for zap plugin manager 

	# 3 - check for sudo line in zshrc (I dont want to readd it )

	# 4- get last line startig with "plug" (so i can append to the end of it)
		# awk '/^plug/ {print NR} ' /home/$USER/.zshrc | tail -n1

		
}