# Where do i display this info? ... I'd have to AFTER the bulk of the distro detection script is ran and ONLY the if the currently detected distro is in the list below, it will say "IT appears you are on Ubuntu 17.04 ... Your support will end <date here>" ... that sort of message "

##############################################

## EOL 
### I dont want to go overboard with the EOL list but just want to get info for some modern releases that maybe just EOL by a few months or so ... "all EOL" distros would be too much to list, of course 

#Fedora
fedora24EOL="August 8, 2017"
fedora25EOL


## OpenSuse based
# Opensuse 13.2
opensuse132="Jan 17, 2017"

leap421EOL="May 17, 2017"

#Ubuntu
ubuntu1610EOL= "July 20, 2017"
ubuntu1704EOL= "Jan 2018"


#####################################################################################
## Current 
# Fedora based 
fedora26EOL
fedora27EOL



# OpenSuse based 

leap422EOL="Jan 31 2018"
leap423EOL="Jan 31 2019"



#Ubuntu Based 

## LTS
1404LTSEOL="April 2019"
1604LTSEOL="April 2021"

