## Lets the user choose the compile and install path or the "install via Flatpak Path"
makemkv_install_menu_items=(
	1 "Compile and Install MakeMKV"
	2 "Install MakeMKV Flatpak"
	M "Return to Main Menu"
	Q "Quit to Prompt"

)

function makeMKVInstallCaseStatement() {

	case $makeMKVSelection in

		1) compileAndInstallMakeMKV ;;
		2) makeMKVFlatpakInstall ;;
		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;

	esac

}

function makeMKVInstallMenuDialog() {
	createDialogMenu
}

function makeMKVInstallMenuEcho() {
	createEchoMenu
}


function makeMKVInstallMenuType() {
	baseMenuName="makeMKVInstallMenu"
	currentMenuCaseStatementName="makeMKVInstallCaseStatement"
	menuTitle="Xmetal Linux Scripts MakeMKV Install Menu"

    declare -n menuArrayName=makemkv_install_menu_items
    declare -n currentMenuSelection=makeMKVSelection

	$menuName
}