## Lets the user choose the compile and install path or the "install via Flatpak Path"
makemkv_install_menu_items=(
	1 "Compile and Install MakeMKV"
	2 "Install MakeMKV Flatpak"
	M "Return to Main Menu"
	Q "Quit to Prompt"

)

function makeMKVInstallCaseStatement() {

	case $makeMKVSelection in

		1) compileAndInstallMakeMKV ;;
		2) makeMKVFlatpakInstall ;;
		[mM]) mainMenuType ;;
		[qQ])
				quitScript
				menuLoop=1
				break
				;;
        *) invalidSection ;;

	esac

}

function makeMKVInstallMenuDialog() {
	createDialogMenu
}

function makeMKVInstallMenuEcho() {
	echoMenuLoop
}


function MenuType() {
	baseMenuName="makeMKVInstallMenu"
	menuArrayName="makemkv_install_menu_items"
	menuTitle="Xmetal Linux Scripts MakeMKV Install Menu"
	currentMenuCaseStatementName="makeMKVInstallCaseStatement"
	currentMenuSelection="makeMKVSelection"

	$menuName
}