. $functionsdir/ubuntu/f_ubuntuMultimediaSoftware.cfg

##########################################################################################

function InstallElementaryAdditions
{
 	## Check os-release file for if id="elementary" ... to make sure this is the distro detected
 	if [ "$id" == 'elementary' ]; then

		# Update System
		clear
		$refresh

		echo "Installing PPA Support, Gnome Tweak Tools, GDebi, and Synaptic"
		userPrompt

		$install software-common-properties synaptic gnome-tweak-tool gdebi

	else
		echo "It doesn't appear you are on ElementaryOS"
		exit
	fi

}


##################################################################


function ukuuInstall
{
	## Trusty (14.04) to Bionic (18.04) apparently

	PPAName="UKUU Ubuntu-based Kernel Upgrader" 
	PPAProgramName=ukuu
	PPALink=ppa:teejee2008/ppa


	clear
	echo -e "About to install UKUU - A GUI App to install mainline Ubuntu Kernels"
	echo -e "DISCLAIMER: MANY ... if not all Canonical, as well as the support for Ubuntu flavors "
	
	echo -e ", such as ElementaryOS, the Kubuntu Team, and the Linux Mint team (just to name a few at random)"
	echo -e "DO NOT SUPPORT installing kernels this way.   Please note that IF something borks up, the support team for those distros will not support you .. at least for the most part. "
	userPrompt

	## Idea ... add a case statement/if-then statement, here ... allowing a user to exit without installing, just going back to the prior menu they were on (the UniversalSoftware menu probably )

	addPPAFunction $PPAName $PPALink

	installApp $PPAProgramName

}


############################################################################
## Ubuntu (Unity) specific - up to Bionic (Ubuntu 18.04 LTS)

function unsettings
{
	PPAName=UNSettings
	PPAProgramName=unsettings
	PPALink=ppa:diesch/testing

	addPPAFunction $PPAName $PPALink

	installApp $PPAProgramName

}


# Removing the 2 in the function name because ... I am not sure why it was there
function ubuntuSoftware2 
{

	clear
	x=1

	while [[ $x=1 ]]; do

	echo -e "Xmetal's Ubuntu-based Software Script  \n\n"
	echo -e "Please Select Task\n"

	echo -e "1. \t Install Multimedia Programs"
	echo -e "2. \t Install LibreOffice via PPA for newer version"
	echo -e "3. \t Install\Update MPV from PPA"
	echo -e "5. \t Install My picks of PPA for software or the LATEST versions of certain softwares"


	echo -e "m. \t Return to Main Menu"
	echo -e "q. \t Exit to Prompt\n\n"
	read -p "Your Choice?: " addSoftwareSelection

	case $addSoftwareSelection in
		1) multimediaAppsInstall
	 		x=1
	 		;;


		2) officeSuiteMenu
			x=1
			;;

		3) mpvPPA
			x=1
 	 		;;

		[mM]) bash "$rootdir"/xmetalLinuxScripts.sh ;;

  		[qQ]) quitScript	;;

		* ) invalidSection ;;

	esac
done
}


# Idea: even though its only one item only for now, leave this in a seperate function for expansion reasons, for down the road 
function specificUbuntuSoftwareMenu
{

	clear

	while [[ $x=1 ]]; do

		echo -e   "Xmetal's Ubuntu based,  Post-Installation Script \n"

		echo -e   "Please Select Task \n"

		echo -e 	"\v1. \t[ElementaryOS] Add PPA Support, Synaptic, and Gnome-tweak Tool"

		1) InstallLokiAdditions
		 	x=1 ;;

		[mM])
			clear 
			exit
			;;

		[qQ]) quitScript ;;

		* ) invalidSection ;;

		esac

	done



}
