  
function AddNoobslabPPA()
{
  echo -e "Adding Noobslab Theme and both of Noobslab's Icon pack PPAs "
  # March 2019, has Trusty, Xenial, Bionic and Cosmic support
  universalAddRepo ppa:noobslab/icons2 && universalAddRepo ppa:noobslab/icons && universalAddRepo ppa:noobslab/themes
}


## Ravenfinity, Moka - Trusty and Xenial support only
function addLTSXenialThemePPAs()
{
  # Do check for Xenial 
  universalAddRepo ppa:ravefinity-project/ppa && addPPA ppa:moka/stable
}

##########################################################################
## Start of Specific Theme PPAs 

function adaptaPPA
{
  # Source; https://github.com/adapta-project/adapta-gtk-theme
    echo -e "Installing Adapta Theme PPA "
    ppaName=""
    ppaRef="https://launchpad.net/~tista/+archive/ubuntu/adapta"
    ppaSource="ppa:tista/adapta"
    supportedBases="bionic cosmic"
    packageNames="adapta-gtk-theme adapta-backgrounds"


    # Adding/Installing PPA itself 
    universalAddRepo 

    ## adapta-backgrounds adapta-gtk-theme  on Ubuntu

    ## IF THIS IS FOR A PPA what do i have non-ubuntu info here for? 
    ## Fedora = sudo dnf install adapta-gtk-theme-gtk2 adapta-gtk-theme-gtk3 gnome-shell-theme-adapta

}

function plataThemePPA
{
    # https://gitlab.com/tista500/plata-theme
    ppaName="Plata-Theme"
    ppaRef="https://launchpad.net/~tista/+archive/ubuntu/plata-theme"
    ppaSource="ppa:tista/plata-theme"
    supportedBases="bionic cosmic disco"
    packageNames="plate-theme"

    # Adding/Installing PPA itself 
    addPPA $PPASource

}

######################################################################################
# Sort of a Meta-function 
function installPPAThemes()
{
  clear
  
  ## Add Noobslab theme and icon PPAs 
  AddNoobslabPPA

  ## Adapta PPA Addition 
  adaptaPPA

  # Plata (Solus 4.0's new default theme) PPA 
  plataThemePPA

  clear

  echo -e "Installing Themes via PPA"
  userPrompt

  ## Install Themes
  $install arc-icons arc-theme plata-theme adapta-gtk-theme

  ## TODO: Mint-Y theming 


  ## From Noobslab ppa for Xenial 
  # $install numix-gtk-theme ambiance-chrunchy system76-pop-gtk-theme

  ## From RAVEfinity 
  # $install ambiance-colors radiance-colors

  clear

}
