function noobslabThemePPA()
{

	PPAName="Noobslab Theme PPA"
	PPASource="ppa:noobslab/themes"
	PPARef=""
	packageNames=""
	supportedBase="xenial bionic cosmic disco"

	addPPA $PPAName $PPASource

}

function noobslabIconPPA()
{

	PPAName="Noobslab Icon PPA"
	PPASource="ppa:noobslab/icons"
	PPARef=""
	packageNames=""
	supportedBase="xenial bionic cosmic disco"

	addPPA $PPAName $PPASource

}

function noobslabIcon2PPA()
{

	PPAName="Noobslab Icon 2 PPA"
	PPASource="ppa:noobslab/icons2"
	PPARef=""
	packageNames=""
	supportedBase="xenial bionic cosmic disco"

	addPPA $PPAName $PPASource

}

# Meta Noobslab THEMING PPA 
function AddNoobslabPPA()
{
  # IDea: put base check here ... no use going through each one if thebase is not going to be supported
  
  echo -e "Adding Noobslab Theme and both of Noobslab's Icon pack PPAs "

  noobslabThemePPA

  noobslabIconPPA

  noobslabIcon2PPA
  
}

#########################################################################3
# Xenial only PPAs (supported)

function ravenfinityPPA()
{
	PPAName=""
	PPASource="ppa:ravefinity-project/ppa"
	PPARef=""
	packageNames=""
	supportedBase="xenial"

	addPPA $PPAName $PPASource

}

function mokaPPA()
{
	PPAName=""
	PPASource="ppa:moka/stable"
	PPARef=""
	packageNames=""
	supportedBase="xenial"

	addPPA $PPAName $PPASource

  # March 2019, has Trusty, Xenial, Bionic and Cosmic support
  universalAddRepo ppa:noobslab/icons2 && \
  universalAddRepo ppa:noobslab/icons && \
  universalAddRepo ppa:noobslab/themes
  
}


## Ravenfinity, Moka - Trusty and Xenial support only
function addLTSXenialThemePPAs()
{
  if  [ $lsbCodeName = 'xenial' ] || \
      [ $OS_CODENAME = 'xenial' ]; then 
    
        ravenfinityPPA
        mokaPPA

  else 
    return
  fi
  
}

##########################################################################
## Start of Specific Theme PPAs 

function adaptaPPA
{
  # Source; https://github.com/adapta-project/adapta-gtk-theme
    ppaName="Adapta Theme PPA"
    ppaRef="https://launchpad.net/~tista/+archive/ubuntu/adapta"
    ppaSource="ppa:tista/adapta"
    supportedBases="bionic cosmic"
    packageNames="adapta-gtk-theme adapta-backgrounds"


    universalAddRepo 

    ## adapta-backgrounds adapta-gtk-theme  on Ubuntu

    ## IF THIS IS FOR A PPA what do i have non-ubuntu info here for? 
}

function plataThemePPA
{
    # https://gitlab.com/tista500/plata-theme
    ppaName="Plata-Theme"
    ppaRef="https://launchpad.net/~tista/+archive/ubuntu/plata-theme"
    ppaSource="ppa:tista/plata-theme"
    supportedBases="bionic cosmic disco"
    packageNames="plate-theme"

    # Adding/Installing PPA itself 
    universalAddRepo $PPAName $ppaSource

}

######################################################################################
# Sort of a Meta-function 
function installPPAThemes()
{
  clear
  
  ## Add Noobslab theme and icon PPAs 
  AddNoobslabPPA

  ## Adapta PPA Addition 
  adaptaPPA

  # Plata (Solus 4.0's new default theme) PPA 
  plataThemePPA

  clear

  echo -e "Installing Themes via PPA"
  userPrompt

  ## Install Themes
  installApp "arc-icons arc-theme plata-theme adapta-gtk-theme"

  ## TODO: Mint-Y theming 


  ## From Noobslab ppa for Xenial 
  # installApp "numix-gtk-theme ambiance-chrunchy system76-pop-gtk-theme"

  ## From RAVEfinity 
  # installApp "ambiance-colors radiance-colors"

  clear

}
