# For more possible options  http://www.ubuntubuzz.com/2016/11/list-of-ppa-repositories-for-ubuntu-16.04-xenial-xerus.html


########################################
. $functionsdir/ubuntu/f_ubuntuThirdPartySources.cfg


###########################################################
function cleanOrphanPackages()
{
    clear
    echo -e "Cleaning Orphaned Packages"
    sudo apt autoremove

    echo -e "Orphan Package Cleaning, is now Complete"

}
