# Has Trusty, Xenial, and Artiful 
# March 2018: no Bionic support, yet 

function AddNoobslabPPA()
{
  addPPA ppa:noobslab/icons2 && addPPA ppa:noobslab/icons && addPPA ppa:noobslab/themes
}


## Ravenfinity, Moka - Trusty and Xenial support only
function addLTSThemePPAs()
{
    addPPA ppa:ravefinity-project/ppa && addPPA ppa:moka/stable
}

##############################################################################
## Installing the actual themes, cursors or Icons

function ubuntuBudgieBackportsPackages()
{
	## Placeholder function to list things I may want to install from this PPA

	# evopop-gtk-theme
	#  ?? - materia-theme
	# paper-icon-theme
	# paper-gtk-theme
	return

}

function adaptaThemeInstall()
{
	# This actually adds the theme, after adding the PPA

  # ... where is this function at? 
	adaptaPPA

	echo -e "Installing Adapta theming"
	$install adapta-backgrounds adapta-gtk-theme

}


#####################################################
# This is for 16.10 or ABOVE

# Where is the line to add the PPA 

function solusTheme()
{
    # I need to install the Budgie Remix/ubuntu budgie repo first

    $install arc-firefox-theme arc-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme moka-icon-theme vertex-theme
}

######################################################################################
# Sort of a Meta-function 
function installPPAThemes()
{
    clear
    
    ## Add Noobslab theme and icon PPAs 
    AddNoobslabPPA

    ## If trusty or xenial is detected, add two other theme ppas 
    addLTSThemePPAs

    ## Adapta PPA Addition 



    clear

    echo -e "Installing the Ambiance, Radiance, Numix, Vertex, Moka, kawaiki, and Arc Themes via PPA"
    userPrompt

    ## Install Themes from PPAs Added
    installApp ambiance-colors radiance-colors moka-gtk-theme arc-icons vertex-icons arc-theme numix-icon-theme numix-icon-theme-circle numix-gtk-theme
    clear

}
