
##########################################################################################

function InstallElementaryAdditions
{
 	## Check os-release file for if id="elementary" ... to make sure this is the distro detected

	case $id in

	elementary)
			# Update System
			clear
			$refresh

			echo "Installing PPA Support, Gnome Tweak Tools, GDebi, and Synaptic"
			userPrompt

			installApp "software-common-properties synaptic gnome-tweak-tool gdebi"
	;;

	*) echo "It doesn't appear you are on ElementaryOS" ;;


	esac


}


##################################################################


function teejeePPA
{

	PPAName="UKUU Ubuntu-based Kernel Upgrader"
	PPAProgramName="timeshift ukuu aptik aptik-gtk"
	PPARef="https://launchpad.net/~teejee2008/+archive/ubuntu/ppa"
	PPALink="ppa:teejee2008/ppa"
	supportedBases="trusty xenial bionic cosmic disco"

	universalAddRepo $PPAName $PPALink

}


