# this is for elementary odin ONLY
function installPantheonTweaks() {

	clear
	fancy_message action "Installing Patheon Tweaks via PPA "
	sudo apt install -y software-properties-common

	# Add the PPA of Pantheon Tweaks and then install it:

	# i think i have a var that would do that 
	sudo add-apt-repository -y ppa:philip.scott/pantheon-tweaks
	sudo apt install -y pantheon-tweaks

}


##########################################################################################
# consider renaming this since it can be used (the intial idea) in ElementaryOS but it can be useful in other ubuntu based distros too 
function InstallElementaryAdditions()
{
 	## Check os-release file for if id="elementary" ... to make sure this is the distro detected

	case ${OSRELEASE_ID} in

		elementary)

			if [ "${OSRELEASE_VERSION_CODENAME}" == "odin" ] || [ "${OSRELEASE_VERSION_CODENAME}" == "odin"  ]; then

				# Update System
				refreshRepositories

				fancy_message action "Installing PPA Support, GDebi, and Synaptic"
				userPrompt

				installApp "software-common-properties synaptic gdebi"

				# IF Odin is detected
				# thought: i should have an option here in case a user doesn't want this
				[ "${OSRELEASE_VERSION_CODENAME}" == "odin" ] && installPantheonTweaks || return

			else
				fancy_message info "It doesn't appear you are on a supported version of ElementaryOS"
			fi

			;;

			*) fancy_message action "It doesn't appear that, you are on ElementaryOS" ;;

	esac

}
