## Ubuntu specific function files
. $ubuntuFunctDir/f_ubuntuSoftware.cfg

# include theme related functions
. $ubuntuFunctDir/tic/includeTheming.cfg

. $ubuntuFunctDir/PPAs/includePPAConfigs.cfg


## Universal Functions
. $dir/functions/universal/pmanagement/f_packageManagement.cfg


#. $functionsdir/universal/f_applist.cfg


