## Ubuntu specific function files
fancy_message info "Loading config file related to Ubuntu Software"
. ${ubuntuFunctDir}/f_ubuntuSoftware.cfg

# include theme related functions
. ${ubuntuFunctDir}/tic/includeTheming.cfg

fancy_message info "Loading config files related to Ubuntu PPAs"
. ${ubuntuFunctDir}/PPAs/includePPAConfigs.cfg

## Universal Functions
. ${dir}/functions/universal/pmanagement/f_packageManagement.cfg


#. ${functionsdir}/universal/f_applist.cfg


