######################################################################################
# RPM based

function strawberry_openSUSE_branch_check() {
  # OpenSuse Leap and/or Tumbleweed
  
  # this is in the tumbleweed default repo - nothing more is needed
  [ "$openSUSEBranch" = "tumbleweed" ] && installApp "strawberry" && return
  [ "$openSUSEBranch" = "leap" ] && getStrawberryURL && return

}

# End of RPM based functions
############################################################################ Ubuntu based functions
# Start of Debian/Ubuntu functions


function starwberry_debian_branch_check() {
  strawberry_deb_url=$(curl -s "https://www.strawberrymusicplayer.org/#download" | awk -v d_branch=$debian_codename -F '"' '$0 ~ "deb" && $0 ~ d_branch {print $2}')

  programURL=${strawberry_deb_url}

  # that function name here seems wrong .. .i think it should be "deb_get_check" now that i think of it
  deb_get_install ${programURL} && return

}


function strawberry_branch_distro_check() {


  # I think my idea for the checks here is that it checks that he 
  case $distroBase in

    debian|fedora|ubuntu) getStrawberryURL ;;
    opensuse) strawberry_openSUSE_branch_check ;;

  esac

}
