
arch_menu_items=(
		1 '[Sub-Menu] AUR Support Options'
		2 '[Sub-Menu] Manjaro specific'
		3 'Reset to Original Mirrors'
		4 'Add Sound Support'
		5 'Adds Archive Support'
		M 'Return to Main Menu'
		Q 'Exit to Prompt'
	)


function archMenuCaseStatement() {

	case $archMenuSelection in

		1) aurMainMenuType ;;
		2) manjaroChrootMenuType ;;
		3) resetMirrors ;;
		4) soundSupport ;;
		5) archiveSupport ;;
		[mM]) mainMenuType ;;
		[qQ])
				quitScript
				x=1 ;;
		* ) invalidSection ;;

	esac
}

function archMenuEcho() {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
	echoMenuLoop
}


<<<<<<< HEAD
=======
	menuTitle="Xmetal's Arch/Manjaro Base Menu"
=======
>>>>>>> 28e67e53 (move to function for menu header display)


=======
	menuArrayName="archMenu"
	menuName=$menuArrayName"Echo"
>>>>>>> ff955b73 (menu work)
	menuArrayName="arch_menu_items"
	currentMenuCaseStatementName="archMenuCaseStatement"
	currentMenuSelectionVar="archMenuSelection"

=======
>>>>>>> 8756e7bb (menu work)
	echoMenuLoop
}


<<<<<<< HEAD


>>>>>>> 975ee957 (menu work and cleanup)
=======
>>>>>>> ff955b73 (menu work)
function archMenuDialog()
{

	TITLE="Arch Menu"
	MENU="Please Select an option"
	HEIGHT=25
	WIDTH=65
	CHOICEHEIGHT=15



	arch_menu=$(dialog 	--title "$TITLE" \
						--backtitle "$BACKTITLE" \
						--menu "$MENU" \
						15 45 $CHOICEHEIGHT \
						"${arch_menu_items[@]}" \
						3>&2 2>&1 1>&3)

	archMenuCaseStatement

	# ending loop here
	menuLoop

=======
function archMenuDialog() {
	createDialogMenu
>>>>>>> b574982e (most all menus working)
}

function archMenuType() {
<<<<<<< HEAD
<<<<<<< HEAD
	baseMenuName="archMenu"
	menuTitle="Xmetal's Arch/Manjaro Base Menu"
	currentMenuCaseStatementName="archMenuCaseStatement"

	declare -n menuArrayName=arch_menu_items
	declare -n currentMenuSelection=archMenuSelection



	$menuName
=======

=======
	baseMenuName="archMenu"
	menuArrayName="arch_menu_items"
>>>>>>> 8756e7bb (menu work)
	menuTitle="Xmetal's Arch/Manjaro Base Menu"
	currentMenuCaseStatementName="archMenuCaseStatement"
	currentMenuSelectionVar="archMenuSelection"


	detectMenuVariant
<<<<<<< HEAD
>>>>>>> 975ee957 (menu work and cleanup)
=======
	assignMenuName

	$menuName
>>>>>>> 8756e7bb (menu work)
}