fedora_menu_items=(
		1 '[Sub-Menu] Individual tasks from Fedy'
		2 'Add Feddy'
		3 'Perform Common Fedy Tasks (without installing Fedy)'
		M 'Return to Main Menu'
		Q 'Exit to Prompt'
	)


function fedoraMenuCaseStatement() {

	case $fedora_menu in
			1) fedyTasksMenuType ;;
			2) InstallFedy ;;
			3) massFedyTasks ;;
			[mM]) mainMenuType ;;
			[qQ])
				quitScript
				menuLoop=1
				break
				;;
        *) invalidSection ;;
	esac

}


<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
function fedoraMenuDialog()
{
<<<<<<< HEAD
=======
function mainFedoraMenu()
=======
function fedoraMenuDialog()
>>>>>>> 0f3c7c47 (working on menu redo)
{


>>>>>>> 975ee957 (menu work and cleanup)
=======
>>>>>>> 8756e7bb (menu work)
	fedora_menu=$(dialog 	--title "$TITLE" \
							--backtitle "$BACKTITLE" \
							--menu "$MENU" \
							12 65 8 \
							"${fedora_menu_items[@]}" \
							3>&2 2>&1 1>&3)

	# ending loop here
	menuLoop

=======
function fedoraMenuDialog() {
	createDialogMenu
>>>>>>> b574982e (most all menus working)
}

<<<<<<< HEAD
<<<<<<< HEAD
function fedoraMenuEcho() {
	echoMenuLoop
}

<<<<<<< HEAD

=======
>>>>>>> 975ee957 (menu work and cleanup)
=======
function fedoraMenuEcho() {
	echoMenuLoop
}


>>>>>>> 0f3c7c47 (working on menu redo)

function fedoraMenuType() {

	menuName="fedoraMenu"
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8756e7bb (menu work)
	menuArrayName="fedora_menu_items"
=======
function fedoraMenuType() {

	baseMenuName="fedoraMenu"
	menuTitle="Xmetal's Fedora Menu"
>>>>>>> b574982e (most all menus working)
	currentMenuCaseStatementName="fedoraMenuCaseStatement"

	declare -n menuArrayName=fedora_menu_items
	declare -n currentMenuSelection=fedora_menu


	$menuName
<<<<<<< HEAD
=======

	detectMenuVariant
>>>>>>> 975ee957 (menu work and cleanup)
=======
>>>>>>> 8756e7bb (menu work)
}


