opensuse_menu_items=(
		1 'Install Cinnamon'
		M 'Return to Main Menu'
		Q 'Exit to Prompt'
	)

function openSUSEMenuCaseStatement() {

	case $opensuse_menu in
		1) metaSUSECinnamonInstall ;;
		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;
		esac

}


function openSUSEMenuDialog() {

	# creates the dialog
	createDialogMenu

}


function openSUSEMenuEcho() {
	createEchoMenu
}


function openSUSEMenuType() {
	currentMenuCaseStatementName="openSUSEMenuCaseStatement"
	baseMenuName="openSUSEMenu"
	menuTitle="Xmetal's OpenSUSE Menu"

	declare -n menuArrayName=opensuse_menu_items
	declare -n currentMenuSelection=opensuse_menu


	$menuName
}
