# what is the real difference between 2 and 4 ?
solus_menu_items=(
    1 'Switch from Stable to Unstable Repo'
    2 'Switch from Unstable to Stable Repo'
    3 'Add (but dont switch to) Unstable Repo'
    4 'Disable the UnStable Repo'
    M 'Return to Main Menu'
    Q 'Exit to Prompt'
)

function solusMenuCaseStatement() {

	case $solus_menu in
		1) enableUnstableRepo ;;
		2) enableStableRepo ;;
		3) sudo eopkg add-repo SolusUnstable $solusUnstableRepo ;;
		4) sudo eopkg disable-repo solusUnstableRepo ;;
		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;
	esac

}

function solusMenuDialog() {
	createDialogMenu
}

function solusMenuEcho() {
	createEchoMenu
}


function solusMenuType() {
	currentMenuCaseStatementName="solusMenuCaseStatement"
	baseMenuName="solusMenu"
	menuTitle="Xmetal's Solus Menu"

	declare -n menuArrayName=solus_menu_items
	declare -n currentMenuSelection=solus_menu


	$menuName
}
