ubuntu_menu_items=(
		1 '[Sub-Menu] PPA List Submenu'
		2 'Decide if popular packages accociated with PPAs \n are installed by default (default=no)'
		3 'Setup Common packages, like gdebi, Gnome Tweak, and Synaptic'
		M 'Return to Main Menu'
		Q 'Exit to Prompt'
	)


function ubuntuCaseStatement() {

	case $ubuntu_menu in
		# located in /functions/ubuntu/PPAs/f_PPAMaintence.cfg
		1) ppaMenuType ;; 
		2) ppaPackageInstallUserChoice  ;;
		3) InstallElementaryAdditions ;;
		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;
	esac

}

function ubuntuMenuDialog() {
	createDialogMenu
}

function ubuntuMenuEcho() {
	createEchoMenu
}

function ubuntuMenuType() {
	currentMenuCaseStatementName="ubuntuCaseStatement"
	baseMenuName="ubuntuMenu"
	menuTitle="Xmetal's Ubuntu Menu"

	declare -n menuArrayName=ubuntu_menu_items
	declare -n currentMenuSelection=ubuntu_menu

	$menuName
}
