ubuntu_menu_items=(
		1 'Decide if popular packages accociated with PPAs \n are installed by default (default=no)'
		2 'Setup Common packages, like gdebi, Gnome Tweak, and Synaptic'
		3 'Add Official LibreOffice PPA - Which may contain newer versions than more distros have in their current repo'
		M 'Return to Main Menu'
		Q 'Exit to Prompt'
	)


function ubuntuCaseStatement() {

	case $ubuntu_menu in
		# located in /functions/ubuntu/PPAs/f_PPAMaintence.cfg
		1) ppaPackageInstallDefault  ;;
		2) InstallElementaryAdditions ;;
		3) PPALatestLibreOffice ;;
		[mM]) mainMenuType ;;
		[qQ])
				quitScript
				menuLoop=1
				break
				;;
        *) invalidSection ;;
	esac

}

function ubuntuMenuDialog() {
	createDialogMenu
}

function ubuntuMenuEcho() {
	echoMenuLoop
}

function ubuntuMenuType() {
	currentMenuCaseStatementName="ubuntuCaseStatement"
	baseMenuName="ubuntuMenu"
	menuTitle="Xmetal's Ubuntu Menu"

	declare -n menuArrayName=ubuntu_menu_items
	declare -n currentMenuSelection=ubuntu_menu

	$menuName
}
