## This file is for functions that are only here for test purposes 


function displayInfoTest()
{
  
  clear
  echo -e "Tests below - This will NOT be staying ... I NEED TO test what is in the variables"
  #echo -e "idlike:\t\t $idlike"
  #echo -e "id:\t\t $id" 
  #echo -e "versionid:\t $versionid"
  #echo -e "version:\t $version"
  #echo -e "name:\t\t $name"
  #echo -e "ubuntuName:\t $ubuntuName"

  userPrompt
}

