function cleanOldKernelsOpenSUSE() {

	case ${distroBase} in

		"opensuse")
			clear
			fancy_message action "Purge Old Kernel"
			sudo zypper purge-kernels
			fancy_message info "Old Kernels purged"
			userPrompt
			clear
			;;

		*) wrongDistroBase ;;

	esac


}

# rename later
# for debian/ubuntu
function cleanOrphanPackages() {

	case ${distroBase} in

		debian|ubuntu)
			clear
			fancy_message action "Cleaning Orphaned Packages"
			sudo apt autoremove

			fancy_message info "Orphan Package Cleaning, is now Complete"
			;;

		*) wrongDistroBase ;;

	esac

}

# ***** DOUBLE CHECK the syntax
function deleteTmpFolder() {
    fancy_message action "Delete /tmp location content (what it can without sudo access)"
    # todo: add redirect for errors to /dev/null
	rm /tmp/*

	userPrompt
	clear

}

function cleanUnusedFlatpak() {
	clear
	fancy_message action "Cleaning unused Flatpak"
	sudo flatpak uninstall --unused
	userPrompt
	clear

}


function cleanTempBuildFiles() {
    #clear

    fancy_message action "Cleaning temp build files "

    # Clean temporary build files
    rm -rf ~/{.bundle,.cargo,.cmake,.dotnet,.electron,.electron-gyp,.gem,.gradle,.lazarus,.node-gyp,.npm,.nuget,.nvm,.racket,.rustup,.stack,.yarn} || true

    rm -rf ~/.cache/{electron,electron-builder,go-build,node-gyp,pip,yarn} || true

    sudo rm -rf ~/go || true

}
