########################################################################
# source https://www.makeuseof.com/how-to-clean-package-cache-in-arch-linux/

# this only cleans packages in the cache, not currently installed
function clearPacmanCacheOrphan() {
	echo -e "Cleaning Orphan packages from Pacman cache"
	pacman -Sc
}
########################################################################
# Paccache related

# check spelling
function installPaccache
{
	# check if Paccache installed ... if not
	sudo pacman -S pacman-contrib
}

# removes all but the last two versions of a package from cache
function paccacheLast2 () {
	# $1 is from the menu idea below
	sudo paccache -rk$1
}


# idea: let user select between 1 (newest only) and 3 priot versions via a menu
# DO NOT waste time doing the menus for this is the old format