function cleanOldKernelsOpenSUSE() {

	echo -e "Purge Old Kernel"
    sudo zypper purge-kernels
	echo -e "Old Kernels purged"
	userPrompt
	clear
}

# rename later
# for debian/ubuntu
function cleanOrphanPackages()
{
    clear
    echo -e "Cleaning Orphaned Packages"
    sudo apt autoremove

    echo -e "Orphan Package Cleaning, is now Complete"

}

# ***** DOUBLE CHECK the syntax
function deleteTmpFolder
{
    echo -e "Delete /tmp location"
    rm /tmp/*

	userPrompt
	clear

}

function cleanUnusedFlatpak() {
	clear
	echo -e "Cleaning unused Flatpak"
	sudo flatpak uninstall --unused
	userPrompt
	clear

}


function cleanTempBuildFiles()
{
    #clear

    echo -e "Cleaning temp build files "

    # Clean temporary build files
    rm -rf ~/{.bundle,.cargo,.cmake,.dotnet,.electron,.electron-gyp,.gem,.gradle,.lazarus,.node-gyp,.npm,.nuget,.nvm,.racket,.rustup,.stack,.yarn} || true

    rm -rf ~/.cache/{electron,electron-builder,go-build,node-gyp,pip,yarn} || true

    sudo rm -rf ~/go || true

}
