function wrongDistroBase() {

	fancy_message info "Your distroBase is $distroBase and this code is not made for the distro you are running"
	userPrompt

	# idea return to the current Menu
	$menuName


}

. ${uniFunctionDir}/cleanup/f_cleanup.cfg
. ${uniFunctionDir}/cleanup/f_cleanup_archbased.cfg