# this will be a placeholder file for functions i dont want to remvoe but i am not sure what the idea i had for them was 




# idea: function to sort out specific names
# here we know the list of possible links is more than one
function gitDownloadSort() {

	# put this elsewhere, more global?

	case $distroBase in

		debian) distroBranch=${debian_branch} ;;
		fedora) distroBranch=${fedora_branch} ;;
		opensuse)

			# if statement to check for leap_branch (var) existing? being non-zero?
				# leap_branch example "15.3" or "15.4"
					# is the decimal going to be a problem?
			# idea anyway: "if leap_branch is NOT empty", assign distroBranch
			[ -n "${leap_branch}" ] && distroBranch=${leap_branch}

			;;

		ubuntu) distroBranch=${ubuntuBranch} ;;

	esac

	# condensed form of what i had below, otherwise it looks like one big string
	programURNewlines=$(echo -e ${possibleDownloadLinks}  | tr " " "\n")

	case $distroBase in

		debian|fedora|opensuse|ubuntu) programURL=$(echo -e ${programURNewlines} | grep "${distroBranch}" ) ;;
	esac

	programURL=$(echo -e ${possibleDownloadLinks} )

}

# August 2025: I THINK this may be redundent and no longer needed



################################################################
# What is needed to be known here
	# programName
	# repoName
	# fileFormat to download
	# nameFormat (in software function so no need to assign that here)

# gitDownload goal: to get the proper file for the running distro (if possible) and download it
	# other functions would handle the installing (i think)
	# cleanup maybe after other functions pass things back here (perhaps)

# not able to test with Comcast out, i am using my foo.sh file that worked and guessing at what may be the fix
function gitDownload() {

	releasePage="https://github.com/${repoName}/releases/latest"

	# change to githubAPIURL?
	github_API_URL="https://api.github.com/repos/${repoName}/releases/latest"

	#echo -e "${github_API_URL}"

	# grep ${fileformat}$ : to match the file format desired at the end of the line
		# idea: online its say ' .... $fileformat",       SO is that needed inside the brackets here if this doesn't work?
	# cant i (if REs are not used for my current knowledge of how to use them in awk) put the grep line here in with the awk and make a combo awk condition?
	possibleDownloadLinks=$(curl -s ${github_API_URL} | awk ' /browser_download_url/ { print $2 }' | grep -E "${fileFormat}" | sed 's/\"//g' )

	#debugging echo
	#echo -e "possibleDownloadLinks:\t ${possibleDownloadLinks}"

	possibleLinkLength=$(echo -e "${possibleDownloadLinks}" | awk '{ print NR}' )

	# if the list of possible links is more than one, pass to the sorting function
	[[ ${possibleLinkLength} < 1 ]] && programURL=${possibleDownloadLinks} || gitDownloadSort

	####################################
	# debugging
	#echo -e "programURL:\t${programURL}"
	#userPrompt
	#exit
	########################################


	# Goal: is to just obtain the URL to download, here

	metaExternalDownload ${programTitle} ${programURL}


	# Update: I THINK that handle function MAY BE missing RPM handling but i am not sure 100% ... double check that

	userPrompt

}

