# idea: function to sort out specific names
# here we know the list of possible links is more than one
function gitDownloadSort() {

	# I need to refactor this down i think ... like putting the tr and grep statements into a "sort" var or something 
	case $distroBase in

		debian) programURL=$(echo -e ${possibleDownloadLinks}  | tr " " "\n" | grep "${debianBranch}" ) ;;
		fedora) programURL=$(echo -e ${possibleDownloadLinks} | tr " " "\n" | grep "f${fedoraBranch}"  ) ;;
		opensuse) programURL=$(echo -e ${possibleDownloadLinks} | tr " " "\n" | grep "${leapBranch}" )  ;;
		ubuntu) programURL=$(echo -e ${possibleDownloadLinks} | tr " " "\n" | grep "${UBUNTU_CODENAME}" ) ;;

	esac

	# debugging echo for now 
	echo -e "${programURL}"

	programURL=$(echo -e ${possibleDownloadLinks} )

}

################################################################
# What is needed to be known here
	# programName
	# repoName
	# fileFormat to download
	# nameFormat (in software function so no need to assign that here)

# gitDownload goal: to get the proper file for the running distro (if possible) and download it
	# other functions would handle the installing (i think)
	# cleanup maybe after other functions pass things back here (perhaps)

# not able to test with Comcast out, i am using my foo.sh file that worked and guessing at what may be the fix
function gitDownload() {

	releasePage="https://github.com/${repoName}/releases/latest"

	# change to githubAPIURL?
	github_API_URL="https://api.github.com/repos/${repoName}/releases/latest"

	echo -e "${github_API_URL}"

	# grep ${fileformat}$ : to match the file format desired at the end of the line
		# idea: online its say ' .... $fileformat",       SO is that needed inside the brackets here if this doesn't work?
	possibleDownloadLinks=$(curl -s ${github_API_URL} | awk ' /browser_download_url/ { print $2 }' | grep -E "${fileFormat}" | sed 's/\"//g' )

	#debugging echo
	#echo -e "possibleDownloadLinks:\t ${possibleDownloadLinks}"

	possibleLinkLength=$(echo -e "${possibleDownloadLinks}" | awk '{ print NR}' )

	# if the list of possible links is more than one, pass to the sorting function
	[[ ${possibleLinkLength} < 1 ]] && programURL=${possibleDownloadLinks} || gitDownloadSort

	echo -e "programURL:\t${programURL}"
	
	# Goal: is to just obtain the URL to download, here

	metaExternalDownload ${programTitle} ${programURL}

	
	# Update: I THINK that handle function MAY BE missing RPM handling but i am not sure 100% ... double check that

	userPrompt

}



#################################################################################
# Oct 2022: is any of this needed? so many functions SEEM overcomplicated


## function purpose to git clone, a git repo... nothing else
# August 2021: this seeems SORT OF un-needed perhaps ...

## Git cleanup function
function gitCleanDir() {
	#cleanup

	# cd out of git (cloned) directory
	cd ..

	# remove directory
	rm -rf ${gitRepoName}

}


# gitMeta seems like a bad name now ... i probably should change that
	# gitClone a good function name?
# update; archGitInstall (below in this file) calls this
# is this function needed?  i need the repoName and githubURL (so to speak, not a var name)
function gitClone() {

	#Clone repo
	### NOTE TO SELF: REMEMBER TO CLONE THIS TO MAYBE THE "DOWNLOADS" DIR
    fancy_message action "Cloning ${gitRepoName} git repo"
    git clone ${gitURL}

	# i need to cd into the dir ?

}

# git function for arch
# Nov 2022: mainly used with yay or trizen i see
function archGitInstall() {
	clear

	gitClone

	fancy_message action "Entering ${gitRepoName} cloned directory"
	cd ${gitRepoName}

	clear
	# stop here telling the user what is going to happen
	fancy_message action  "About to compile and install ${gitRepoName}"
	userPrompts

	makepkg -si

	# i should do a check so this only displays IF THE LAST action was successful ...
		# check for last commands's exit code maybe?
		# exanple - if [ "success" ] && "do the line below" || echo some error message here
	fancy_message info "$gitRepoName installed now "

	fancy_message action "\nRunning a makepkg cleanup"

	#makepkg Cleanup
	makepkg --clean

	## after reading arch wiki https://wiki.archlinux.org/index.php/makepkg#Usage,
	#I am not sure if (below) is needed ... it may be good to have both

	# gitCleanDir


  	## FYI ...now the pwd SHOULD still be the /home/<username>/Downloads  or ~/Downloads folder

}