
##############################################

## EOL 
### I dont want to go overboard with the EOL list but just want to get info for some modern releases that maybe just EOL by a few months or so ... "all EOL" distros would be too much to list, of course 

#Fedora
fedora24EOL="August 8, 2017"
fedora25EOL="December 12, 2017"


## OpenSuse based
# Opensuse 13.2
opensuse132="Jan 17, 2017"
leap421EOL="May 17, 2017"


#Ubuntu
ubuntu1610EOL="July 20, 2017"
ubuntu1704EOL="Jan 13, 2018"


#####################################################################################
## Current 

# Fedora based 
fedora26EOL="Fedora 26 EOL date, is unknown"
fedora27EOL="filler"

# OpenSuse based 
leap422EOL="Jan 31 2018"
leap423EOL="Jan 31 2019"
twEOL="No End of Life (if updated) - Rolling Release"

#Ubuntu Based 

## LTS

### For Trusty (14.04) you apparently have to be updated to 14.04.5's base 
LTS1404EOL="April 2019"


LTS1604EOL="April 2021"

# non-LTS
ubuntu1710EOL="July 2018"

# Solus based 
solusEOL="No End of Life (if updated) - Rolling Release"