function ppaBranchCheck()
{
    # just do echos for now 

    # for extra space 
    echo
    echo -e "Checking if your Ubuntu base is supported by selected PPA "

    # if the answer is no, should there be a variable ... say "ppaSupported"
    if [[ $supportedBases =~ $lsbCodename ]]; then
        echo "PPA works on the Ubuntu base you are on "
        PPASupported=yes
    
    #checks to even see if user is on Ubuntu
    elif [ -z $lsbCodename ]; then 
        echo -e "It appears you are not on Ubuntu"
    
    else 
        echo "PPA not made for the Ubuntu Base you are on"
        PPASupported=no
    fi 
    
}