## IDEA: remember to keep the adding the PPA and installing the app code seperate as I may just want to add a PPA and let the user add what packages they want FROM said-PPA on their own 

#####################################

# July 2021: Still updated
function installAudioRecorderPPA()
{

	PPAName="Audio Recorder"
	PPASource="ppa:audio-recorder/ppa"
	PPARef="https://launchpad.net/~audio-recorder/+archive/ubuntu/ppa"
	packageNames="audio-recorder"
	supportedBase="bionic focal impish"

	addPPA $PPAName $PPASource

}


######################################################################
## PPAs, that are not needed but offer officially (for each app/dev) ways to install newer versions, than are in default repos 

# May 2022: even if still supported ... is this needed anymore
# also i dont remember caling this anyway YET 
# idea: leave it for now 
function installSMPlayerPPA()
{
	PPAName="SMPlayer" 
	PPASource="ppa:rvm/smplayer"
	PPARef="https://launchpad.net/~rvm/+archive/ubuntu/smplayer/"
	packageNames="smplayer smplayer-themes smplayer-skins"
	supportedBase="bionic focal impish"
	
	addPPA $PPAName $PPASource

}

## note to self: make a univesal makeMKV installer function
## This function would get called "if on an Ubuntu base"
function makeMKVPPA
{
	PPAName="MakeMKV"
	packageNames="makemkv-bin makemkv-oss"
	PPASource="ppa:heyarje/makemkv-beta"
	PPARef="https://launchpad.net/~heyarje/+archive/ubuntu/makemkv-beta"
	supportedBase="bionic focal impish"

	addPPA $PPAName $PPASource 
	
}


function aNoisePPA
{

    PPAName="ANoise, White Noise App"
    ppaRef="https://launchpad.net/~costales/+archive/ubuntu/anoise"
    ppaSource="ppa:costales/anoise"
    packageNames="anoise"
	supportedBases="bionic focal impish jammy"

    addPPA $PPAName $PPASource
	
}
