## IDEA: remember to keep the adding the PPA and installing the app code seperate as I may just want to add a PPA and let the user add what packages they want FROM said-PPA on their own 

#####################################

# July 2022: Still updated
function installAudioRecorderPPA() {
	PPATitle="Audio Recorder"
	PPAName="audio-recorder"
	PPASource="ppa:audio-recorder/ppa"
	PPARef="https://launchpad.net/~audio-recorder/+archive/ubuntu/ppa"
	packageNames="audio-recorder"
	supportedBase="bionic focal jammy"

	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}
}

# July 2022: this IS updated ... is this needed anymore
# also i dont remember calling this anyway YET 
# idea: leave it for now 
function installSMPlayerPPA() {
	PPATitle="SMPlayer"
	PPAName="smplayer"
	PPASource="ppa:rvm/smplayer"
	PPARef="https://launchpad.net/~rvm/+archive/ubuntu/smplayer/"
	packageNames="smplayer smplayer-themes smplayer-skins"
	supportedBase="bionic focal jammy"
	
	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}

}

## note to self: make a univesal makeMKV installer function
## This function would get called "if on an Ubuntu base"
function installMakeMKVPPA() {
	PPATitle="MakeMKV"
	PPAName="makemkv"
	PPASource="ppa:heyarje/makemkv-beta"
	PPARef="https://launchpad.net/~heyarje/+archive/ubuntu/makemkv-beta"
	packageNames="makemkv-bin makemkv-oss"
	supportedBase="bionic focal jammy"

	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}
	
}

function installANoisePPA() {
    PPATitle="ANoise, White Noise App"
	PPAName="anoise"
    ppaRef="https://launchpad.net/~costales/+archive/ubuntu/anoise"
    PPASource="ppa:costales/anoise"
    packageNames="anoise anoise-gui"
	supportedBases="bionic focal jammy"

    universalAddRepo ${PPATitle} ${PPASource} ${packageNames}
}

function installStrawberryPPA() {
    PPATitle="Strawberry Music Player"
	PPAName="strawberry"
    ppaRef="https://launchpad.net/strawberrymusicplayer"
    PPASource="ppa:jonaski/strawberry"
    packageNames="strawberry"
	supportedBases="bionic focal jammy"

    universalAddRepo ${PPATitle} ${PPASource} ${packageNames}
}