## IDEA: remember to keep the adding the PPA and installing the app code seperate as I may just want to add a PPA and let the user add what packages they want FROM said-PPA on their own 

#####################################

function PPAAudioRecorder()
{

	PPAName="Audio Recorder"
	PPASource=ppa:audio-recorder/ppa

	packageNames=audio-recorder
	supportedBase=""

	addPPAFunction $PPAName $PPASource

	$install $packageNames

}


# Use PPA on Ubuntu distros to get the newest stable version of mpv, not always in repos yet
function mpvPPA()
{
	# Source: https://launchpad.net/~mc3man/+archive/ubuntu/mpv-tests

	PPAName="MPV"
	PPASource=ppa:mc3man/mpv-tests
	PPARef=""

	packageNames=mpv

	ppaRepoAddition $PPAName $PPASource $packageNames
	
	$install $packageNames

}

function PPASMPlayer
{
	PPAName="SMPlayer" 
	PPASource="ppa:rvm/smplayer"
	
	packageNames="smplayer smplayer-themes smplayer-skins"
	
	ppaRepoAddition $PPAName $PPASource

	$install $packageNames

}

## note to self: make a univesal makeMKV installer function
## This function would get called "if on an Ubuntu base"
function makeMKVPPA
{
	PPAName=MakeMKV
	packageNames="makemkv-bin makemkv-oss"
	PPASource=ppa:heyarje/makemkv-beta
	PPARef=""

	ppaRepoAddition $PPAName $PPASource 
	
	$install $packageNames

}
