######################################################################
## Office related items here

function installLatestLibreOfficePPA() {
	PPATitle="Libre Office"
    PPAName="libreoffice"
	packageNames="libreoffice"
	PPASource="ppa:libreoffice/ppa"
    PPARef="https://launchpad.net/~libreoffice/+archive/ubuntu/ppa"
    supportedBases="focal jammy noble"

  	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}

}

### End Office related items
############################################

function installKubuntuBackportsPPA() {
    # Check for Kubuntu should go here

    PPATitle="Kubuntu KDE Backports"
    # i am really not sure about this PPAName
    PPAName="kubuntu-ppa/backports"
    packageNames="plasma-desktop"
    PPASource="ppa:kubuntu-ppa/backports"
    PPARef="https://launchpad.net/~kubuntu-ppa/+archive/ubuntu/backports"
    supportedBases="jammy"

  	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}

}

function installBootRepairPPA() {
    PPATitle="Boot Repair"
    PPAName="boot-repair"
    packageNames="boot-repair"
    PPARef="https://launchpad.net/~yannubuntu/+archive/ubuntu/boot-repair"
    PPASource="ppa:yannubuntu/boot-repair"
    supportedBases="focal jammy noble"

    universalAddRepo ${PPATitle} ${PPAName} ${PPASOurce}

}
