######################################################################
## Office related items here

function installLatestLibreOfficePPA() {
	PPATitle="Libre Office"
    PPAName="libreoffice"
	packageNames="libreoffice"
	PPASource="ppa:libreoffice/ppa"
    PPARef="https://launchpad.net/~libreoffice/+archive/ubuntu/ppa"
    supportedBases="bionic focal jammy"

  	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}

}

### End Office related items
############################################

function installKubuntuBackportsPPA() {
    # Check for Kubuntu should go here

    PPATitle="Kubuntu KDE Backports"
    # i am really not sure about this PPAName
    PPAName="kubuntu-ppa/backports"
    packageNames="plasma-desktop"
    PPASource="ppa:kubuntu-ppa/backports"
    PPARef="https://launchpad.net/~kubuntu-ppa/+archive/ubuntu/backports"
    supportedBases="bionic focal jammy"

  	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}

}

function installBootRepairPPA() {
    
    PPATitle="Boot Repair"
    PPAName="boot-repair"
    packageNames="boot-repair"
    PPARef="https://launchpad.net/~yannubuntu/+archive/ubuntu/boot-repair"
    PPASource="ppa:yannubuntu/boot-repair"
    supportedBases="bionic focal jammy"

    universalAddRepo ${PPATitle} ${PPAName} ${PPASOurce}

}

# May 2022: odd ... it supports bionic 18.04 and jammy 22.04 but not focal 20.04 (LTS wise)
# July 2022: this has Bionic and Jammy but nothing for Focal (20.04) 
function installGrubCustomizerPPA() {
	PPATitle="Grub Customizer"
    PPAName="grub-customizer"
    ppaRef="https://launchpad.net/~danielrichter2007/+archive/ubuntu/grub-customizer"
    PPASource="ppa:danielrichter2007/grub-customizer"
    packageNames="grub-customizer"
    supportedBases="bionic jammy"

  	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}

}

# July 2022: Focal is as far as this goes for now 
function installTeejeePPA() {

	PPATitle="Tee Jee PPA"
    PPAName="teejee"
	PPAProgramName="timeshift"
	PPARef="https://launchpad.net/~teejee2008/+archive/ubuntu/ppa"
	PPASource="ppa:teejee2008/ppa"
	supportedBases="bionic focal"

	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}

}


# For Oden (Elemetary 6) ONLY
function installPantheonTweaksPPA() {

 	PPATitle="Pantheon Tweaks"
    PPAName="pantheon-tweaks"
    ppaRef="https://github.com/pantheon-tweaks/pantheon-tweaks"
    PPASource="ppa:philip.scott/pantheon-tweaks"
    supportedBases="focal"
    packageNames="pantheon-tweaks"

	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}
}