
function wineHQDebianDeps()
{

	# || = "or"
	if [  "$lsbCodename" == "buster" ]; then

		libfaudioURLBuster32bit="https://download.opensuse.org/repositories/Emulators:/Wine:/Debian/Debian_10/i386/libfaudio0_20.01-0~buster_i386.deb"

		libfaudioURLBuster64bit="https://download.opensuse.org/repositories/Emulators:/Wine:/Debian/Debian_10/amd64/libfaudio0_20.01-0~buster_amd64.deb"


		cd ~/Downloads

		fancy_message action "Getting 64bit Dependency."
		gdebiInstall $libfaudioURLBuster64bit
		clear

		fancy_message action "Getting 32bit Dependency."
		gdebiInstall $libfaudioURLBuster32bit

	else
		fancy_message info "No Extra packages added or needed at this time, that I KNOW of "

	fi

	userPrompt
}

# idea: could this be used for ubuntu too?
function createWineHQListFile() {
    wineHQList="/etc/apt/sources.list.d/winehq.list"

	# Create file for Wine
	sudo touch $wineHQList

	sudo chown $USER $wineHQList
	sudo chgrp users $wineHQList

}


# The idea of seperating this out is to EVENTUALLY have cleaner code
# and the user with the ability to install the -stable or -devel wine branch
# that is the idea of using the $1 var here
function installWineHQDebian() {

	fancy_message action "Installing WineHQ-Stable"
	$install --install-recommends $1
	userPrompt
}



function wineHQDebianMetaInstall()
{

	# if file DOESN'T exist, create it
	if [ ! -f "$wineHQList" ]; then

		# call function that creates file for Wine
		createWineHQListFile

		case $debianBranch in

			stable)
				wineHQDebianSource="deb https://dl.winehq.org/wine-builds/debian/ buster main" ;;

			testing)
				wineHQDebianSource="deb https://dl.winehq.org/wine-builds/debian/ bullseye main" ;;

		esac

		# Another dep
		fancy_message action "Installing libstb0, which is another dependency"
		$install libstb0

		fancy_message info "Echoing out proper code to /etc/apt/sources.list.d/winehq.list file"


		# Echoing out needed line to where it needs to be
		sudo echo $wineHQDebianSource >> /etc/apt/sources.list.d/winehq.list

	else

		clear
		fancy_message info "WineHQ List file already exists"

	fi


	# I need to add the key here before the update
	# I think the echo to the user is  IN this function
	addWineHQKey
	userPrompt

	# Refresh repos
	refreshRepositories
	clear

	##########################33
	# May 2022: this seems all un-needed  since i have a functin that does this 
	# Check for gdebit
	fancy_message action "Checking for Gdebi"
	detectPackageStatus "gdebi"
	userPrompt
	clear
	##################################################33

	# Dependency Check
	fancy_message info "Check for WineHQ Dependencies "
	wineHQDebianDeps
	userPrompt
	clear

	# I will not worry about if the user wants say "wine-dev" the developer version of WINE, here
	wineHQDebianBranchInstall "winehq-stable"

	fancy_message info "Wine Installed"
	userPrompt

}
