. $functionsDir/arch/aurRelated/includeAURRelated.cfg

# Oct 2019 Note to self: since AUR stuff COULD be considered third party on a native Arch install ... CONSIDER moving this to the third party section?
# example - where rpmfusion and Packman (OpenSuse) is?... think of that down the line ... it's fine here for now

archSettingsFile="$xmetalScriptsRoot/settings/archSettings.cfg"


function archiveSupport()
{

  clear
  echo "Adding Archive Support to Arch "

  ## A way to detected the DE is needed and and if/then loop below should work

  installApp "zlib p7zip unzip zip zziplib"

    # 2019: use something other then yaourt
      # yaourt -S engrampa-thunar

    # for the cinnamon desktop use
    # installApp nemo-fileroller

    # for Gnome Desktop
    # installApp file-roller

}


function soundSupport()
{

  ## Volume settings
  clear
  echo -e "Adding Sound Support to Arch"

  ## Volume settings

  ### "For XFCE"
  installApp "pavucontrol pulseaudio-alsa"

  # For keyboard volume buttom usage
  # I never updated this .... yaourt is EOL anyway
  #yaourt -S xfce4-volumed

  echo "VolumeD settings will take effect after a reboot"

}

#################################
function installVirtualBox()
{

    clear
    echo -p "Installing VirtualBox"

    ## Hold on ... shouldn't archPacInstall be installApp

    installApp "virtualbox virtualbox-host-dkms virtualbox-host-modules"

    ## Update this since Yaourt is EOL
    #yaourt -S virtualbox-ext-oracle

    echo -p "\n\n Modprobing the Virtualbox Driver"
    sudo modprobe vboxdrv

    echo -p "Giving User Permissions to use features in Virtualbox"
    sudo gpasswd -a $USER vboxusers


    # To load the VirtualBox module at boot time, refer to Kernel_modules#Loading and create a *.conf with the line:
    # vboxdrv

    # in location
    # /etc/modules-load.d/virtualbox.conf

}

# End Misc Functions
###################################################
