
function userChoiceAURHelperMenu()
{

  x=1

  while [ $x=1 ]; do

    clear
    echo -e "${bold}${underline}AUR Helper Selection Menu ${completeReset} \n"

    echo -e   "1. \t trizen"
    echo -e   "2. \t yay"
    echo -e   "3. \t Exit to Arch-related submenu"

    read -p   "Your Choice?:" aurhelperSelection

    case $aurhelperSelection in

      1)
          if [ ! -f /usr/bin/trizen ]; then
            installTrizen
          else
            echo -e "Trizen is already installed"
          fi

          aurHelper="trizen"

          assignTrizen

          exportAURHelper

          return
          ;;

      2)
        if [ ! -f /usr/bin/yay ]; then
            installYAY
        else
          echo -e "yay is already installed"
        fi

        aurHelper="yay"

        assignYay

        exportAURHelper

        return 

        ;;

      3) mainArchMenu ;;

      *) invalidSection ;;

    esac

  done

}

#################################################
function aurHelperMenu()
{
  clear
  echo
  echo -e "AUR Helper Menu"
  echo
  echo -e "1. \t Display AURHelper Info"
  echo -e "2. \t AUR Helper Selecton Menu"
  read -p "Your Choice?: " aurHelerMenuChoice


  case $aurHelerMenuChoice in

    1) aurHelperDisplay ;;

    2) userChoiceAURHelperMenu ;;


  esac




}