
function userChoiceAURHelperMenu
{

  x=1

  while [ $x=1 ]; do

    echo -e "${bold}${underline}AUR Helper Selection Menu ${completeReset} \n"

    echo -e   "1. \t trizen"
    echo -e   "2. \t yay"

    # echo -e   "q. \t Exit to Prompt \n\n"
    read -p   "Your Choice?:" aurhelperSelection

    case $aurhelperSelection in

      1)    
          # IF the user selects but it's not installed 
          if [ ! -f /usr/bin/trizen ]; then 
            installTrizen
            aurHelper="trizen"
          else
            return
          fi

          ;; 

      2) 
        # IF the user selects but it's not installed 
        if [ ! -f /usr/bin/yay ]; then
            installYAY
            aurHelper="yay"
        else 
          return
        fi 
    
      ;;

      # [qQ]) quitScript  ;;

      *) invalidSection ;;

      esac

  done

}