
function archiveSupport()
{

  clear
  echo "Adding Archive Support to Arch "

  ## A way to detected the DE is needed and and if/then loop below should work 

    # for the XFCE desktop use
    #installApp zlib p7zip unzip zip zziplib

    yaourt -S engrampa-thunar

    # for the cinnamon desktop use
    #$install nemo-fileroller zlib p7zip unzip zip zziplib

    # for Gnome Desktop
    #$install file-roller zlib p7zip unzip zip zziplib

}


function soundSupport()
{

  ## Volume settings
  clear
  echo -e "Adding Sound Support to Arch"

  ## Volume settings

  ### "For XFCE"
  $install pavucontrol pulseaudio-alsa

  # For keyboard volume buttom usage
  yaourt -S xfce4-volumed

  echo "VolumeD settings will take effect after a reboot"

}

#################################
function installVirtualBox()
{

    clear
    echo -p "Installing VirtualBox"
    
    ## Hold on ... shouldn't archPacInstall be installApp 

    archPacInstall virtualbox virtualbox-host-dkms virtualbox-host-modules
    yaourt -S virtualbox-ext-oracle

    echo -p "\n\n Modprobing the Virtualbox Driver"
    sudo modprobe vboxdrv

    echo -p "Giving User Permissions to use features in Virtualbox"
    sudo gpasswd -a $USER vboxusers


    # To load the VirtualBox module at boot time, refer to Kernel_modules#Loading and create a *.conf with the line:
    # vboxdrv

    # in location
    # /etc/modules-load.d/virtualbox.conf

}
