#########################################################################################
## Specific Distro Checking

# Manjaro Check
## ?? Where does this get called?
## if we know its manjaro wtf is the if statement for?
function manjaroCheck()
{
	if  [ "${OSRELEASE_ID}" = 'manjaro' ] || \
		[[ "${OSRELEASE_NAME}" =~ .*"Manjaro Linux".* ]]; then

		isManjaro="true"
		manjaroVersion=$lsbRelease

	fi
}



function manjaroChroot()
{
	# Install needed package to CHROOT - Manjaro only

	refreshRepositories
	

	fancy_message action "Installing Needed package for Manjaro Chroot"
	installApp "mhwd-chroot"

	clear
	echo -e "Its REALLY important to know your Manjaro partition, if not .. click Control + Z to exit, NOW "
	echo -e "After the next commannd is ran, choose your Manjaro partition"

	sudo mhwd-chroot-shell

	clear
	echo -e "Now you need to reinstall the kernel (Ex- for 4.14* you would type 'sudo pacman -S linux414' "
	echo -e "You MAY WANT to 'sudo grub-install /dev/sda ' "
	echo -e "I am not putting this code in on purpose to not have other people running this and possibly borking their system.\n"
	echo -e "USE THIS KNOWLEDGE AT YOUR OWN RISK - This is what I have to do to get around the kernel panic on a failed kernel install, issue "
}

