
function manjaroChroot()
{
  # Install needed package to CHROOT - Manjaro only 

  
  clear
  echo -e "Refreshing repos"
  sudo pacman -Syy 
  echo -e "Repos are now Up-to-Date"
  userPrompt

  echo -e "Installing Needed package for Manjaro Chroot"
  sudo pacman -S mhwd-chroot

  clear
  echo -e "Its REALLY important to know your Manjaro partition, if not .. click Control + Z to exit, NOW "
  echo -e "After the next commannd is ran, choose your Manjaro partition"

  sudo mhwd-chroot-shell


  clear
  echo -e "Now you need to reinstall the kernel (Ex- for 4.14* you would type 'sudo pacman -S linux414' "
  echo -e "You MAY WANT to 'sudo grub-install /dev/sda ' "
  echo -e "I am not putting this code in on purpose to not have other people running this and possibly borking their system."
  echo -e
  echo -e "USE THIS KNOWLEDGE AT YOUR OWN RISK - This is what I have to do to get around the kernel panic on a failed kernel install, issue "
}

################################################################################################

function manjaroMenu()
{
  
  while [[ $x=1 ]]; do
    
    clear
    echo -e "Xmetal's Manjaro,  Post-Installation Script \n"
    echo -e "Please NOTE: Many of these tasks are predone on distros such as Antergos \n\n"
    echo -e "Please Select task: \n"


    echo -e   "1. \t Manjaro Rank-Mirrors"
    echo -e   "2. \t CHROOT into Manjaro [to be used from a live Media] "

    echo -e   "m. \t Return to Main Menu"
    echo -e   "q. \t Exit to Prompt\n\n"

    read -p   "Your Choice?:"  manjaroSelection


    case $manjaroSelection in

      1)  manjaroRankMirrors
          x=1 ;;

      2)  manjaroChroot
          x=1 ;;

      [mM])  clear 
            exit
            ;;

      [qQ])  quitScript   ;;

      * ) invalidSection ;;

      esac

  done

}