###################################################################################################
# Arch related 

function optimizeArchMirrors()
{

  clear
  echo -e "About to Optimize Pacman Mirrors, while backing up  the current mirror list"

  # Backing up Current mirror list, TODO: Add option to "auto-reset" mirrorlist in the case of a bork
  sudo cp /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak

  # Install Reflector
  installApp reflector

  # Run Reflector - this is a basic run
  sudo reflector --verbose -l 6 --sort rate --save /etc/pacman.d/mirrorlist

}

###################################################################################################
### Backup section 

function backupMirrorlist()
{
  
  ## Check if original mirrorlist has been created/backed up yet 
  if [ -f $originalMirrorlist ]

    # makes backup of current mirrorlist but doesn't touch mirrorlist.original IF IT ALREADY EXISTS 
    echo -e "Making a backup of your current mirrorlist"
    sudo cp $mirrorlist $backupMirrorlist
    echo -e "Mirrorlist successfully backed up"
    clear

  else
    clear

    echo -e "Backing up original mirrorlist"
    echo -e "Note: THIS backup file is only created once and is the original mirrorlist file before my scripts ever did anything"
    
    # For a space
    echo
    echo "The original mirrorlist is backed up at: $originalMirrorlist"
    sudo cp $mirrorlist $originalMirrorlist

  fi

}

######################################################################################################

function optimizeMirrorMeta()
{
  # Backup

    ## Declare Variables
     
      # Mirrorlist file
      mirrorlist="/etc/packman.d/mirrorlist"
      # backup of original mirrorlist before my scripts do anything 
      originalMirrorlistBackup="/etc/pacman.d/mirrorlist.original"
      # backup file to be created "each time"
      backupMirrorlist="/etc/pacman.d/mirrorlist.backup"
      ######################################################################


  # backup original mirrorlist but doesn't touch the original backup if it already exists 
  originalMirrorlistBackup

  #Optimize mirrors
  optimizeArchMirrors

  echo -e "You do not seem to be on an Arch based distro "

}