
. $(eval pwd)/functions/arch/f_arch.cfg

# functions related to mirrorlist tasks
. $(eval pwd)/functions/arch/f_mirrorlist.cfg

# Functions specific to Manjaro - mirrorlist tasks SPEFICALLY for Manjaro are probably going to be located here 
. $(eval pwd)/functions/arch/f_manjaro.cfg