# **** THIS IS NOT INTENDED TO GET CALLED FROM ANYWHERE
# THE IDEA OF THIS FILE IS TO PLACE THINGS THAT MAYNOT BE GETTING CALLED (FUNCTIONS) BUT I DONT WANT TO REMOVE YET.

# THE GOAL IS TO CLEANUP OTHER FILES WITHOUT REMOVING CODE 