# Meta "detect" function
#NOTHING should install here
function detectPackageStatus() {

	# declare Array to be used for things detected as not installed
	declare -a appsToBeInstalled

	# as long as there is another package in the list being sent to this function
	for individualPackage in $@
	do
		#clear

		fancy_message action "Checking if $individualPackage is installed"

		if [[ $(command -v ${individualPackage} ) ]]; then
			alreadyInstalled="yes";
		elif [[ ! $(command -v ${individualPackage} ) ]]; then
			alreadyInstalled="no"
			appsToBeInstalled+=("$individualPackage")
		fi
	done

	## NOTHING should install here ... that would be done after this array gets passed back
		#appsToBeInstalled
}
