function detectInstallStatus {

	grepPackage="grep $individualPackage"

	# q = sets exit status but doesn't display on screen
	command -v $individualPackage > /dev/null 

	# 0 = not empty aka something is displayed
	# 1 = empty aka nothing is displayed 
	if [ "$?" == 0 ]; then
		alreadyInstalled="yes";
	elif [ "$?" == 1 ]; then
		alreadyInstalled="no"
	fi

}

# Meta "detect" function
#NOTHING should install here 
function detectPackageStatus() {

	for individualPackage in $@
	{
		clear

		fancy_message action "Checking if $individualPackage is installed"

		###############################################
		# old cold kept here "just in case"
		# [ $? == 0 ] && fancy_message info "Package $individualPackage found on this system"  && userPrompt && return || fancy_message info "Package $individualPackage is not detected, and needs to be installed" || userPrompt || return $individualPackage
		#####################################################

		# function that uses the default package manager to detect if a package is installed and sets "$alreadyInstalled"
		detectInstallStatus "$individualPackage"

	}
}
