
######################################################################################

#This is the MAIN function, below
function massInstallUsefulApps()
{
  # Calls function above 
  #defaultUsefulAppsInstall


  defaultAppsList="cat data/defaultRepoApps.list"

  ## Test - Would this work?
  clear
  echo -e "sudo apt install | $defaultAppsList"

  # Below will be functions that handle things for usefulApps NOT in default repos where extra processing (Downloading DEB or RPMs, adding RPMFusion,...etc) is needed 

}



######################################################################################
## Related to upgrading, below 


function logUpgradeInfo()
{
  
  clear

  # the idea of this is to keep track (in my scripts anyway) of the last time the system was updated.   I do have a few ideas for why that may be needed that I am throwing around in my head.

  upgradeDate=$(date +%D%t:%r)

  echo -e "Last Upgraded:\t $distroBase $version \t$upgradeDate" >> updateInfo.txt

}





