####################################################################################3
# Start of Add source/repo section 

## OpenSuse
function suseAddRepoName
{
      ## $1 is the Repo Name
      ## $2 is the Repo "URL"

      #Adding Repos in OpenSuse
      sudo zypper addrepo -f -n $1 $2
}


## Universal function to add sources 

function universalAddRepo
{

  if [ "$distroBase" == 'ubuntu' ]; then
    addrepo= sudo apt-add-repository -y $1

  elif [ "$distroBase" == 'fedora' ]; then
    sudo dnf config-manager --add-repo $1

  elif [ "$distroBase" == 'opennsuse' ]; then
    zypper ar -r %1

    # Refresh Repo
    zypper ref

  else
    return 
  
  fi
}

## End Add Source/Repo Section 
################################################################


#################################################################
# Start of the package installation section 



    ## Install related


    function installApp()
    {
        completeDistroCheck
        

        if [ "$distroBase" == 'ubuntu' ]; then
          sudo apt install $1

        elif [ "$distroBase" == 'fedora' ]; then
            sudo dnf install $1

        elif [ "$distroBase" == 'opennsuse' ]; then
            sudo zypper install $1

        elif [ "$distroBase" == 'arch' ]; then
            #sudo pacman -S $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11

            sudo pacman -S $1 
        
        elif [ "$distroBase" == 'solus' ]; then
            sudo eopkg install $1 

        else
           echo "FILLER TEXT FOR NOW ... "
        fi

    }

## End of Package installation section 
###############################################################################