
# # my idea is that .... WAIT .... would it be better in those individual software install functions to call the detect function directly?
# function installAppThirdParty()
# {

# 	# problem .... this is going to do things one pacakge at a time
# 	for individualPackage in $@
# 	{
# 		# pass to detect function
# 		detectPackageStatusThirdParty $individualPackage

# 	}

# }



## This would be for apps in the repo (or say when rpm fusion or packman are added) NOT third party stuff
function installApp()
{

  ####################################################
  # Old code below in case i have to go back
  #echo -e "Installing Package(s): $@"
	#$install $@

	#return

  ###################################################

}

