. $uniFunctionDir/pmanagement/f_updateDisplay.cfg
. $uniFunctionDir/pmanagement/f_updateChecks.cfg



# Updater for packages installed via the AUR
function aur_update() {
	clear
	fancy_message action "Starting check for AUR Helpers"

	run_if_exists2 yay -Syu --norebuild --nodiffmenu --upgrademenu --noeditmenu

	## these option valid ? 
	run_if_exists trizen -Syu --noconfirm --noedit

	fancy_message info "AUR Update Finished"
}
####################################################################
# start of functions, related to Ubuntu based distros

function update_kde_neon() {
	## Clears screen since update output seems messy (to me anyway)
	clear
	sudo pkcon update
	userPrompt
	fancy_message info "KDE Neon Updated"
	userPrompt
	clear
}

function update_linux_mint() {
	clear
	fancy_message info "Linux Mint Detected, updates will not be performed as you should use Mint's Graphial Updater to avoid issues"
	userPrompt

	return

}

# handles deb-get 
function update_deb_get() {
	fancy_message action "Resyncing/Updating deb-get"
	run_if_exists2 deb-get update
	userPrompt

	fancy_message action "Updating deb-get packages"
	run_if_exists2 deb-get upgrade 
	userPrompt
}

function update_debian_ubuntu_bases() {
	
	update_deb_get

	[ "$distroName" = "neon" ] && update_kde_neon && return 

	[ "$distroName" = "linuxMint" ] && update_linux_mint && return 

	# refreshes defeult repos and update
	refreshRepositories && $update

}

# End of debian/ubuntu based functions 
####################################################################

# Third party stuff that COULD BE on any distro 
function third_party_source_updating() {
	# for Flatpak
	run_if_exists2 flatpak update
	
	# for Brew 
	## both? just upgrade?
	run_if_exists2 brew update
	run_if_exists2 brew upgrade


	# both for "AM"
		# basically a check for either AM or Appman, and if they exist, run the update command for them
	run_if_exists2 am update
	run_if_exists2 appman update

}

########################################################################################
## Meta function
function universalUpdate() {

	# Check for and if the right distro/distro base, displays message to user
		## I think my idea was to show a message about the last time the system was updated, and if it's been a 
		## while, maybe suggest updating?.. but ubuntu is listed?  same idea perhaps
	lastUpdateCheck

	rollingReleaseUpdateCheck

	case $distroBase in 

		arch) $update && aur_update && return 

		debian|ubuntu) update_debian_ubuntu_bases ;;

		*) 
			# refreshes defeult repos and update
			refreshRepositories && $update
			;;

	esac

	# Function call to log info
	logUpgradeInfo

	fancy_message info "System Up-to-date"
	userPrompt

}

# cant remember why this is it's own "thing" ... maybe to check say TW and the last time it was updated? 
function openSUSEUpdate() {

	openSUSERawUpdateDate="find /var/log -maxdepth 1 -type f -iname "*zypper*" | sort -n | tail -1 | awk -F"-" ' {print $2}' | sed 's/\.xz//g' "

	openSUSEUpdateDate_Year

	openSUSEUpdateDate_Month

	openSUSEUpdateDate_Day
}
