## despite the name, I will use this for rolling/semi-rolling releases
function rollingReleaseUpdateCheck()
{
  ## Idea have three options for rollingRelease.... "yes", "no", and (?) "semi" for semi-rolling

  case $rollingRelease in

    yes) rollingReleaseUpdateDisplay ;;

    no) return ;;

  esac

}


#####################################################################################################
## Meta function
function lastUpdateOpenSuse()
{

  if [ -f  "/var/log/zypper.log" ]; then 
      # Test ... I may not need to specify "up" vs "dup"
      lastUpdate=$(sudo awk '/zypper/ { print $1 }' /var/log/zypper.log | tail -1  )
  else
      return
  fi

}

function lastUpdateCheck()
{

  case $distroBase in

    arch)
        lastUpdate=$(awk '/starting/ { print $1 }' /var/log/pacman.log | tail -1 | cut -c 2-11)
        ;;

    opensuse) lastUpdateOpenSuse ;;

    solus)
        lastUpdate=$(awk '/Updating/ { print $1 }' /var/log/eopkg.log | tail -1 )
        ;;

    ubuntu)
        lastUpdate=$(awk '/Start-Date/ { print $2 }' /var/log/apt/history.log | tail -1)
        ;;

  esac

  lastUpdateEpoch=$(date +"%s" -d "$lastUpdate")

  #################################################################
  durationSinceLastUpdate=$[currentDate/lastUpdateEpoch]

  #This doesn't make sense since this is using a date as comparsion
  #diffInMinutes=$[durationSinceLastUpdate/minute]
  #diffInHours=$[durationSinceLastUpdate/hour]

  diffInDays=$[durationSinceLastUpdate/day]
  diffInWeeks=$[durationSinceLastUpdate/week]
  diffInMonths=$[durationSinceLastUpdate/month]
  diffInYears=$[durationSinceLastUpdate/year]

  lastUpdateDisplay
}