
###################################################################################
## For OpenSuse

function suseUpgrade
{
		## Pass TO THIS function by a universal function seems to be the way to do it ... though this code may be better IN that function ... 
    clear
    echo -e "Updating OpenSuse - Note: you may have to scroll down and agree to the agreement for this to work\n\n"
    echo -e "You May also have to decide to trust or not trust a third party repo\n"
    echo 
    echo "IF you see that zypper is NOT upgrading something, that may be normal ... sometimes a more updated package in a different repo is found but since you did not give that other repo a higher PRIORITY, those newer versions will be heald back"
    userPrompt

}


#####################################
function universalUpgrade()
{

  clear

  if [ "$distroBase" == 'fedora' ] || [ "$distroBase" == 'opensuse' ] || [ "$distroBase" == 'arch' ] || [ "$distroBase" == 'ubuntu' ] || [ "$distroBase" == 'solus' ]; then
      userPrompt
      $update

  else
      echo -e "distroBase is not detected"
      userPrompt
      clear 

      #the idea is to exit the function NOT JUST the if statement
      ## I do not want the output of writing the last upgraded date being recorded IF there was nothing done 
  fi

  
  # Function call to log info 
  logUpgradeInfo

  echo -e "System Up-to-date"
  userPrompt

}