# ? do i need quotes or not? 
pmanagedir=". $dir/functions/universal/pmanagement"

$pmanagedir/archbased/archbased.cfg
$pmanagedir/f_packageManagement.cfg
$pmanagedir/pmanagement/f_update.cfg
$pmanagedir/thirdparty/f_thirdParty.cfg