## Idea: This depends on distro detection and what version.
## Have ONE function for say adding pacman and then based on the distro (if statement?) add the repo APPROPRIATE to the OpenSuse version
###########################################################
# Test functions here


function suseKDEMultimedia
{

    # Check for OpenSuse Leap 42.2

    # Check for OpenSuse TW ("else here? ")
    echo "Bleh"

}

##############################################################################
## ymp Multimedia functions
##############################################################################
function ympSuseMultimediaKDE
{
  ympInstall http://opensuse-community.org/codecs-kde.ymp

}


##############################################################################

function leapCodecManualInstall
{
    Source for info: http://opensuse-guide.org/codecs.php


    clear
    echo "About to Install Codecs Manually"
    userPrompt

    # Add Packman Repo
    zypper addrepo -f http://packman.inode.at/suse/openSUSE_Leap_42.2/ packman

    # Add DVD repo
    zypper addrepo -f http://opensuse-guide.org/repo/openSUSE_Leap_42.2/ dvd


    echo -e "You will be asked about vendor changes for some packages - ALLOW THAT"
    # Add Needed Packages
    installApp k3b-codecs ffmpeg lame gstreamer-plugins-bad gstreamer-plugins-ugly gstreamer-plugins-ugly-orig-addon gstreamer-plugins-libav libdvdcss2 packman-gstreamer-meta-package vlc-codecs gstreamer-plugins-good gstreamer-fluendo-mp3

 }


#############################################################


function setupMultimediaLeap
{

	echo "Setting up Multimedia codecs"
	# Step 3 - Setup multimedia  codecs
	installApp k3b-codecs ffmpeg lame phonon-backend-vlc phonon4qt5-backend-vlc vlc-codecs

	## Remove below Media Codecs packages #
	$ sudo zypper remove phonon-backend-gstreamer phonon4qt5-backend-gstreamer
	echo "Multimedia Codecs Setup Completed "
	userPrompt

}
