## Idea: This depends on distro detection and what version.

## Have ONE function for say adding pacman and then based on the distro (if statement?) add the repo APPROPRIATE to the OpenSuse version

##############################################################################
## ymp Multimedia functions
##############################################################################
function ympSuseMultimediaKDE
{
  ympInstall http://opensuse-community.org/codecs-kde.ymp
}

function ympSuseMultimediaGnome
{
    ympInstall http://opensuse-community.org/codecs-gnome.ymp
}


##############################################################################

function leapCodecManualInstall
{
    Source for info: http://opensuse-guide.org/codecs.php


    clear
    echo "About to Install Codecs Manually"
    userPrompt



    clear "Adding Repo"

        ## If Leap 42.2 
            # Add Packman Repo
            zypper addrepo -f http://packman.inode.at/suse/openSUSE_Leap_42.2/ packman

            # Add DVD repo
            zypper addrepo -f http://opensuse-guide.org/repo/openSUSE_Leap_42.2/ dvd

        ## If Leap 42.3 
            # Add Packman Repo
            zypper addrepo -f http://packman.inode.at/suse/openSUSE_Leap_42.2/ packman

            # Add DVD repo
            zypper addrepo -f http://opensuse-guide.org/repo/openSUSE_Leap_42.2/ dvd



    


    echo -e "You will be asked about vendor changes for some packages - ALLOW THAT"
    
    # Add Needed Packages
    installAppffmpeg lame gstreamer-plugins-bad gstreamer-plugins-ugly gstreamer-plugins-ugly-orig-addon gstreamer-plugins-libav libdvdcss2

 }

#############################################################
