
function cinnamonSuseRepo
{
		installCinnamon = 'zypper in -t pattern cinnamon'

		# This is the function that will take the prior three functions and put them into a single function


		if [ "${suseVer}" == 'leap422' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_42.2/X11:Cinnamon:Current.repo
		elif [ "${suseVer}" == 'leap423' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_42.2/X11:Cinnamon:Current.repo

		elif [ "${suseVer}" == 'tumbleweed' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Tumbleweed/X11:Cinnamon:Current.repo
		else
			 echo "Version can not be determined"
		fi

		zypper ar -r $cinnRepoZypper
		zypper ref

		sudo installCinnamon
}


function kdeAppsOnlySuseRepo
{

	# No repo listed for Tumbleweed 

	if [ "${suseVer}" == 'leap422' ]; then
		kdeAppsZypper=http://download.opensuse.org/repositories/KDE:/Extra/openSUSE_Leap_42.2/KDE:Extra.repo
	elif [ "${suseVer}" == 'leap423' ]; then
		kdeAppsZypper=http://download.opensuse.org/repositories/KDE:/Extra/openSUSE_Leap_42.3/KDE:Extra.repo
	else
		 echo "Version can not be determined"
	fi

	echo "Adding KDE repo for updated applications only"
	zypper ar -r $kdeAppsZypper
	userPrompt
	clear

	echo "Refreshing OpenSuse Repositories"
	zypper ref
	clear

	sudo zypper up
}


#KDE Frameworks 5 & Plasma 5

#Releases of KDE Frameworks 5 and Plasma 5. Since openSUSE 13.2, KDE Frameworks 5 (KF5) libraries, and Plasma 5 components are part of the standard distribution repositories. If you want test and/or use the latest release, you can use this repo.

#Tumbleweed users do not need to use it, as new releases are submitted to Tumbleweed as soon as they're available, and are usually published to standard repositories in a matter of days.

#Note for openSUSE Leap 42.x users: Leap 42.x ships with Qt 5.6.x, which is not recent enough for Plasma 5.10+, so to use KDE:Frameworks5, KDE:Qt5 is required. Use of that is not recommended as applications in the main or 3rd party repos might break due to API/ABI changes.

#To add a Plasma 5 session to your display manager, install the plasma5-session package.

function leapKDEFrameworkAndPlasma5
{
	
	# No repo listed for Tumbleweed 

	if [ "${suseVer}" == 'leap422' ]; then
		qt5=http://download.opensuse.org/repositories/KDE:/Qt5/openSUSE_Leap_42.2/KDE:Qt5.repo
		
		frameworks5=http://download.opensuse.org/repositories/KDE:/Frameworks5/openSUSE_Leap_42.2/KDE:Frameworks5.repo

	elif [ "${suseVer}" == 'leap423' ]; then
		qt5=http://download.opensuse.org/repositories/KDE:/Qt5/openSUSE_Leap_42.3/KDE:Qt5.repo
		
		frameworks5=http://download.opensuse.org/repositories/KDE:/Frameworks5/openSUSE_Leap_42.3/KDE:Frameworks5.repo
		
	else
		 echo "Version can not be determined"
	fi


}
