
function cinnamonSuseRepo
{
		installCinnamon = 'zypper in -t pattern cinnamon'

		# This is the function that will take the prior three functions and put them into a single function

		if [ "${suseVer}" == 'leap421' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_42.1/X11:Cinnamon:Current.repo
		elif [ "${suseVer}" == 'leap422' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_42.2/X11:Cinnamon:Current.repo
		elif [ "${suseVer}" == 'tumbleweed' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Tumbleweed/X11:Cinnamon:Current.repo
		else
			 echo "Version can not be determined"
		fi

		zypper ar -r $cinnRepoZypper
		zypper ref

		sudo installCinnamon


}