

################################################################################
## Cinnamon related content below

function cinnamonRepoSuseYMP
{

	if [ "${suseVer}" == 'leap421' ]; then
				cinnRepoURL=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_42.1/cinnamon.ymp

	elif [ "${suseVer}" == 'tumbleweed' ]; then
				cinnRepoURL=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Tumbleweed/cinnamon.ymp

		else
			 echo "Version can not be determined"
		fi

	## OUTSIDE OF IF Statement(s?)
	 ympInstall $cinnRepoURL

}

###############################################################################

function totalCinnZypper
{
		## TODO: Get a sure-fire way of getting the version of Suse DETECTED


		# This is the function that will take the prior three functions and put them into a single function

		if [ "${suseVer}" == 'leap421' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_42.1/X11:Cinnamon:Current.repo
		elif [ "${suseVer}" == 'leap422' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_42.2/X11:Cinnamon:Current.repo
		elif [ "${suseVer}" == 'tumbleweed' ]; then
				cinnRepoZypper=http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Tumbleweed/X11:Cinnamon:Current.repo
		else
			 echo "Version can not be determined"
		fi

		zypper ar -r $cinnRepoZypper
		zypper ref
		zypper in -t pattern cinnamon

}
