. $dir/tasks/functions/opensuse/f_openSuse_thirdparty_plasma5.cfg


#######################################################################################

function cinnamonSuseRepo
{

	# sudo zypper in -t pattern cinnamon

	if [ "$openSUSEVersion" == 'leap423' ]; then
			cinnRepoZypper="http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Leap_42.3/"
	# I have no clue at the moment of this test is accurate
	elif [ "$openSUSEVersion" == 'leap15' ]; then
		cinnRepoZypper="Filler"


	elif [ "$openSUSEVersion" == 'Tumbleweed' ]; then
			cinnRepoZypper="http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Tumbleweed/"
	else
		 echo "Version can not be determined"
	fi

	#############################
	# Test
		echo -e "openSUSEVersion: \t $openSUSEVersion"
		userPrompt
	#############################
	
	## Adding Cinnamon repo 
	sudo zypper ar $cinnRepoZypper TESTING
	userPrompt 

	## Refreshing Repo
	sudo zypper ref
}



###############################################################################
## OpenSuse Based

function packmanSuseRepo
{
	######################
	## Test only - leave ... for now 
	#clear
	#echo -e "Inside packman Repo function"
	#echo -e "supported var:$supported"
	#userPrompt


	####################

	clear
	echo -e "Installing Packman Repo "

	repoName="Pacman Repository"

	echo "Adding Packman Repo for added Software"


		if [ "$openSUSEVersion" == 'leap423' ]; then
			## If Leap 42.3
			packmanURL=http://ftp.gwdg.de/pub/linux/packman/suse/openSUSE_Leap_42.3/

		elif [ "$openSUSEVersion" == 'leap15' ]; then
		
			packmanURL=http://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Leap_15.0/

		elif [ "$openSUSEVersion" == 'Tumbleweed' ]; then
			## If Tumbleweed
			packmanURL=http://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Tumbleweed/

		else
			echo "Version can not be determined"
		fi

	

	## OUTSIDE OF IF Statement(s?)
	sudo zypper ar $repoName $packmanURL

}

###################################################################################

function wineRepoSuse
{
	
	# Checks for OpenSuse
	if [ "$supported" == 'yes' ]; then 

		clear
		echo -e "Installing Wine Repo "

		repoName=WINE Repository


		# Where is is suseVer coming from ? 

		echo "Adding Packman Repo for added Software"

			if [ "openSUSEVersion" == 'leap422' ]; then
				## If Leap 42.2
				packmanURL=http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Leap_42.2/

			elif [ "openSUSEVersion" == 'leap423' ]; then
				## If Leap 42.3
				packmanURL=http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Leap_42.2/ 

			elif [ "openSUSEVersion" == 'Tumbleweed' ]; then
				## If Tumbleweed
				packmanURL=http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Tumbleweed/

			else
				echo "Version can not be determined"
			fi

		## OUTSIDE OF IF Statement(s?)
		suseAddRepoName $repoName $packmanURL

	else 
		return
	fi
}

