
##########################################################################

## this common function will be pointless as I hope to have a variable set for "useful software" and then i can just pass that variable to the "installApps" function


function installCommonSoftware
{
		clear
		echo -e "Installing some Common Software"
	  userPrompt

		echo -e "Software including: Pidgin Libre Office, MPV, Audacious, DeadBeef, Hexchat"
		installApp $usefulApps

}


function installGoogleChrome
{

		## Install google's PGP key
		wget https://dl.google.com/linux/linux_signing_key.pub
		sudo rpm --import linux_signing_key.pub

		## Add google chrome repository
		universalAddRepo http://dl.google.com/linux/chrome/rpm/stable/x86_64 google-chrome

		## Refresh repository
		zypperRefresh

		# Install google chrome browser #
		echo "Line to add Google Chrome has been commented out .. open up script and remove # (comment) to have it installed, or copy and paste the line, without the # into a terminal "
		#installApp google-chrome-stable

}

###############################################################################


function packmanRepo
{
	clear
	echo -e "Installing Packman Repo "

	repoName=Packman Repository

	echo "Adding Packman Repo for added Software"

		if [ "${suseVer}" == 'leap421' ]; then
				packmanURL=http://ftp.gwdg.de/pub/linux/packman/suse/openSUSE_Leap_42.1/

		elif [ "${suseVer}" == 'leap422' ]; then
				## If Leap 42.2
				packmanURL=http://ftp.gwdg.de/pub/linux/packman/suse/openSUSE_Leap_42.2/

		elif [ "${suseVer}" == 'tumbleweed' ]; then
				## If Tumbleweed
				packmanURL=http://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Tumbleweed/

		else
			 echo "Version can not be determined"
		fi


	## OUTSIDE OF IF Statement(s?)
	suseAddRepoName $repoName $packmanURL

}


function installChromium
{

  ## leave this here for now but turn this into a universal function for any distro

  # This is 1000% UN-tested as far as ymp files
  url=https://software.opensuse.org/ymp/openSUSE:Factory/standard/chromium.ymp

  ympInstall $url
}
