Packages= . "$rootdir"/tasks/functions/f_packageManager.cfg
$Packages


## My guess is these function will be part of a bigger function (the code in it) when I am able to detect
## exactly what version of Suse is running ..

## CFG file fOpenSuse.cfg maybe larger but there SHOULDN'T be a need for "oSuseTW and oSuseLeap CFG files"


## This function can be deleted when the universal Packman repo is tested and works ok
function installPackmanRepoLeap
{
		echo "Adding Packman Repo for added Software"
		suseAddRepoName  Packman-Repository http://ftp.gwdg.de/pub/linux/packman/suse/openSUSE_Leap_42.1/
}


function setupMultimediaLeap
{

	echo "Setting up Multimedia codecs"
	# Step 3 - Setup multimedia  codecs
	suseInstall k3b-codecs ffmpeg lame phonon-backend-vlc phonon4qt5-backend-vlc vlc-codecs

	## Remove below Media Codecs packages #
	$ sudo zypper remove phonon-backend-gstreamer phonon4qt5-backend-gstreamer
	echo "Multimedia Codecs Setup Completed "
	userPrompt

}
