##############################################################################

function installChromium
{

  ## leave this here for now but turn this into a universal function for any distro

  # This is 1000% UN-tested as far as ymp files
  url=https://software.opensuse.org/ymp/openSUSE:Factory/standard/chromium.ymp

  ympInstall $url
}

function mintifySuse
{
	## Include messages and even a guide on what the user has to do later

	## install noto-sans Fonts

	## Give the OPTION to the user to include the mint x-apps

	## Do not link to the install Cinnamon function here as someone may want a general Mint Look but not Cinnamon as a DE


}
