function installAtomEditor
{
  wget https://atom.io/download/rpm

  # This is of course not done yet

}


## My guess is these function will be part of a bigger function (the code in it) when I am able to detect
## exactly what version of Suse is running ..

## CFG file fOpenSuse.cfg maybe larger but there SHOULDN'T be a need for "oSuseTW and oSuseLeap CFG files"




function installChromium
{

  ## leave this here for now but turn this into a universal function for any distro

  # This is 1000% UN-tested as far as ymp files
  url=https://software.opensuse.org/ymp/openSUSE:Factory/standard/chromium.ymp

  ympInstall $url
}
