##############################################################################

function installChromium
{

  ## leave this here for now but turn this into a universal function for any distro

  # This is 1000% UN-tested as far as ymp files
  url=https://software.opensuse.org/ymp/openSUSE:Factory/standard/chromium.ymp

  ympInstall $url
}


