readonly opensuseDir=$(eval pwd)/tasks/functions/opensuse

###################################################################

. $opensuseDir/f_oSuse.cfg
. $opensuseDir/f_openSuseMultimedia.cfg
. $opensuseDir//f_openSuseExtraRepos.cfg
