function installPlayOnLinux() {

	case $distroBase in

		arch|debian|fedora|solus|ubuntu) installApp "playonlinux" ;;

		# THIS does seem to be needed for OpenSUSE
		opensuse) installApp "PlayOnLinux" ;;

	esac

}



# Asks the user if they want to install PlayOnLinux in addition to Wine
function PlayOnLinuxQuestion(){

	clear
	fancy_message question "Would you like to install PlayOnLinux?"
	read -r -p "Yes/No?" playOnLinuxResult

	case $playOnLinuxResult in

		y|Y|yes) installPlayOnLinux ;;

		n|N|no) return ;;

		*) fancy_message warn "invalid selection" ;;

	esac
}
