# note to self: this is NOT NEEDED as Wine is in default repos ... these may get newer versions on certain versions of Leap though, is my guess

# leave all of this for now

function wineOpenSuseLeapInstall()
{
  case $leapVersion in

	15.2) # https://download.opensuse.org/repositories/Emulators:/Wine:/STABLE/openSUSE_Leap_15.2/
		return ;;

    15.1) # https://download.opensuse.org/repositories/Emulators:/Wine:/STABLE/openSUSE_Leap_15.1/
        return  ;;

  esac

}

function wineRepoSuse()
{

		clear
		echo -e "Installing Wine Repo "

		repoName=WINE Repository

		echo "Adding WINE Repo for added Software"

    case $openSUSEBranch in

      leap) wineOpenSuseLeapInstall ;;

      tumbleweed) wineRep="http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Tumbleweed/" ;;

      *) echo "Version can not be determined, Wine not installed" ;;

    esac

    # this function name CAN'T be right
		suseAddRepoName $repoName $wineRepo

}