function wineDebianRepoInstall()
{
    # 1 - Architecture
    echo -e "Added needed Architecture"
    sudo dpkg --add-architecture i386

    # 2 - Add Wine key
    echo -e "Adding Wine Key"
    wget -qO - https://dl.winehq.org/wine-builds/winehq.key | sudo apt-key add -

    # 3 - Add Repo
    echo -e "Adding Wine Repo and refreshing the repos"
    sudo apt-add-repository https://dl.winehq.org/wine-builds/debian/
    sudo apt update

    #4 - Install Wine (Stable Branch) and PlayOnLinux
    $install wine-stable 

}

function wineDebianMetaInstall()
{
    ## Idea to come back to later - use the Wine OFFICIAL source

    return

}