. $uniFunctionDir/software/wine/includeWineCfg.cfg


# August 2021: I see the point .... but where is this called
# Feb 2022: I dont see this called from anywhere but i should keep this ... was this for "WineHQ" ? 
function wineArchitectureCheck()
{
	case $currentArchitecture in

		i386|x86_64) # removed pass to un-needed function but where do i pass this code now 
			return  ;;
		*) echo -e "Architecture can not be detected" ;;

	esac

}


#########################################################################################################

function installWineDefaultRepoDebian() {
	# AT NO POINT in the instructions on https://wiki.debian.org/Wine do i see ANYTHING mentioning
	# that libaudio dependency that winehq's instructions mention


	# 1 - Add or at least prompt user for adding contrib and non-free repos as mentioned in some guides
	# 2 - add 32bit support
	# 3 - Refresh Repo
	debianContribAndNonFreeCheck && sudo dpkg --add-architecture i386 && $refresh

	# for 64bit systems
	$install \
		wine \
		wine32 \
		wine64 \
		libwine \
		libwine:i386 \
		fonts-wine

}


################################################################################################
# https://wiki.debian.org/Wine#Installation_on_Debian_Jessie_and_newer seems like it should be the OFFICIAL source for what to do
function installWineDefaultRepoUbuntu()
{
	# upon entering this function we know distroBase is either "debian" or "ubuntu"

	# this echo redundunt?
	fancy_message action "Installing W.I.N.E. from the current repos for your distro"

	## check for Ubuntu vs Mint ... they are not the same instructions
		## are the brackets needed?... leave for now .... even if not it may be a good idea visually
	[ "$distroName" == "linuxMint" ] && installWineDefaultRepoLinuxuMint || installApp "wine32 wine64 winetricks"


	# Question the user if they want to install PlayOnLinux
	PlayOnLinuxQuestion

}

################################################################################################
function installWineDefaultRepoLinuxuMint()
{
	# Check for a supported version of Linux Mint
	case $lsbRelease in
		## ??? if i leave "sudo" out here, will it ask for the password anyway?
		19|19.1|19.2|19.3|20|20.1|20.2|20.3|21) $refresh && apt install --install-recommends wine-installer ;;
		*) fancy_message warn "Unsupported version of Linux Mint Detected" ;;

	esac

}

################################################################################################
# for opensuse
function installWineDefaultRepoOpenSUSE()
{

	# ?? do i need double brackets here?
	# is the distrobase check needed? ...
	if [ "$openSUSEBranch" == "leap" ] && [ "$leapVersion" == "15.3" ]; then

		echo -e "I am not sure what is going on but I am not finding packages for Leap 15.3, despite Wine being in most other OpenSUSE branches"

	elif [ "$openSUSEBranch" == "tumbleweed" ]; then 
		installApp "wine"
	else
		echo -e "Support for detected version of OpenSuse is not avaiable"
	fi

}
