# should this come first anyway 
function wineArchitectureCheck()
{
    if [ "$currentArchitecture" == "i386" ] || [ "$currentArchitecture" == "x86_64" ]; then

        case $currentArchitecture in 

            debian) 

                # This function asks the user if they want the default repo version or the WineHQ version
                wineDebianInstallPrompt ;;

            ubuntu) 
                # This function asks the user if they want the default repo version or the WineHQ version
                wineUbuntuInstallPrompt ;;
        
        esac 


    else 
        echo -e "Architecture can not be detected" 

    fi 

}