# note to self: this is NOT NEEDED as Wine is in default repos ... these may get newer versions on certain versions of Leap though, is my guess

# leave all of this for now 

function wineOpenSuseLeapInstall()
{
  case $leapVersion in

    42.3) 
      # EOL at the end of June 2019
      wineRepo="http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Leap_42.3/" ;; 

    15.0) wineRepo="http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Leap_15.0/" ;; 

    15.1) echo "No Wine repo for Leap 15.1, yet "
        return  ;; 

  esac 

}

function wineRepoSuse()
{

		clear
		echo -e "Installing Wine Repo "

		repoName=WINE Repository

		echo "Adding WINE Repo for added Software"

    case $openSUSEBranch in 

      leap) wineOpenSuseLeapInstall ;; 

      tumbleweed) wineRep="http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Tumbleweed/" ;; 

      *) echo "Version can not be determined, Wine not installed" ;; 

    esac 

    # this function name CAN'T be right 
		suseAddRepoName $repoName $wineRepo

}