
function wineHQDebianDeps()
{

	libfaudioURLBuster="https://download.opensuse.org/repositories/Emulators:/Wine:/Debian/Debian_10/amd64/libfaudio0_20.01-0~buster_amd64.deb"

	packageName="libfaudio0_20.01-0~buster_amd64.deb"

	# || = "or"
	if [  "$lsbCodename" == "buster" ]; then
		packageURL=$libfaudioURLBuster

		cd ~/Downlaods

		wget $packageURL

		sudo gdebi $packageName
	else
		echo "No Extra packages added or needed at this time, that I KNOW of "

	fi


}


function wineHQDebianMetaInstall()
{
    wineHQList="/etc/apt/sources.list.d/winehq.list"
	
	# if file DOESN'T exist 
	if [ ! -f "wineHQList" ]; then 

		# Create file for Wine
		sudo touch $wineHQList


		sudo chown $USER $wineHQList
		sudo chgrp users $wineHQList

		case $debianBranch in

			stable)
				wineHQDebianSource="deb https://dl.winehq.org/wine-builds/debian/ buster main" ;;

			testing)
				wineHQDebianSource="deb https://dl.winehq.org/wine-builds/debian/ bullseye main" ;;

		esac

		echo -e "Echoing out proper code to /etc/apt/sources.list.d/winehq.list file"
		# Echoing out needed line to where it needs to be
		su -c "$(echo $wineHQDebianSource >> /etc/apt/sources.list.d/winehq.list)"

	else
		
		clear
		echo -e "WineHQ List file already exists"

	fi 
	

	# I need to add the key here before the update
	# I think the echo to the user is  IN this function
	addWineKey
	userPrompt

	# Refresh repos
	echo -e "Refreshing Repos"
	$refresh

	# Check for gdebit
	echo -e "Checking for Gdebi"
	commandCheck "gdebi"

	# Dependency Check
	echo -e "Check for WineHQ Dependencies "
	wineHQDebianDeps

	# I will not worry about if the user wants say "wine-dev" the developer version of WINE, here
	echo -e "Installing WineHQ-Stable"
	$install --install-recommends winehq-stable
	userPrompt


	echo -e "Wine Installed"
	userPrompt

}
