

# sub-meta function to install wine from default repos
function installWineDefaultRepoMeta() {

	case $distroBase in

		arch|fedora|opensuse) installApp "wine" ;;
		debian|ubuntu) wineDefaultDebianUbuntuInstall ;;
		solus) echo -e "TODO" ;;

	esac

}

# sub-meta function to install wine from WineHQ
function installWineHQRepoMeta() {

	case $distroBase in

		debian) wineHQDebianMetaInstall ;;
		ubuntu) wineHQUbuntuBasedInstall ;;

	esac

}

#########################################################################
# August 2021 Meta Menu function
function installWineMetaFunction(){

	while [ $x=1 ]; do

        clear
		echo -e "Do you want to install the default version of Wine or add the WineHQ PPA?"
        echo
        echo -e "1. \t Install Wine-Stable, from your Linux distro's default repo"
        echo -e "2. \t Install Wine-Stable, from WineHQ's Repo/PPA (note: may not be available for all distro bases)"


        echo -e "q. \t Exit to Prompt \n\n"
        read -p "Your Choice?:" wineSourceSelection

        case $wineSourceSelection in

        1)
			# not created yet
			# case statement for detecting distroBase IS IN this function
			installWineDefaultRepoMeta

			;;

        2)
			# not created yet
			# case statement for detecting distroBase IS IN this function
			installWineHQRepoMeta


		;;


        [qQ]) quitScript  ;;

        *) invalidSection ;;

        esac
    done

}