# Related to WineHQ
. $uniFunctionDir/software/wine/wineHQ/f_wineHQ.cfg
. $uniFunctionDir/software/wine/wineHQ/f_wineHQDebian.cfg
. $uniFunctionDir/software/wine/wineHQ/f_wineHQUbuntu.cfg

# Other Wine cfg files
. $uniFunctionDir/software/wine/f_playonlinux.cfg
. $uniFunctionDir/software/wine/f_wineMenus.cfg

# **** DO NOT include f_wine here ..... that file INCLUDES this one and that would only create a loop