
function setupVSCodiumKey() {
    fancy_message action "Setting up VSCodium key"
    case ${distroBase} in

        debian|ubuntu)
            wget -qO- https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg \
            | gpg --dearmor \
            | sudo dd of=/usr/share/keyrings/vscodium-archive-keyring.gpg
            ;;

        fedora|opensuse)
            sudo rpmkeys --import https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/-/raw/master/pub.gpg
            ;;
    esac
}

function addingVSCodiumRepo() {
    fancy_message action "Adding the VSCodium repository"

    case ${distroBase} in
        debian|ubuntu)
            echo 'deb [ signed-by=/usr/share/keyrings/vscodium-archive-keyring.gpg ] https://download.vscodium.com/debs vscodium main' \
            | sudo tee /etc/apt/sources.list.d/vscodium.list
            ;;

        fedora)

           sudo tee -a /etc/yum.repos.d/vscodium.repo << 'EOF'
[gitlab.com_paulcarroty_vscodium_repo]
name=gitlab.com_paulcarroty_vscodium_repo
baseurl=https://paulcarroty.gitlab.io/vscodium-deb-rpm-repo/rpms/
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
metadata_expire=1h
EOF

            ;;

        opensuse)
            sudo tee -a /etc/zypp/repos.d/vscodium.repo << 'EOF'
[gitlab.com_paulcarroty_vscodium_repo]
name=gitlab.com_paulcarroty_vscodium_repo
baseurl=https://paulcarroty.gitlab.io/vscodium-deb-rpm-repo/rpms/
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
metadata_expire=1h
EOF

            ;;
    esac
}



# this is the meta function that should be called
# NOTE TO SELF: there IS A FLATPAK and that should be added to the FP section
function installVSCodium() {
    programHomepage="https://vscodium.com/"
    programName="VSCodium"
    programTitle="VSCodium"

    # it says to use the AUR for arch
    [ "${distroBase}" == "arch" ] && aurAppInstall "vscodium" && return

    # sets up the key
    setupVSCodiumKey
    # Add the Repo
    addingVSCodiumRepo

    fancy_message action "Refreshing repos, Updating, and installing VSCodium"
    $refresh && $update

    $install codium

    userPrompt

}