# this is for vscode and related apps 


###############################################################################
## VSCode Functions

# WHY is this it's own function?
function refreshInstallVSCode() {
    refreshRepositories

    # install (vs)code
    fancy_message info "Installing ${programTitle}"
    installApp ${programName}
}


# offical instructions from MS: https://code.visualstudio.com/docs/setup/linux
# offical instructions from OpenSUSE: https://en.opensuse.org/Visual_Studio_Code
# I am leaving the "RPM" name for "RPM based distros" .. no need to change this and get complicated 
function handleVSCodeRPMs() {

  # 1 - RPM import vscode key
  sudo rpm --import ${vscodeKey}

  # 2 - Add Key to proper file
  # Feb 2023: opensuse's OFFICAL MS code was broken ... check Fedora's too 
  case $distroBase in

    fedora) sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo' ;;

  esac


  [ "${distroBase}" = "opensuse" ] && fancy_message action "Adding VSCode Repository" && sudo zypper addrepo https://packages.microsoft.com/yumrepos/vscode vscode && fancy_message info "VSCode Repository Added"


  # 3 - I 100% need to know the name of the rpm file for this step
    # update: the instructions, 100% say "code"
  refreshInstallVSCode

}


function handle_vscode_deb_keys_and_repo() {
        fancy_message action "Setting up vscode key and repo"
        sudo apt-get install wget gpg
        wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > packages.microsoft.gpg
        sudo install -D -o root -g root -m 644 packages.microsoft.gpg /etc/apt/keyrings/packages.microsoft.gpg
        echo "deb [arch=amd64,arm64,armhf signed-by=/etc/apt/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" |sudo tee /etc/apt/sources.list.d/vscode.list > /dev/null
        rm -f packages.microsoft.gpg

}

## Meta VSCode Function
function installVSCode() {
  programTitle="VS Code"

  # the official instructions say this should be "code" for Ubuntu deb (debian?), fedora AND opensuse too
  programName="code"
  programHomepage="https://code.visualstudio.com/"
  vscodeKey="https://packages.microsoft.com/keys/microsoft.asc"


  fancy_message action "Downloading and Installing $programName"

  case $distroBase in

    fedora|opensuse) handleVSCodeRPMs ;;

    arch)
        # code is the package name in arch, NOT vscode
        refreshInstallVSCode ;;

    debian|ubuntu)

      #debGetInstall && return

      # offical MS "alternative instructions" on https://code.visualstudio.com/docs/setup/linux
      handle_vscode_deb_keys_and_repo

      fancy_message "Installing vscode"
      sudo apt install apt-transport-https
      sudo apt update
      sudo apt install code # or code-insiders

    ;;


    solus) installApp vscode ;;


  *) fancy_message warn "Issue, installing vscode " ;;

  esac

  ## I had to put the refresh and install back in the if statement due to Solus being "vscode" and not "code" ... any other way I see, other than this revert is just going to be more code THAN the revert

}
