# this is for vscode and related apps 


###############################################################################
## VSCode Functions

# WHY is this it's own function?
function refreshInstallVSCode() {
    refreshRepositories

    # install (vs)code
    fancy_message info "Installing ${programTitle}"
    installApp ${programName}
}


# offical instructions from MS: https://code.visualstudio.com/docs/setup/linux
# offical instructions from OpenSUSE: https://en.opensuse.org/Visual_Studio_Code
# I am leaving the "RPM" name for "RPM based distros" .. no need to change this and get complicated 
function handleVSCodeRPMs() {

  # 1 - RPM import vscode key
  sudo rpm --import ${vscodeKey}

  # 2 - Add Key to proper file
  # Feb 2023: opensuse's OFFICAL MS code was broken ... check Fedora's too 
  case $distroBase in

    fedora) sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo' ;;

  esac


  [ "${distroBase}" = "opensuse" ] && fancy_message action "Adding VSCode Repository" && sudo zypper addrepo https://packages.microsoft.com/yumrepos/vscode vscode && fancy_message info "VSCode Repository Added"


  # 3 - I 100% need to know the name of the rpm file for this step
    # update: the instructions, 100% say "code"
  refreshInstallVSCode

}


## Meta VSCode Function
## I should include an option to install the snap

function installVSCode() {
  programTitle="VS Code"

  # the official instructions say this should be "code" for Ubuntu deb (debian?), fedora AND opensuse too
  programName="code"
  programHomepage="https://code.visualstudio.com/"
  vscodeKey="https://packages.microsoft.com/keys/microsoft.asc"


  fancy_message action "Downloading and Installing $programName"

  case $distroBase in

    fedora|opensuse) handleVSCodeRPMs ;;

    arch)
        # code is the package name in arch, NOT vscode
        refreshInstallVSCode ;;

    debian|ubuntu)

      debGetInstall && return

      vscodeDEBURL="https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64"

      packageName="${programName}.deb"
      programURL=$(curl -L -o ${packageName} ${vscodeDEBURL} )

      # May 2022: this because of the "-o ${packageName}" i think ... otherwise i'd use metalExternalDownload for consistency
      # check for gdebi

      # install vscode
      sudo  apt install "${downloadDir}/${packageName}"

      # cleanup
      rm ${packageName}
    ;;


    solus)
        # this in the solus repo?
        installApp vscode ;;


  *) fancy_message warn "Issue, installing vscode " ;;

  esac

  ## I had to put the refresh and install back in the if statement due to Solus being "vscode" and not "code" ... any other way I see, other than this revert is just going to be more code THAN the revert

}


################################################################################# VSCodium - OpenSource VSCode Binaries 

function setupVSCodiumKey() {
    fancy_message action "Setting up VSCodium key"
    case ${distroBase} in 

        debian|ubuntu)      
            wget -qO- https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg \
            | gpg --dearmor \
            | sudo dd of=/usr/share/keyrings/vscodium-archive-keyring.gpg
            ;; 

        fedora|opensuse) 
            sudo rpmkeys --import https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/-/raw/master/pub.gpg
            ;;
    esac 
}

function addingVSCodiumRepo() {
    fancy_message action "Adding the VSCodium repository"

    case ${distroBase} in 
        debian|ubuntu) 
            echo 'deb [ signed-by=/usr/share/keyrings/vscodium-archive-keyring.gpg ] https://download.vscodium.com/debs vscodium main' \
            | sudo tee /etc/apt/sources.list.d/vscodium.list
            ;;

        fedora) 
            printf "[gitlab.com_paulcarroty_vscodium_repo]\nname=download.vscodium.com\nbaseurl=https://download.vscodium.com/rpms/\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/-/raw/master/pub.gpg\nmetadata_expire=1h" | sudo tee -a /etc/yum.repos.d/vscodium.repo
            ;; 

        opensuse) 
            printf "[gitlab.com_paulcarroty_vscodium_repo]\nname=gitlab.com_paulcarroty_vscodium_repo\nbaseurl=https://download.vscodium.com/rpms/\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/-/raw/master/pub.gpg\nmetadata_expire=1h" | sudo tee -a /etc/zypp/repos.d/vscodium.repo
            ;; 
    esac
}



# this is the meta function that should be called 
# NOTE TO SELF: there IS A FLATPAK and that should be added to the FP section 
function installVSCodium() {
    programHomepage="https://vscodium.com/"
    programName="VSCodium"
    programTitle="VSCodium"

    # it says to use the AUR for arch 
    [ "${distroBase}" == "arch" ] && aurAppInstall "vscodium" && return 

    # sets up the key 
    setupVSCodiumKey
    # Add the Repo 
    addingVSCodiumRepo

    fancy_message action "Refreshing repos, Updating, and installing VSCodium"
    $refresh && $update 
    
    $install codium
    
}