#ref: https://github.com/ivan-hc/AM

function install_am() {
    clear

    fancy_message action "Downloading AM - AppImage Package Manager"
    wget -q https://raw.githubusercontent.com/ivan-hc/AM/main/AM-INSTALLER && 
    
    
    fancy_message action "setting AM - AppImage Package Manager installer permission"
    chmod a+x ./AM-INSTALLER
 
    fancy_message action "Running offical AM - AppImage Package Manager installer"
    ./AM-INSTALLER

    fancy_message action "Cleanup - Removing AM installer script"
    rm ./AM-INSTALLER


    userPrompt
}