
## Did I ever have this for Vivaldi elsewhere?
function vivaldiInstall
{
  programName="Vivaldi Web Browser"

  ## For now leave 32bit stuff commented out ... I may come back to this later

  ## 32bit files
  #32bitRPM=https://downloads.vivaldi.com/stable/vivaldi-stable-1.14.1077.50-1.i386.rpm
  #32bitDEB=https://downloads.vivaldi.com/stable/vivaldi-stable_1.14.1077.50-1_i386.deb


  #64bitRPM=https://downloads.vivaldi.com/stable/vivaldi-stable-1.14.1077.50-1.x86_64.rpm
  #64bitDEB=https://downloads.vivaldi.com/stable/vivaldi-stable_1.14.1077.50-1_amd64.deb
}
##################################################################################
## Google Chrome Related

function addGoogleChromeKey
{
  ## Assign Chrome Key URL to a variable
  chromegpgpkey=https://dl.google.com/linux/linux_signing_key.pub

  clear
  ## Adding Google Chrome's Key
  echo -e "Getting key information needed for Google Chrome"

  ## If statement to add key based on what distro is running
  if [ "$distroBase" == 'ubuntu' ]; then

      ## Adding Google Chrome's Key
      wget -q -O - $chromegpgpkey | sudo apt-key add -

  ## Same Steps for adding key on OpenSuse OR Fedora
  elif [ "$distroBase" == 'opensuse' ] || [ "$distroBase" == 'fedora' ]; then

      ## Adding Google Chrome's Key
      wget $chromegpgpkey
      sudo rpm --import linux_signing_key.pub

  else
    echo -e "The distro you are on either can not be detected or is not supported by my scripts, here "
  fi

}

function chromeInstall
{

  programName="Google Chrome"
  ## Things are so custom here, dont worry about "packageName"

  # Call function to handle the Google Chrome key
  addGoogleChromeKey


  # I like the older var name better, but I changed it to be consistent, in my functions
  RPMURL=https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm

  clear
  echo -e "Adding Google Chrome (Stable)"


    if [ "$distroBase" == 'ubuntu' ]; then

        ## Adding Source
        ## I'd get the DEB and remove this code, though I cant find an official link to the DEB file

        sudo sh -c 'echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'

        ## Shouldn't this be a call to a different function, I made?
        # Update Repo, after the source was added for Chrome
        sudo apt update

        ## Installing Google Chrome's current Stable version
        sudo apt-get install google-chrome-stable

    elif [ "$distroBase" == 'opensuse' ]; then

        wget $RPMURL
        sudo rpm -i google-chrome-stable_current_x86_64.rpm

    elif [ "$distroBase" == 'fedora' ]; then

        wget $RPMURL
        sudo dnf --localinstall google-chrome-stable_current_x86_64.rpm

    elif [ "$distroBase" == 'arch' ]; then
      # Google Chrome is in the AUR 
      return 
      
    else
       return 
    fi

    clear
}
## End of Google Chrome Section
###################################################################