. $uniFunctionDir/software/browsers/includeBrowsersDir.cfg

# with instructions I have seen fail for some on Mint with instructions on their site, i am just adding the flatpak for any distro here 
function installLibreWolf() {
    programName="librewolf"
    programTitle="LibreWolf"
    programHomepage="https://librewolf.net/"
    flatpak_page="https://flathub.org/apps/details/io.gitlab.librewolf-community"

    installFlatpakApp ${librewolfFP}

}