
################################################################################
## Related to the fish shell


# Install Oh-my-fish
function installOMF() {
	installApp "fish"

	fancy_message action "Installing Oh My Fish"
	curl https://raw.githubusercontent.com/oh-my-fish/oh-my-fish/master/bin/install | fish

}

function installOMFExtras() {
    clear
	fancy_message action "Installing Bob The Fish"
	omf install bobthefish
}

## Meta fish shell
function metaInstallFishShell() {
	# clear
	# fancy_message action "Installing Git"
	# $install git

	installApp "git"
	userPrompt

	clear
	fancy_message action "Changing Shell to fish"
	chsh -s "/usr/bin/fish"

	# install fish and Oh-my-fish
	installOMF
}


##################################################################################

## Start of code for zsh and oh-my-zsh

function installZSH() {

	#installs (all supported distros) JUST zsh
	fancy_message action "Installing zsh shell"
	installApp "zsh"

	clear
	fancy_message action "Changing Shell to zsh"
	chsh -s "/usr/bin/zsh"

	fancy_message action "Installing a few extras"

	# Extra packages not in openSUSE it seems
	case distroBase in

		arch) zsh-completions zsh-syntax-highlighting zsh-autosuggestions ;;
		debian|solus|ubuntu) zsh-syntax-highlighting zsh-autosuggestions ;;

	esac

	fancy_message info "Extras's installed"

	## ?? how to handle the message for how to enable the plugins for oh-my-zsh
}


# Howto: https://linuxhint.com/setup-configure-autocomplete-zsh/
function installGITZSH_autocomplete() {
	fancy_message action "Installing zsh-autocomplete from Git repo"
	git clone --depth 1 -- https://github.com/marlonrichert/zsh-autocomplete.git

	cd zsh-autocomplete source
	zsh-autocomplete.plugin.zsh
}

function installOhMyZsh() {

	fancy_message action "Installing Oh-My-Zsh"

	# wget
	sh -c "$(wget https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh -O -)"
}


## ?? have a meta function like i have for fish, above?
function metaInstallZSHShell() {
	# installs zsh and some extra packages
	installZSH

	# install oh-my-zsh
	installOhMyZsh
}

