
################################################################################
## Related to the fish shell


# Install Oh-my-fish
function installOMF() {
	installApp "fish"

	fancy_message action "Installing Oh My Fish"
	curl https://raw.githubusercontent.com/oh-my-fish/oh-my-fish/master/bin/install | fish

}

# Installs a theme I like from Oh-my-fish
function installOMFExtras() {
    clear
	fancy_message action "Installing Bob The Fish"
	omf install bobthefish
}

## Meta fish shell
function metaInstallFishShell() {


	installApp "git"
	userPrompt

	# install fish and Oh-my-fish
	installOMF

	clear
	fancy_message action "Changing Shell to fish"
	chsh -s "/usr/bin/fish"

}

# End of Fish shell related code 
