
################################################################################
## Related to the fish shell


# Install Oh-my-fish
function installOMF()
{
	installApp "fish"

	echo -e "Installing Oh My Fish"
	curl -L https://get.oh-my.fish | fish

}

function installOMFExtras()
{
    clear
	echo -e "Installing Bob The Fish"
	omf install bobthefish
}


## Meta fish shell
function metaInstallFishShell()
{
	# i should do a check but i will just do an install for now
	clear
	echo -e "Installing Git"
	$install git

	# install fish and Oh-my-fish
	installOMF
}
