function installHomebrew() {
    # source: https://brew.sh/

    fancy_message action "Installing Homebrew"
    userPrompt
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

}


function installhomebrewPackages() {
    if ! command -v brew >/dev/null 2>&1; then
        fancy_message warn "Homebrew not found. Installing Homebrew first."
        userPrompt
        installHomebrew
    fi
    fancy_message action "Installing Homebrew ${1}"
    brew install "${1}"

}


homebrew_menu_items=(
    1 "['cat' alternative] bat"
    2 "['ls' alternative] eza"
    3 "['du'/'df' alternative] dust"
    4 "[Fuzzy Finder] fzf"
    5 "[Man Page summerizer] tldr"
    I "Install Homebrew"
    M "Return to Main Menu"
    Q "Exit to Prompt"
)

function homebrewMenuCaseStatement() {
    case $homebrewSelection in
        1) installhomebrewPackages "bat" ;;
        2) installhomebrewPackages "eza" ;;
        3) installhomebrewPackages "dust" ;;
        4) installhomebrewPackages "fzf" ;;
        5) installhomebrewPackages "tldr" ;;
        [iI]) installHomebrew ;;
        [sS]) mainSoftwareMenu ;;
        [mM]) mainMenuType ;;
        [qQ]) quitScript ;;
        *) invalidSection ;;
    esac
}

function homebrewMenuDialog() {
    createDialogMenu
}

function homebrewMenuEcho() {
    createEchoMenu
}

function homebrewSoftwareMenu() {
    baseMenuName="homebrewMenu"
    menuTitle="Xmetal Homebrew Software Menu"
    currentMenuCaseStatementName="homebrewMenuCaseStatement"

    declare -n menuArrayName=homebrew_menu_items
    declare -n currentMenuSelection=homebrewSelection

    $menuName
}