##############################################################################################################
## Java Section start

function installJava()
{

	clear
	fancy_message action "About to install Java support"


	# Note to self: these package names will have to be checked
	case $distroBase in

		arch) installApp "jre-openjdk" ;;

		fedora|opensuse)
		# UNTESTED on Fedora ... taking a chance i can use the same code for both since they both use the offical RPM from Oracle

		# Source: https://www.digitalocean.com/community/tutorials/how-to-install-java-on-centos-and-fedora

		# source for OpenSuse: https://en.opensuse.org/SDB:Installing_Java

		oracleJavaURL="https://javadl.oracle.com/webapps/download/AutoDL?BundleId=238718_478a62b7d4e34b78b671c754eaaf38ab"

		# Enter user's Downloads directory
		cd $downloadsDir
		clear

		# this needs to be in quotes for wget and fish
		fancy_message action "Downloading Java RPM from Oracle"
		wget -O javaJRE.rpm --no-cookies --no-check-certificate --header "Cookie: gpw_e24=http%3A%2F%2Fwww.oracle.com%2F; oraclelicense=accept-securebackup-cookie" "$oracleJavaURL"

		# install RPM
		fancy_message action "Installing Java RPM file from Oracle"
		sudo rpm -ivh javaJRE.rpm
		userPrompt

		# cleanup
		fancy_message action "Removing Java RPM file"
		rm javaJRE.rpm

		;;

		solus)
			# openjfx-8 ... not just "openjfx"

			## This seems like it's going to be an issue version wise
			installApp "openjfx-8 openjdk-11"
			;;

		debian|ubuntu) installApp "default-jre" ;;

		*) fancy_message warn "Distro Base not detected, Java not installed" ;;

	esac

	## leave this for now (commented out), but I dont see where i ever declared what $javaPackage is ...
	#$install $javaPackages

	###############
	userPrompt
	###################
}


function checkForJava()
{
  javaPresent="openjdk"
  javaVersion=$(java --version)

  # The first check seems ok in Ubuntu and Arch ... but has an error message to "java virtual machine can not start" or something like that ... but that is where the second check should come in

  clear
  fancy_message action "Checking for Java "

  if  [ "$javaVersion" == *"$javaPresent"* ] || \
      [ ! -z "$(which java)" ]; then
       fancy_message info "Java is detected"
       userPrompt
  else

    fancy_message info "JRE not detected"
    fancy_message action "About to install Java support"
    userPrompt

    installJava

  fi

}

## End of Java section
#######################################################################################
