function universalCodecInstall()
{
  clear
  echo -e "Preparing Codecs"
  
  
  if [ "$distroBase" = "arch" ]; then
      $install a52dec faac faad2 flac jasper lame libdca libdv libmad libmpeg2 libtheora libvorbis libxv wavpack x264 xvidcore gstreamer0.10-plugins libdvdcss libdvdread libdvdnav dvd+rw-tools dvdauthor dvgrab cdrdao

  elif [ "$distroBase" = "fedora" ]; then
    sudo dnf -y groupinstall multimedia
      clear

      # why this too? ... eh well ... leave it for now 
      $install gstreamer1-libav

  elif [ "$distroBase" = "opensuse" ]; then
    echo -e "Filler for now "

  elif [ "$distroBase" = "ubuntu" ]; then
    echo -e "filler for now "

  fi 

  echo -e "Codecs are now installed"
  userPrompt

}

#########################################################################
#########################################################################

function xnViewMPInstall()
{
  echo "Filler "

}


function deadbeefInstall()
{

  programName="DeadBeef Media Player"
  programHomepage="http://deadbeef.sourceforge.net/"
  packageUrl="http://sourceforge.net/projects/deadbeef/files/debian/deadbeef-static_0.7.2-2_amd64.deb/download"


  # OpenSuse should be ok (Leap and TW), Solus has this in the repos ... 
  # Fedora and the Ubuntu base is what needs work 
  # Arch should have this without the need for the AUR 

    if [ "$distroBase" = "opensuse" ] || [ "$distroBase" = "solus" ] || [ "$distroBase" = "arch" ]; then
      $install deadbeef 

    elif [ "$distroBase" = 'ubuntu' ]; then
      ## need to install via DEB file ... 
      ## where to get the most legit DEB of this? 
      externalDownload $progName $packageUrl

    elif [ "$distroBase" = 'fedora' ]; then

      # RPM needed
      ## I got it from a third party site ... what is the "most official" way to get this? 
      echo -e "filler"

    else

       # The catch-all step
       echo "Deadbeef not installed. You are not (detected to be..) on a supported distro for my scripts"
    fi
    
    installApp deadbeef
}

#################################################################





##########################################
## Doesn't matter what distro it is 
function tinyMediaManagerInstall
{
  ## Note to self: Java has to be installed
  ## I need to put a check/install if not installed thing in for java/jre 

  ## not sure if i'd ever need Title, but keep this for now ... 
  programTitle="Tiny Media Manager"
  programName="tinyMediaManager"
  programHomepage=https://www.tinymediamanager.org/
  packageUrl=https://release.tinymediamanager.org/v2/dist/tmm_2.9.16_42413ce_linux.tar.gz

  externalDownload $programName $packageUrl

}
###########################################
