. $uniFunctionDir/software/multimedia/includeMultiSoftwareDir.cfg

#################################################################################################################

function installXNViewMP() {
	programTitle="XNViewMP"
	programName="XNViewMP"
	programHomepage="https://www.xnview.com/en/xnviewmp/"
	tarballURL="https://download.xnview.com/XnViewMP-linux-x64.tgz"
	appImageURL="https://download.xnview.com/XnView_MP.glibc2.18-x86_64.AppImage"

	# Flatpak info
	# xnviewmpFP is the flatpak name

	# always the newest URL/DEB
	debURL="https://download.xnview.com/XnViewMP-linux-x64.deb"

	iconFile="/menu/xnview.svg"

	# Needed for Fedora ... do this first
	# 2022: not sure when (what Fedora version) this was added and if it's still needed

	case $distroBase in
		fedora) $install libnsl ;;
	esac


	case $distroBase in

	    arch|fedora|opensuse|solus) installFlatpakApp $xnviewmpFP ;;

		## The same exact DEB works on Debian and Ubuntu
		debian|ubuntu)

			programURL=$debURL

			# Download and Extract needed files
			metaExternalDownload "${programTitle}" "${programURL}"

			;;

			*) return ;;

  esac
  ##############################################################


}
############################################################

function installDeadBeefOpenSUSE() {
	if [ "$openSUSEBranch" == "tumbleweed" ]; then
		# in tumbleweed repos ... nothing else needed
		installApp "$programName"
	elif [ "$openSUSEBranch" == "leap" ]; then

		# needed due to only being in CERTAIN leap versions
		case $leapVersion in
			15.3|15.4)
				# Checks for third party repo but doesn't install anything
				thirdPartyRepoSoftwareNotice "$programName"

				;;

			*)
				# would i ever get to this point?
				fancy_message info "Version of OpenSUSE Leap not supported by this script" ;;

		esac
	fi
}


# for the deb, look to deb-apt and https://github.com/wimpysworld/deb-get/commit/f2eb0712d42cbf80f5bc1457e0dd58a63acdd06a#diff-56209e7a3fd82d42beae1c60e46b9d69ac2a89de06e33a2787c7b5ff238ea634= for inspiration


function installDeadbeef() {
	programName="deadbeef"
	programTitle="DeadBeef Media Player"
	programHomepage="http://deadbeef.sourceforge.net/"
	packageVersion="1.9.1"

	deadbeefDEBURL="$(curl -s "https://deadbeef.sourceforge.io/download.html" | awk -F'"' '/amd64.deb/ { print $2 }')"
	deadbeefTarURL="https://sourceforge.net/projects/deadbeef/files/travis/linux/${packageVersion}/deadbeef-${packageVersion}.tar.bz2"

	snapName="deadbeef-vs"
	snapType="classic"

	iconFile="deadbeef.svg"

	#deadbeefTar=$(curl -s "https://deadbeef.sourceforge.io/download.html" | awk -F \" '/tar.bz/ && /href/ {print $2;exit}' | sed 's/\/download//g')

	clear
	fancy_message action "Installing ${programTitle}"

	case $distroBase in

		arch) aurAppInstall "${programName}" ;;

		debian|ubuntu)
			# commented out only for debugging .. if this stays i just forgot
			#if [ "${debgetInstalled}" == "yes" ]; then fancy_message action "installing ${programName}, with deb-get"; deb-get install ${programName}; userPrompt; return; fi

			programURL=$(unpackURL "$deadbeefDEBURL")
			metaExternalDownload "${programTitle}" "${programURL}"
		;;

		fedora)

			# check for RPMFusion
			thirdPartyRepoSoftwareNotice "$programName"
			;;

		opensuse) installDeadBeefOpenSUSE ;;


		solus) installApp "deadbeef" ;;

		*) # The catch-all step
			fancy_message warn "Deadbeef not installed. You are not (detected to be..) on a supported distro for my scripts" ;;

 	esac

}


#########################################################################
# this is a meta function
function installAudioRecorder() {
	programName="audio-recorder"
	programTitle="Audio Recorder"
	programHomepage=""

	# Universal Apps
	snapName="audio-recorder"
	snapType="edge"

  	case $distroBase in

    	arch|fedora|solus)

			fancy_message action "About to install the snap version of "
			installSnapApp $snapName ;;

		debian) fancy_message info "Support in my scripts not added yet" ;;
    	opensuse)

			# audio-recorder is in the Leap 42.3, Leap 15, and TW repos (not pacman, btw )
			installApp ${progranName} ;;

		ubuntu)
			if [ "${debgetInstalled}" == "yes" ]; then fancy_message action "installing ${programName}, with deb-get"; deb-get install ${programName}; userPrompt; return; fi

			installAudioRecorderPPA

			;;
	esac
}
###################################################################################
# Source: https://github.com/tenacityteam/tenacity-flatpak-nightly/blob/main/README.md
function installTenaCityFlatpak() {
	#todo; check for flatpak support here

	fancy_message action "About to install (non-final release) Tenacity Flatpak"
	fancy_message info "Tenacity is a fork of Audacity"
	flatpak remote-add tenacity oci+https://tenacityteam.github.io/tenacity-flatpak-nightly
	flatpak install tenacity org.tenacityaudio.Tenacity

	fancy_message info "Tenacity (Audacity fork) is now installed via a flatpak"

}

###################################################################################
function getOcenAudioURL() {
	# DEBUGGING ONLY
	fancy_message action "Getting URL for ocenAudio"

	case $distroBase in

		arch) ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_archlinux.pkg.tar.xz"
			;;
		debian)
			if [ ${cpuArchType} == 32 ] || [ ${cpuArchType} == 64 ]; then
				oceanAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_debian9_${cpuArchType}.deb"
			fi
			;;

		fedora)
			# if not Fedora 35, I should put a message here
			if [ "${fedoraVersion}" == "35" ] || [ "${fedoraVersion}" == "36" ]; then
				ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_fedora${fedoraVersion}.rpm"
			fi

			;;

		opensuse) ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_opensuse.rpm" ;;

		solus) echo -e "${programName} installation code not done for ${ditroBase} yet" ;;

		ubuntu)
			# TODO put a check for deb-get here

			if [ ${cpuArchType} == 32 ] || [ ${cpuArchType} == 64 ]; then
				oceanAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_mint${cpuArchType}.deb"
			fi
			;;
	esac

	# debugging echo only
	echo -e "${oceanAudioURL}"

}

function ocenAudioDownload() {

	if [ ! -f ${downloadDir}/${ocenAudioFilename} ]; then
		fancy_message action "Downloading ${programTitle}"
		wget -P ${downloadDir} "${ocenAudioURL}"
	else
		fancy_message info "${programTitle} file already downloaded"
		return
	fi

}

function installOcenAudio() {
	programName="ocenaudio"
	programTitle="Ocen Audio"
	programHomepage="https://www.ocenaudio.com/"
	ocenAudioDownloadBaseURL="https://www.ocenaudio.com/downloads"

	# for Solus at the moment
	case $distroBase in
		solus)
			fancy_message warn "${programTitle} support for ${distroBase} is not currently coded"

			#goal: exit the function
			return ;;
	esac

	# get the URL needed for the download .. ${oceanAudioURL} is what is returned
	getOcenAudioURL
	ocenAudioFilename=$(basename ${ocenAudioURL} )

	if [ -n ${oceanAudioURL} ]; then

		case $distroBase in
			arch)
				ocenAudioDownload
				echo -e "Install code for ${programTitle}, is not coded for Arch yet"
				;;
			fedora|opensuse)
				ocenAudioDownload
				fancy_message action "Installing ${programTitle}"
				$install ${downloadDir}/${ocenAudioFilename}
				;;

			debian|ubuntu) sudo gdebiInstall "${ocenAudioURL}" ;;
		esac

	fi

}
