function installAtom
{
  # April 2019 note to self THERE HAS to be a way to slim this function down 
  
  ## This needed if i pass to external function
  # change pwd
  cd ~/Downloads


  programTitle="Atom Editor"
  programName="atom"
  programHomepage="http://atom.io"


  ## If the RPM is needed for Fedora and Suse ... can I combine the two?
  echo "Downloading and Installing the Atom Text Editor"

  if [ "$distroBase" = 'ubuntu' ]; then

    programURL="https://atom.io/download/deb"
    
    externalDownload $programName $programURL

  elif [ "$distroBase" = 'opennsuse' ] || [ "$distroBase" = 'fedora' ]; then

      programURL="https://atom.io/download/rpm"


      externalDownload $programName $programURL

    ## ?? Don't I need to install lsb first due to errors?... in fedora i THINK ... maybe openSuse

  elif [ "$distroBase" = 'arch' ] || [ "$distroBase" = 'solus' ]; then
      # is Atom in the default arch repos? 
        # yes it is ... comm repo 

    $install atom 
  
  else
    echo -e "Issue, installing Atom Text Editor"
  fi

}

## universal function 
function installVSCode
{
## If the RPM is needed for Fedora and Suse ... can I combine the two?
  echo "Downloading and Installing vscode"

  if [ "$distroBase" = 'opennsuse' ]; then
    sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
    
    sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ntype=rpm-md\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/zypp/repos.d/vscode.repo'
  
    # refresh/update repo 
    $refresh
    
    # install (vs)code
    $install code


  elif [ "$distroBase" = 'fedora' ]; then
    sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
    
    sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo'

    # refresh/update repo 
    $refresh
    
    # install (vs)code
    $install code

  elif [ "$distroBase" = 'arch' ]; then
    # code is the package name in arch, NOT vscode

      # refresh/update repo 
    $refresh
    
    # install (vs)code
    $install code

  elif [ "$distroBase" = 'ubuntu' ]; then
    ## official instructions
    # Source: https://code.visualstudio.com/docs/setup/linux

    curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
    sudo install -o root -g root -m 644 microsoft.gpg /etc/apt/trusted.gpg.d/
    sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main" > /etc/apt/sources.list.d/vscode.list'

    $install apt-transport-https

    # refresh/update repo 
    $refresh
    
    # install (vs)code
    $install code

  elif [ "$distroBase" = 'solus' ]; then
    # the package IS "vscode" ... so how the heck do i deal with this 
    echo -f "filler"

  else
    echo -e "Issue, installing vscode "
  fi

  ## I had to put the refresh and install back in the if statement due to Solus being "vscode" and not "code" ... any other way I see, other than this revert is just going to be more code THAN the revert 

}
