function installAtom
{

  ## If the RPM is needed for Fedora and Suse ... can I combine the two?
  echo "Downloading and Installing the Atom Text Editor"

  if [ "$distroBase" == 'ubuntu' ]; then

    curl -o atom.deb https://atom.io/download/deb

    clear
    dpkgInstall atom.deb

  	echo "Atom Text Editor installed"

    ## Cleanup
    rm atom.deb

    clear


  elif [ "$distroBase" = 'opennsuse' ] || [ "$distroBase" = 'fedora' ]; then
    curl -o atom.rpm https://atom.io/download/rpm

    ## ?? Don't I need to install lsb first due to errors?

  elif [ "$distroBase" == 'arch' ]; then
      # is Atom in the default repos? 

      return 
  elif 
  fi

}


###################################################
function vscode
{




}