# NOTE TO SELF: there is code for this in the debian section i did before making this a universal thing... move that code here and remove that code, as it is no longer needed
function installIntelMicroCode()
{
	clear
	echo -e "Installing the Intel Microcode package"

	case $distroBase in

		arch) installApp "intel-ucode" ;;

		debian|solus|ubuntu) installApp "intel-microcode" ;;

		## This for Leap AND TW? ...
		# IT WORKS on TW but I am not 100% sure it's the correct package
		opensuse) installApp "ucode-intel" ;;

		# seems like the right package
		fedora) installApp "iucode-tool" ;;

  	esac

}

function installBleachbit()
{
	programName="Bleachbit"


	case $distroBase in

		arch|debian|fedora|opensuse|solus|ubuntu) installApp "bleachbit" ;;

		*) echo -e "unsupported distroBase" ;;


	esac


}

function installEtcher()
{
	programName="etcher"
	programTitle="Etcher"
	etcherURL=$(curl -s "https://github.com/balena-io/etcher/releases" | grep -m1 "x64*.AppImage" | cut -d\" -f2)

	packageURL=$githubURL$etcherURL
	metaExternalDownload $programName $packageURL

}

##############################################################################################################
## Java Section start

function installJava()
{

	clear
	echo -e "About to install Java support"


	# Note to self: these package names will have to be checked
	case $distroBase in

		arch)
			installApp "java-runtime-common" ;;

		fedora|opensuse)
		# UNTESTED on Fedora ... taking a chance i can use the same code for both since they both use the offical RPM from Oracle

		# Source: https://www.digitalocean.com/community/tutorials/how-to-install-java-on-centos-and-fedora

		# source for OpenSuse: https://en.opensuse.org/SDB:Installing_Java

		oracleJavaURL="https://javadl.oracle.com/webapps/download/AutoDL?BundleId=238718_478a62b7d4e34b78b671c754eaaf38ab"

		# Enter user's Downloads directory
		cd $downloadsDir
		clear

		# this needs to be in quotes for wget and fish
		echo -e "Downloading Java RPM from Oracle"
		wget -O javaJRE.rpm --no-cookies --no-check-certificate --header "Cookie: gpw_e24=http%3A%2F%2Fwww.oracle.com%2F; oraclelicense=accept-securebackup-cookie" "$oracleJavaURL"

		# install RPM
		echo -e "Installing Java RPM file from Oracle"
		sudo rpm -ivh javaJRE.rpm
		userPrompt

		# cleanup
		echo -e "Removing Java RPM file"
		rm javaJRE.rpm

		;;

		solus)
		# openjfx-8 ... not just "openjfx"

		## This seems like it's going to be an issue version wise
		installApp "openjfx-8 openjdk-11"
		;;

		debian|ubuntu) installApp "default-jre" ;;

		*) echo -e "Distro Base not detected, Java not installed" ;;

	esac

	## leave this for now (commented out), but I dont see where i ever declared what $javaPackage is ...
	#$install $javaPackages

	###############
	userPrompt
	###################
}


function checkForJava()
{
  javaPresent="openjdk"
  javaVersion=$(java --version)

  # The first check seems ok in Ubuntu and Arch ... but has an error message to "java virtual machine can not start" or something like that ... but that is where the second check should come in


  clear
  echo -e "Checking for Java "

  if  [ "$javaVersion" == *"$javaPresent"* ] || \
      [ ! -z "$(which java)" ]; then
       echo -e "Java is detected"
       userPrompt
  else

    echo -e "JRE not detected"
    echo -e "About to install Java support"
    userPrompt

    installJava

  fi

}

## End of Java section
#######################################################################################

########################################################################################
# Vebtoy Related

function metaVentoyDownload() {
	clear

	# $1 = just the type a a string 
	echo -e "Downloading Ventoy $1\n\nPlease be patience as it may SEEM like things are frozen for a few moments\n\n"
	wget "$totalISOURL" -P "$downloadsDir"


	echo "Ventoy Downloaded"
	userPrompt
}


function downloadVentoyISO() {
	# ISO vars 
	ventoyISOURL=$(curl -s "$ventoyDownloadURL" | awk -F '"' '/download/ && /livecd.iso/ {print $2;exit }'  )
	totalISOURL=$githubBaseURL$ventoyISOURL

	metaVentoyDownload "ISO" $totalISOURL
}

function downloadVentoyTAR() { 

	# TAR vars
	ventoyTARURL=$(curl -s "$ventoyDownloadURL" | awk -F '"' '/download/ && /.tar.gz/ {print $2;exit }'  )
	totalTARURL=$githubBaseURL$ventoyTARURL

	metaVentoyDownload "tarball" $totalTARURL
}

# End Ventoy Related
#######################################################################################################

function installStacer() {
	programName="stacer"
	programTitle="Stacer"

	case $distroBase in 

		ubuntu) 
			# this is "/oguzhaninan/Stacer/releases/download/v1.1.0/stacer_1.1.0_amd64.deb" for example 
			stacerURL=$(curl -s "https://github.com/oguzhaninan/Stacer/releases" | awk -F \" '/deb/ && !/script/ {print $2;exit}')

			packageURL="$githubURL$stacerURL"
			metaExternalDownload $programTitle $packageURL 
						
		;;

		*) 
			stacerURL=$(curl -s "https://github.com/oguzhaninan/Stacer/releases" | awk -F \" '/AppImage/ {print $2;exit}')
		
			packageURL="$githubURL$stacerURL"

			stripFileInfo
			
			clear
			cd $downloadsDir
			wget "$packageURL"
			userPrompt

			clear
			appImageExecutable
			;; 
	esac 

}


function installOPI() {

	programName="opi"
	programTitle="opi"

	clear
	echo -e "Installing opi only if OpenSUSE is detected"
	case $distroBase in 
		opensuse) installApp "opi" ;;
		*) return ;; 
	esac
	
	
}