. $softwareDir/systemtools/f_appimagelauncher.cfg
. $softwareDir/systemtools/f_ventoy.cfg


# NOTE TO SELF: there is code for this in the debian section i did before making this a universal thing... move that code here and remove that code, as it is no longer needed
function installIntelMicroCode() {
	clear
	fancy_message action "Installing the Intel Microcode package"

	case $distroBase in

		arch) installApp "intel-ucode" ;;

		debian|solus|ubuntu) installApp "intel-microcode" ;;

		## This for Leap AND TW? ...
		# IT WORKS on TW but I am not 100% sure it's the correct package
		opensuse) installApp "ucode-intel" ;;

		# seems like the right package
		fedora) installApp "iucode-tool" ;;

  	esac

}

function installEtcher() {
	programName="etcher"
	programTitle="Etcher"
	programHomepage="https://balena-etcher.eu/"
	repoName="balena-io/etcher"

	# for now use the appImage for Debian until i know the DEB could work on Debian
	[[ "${distroBase}" == "ubuntu" ]] && fileFormat="deb" || fileFormat="AppImage"

	gitDownload ${repoName} ${fileFormat}

}

# Nov 2022: redo this
function installStacer() {
	programName="stacer"
	programTitle="Stacer"
	repoName="oguzhaninan/Stacer"

	iconFile="stacer.png"

	Terminal="false"
	Categories="Utility"


	# try at redone (above) function
	case $distroBase in
		ubuntu)  fileFormat="deb" ;;
		*) fileFormat="AppImage" ;;
	esac

	# if the nameFormat is the same that can be moved down here
	nameFormat="${programTitle}-"

	# do not pass to metaExternalDownload, gitDownload does that now
		# gitDownload gets the link from github, and then passes it to metaExternal
	gitDownload ${programTitle} ${programURL}
}

function installOPI() {

	programName="opi"
	programTitle="opi"

	clear
	fancy_message action "Installing opi only if OpenSUSE is detected"
	case $distroBase in
		opensuse) installApp "opi" ;;
		*) return ;;
	esac


}

function installDebGet() {
	programName="deb-get"
	programTitle="Deb Get"
	# here at least to test my gitDownload function
	repoName="wimpysworld/deb-get"
	fileFormat="deb"

	# source: https://github.com/wimpysworld/deb-get
	# fancy_message action "Installing $programTitle"
	# LEAVE THIS LINE ... its the prior way and i may need to revert back ... when gitDownload works, then i can remove this after tests of deb-get work with that function
	#curl -sL https://raw.githubusercontent.com/wimpysworld/deb-get/main/deb-get | sudo -E bash -s install deb-get

    gitDownload ${repoName} ${fileFormat}
	userPrompt
}

# not done yet ... at all .. this is probably where i started the "gitDownload" template function idea
function installCzhawka() {
	programName="czhawka"
	programTitle="Czhawka"
	programHomepage="https://qarmin.github.io/czkawka/"
	program_release="https://github.com/qarmin/czkawka/releases"

	iconFile="${programName}.png"

	repoName="qarmin/czkawka"
	fileFormat="AppImage"

	programCatagories="Utility"
	Terminal="false"

	latest_version=$(curl -s "${program_release}" | awk -F '"' '/gui.AppImage/ { print $2;exit}'
	
	programURL="${program_release}/${latest_version}"



	gdebiInstall ${programURL}




	#programURL="https://github.com/qarmin/czkawka/releases/download/4.1.0/linux_czkawka_gui.AppImage"
	#execFile=$(basename ${programURL} )

	#metaExternalDownload ${programTitle} ${execFile} ${programURL}


	##################################################################
	# old code below because of GTK4 issues on post 4.1.0 versions

	#downloadedFile="linux_czkawk.${fileFormat}"

	#gitDownload ${repoName} ${fileFormat}

	# March 2023: for recent issue that i see cropped up on at least Linux Mint 21 (Ubuntu 22.04)

	# not sure what to do for Debian
		# libgtk-4-1 IS in bookworm
	# # what about Solus? openSUSE?
	# case ${distroBase} in
	# 	arch|fedora) $install gtk4 ;;
	# 	ubuntu) $install libgtk-4-1 ;;
	# esac
}