## really not sure why the first few lines are giving an error ... I will come back to this later 

. $UniSoftFunctDir/f_browsers.cfg
. $UniSoftFunctDir/f_productivitySoftware.cfg 
. $UniSoftFunctDir/f_multimediaSoftware.cfg 
. $UniSoftFunctDir/f_powerline.cfg

#########################################################################

## Question to self: WHAT is the point of having "packageName" in these functions? ... shouldn't stripFileInfo find that info? ... is this var being here a leftover from the old pre-template way of doing things?

#############################################################################

function LAMPInstall()
{
  ## Assumes packages names are same cross-distro

  ## This code below is probably from an Ubuntu based distro
  installApp apache2 mysql-server php libapache2-mod-php
}

function wineInstall()
{
    programName="Wine Emulator"
    programHomepage=http://www.winehq.com

    ## ***** HOLD ON ... remember to put the different Mint 17 and Mint 18 code in (vs ubuntu)

    if [ "$distroBase" == 'ubuntu' ]; then
        # Source: https://wiki.winehq.org/Ubuntu
        clear
        sudo dpkg --add-architecture i386

        addPPA ppa:wine/wine-builds

        ## Refresh repos 
        $refresh
        clear

        $install --install-recommends winehq-devel

        $install playonlinux

    elif [ "$distroBase" == 'fedora' ]; then
      return

    elif [ "$distroBase" == 'opennsuse' ]; then
      return 

    elif [ "$distroBase" == 'arch' ]; then
        $install wine
    else
       echo "FILLER TEXT FOR NOW ... "
    fi

}


function etcherInstall()
{
  programName="Etcher"
  packageURL=https://github.com/resin-io/etcher/releases/download/v1.3.1/etcher-1.3.1-linux-x86_64.zip


  # Call to download function 
  downloadFile $programName $packageURL 

  # note to self comment to be removed later: at this point, I should have the etcher zip file downloaded ... that is it  


  # should be in the extract template function 
  # does the (?? did i use the right var name... anyway ... ) $packageName var need to be passed or is that already "globally known" when the script is running 
  
  extractDownload

  
  # note to self comment to be removed later: HERE the etcher AppImage file is extracted to the user's Download folder 



   echo -e "Etcher's AppImage is now located in your Downloads folder"
   echo -e "Please navigate to that folder and click the icon to run it"
   echo -e "or navigate to it in a terminal and type \"./Etcher-linux-x64.AppImage\" "
}