
#########################################################################

## Question to self: WHAT is the point of having "packageName" in these functions? ... shouldn't stripFileInfo find that info? ... is this var being here a leftover from the old pre-template way of doing things?

#############################################################################

function LAMPInstall()
{
  ## Assumes packages names are same cross-distro

  ## This code below is probably from an Ubuntu based distro
  $install apache2 mysql-server php libapache2-mod-php
}

#################################################################################


function etcherInstall()
{
  programName=Etcher

  # Todo - make this URL dynamic 
  packageURL=https://github.com/balena-io/etcher/releases/download/v1.5.5/balena-etcher-electron-1.5.5-linux-x64.zip


  externalDownload $programName $packageURL
  
  # note to self comment to be removed later: HERE the etcher AppImage file is extracted to the user's Download folder 
  userPrompt
  echo 
  echo -e "Etcher's AppImage is now located in your Downloads folder"
  echo -e "Please navigate to that folder and click the icon to run it"
  echo -e "or navigate to it in a terminal and type \"./Etcher-linux-x64.AppImage\" "
}

#####################################################################################
#######################################################################################


# Metafuntion
function universalSoftwareInstaller {
    
    # $software should carry over from f_common.cfg 
    
    clear 
    echo -e "About to install $software"
    userPrompt

    # $install $software

    # vscodeInstall

    # xnViewMPInstall

    # tiny Media Manager install 
    # tinyMediaManagerInstall

    # etcher install
    # etcherInstall

    makeMKVInstall


}