# Meta function for installing build essentials
function universalBuildEssentials()
{

	fancy_message info "About to install build essential packages based on your distro"

	case $distroBase in

		arch) $install base-devel ;;

		debian) $install build-essential ;;
		fedora)
			sudo dnf groupinstall "Development Tools"
			sudo dnf groupinstall "C Development Tools and Libraries"

			$install zlib-devel openssl-devel expat-devel ffmpeg ffmpeg-devel qt5-qtbase-devel
			;;

		opensuse) $install -t pattern devel_basis ;;

		solus) sudo eopkg it -c system.devel ;;

		ubuntu)
			$install build-essential pkg-config libc6-dev libssl-dev libexpat1-dev libavcodec-dev libgl1-mesa-dev zlib1g-dev

	esac

	fancy_message info "Build Essentials are now installed"
	userPrompt

}


##################################################################################3##
## Cant remember  the point of this but leave it for now
# July 2022: i think this function was only created to cleanup the function BELOW IT ... consider remerging the two and calling that instead 
function massSoftwareInstall()
{

	# Message to debian users that they may want/need to add "contrib" and "nonfree" to sources.list
	# ... if they already have, this ... could get annoying
	case $distroBase in
		debian) debianMessage ;;
	esac

	# Checks and IF the user says yes, installs known third party repos
	thirdPartyRepoSoftwareNotice

	#refresh/update, the repos first
	refreshRepositories

	## a better name is needed
	installAppList "defaultRepoSoftware.list"
	userPrompt

	# Install Firefox and Bleachbit ... due to package name and/or case issues in the package names, i put these by themselves
	installFirefoxMeta
	installBleachbit

	# for Variety
	# this may be a good place for other distro and odd "dep issues"
	case $distroBase in

		opensuse)
			fancy_message action "Installing Python Request file that is needed for Variety in OpenSUSE"
			installApp "python-requests" ;;

		*) return ;;

	esac

}



# Metafuntion
function universalSoftwareInstaller {

    #Installs software located in most distro bases
    massSoftwareInstall

    #installs vscode
    installVSCode

    #install XNViewMP
    installXNViewMP

    # tiny Media Manager install
    installTinyMediaManager

    # etcher install
    installEtcher

    installMakeMKV

}
