. $uniFunctionDir/software/wine/includeWineCfg.cfg

######################################################################################
## The Meta Wine Function

function installPlayOnLinux()
{
  echo -e "Installing PlayonLinux"
  case $distroBase in
    opensuse) $install PlayOnLinux ;;

    arch|debian|fedora|solus|ubuntu) $install playonlinux ;;

  esac
}

# Function name could be more descriptive - since this is not for Solus, Fedora, openSUSE or Arch 
# This is the same code for Debian or Ubuntu (hence why I moved it here to the "Global" WINE file )
function wineDefaultInstall()
{

	echo -e "Installing W.I.N.E. from the current repos for your distro"
	sudo apt install wine64

	case $distroBase in 

		debian) 

			# Add 32bit Architecture
			sudo dpkg --add-architecture i386

			# Update Repos 
			# note to self: Shorten this later 
			sudo apt update 

			## not for Ubuntu too? 
			$install "wine32" ;;

		ubuntu) 
				## check for Ubuntu vs Mint ... they are not the same instructions 
				if [ "$distroName" == "linuxMint" ]; then
					# Source: https://www.linuxmint.com/rel_tara_cinnamon.php

					## This DOES NOT count upgrading from a previous Wine 3.0 install ... give a prompt to the user about that
					
					# note to self: leave this if i switch to a installApps function 
					$install --install-recommends wine-installer


				else
						## Ubuntu code here 
						echo -e "Placeholder"


				fi 


	


	esac

	# Note: this is not really needed as the only "case" (for the package name) issue is in Opensuse
	# I will use this function for other distros ... I am using this here vs "$install playonlinux", for consistancy sake
	installPlayOnLinux

}



## Meta install function?
## if so change this to wineMetaInstall


function installWine()
{
    programName="Wine Emulator"
    programHomepage="http://www.winehq.com"


    # Install wine
    clear
    echo -e "Installing Wine"

    case $distroBase in

		arch|fedora|opensuse|solus)
			# Wine is in the default repos
			$install "wine" ;;

		debian) wineDebianInstallPrompt ;;

    	ubuntu) wineUbuntuInstallPrompt ;;

    esac

    #  Install PlayonLinux
	# This is a function that handles the difference (there is a case issue) that is in OpenSuse
    installPlayOnLinux

}