## Any echo here should be for testing only 

. $dir/functions/universal/software/f_browsers.cfg

. $dir/functions/universal/software/f_cli_related.cfg

. $dir/functions/universal/software/f_multimediaSoftware.cfg

. $dir/functions/universal/software/f_productivitySoftware.cfg

. $dir/functions/universal/software/f_universalSoftware.cfg
