# note to self: DO NOT reorganize this in alphabetical order

. $uniFunctionDir/software/f_browsers.cfg
. $uniFunctionDir/software/f_cli_related.cfg
. $uniFunctionDir/software/f_productivitySoftware.cfg
. $uniFunctionDir/software/f_universalSoftware.cfg
. $uniFunctionDir/software/f_multimediaSoftware.cfg
. $uniFunctionDir/software/f_java.cfg
. $uniFunctionDir/software/f_systemtools.cfg


# note this IS correct do not include the include file here ... i have no idea why i did it like this though
. $uniFunctionDir/software/wine/f_wine.cfg