function updateLoki
{
	# Step 1 Update System
	clear
	echo "Updating ElementaryOS System"
	sudo apt update
	sudo apt upgrade
	clear
	echo "ElementaryOS is Up to Date "

}

function InstallLokiAdditions
{
		# Update System
		clear
		echo "Refreshing repos"
		echo "Installing PPA Support, Gnome Tweak Tools, GDebi, and Synaptic"
		read -p "Press [Enter] to continue"

    sudo apt install software-common-properties synaptic gnome-tweak-tool gdebi

}
