
#####################################################################################
## Separate functions for each distro base ... hopefully this will make what was nested if-elif statements look clear

function installSublimeTextUbuntu
{
    ## Including extra package in case its not already installed

    ## this (on Ubuntu based installs anyway) is where the hiccup is ... I tested "sublimebranch" and the var is seen correctly right before the if statement below


      #Select the channel to use:
      if [ "$sublimebranch" == 'stable' ]; then
        #Stable
        echo "deb https://download.sublimetext.com/ apt/stable/" | sudo tee /etc/apt/sources.list.d/sublime-text.list

      elif [ "$sublimebranch" == 'dev' ]; then
        #Dev
        echo "deb https://download.sublimetext.com/ apt/dev/" | sudo tee /etc/apt/sources.list.d/sublime-text.list
      fi

      userPrompt

      ## Update Repos
      clear
      echo "Updating repos"
      sudo apt update

}


function installSublimeTextArch
{

    if [ "sublimebranch" == 'stable' ]; then
      #Stable
      echo -e "\n[sublime-text]\nServer = https://download.sublimetext.com/arch/stable/x86_64" | sudo tee -a /etc/pacman.conf

    elif [ "sublimebranch" == 'dev' ]; then
      #Dev
      echo -e "\n[sublime-text]\nServer = https://download.sublimetext.com/arch/dev/x86_64" | sudo tee -a /etc/pacman.conf
    fi
}


function installSublimeTextFedora
{

    if [ "sublimebranch" == 'stable' ]; then
      sudo dnf config-manager --add-repo https://download.sublimetext.com/rpm/stable/x86_64/sublime-text.repo

    elif [ "sublimebranch" == 'dev' ]; then
      sudo dnf config-manager --add-repo https://download.sublimetext.com/rpm/dev/x86_64/sublime-text.repo
    fi


}

function installSublimeTextOpenSuse
{
    if [ "sublimebranch" == 'stable' ]; then
      #Stable
      sudo zypper addrepo -g -f https://download.sublimetext.com/rpm/stable/x86_64/sublime-text.repo
    elif [ "sublimebranch" == 'dev' ]; then
      #Dev
      sudo zypper addrepo -g -f https://download.sublimetext.com/rpm/dev/x86_64/sublime-text.repo
    fi



}
##############################################################################################
# The so-called "master" function that should be called
function sublimetextInstall
{

  # Call to Menu function
  sublimetextMenu

  ## Test Echo
  echo -e "Back from Sublime Text Menus"


  # Function to get the keys needed
  clear
  echo -e "Adding the keys needed for Sublime Text "
  sublimeTextKeys


  # Check to see what distro is being run and do the appropriate tasks, depending on what is detected
  if [ "$distroBase" == 'ubuntu' ]; then
      installSublimeTextUbuntu

    elif [ "$distroBase" == 'fedora' ]; then
      installSublimeTextFedora

    elif [ "$distroBase" == 'opennsuse' ]; then
      installSublimeTextOpenSuse

    elif [ "$distroBase" == 'arch' ]; then
      installSublimeTextArchd

    else
       return 
    fi

    clear
    installApp sublime-text
    echo -e "Sublime Text Installed"
}


## End Sublime Text Section/Code
#############################################
