# http://www.ubuntubuzz.com/2016/11/list-of-ppa-repositories-for-ubuntu-16.04-xenial-xerus.html

function officeSuiteMenu
{
				clear
				x=1

				while [[ $x=1 ]]; do

				echo -e "Please Select Your Choice for an Office Suite\n"

					echo -e 	"1. Install Libre Office from your distribution's repository "
					echo -e 	"2. \t Install Libre Office from Libre Office PPA to \n possibly get newer version"
					echo -e   "3. \t Install WPS Office "

					echo -e 	"m. \t Return to Main Menu"
					echo -e 	"q. \t Exit to Prompt\n\n"
					read -p "Your Choice?: " addOfficeSelection

					case $addOfficeSelection in
						1) RepoLibreOffice
					 		x=1
					 		;;

						2) PPALatestLibreOffice
								x=1
								;;

						3) installWPSOffice
						    x=1
								;;

						q) ;;

		esac

}

function multimediaAppsInstall
{
			echo -e "Installing Multimedia Programs"
			 aptUpdate
			 aptInstall mpv audacious audacious-plugins mpv easytag vlc

			 # Install Filebot
			installFilebot

			## Install Deadbeef
			installDeadBeef

}

#########################################################
function installWPSOffice
{
		  clear
			echo -e "Installing WPS Office 10"
			wget http://kdl.cc.ksosoft.com/wps-community/download/a21/wps-office_10.1.0.5672~a21_amd64.deb

			sudo dpkg -i wps-office_10.1.0.5672~a21_amd64.deb

			# Cleanup
			rm wps-office*.deb
}

function RepoLibreOffice
{
    echo " Installing Libre Office via your distribution's repository "
    sudo apt update
    clear

		sudo apt install libreoffice

		# Cleanup Needed

}

function PPALatestLibreOffice
{

  echo "Installing Libre Office's latest version via PPA "
  sudo add-apt-repository ppa:libreoffice/ppa
  sudo apt update
  clear

	sudo apt install libreoffice
  echo "Libre Office Installed via LibreOffice PPA"
  sleep 2


}

function YPPAManager
{
		# Source: https://launchpad.net/~webupd8team/+archive/ubuntu/y-ppa-manager

		sudo add-apt-repository ppa:webupd8team/y-ppa-manager
		sudo apt-get update

		sudo apt install y-ppa-manager

}


function installFilebot
{
			# Credits: https://www.filebot.net/forums/viewtopic.php?t=384
			sudo apt-get --assume-yes install openjdk-7-jre
			if [ `uname -m` = "i686" ]
			then
				wget -O filebot-i386.deb 'http://filebot.sourceforge.net/download.php?type=deb&arch=i386'
				else
				wget -O filebot-amd64.deb 'http://filebot.sourceforge.net/download.php?type=deb&arch=amd64'
			fi

			sudo dpkg --force-depends -i filebot-*.deb && rm filebot-*.deb

			clear

			sudo apt install openjfx -y


}

function browserMenu
{

		# Need to add loop to menu

	echo -e 	 "1. \t Install Google Chrome"
	echo -e     "2. \t Install Chromium"
	echo -e     "3. \t Install Firefox"
	echo -e     "4. \t Install Vivaldi\n\n"

	read -p     "Your Choice?:" browserSelection

case $browserSelection in

		  1) installChrome
				 x=1
				 ;;

		  2) aptInstall chromium-browser
				x=1
				;;

		  3) aptInstall firefox
				x=1
				;;

		  4) aptInstall vivaldi
				x=1
				;;

esac

}

function etcherInstall
{

}


function wineInstall
{
		## Use PPA but do not use "staging" ... -dev may be ok

}
