## Call this function from parent function ... other functions in this file are CALLED by this 

function fedoraSupportCheck()
{

  # Fedora check ...if Fedora is detected, then the version is checked and then EOL info is detected 
  if [ -f /etc/fedora-release ] || [ "$id" == 'fedora' ]; then
      distroBase='fedora'

    # Check version, and assigns info, accordingly 
    if [ "$versionid" == '26' ]; then
      EOL=$fedora26EOL
      rollingRelease=no
      supported=yes
    elif [ "$versionid" == '27' ]; then
      EOL=$fedora27EOL
      rollingRelease=no 
      supported=yes

    elif [ "$versionid" == 'rawhide' ]; then
      EOL=$fedoraRawhideEOL
      rollingRelease=yes

      # Yes ... sort of ... I mean even the Fedora devs advice against USING Rawhide for 90% of cases 
      supported=yes
    fi 


  fi
}