# Assigns the END 
function eolFedoraCheck
{
    if [ "$versionid" == '26' ]; then
      EOL=$fedora26EOL
    elif [ "$versionid" == '27' ]; then
      EOL=$fedora27EOL
    elif [ "$versionid" == 'rawhide' ]; then
      EOL=$fedoraRawhideEOL
      rollingRelease='yes'
    fi 
}


# Checks version info and determines if the version of Fedora is supported
function fedoraVersionCheck
{
 
  eolFedoraCheck

  if [ "$versionid" == '26' ] || [ "$versionid" == '27' ] || [ "$versionid" == 'rawhide' ]; then
    supported='yes'
  else 
    supported='no'
  fi 

}


################################################################
## Call this function from parent function ... other functions in this file are CALLED by this 
function fedoraSupportCheck
{

  
  # Fedora check ...if Fedora is detected, then the version is checked and then EOL info is detected 
  if [ -f /etc/fedora-release ] || [ "$id" == 'fedora' ]; then
    distroBase='fedora'

    fedoraVersionCheck
  
    eolFedoraCheck 

  fi

}