function eolFedoraCheck
{
     if [ "$versionid" == '26' ]; then
      EOL=$fedora26EOL
    elif [ "$versionid" == '27' ]; then
      EOL=$fedora27EOL
    elif [ "$versionid" == 'rawhide']; then
      EOL=$fedoraRawhideEOL
    fi 
}
################################################################

# Checks version info and determines if the version of Fedora is supported
function fedoraVersionCheck
{
  echo -e "$versionid"
  userPrompt
   
  if [ "$versionid" == '26' ] || [ "$versionid" == '27' ] || [ "$versionid" == 'rawhide' ]; then
    fedoraSupported='yes'
  else 
    fedoraSupported='no'
  fi 

  export fedoraSupported
  
}

function fedoraSupportCheck
{


  # Fedora check 
  if [ -f /etc/fedora-release ] || [ "$id" == 'fedora' ]; then
    distroBase='fedora'

    fedoraVersionCheck
  
    eolFedoraCheck 

  fi

}