########################################
# OpenSUSE Related 

## Function to check version of opensuse that is running - Leap or TW 
function openSuseCheck()
{

  if [ "$id" == 'opensuse' ]; then 
      
      ## Now that I look at this, this is most likely not needed and redundant (aka another var would do and i dont need this, but I will leave it for now)
      
      openSUSEName=$(awk 'BEGIN{FS="="} /^PRETTY_NAME/ {print $2}' /etc/os-release  | sed 's/\"//g' | cut -d ' ' -f 2 )

      # If Leap is detected 
      if [ $openSUSEName = 'Leap' ]; then

        rollingRelease=no

          ## VERSION_ID="15"
        
          ## Version AND Version ID are both "42.3" on thatbranch
          ## on 42.3 .... NAME="OpenSUSE Leap"... other vars seem the same and NOT branch specific

          if [ $versionid == '15' ] || [ $versionid == '42.3' ]; then
            supported=yes
          elif [ $versionid == '15' ] || [ $versionid == '42.3' ]; then
            supported=no
            return 
          
          else
            return 

          fi

      # If Tumbleweed is detected 
      elif [ $openSUSEName == 'Tumbleweed' ]; then
        
        supported=yes
        rollingRelease=yes

      fi 

        echo -e "Supported var:$supported"
        echo -e "RollingRelease var: $rollingRelease"
        userPrompt

        # the problem with the lag seems to be the (??) script getting stuck here 


  fi 

    
}