########################################
# OpenSUSE Related 


# Called from the function below ... the other thing 
## Function to check version of opensuse that is running - Leap or TW 

function openSuseCheck
{

  if [ "$id" == 'opensuse' ]; then 
      
      distroBase="opensuse"

      # First sed removes "OpenSUSE" from the output
      # Second sed removes spaces from the output
      # Third sed removes double-quotes from the output 

      openSUSEVersion=`cat /etc/os-release | grep PRETTY_NAME | sed 's/^.*openSUSE//g;s/\s//g;s/\"//g' `
      
      ## Ok to put this here, as it A) removes extra code in the if statement below AND it will not assign anything to version IF openSuse is not the distro, from the main if check 
      version=$openSUSEVersion

      

      # If Leap is detected 
      if [ "$openSUSEVersion" == 'Leap' ]; then
        rollingRelease='no'

        ## Before I can set support var, here, i need to know THE VERSION of Leap 

      # If Tumbleweed is detected 
      elif [ "$openSUSEVersion" == 'Tumbleweed' ]; then
        supported='yes'
        rollingRelease='yes'
      fi 

  fi 

}