########################################
# OpenSUSE Related 


## Function to check version of opensuse that is running 
### This means Leap or Tumbleweed only 
### This function gets called after openSuse IS detected for distroBase
function openSuseVersionCheck
{
  removeQuotes=`sed s/\"//g`

  # With removeQuotes this should say get -  Tumbleweed or Leap as a result 
  openSUSEVersion=`cat /etc/os-release | grep ^NAME= | $removeQuotes | cut -d = -f 2`

  version=$openSUSEVersion

  # If Leap is detected 
  if [ "$id" == 'Leap']; then
    echo "Filler ATM"
  elif [ "$id" == 'Tumbleweed' ]; then
    echo "filler ATM"
    supported="yes" 
    rollingRelease="yes"

  fi 

  ## AT THIS POINT the version var equals Leap or TW 

}


## This gets called from a more "Master"/"Parent" location 
function openSuseCheck
{

 	if [ "$id" == 'opensuse' ]; then 
    	
      distroBase="opensuse"

      # Find Leap or TW 
      openSuseVersionCheck 
  fi

}
