
#########################################################################################
## Specific Distro Checking 
# Arch based 

function archCheck 
{
  if [ "$id" == 'arch' ] || [ "$id" == 'manjaro' ] || [ '$id' == 'anarchy' ]; then 
    distroBase="arch"

    supported="yes" 
    rollingrelease="yes"


      if [ "$id" == 'manjaro' ]; then 
        
        manjaroVersion='cat /etc/lsb-release | grep 'DISTRIB_RELEASE=' | sed 's/DISTRIB_RELEASE=//g' '

        version=`manjaroVersion`

      fi 

  fi
}

#######################################################################################

function solusCheck 
{
  ## Not sure why I have both checks but ...eh 
  if [ -f /etc/solus-release ] || [ "$id" == 'solus' ]; then 
    distroBase="solus"
    supported="yes" 
    rollingrelease="yes"
  fi
}

