function ubuntuVersionCheck
{
  
  if [ "$ubuntuName" == 'trusty' ] || [ "$ubuntuName" == 'xenial' ]; then
    supported="yes"
    ubuntuLTS="yes"

      if [ "$ubuntuLTS" == 'yes' ]; then
        echo
        echo -e "You are currently on a ${bold}Long Term Supported Version ${normal}of Ubuntu"

      elif [ "$ubuntuLTS" == 'no' ]; then
        echo
        echo -e "You are ${bold}NOT on a long term supported release of Ubuntu"
      fi


    # If  17.10, is detected or loki (ElementaryOS's release based on 16.04)
    elif [ "$ubuntuName" == 'artful' ] || [ "$ubuntuName" == 'loki' ]; then
      supported="yes"
      ubuntuLTS="no"


    # Support for 18.04 pre-releases
    elif [ "$ubuntuName" == 'bionic' ]; then
      supported="no"
      echo "You are on a pre-release of Ubuntu 18.04, because of this, do not depend on so-called support for Cananoical, until 18.04 is final"


    else
      supported="no"
      ubuntuLTS="no"
    fi

}


function EOLUbuntuCheck
{
  
    ## LTS Related 
    if [ "$ubuntuName" == 'trusty' ]; then
      EOL=$LTS1404EOL
    elif [ "$ubuntuName" == 'xenial' ]; then
      EOL=$LTS1604EOL

    ## NON-LTS
    ## 1704
    elif [ "$ubuntuName" == 'zesty' ]; then
      EOL=$ubuntu1704EOL
    # 1710
    elif [ "$ubuntuName" == 'artful' ]; then
      EOL=$ubuntu1710EOL
    fi

}



function ubuntuCheck
{

  # This will expand, as needed later to include more distros that are Ubuntu based, later
  if [ "$id" == 'linuxmint' ] || [ "$id" == 'ubuntu' ] || [ "$id" == 'neon' ] || [ "$id" == 'peppermint' ] || [ "$id" == 'elementary' ]; then
    distroBase="ubuntu"

    ubuntuVersionCheck
    EOLUbuntuCheck

  fi


}