

function ubuntuCheck
{

  # This will expand, as needed later to include more distros that are Ubuntu based, later
  if [ "$id" == 'linuxmint' ] || [ "$id" == 'ubuntu' ] || [ "$id" == 'neon' ] || [ "$id" == 'peppermint' ] || [ "$id" == 'elementary' ]; then
    distroBase="ubuntu"
  fi


  ################################################################
  ## If the distro base is NOT ubuntu, then there is no point for any of the code in the nested if statement to run

  if [ "$distroBase" == 'ubuntu' ]; then

      # Not sure if this is the best place to put this function call
      ## Function that checks EOL info

      # if the detected versions is 14.04 or 16.04 - Supported LTS versions
      if [ "$ubuntuName" == 'trusty' ] || [ "$ubuntuName" == 'xenial' ]; then
        supported="yes"
        ubuntuLTS="yes"

          if [ "$ubuntuLTS" == 'yes' ]; then
            echo
            echo -e "You are currently on a ${bold}Long Term Supported Version ${normal}of Ubuntu"

          elif [ "$ubuntuLTS" == 'no' ]; then
            echo
            echo -e "You are ${bold}NOT on a long term supported release of Ubuntu"
          fi


      # If  17.10, is detected.  17.04 should be removed soon I think
      elif [ "$ubuntuName" == 'artful' ] || [ "$ubuntuName" == 'loki' ]; then
        supported="yes"
        ubuntuLTS="no"
      else
        supported="no"
        ubuntuLTS="no"
      fi

  fi 

}
