aurChoice_menu_items=(
	1 "Trizen"
	2 "Yay"
	3 "Exit to Arch-related submenu"
	M "Return to Main Menu"
    Q "Exit to Prompt"
)

# it doesn't matter if it's installed or set here, since it will still give a user a chance to change it
function aurChoiceMenuCaseStatement() {

	case $aurHelperChoiceSelection in
		1) aurHelper="trizen" ;;
		2) aurHelper="yay" ;;
		3) archMenuType ;;
		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
    esac

    case $aurHelperChoiceSelection in
        1|2)
            [ ! -f /usr/bin/${aurHelper} ] && install${aurHelper} || fancy_message info "${aurHelper} is already installed"

			# assigns AUR related vars based on the AUR helper
				# could this be an && in the staetment above??
				# the export to the arch settings file happens in this function below
            assignAURHelperVars

		;;

    esac

	userPrompt

	menuName=""
}



function aurChoiceMenuDialog() {

	createDialogMenu
}

function aurChoiceMenuEcho() {
	createEchoMenu
}

function aurChoiceMenuType() {
	baseMenuName="aurChoiceMenu"
	currentMenuCaseStatementName="aurChoiceMenuCaseStatement"
	menuTitle="Xmetal Linux Scripts Arch AUR Choice Menu"

	declare -n menuArrayName=aurChoice_menu_items
	declare -n currentMenuSelection=aurHelperChoiceSelection

	$menuName
}



#######################################################################################

# i should have a return to last menu option
aurMain_menu_items=(
	1 "Display AURHelper Info"
	2 "[Sub-Menu] AUR Helper Selecton Menu"
	M "Return to Main Menu"
    Q "Exit to Prompt"
)

function aurMainMenuCaseStatement() {

	case $aurMainMenuSelection in

		1) aurHelperDisplay ;;
		2) aurChoiceMenuType ;;

		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;

	esac

}


# function aurmainMenuType() {
# 	createDialogMenu
# }

function aurMainMenuEcho() {
	createEchoMenu
}

function aurMainMenuType() {
	baseMenuName="aurMainMenu"
	currentMenuCaseStatementName="aurMainMenuCaseStatement"
	menuTitle="Xmetal Linux Scripts Arch AUR Choice Menu"

	declare -n menuArrayName=aurMain_menu_items
	declare -n currentMenuSelection=aurMainMenuSelection

	$menuName
}

# End of main arch aur menu
##################################################
