aurChoice_menu_items=(
	1 "Trizen"
	2 "Yay"
	3 "Exit to Arch-related submenu"
	M "Return to Main Menu"
    Q "Exit to Prompt"

)

function aurChoiceMenuCaseStatement() {

	case $aurHelperChoiceSelection in

		1)
			if [ ! -f /usr/bin/trizen ]; then
				installTrizen
			else
				fancy_message info "Trizen is already installed"
			fi

			aurHelper="trizen"

			assignAURHelperVars

			exportAURHelper
			;;

		2)
			if [ ! -f /usr/bin/yay ]; then
				installYAY
			else
			fancy_message info "yay is already installed"
			fi

			aurHelper="yay"

			assignAURHelperVars

			exportAURHelper
        ;;

		3) archMenuType ;;
		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
    esac

	userPrompt
}



function aurChoiceMenuDialog() {

	createDialogMenu
}

function aurChoiceMenuEcho() {
	createEchoMenu
}

function aurChoiceMenuType() {
	baseMenuName="aurChoiceMenu"
	currentMenuCaseStatementName="aurChoiceMenuCaseStatement"
	menuTitle="Xmetal Linux Scripts Arch AUR Choice Menu"

	declare -n menuArrayName=aurChoice_menu_items
	declare -n currentMenuSelection=aurHelperChoiceSelection

	$menuName
}



#######################################################################################

# i should have a return to last menu option
aurMain_menu_items=(
	1 "Display AURHelper Info"
	2 "[Sub-Menu] AUR Helper Selecton Menu"
	M "Return to Main Menu"
    Q "Exit to Prompt"
)

function aurMainMenuCaseStatement() {

	case $aurMainMenuSelection in

		1) aurHelperDisplay ;;
		2) aurChoiceMenuType ;;

		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;

	esac

}


function aurmainMenuType() {
	createDialogMenu
}

function aurMainMenuEcho() {
	createEchoMenu
}

function aurMainMenuType() {
	baseMenuName="aurMainMenu"
	currentMenuCaseStatementName="aurMainMenuCaseStatement"
	menuTitle="Xmetal Linux Scripts Arch AUR Choice Menu"

	declare -n menuArrayName=aurMain_menu_items
	declare -n currentMenuSelection=aurMainMenuSelection


	$menuName
}

# End of main arch aur menu
##################################################
