cleanup_menu_items=(
	1 '[Arch Based] Clean Orphan Pacman Packages'
	2 '[Arch Based] Clean all but the two most recent versions of packages '
	3 '[Debian/Ubuntu] Clean Orphan Packages'
	4 '[openSUSE] Clean Old Kernels'
	5 'Clean Unused Flatpaks'
	Q 'Quit Scripts'
)

function cleanupMenuCaseStatement() {

	case $cleanupMenuSelection in
		1) clearPacmanCacheOrphan ;;
		2) paccacheLast2 ;;
		3) cleanOrphanPackages ;;
		4) cleanOldKernelsOpenSUSE ;;
		5) cleanUnusedFlatpak ;;
		[qQ]) quitScript ;;

	esac

}

function mainMenuDialog() {

	TITLE="Xmetal Linux Cleanup Menu"
	HEIGHT=25
	WIDTH=65
	CHOICEHEIGHT=15

	mainMenuSelection=$(dialog 	--title "$TITLE" \
						--backtitle "$BACKTITLE" \
						--menu "$MENU" \
						$HEIGHT $WIDTH $CHOICEHEIGHT \
						"${mainMenuArray[@]}" \
						3>&2 2>&1 1>&3)

	cleanupMenuCaseStatement

	# still needed?
	menuLoop

}


function cleanupMenuEcho() {
	echoMenuLoop

}


function cleanupMenuType() {
	baseMenuName="cleanupMenu"
	menuArrayName="cleanup_menu_items"
	menuTitle="Xmetal Linux Scripts Cleanup Menu"
	currentMenuCaseStatementName="cleanupMenuCaseStatement"
	currentMenuSelectionVar="cleanupMenuSelection"

	# this is needed here but not in the submenus
	detectMenuVariant
	assignMenuName

	$menuName


}