# fedyFunct= . "$rootdir"/tasks/functions/fedora/f_fedyTasks.cfg
# commonFunctions= . "$rootdir"/tasks/functions/f_common.cfg

# $fedyFunct
# $commonFunctions


# is the above code needed?
###############################################

fedy_tasks_items=(
    1 "Install Archive Support"
    2 "Install Microsoft Fonts"
    3 "Install Codecs"
    4 "Install Theme Engines"
    5 "Improve Font Rendering"
    A "Complete All Listed Tasks"
    M "Return to Main Menu"
    Q "Exit to Prompt"
)

function fedyTasksMenuCaseStatement() {

	case $fedyTaskSelection in

		1) archSupport  ;;
		2) msFonts  ;;
		3) fedyCodecs  ;;
		4) themeEngines ;;
		5) fontRendering  ;;

		[aA]) 	archSupport
				msFonts
				fedyCodecs
				themeEngines
				fontRendering
				;;

		[mM]) mainMenuType ;;
		[qQ]) quitScript ;;
		*) invalidSection ;;
	esac

}


function fedyTasksMenuDialog() {
	createDialogMenu
}


function fedyTasksMenuEcho() {
    createEchoMenu
}



function fedyTasksMenuType() {
	baseMenuName="fedyTasks"
	currentMenuCaseStatementName="fedyTasksMenuCaseStatement"
	menuTitle="Xmetal Fedy Task Menu"

	declare -n menuArrayName=fedy_tasks_items
	declare -n currentMenuSelection=fedyTaskSelection

	$menuName
}