fedora_menu_items=(
		1 'Add Feddy'
		2 'Perform Common Fedy Tasks (without installing Fedy)'
		M 'Return to Main Menu'
		Q 'Exit to Prompt'
	)


function fedoraMenuCaseStatement() {

	case $fedora_menu in
			1) InstallFedy ;;
			2) massFedyTasks ;;
			M) mainMenuDialog ;;
			Q) quitScript	;;
		esac

}


<<<<<<< HEAD
<<<<<<< HEAD
function fedoraMenuDialog()
{
<<<<<<< HEAD
=======
function mainFedoraMenu()
=======
function fedoraMenuDialog()
>>>>>>> 0f3c7c47 (working on menu redo)
{


>>>>>>> 975ee957 (menu work and cleanup)
=======
>>>>>>> 8756e7bb (menu work)
	fedora_menu=$(dialog 	--title "$TITLE" \
							--backtitle "$BACKTITLE" \
							--menu "$MENU" \
							12 65 8 \
							"${fedora_menu_items[@]}" \
							3>&2 2>&1 1>&3)

	# ending loop here
	menuLoop

}

<<<<<<< HEAD
<<<<<<< HEAD
function fedoraMenuEcho() {
	echoMenuLoop
}


=======
>>>>>>> 975ee957 (menu work and cleanup)
=======
function fedoraMenuEcho() {
	echoMenuLoop
}


>>>>>>> 0f3c7c47 (working on menu redo)

function fedoraMenuType() {

	menuName="fedoraMenu"
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8756e7bb (menu work)
	menuArrayName="fedora_menu_items"
	currentMenuCaseStatementName="fedoraMenuCaseStatement"
	currentMenuSelectionVar="fedora_menu_items"
	menuName="fedoraMenu"

	detectMenuVariant
	assignMenuName

	$menuName
<<<<<<< HEAD
=======

	detectMenuVariant
>>>>>>> 975ee957 (menu work and cleanup)
=======
>>>>>>> 8756e7bb (menu work)
}


