
# leave this here for now
# Aug 2021 idea:  when i get the WM detection up ... detect openbox and offer to install this when installing the arc theme
# when that happens/works  .... delete this function


git_menu_items=(
	1 "Arc Theme and Icons Pack (includes Openbox Support)"
	M "Back to Main Menu"
	Q "Quit to Prompt"
)

function gitMenuCaseStatement() {


	case $currentMenuSelection in

		1)
			# TODO: add universal call for the arc theme
			# function for OpenBox support
			gitArcOpenBox\
			fancy_message info "installed Arc Openbox theme" ;;

		[mM]) echo -e "TODO" ;;
		[qQ]) quitScript  ;;
		*) invalidSection ;;

	esac
}


function gitMenuDialog() {
	createDialogMenu
}

function gitMenuEcho() {
	createEchoMenu
}



function gitMenuType() {
	baseMenuName="Menu"
	currentMenuCaseStatementName="gitMenuCaseStatement"
	menuTitle="Xmetal Linux Scripts Main Menu"

	declare -n menuArrayName=git_menu
	declare -n currentMenuSelection=gitMenuSelection

	$menuName
}
