ubuntu_menu_items=(
		1 'Decide if popular packages accociated with PPAs \n are installed by default (default=no)'
		M 'Return to Main Menu'
		Q 'Exit to Prompt'
	)


function ubuntuCaseStatement() {

	case $ubuntu_menu in
		# located in /functions/ubuntu/PPAs/f_PPAMaintence.cfg
		1) ppaPackageInstallDefault  ;;
		M) mainMenuDialog ;;
		Q) quitScript ;;
	esac

}


<<<<<<< HEAD
function ubuntuMenuDialog()
=======
function mainUbuntuMenu()
>>>>>>> 975ee957 (menu work and cleanup)
{

	ubuntu_menu=$(dialog 	--title "$TITLE" \
							--backtitle "$BACKTITLE" \
							--menu "$MENU" \
							$HEIGHT 100 15 \
							"${ubuntu_menu_items[@]}" \
							3>&2 2>&1 1>&3)

<<<<<<< HEAD

	# ending loop here
	menuLoop
}

function ubuntuMenuEcho() {
	echoMenuLoop
}


function ubuntuMenuType() {
	menuName="ubuntuMenu"
	menuArrayName="ubuntu_menu_items"
	currentMenuCaseStatementName="ubuntuCaseStatement"
	currentMenuSelectionVar="ubuntu_menu"

	detectMenuVariant
	assignMenuName

	$menuName
}
=======
	
	# ending loop here
	menuLoop
}
>>>>>>> 975ee957 (menu work and cleanup)
