function universalAppMenu()
{
	x=1
	clear
	while [ $x=1 ]; do

		clear
		echo -e "1. \tDisplay Universal App Support"
		echo -e "2. \tInstall Snap Support"
		echo -e "3. \tInstall Flatpak Support"
		echo -e "4. \tInstall Flathub (Checks and installs Flatpak support, if needed)"

		echo -e  "\vS. \tReturn to Main Software Menu"

		read -p "Your Choice?: " universalAppMenuChoice

		case $universalAppMenuChoice in

			1)	snapCheck
				flatpakCheck
				userPrompt
				;;

			2)	metaInstallSnapSupport
				userPrompt
				;;

			3)	flatPakSupportInstall
				userPrompt
				;;

			4)
				# Checks flatpak support and installs if neeeded
				metaFlatpakSupport

				installFlatHub
				;;

			[sS]) universalSoftwareMenu ;;

		esac
	done
}
