# Directory includes
$distroBasesMenuFolder/includeDistroBaseMenusDir.cfg
$softwareMenuFolder/includeSoftwareMenusDir.cfg
$flatpakMenuFolder/includeFlatpakMenusDir.cfg
$universalSubMenusFolder/includeUniversalSubMenusDir.cfg

# individual files
$subMenusFolder/f_AURMenu.cfg
$subMenusFolder/f_fedyMenu.cfg
$subMenusFolder/f_gitMenus.cfg
$subMenusFolder/f_manjaroMenus.cfg