# This is for PPAs where Bionic (Ubuntu 18.04), is the last supported version (at the time i place the PPA functions, here)

#############################################################################################
# Start of Noobslab related code

function noobslabThemePPA()
{

	PPAName="Noobslab Theme PPA"
	PPASource="ppa:noobslab/themes"
	PPARef=""
	packageNames=""
	supportedBase="bionic"

	addPPA $PPAName $PPASource

}

function noobslabIconPPA()
{

	PPAName="Noobslab Icon PPA"
	PPASource="ppa:noobslab/icons"
	PPARef=""
	packageNames=""
	supportedBase="bionic"

	addPPA $PPAName $PPASource

}

function noobslabIcon2PPA()
{

	PPAName="Noobslab Icon 2 PPA"
	PPASource="ppa:noobslab/icons2"
	PPARef=""
	packageNames=""
	supportedBase="bionic"

	addPPA $PPAName $PPASource

}


# Meta Noobslab THEMING PPA
function AddNoobslabPPA()
{
	# IDea: put base check here ... no use going through each one if thebase is not going to be supported

	echo -e "Adding Noobslab Theme and both of Noobslab's Icon pack PPAs "

	noobslabThemePPA

	noobslabIconPPA

	noobslabIcon2PPA

}

# End of Noobslab related Code
#############################################################################
