function InstallAtom
{
	  echo "Downloading and Installing the Atom Text Editor"
	  wget https://atom.io/download/deb
	  # Converting the downloaded file to a deb file
	  sudo mv deb atom.deb
	  sudo gdebi atom.deb
	  clear
	  echo "Atom Text Editor installed"

}

function InstallGoogleChrome
{
		clear
		read -e "Adding Google Chrome (Stable)"
		wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
		sudo sh -c 'echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
		sudo apt update
		sudo apt install google-chrome-stable
		clear

}

function installWPSOffice
{

			wget http://kdl.cc.ksosoft.com/wps-community/download/a21/wps-office_10.1.0.5672~a21_amd64.deb

			http://kdl.cc.ksosoft.com/wps-community/download/a21/wps-office_10.1.0.5672~a21_amd64.deb

			sudo dpkg -i wps-office_10.1.0.5672~a21_amd64.deb

			# Cleanup
			rm wps-office*.deb
}

function RepoLibreOffice
{
    echo " Installing Libre Office via your distrobution's repository "
    sudo apt update
    clear
    sudo apt install libreoffice

}

function PPALatestLibreOffice
{

  echo "Installing Libre Office's latest version via PPA "
  sudo add-apt-repository ppa:libreoffice/ppa
  sudo apt update
  clear
  sudo apt install libreoffice
  echo "Libre Office Installed via LibreOffice PPA"
  sleep 2


}
