theming_menu_items=(
	1 "[Sub-Menu] Linux Mint Theming"
	2 "[Sub-Menu] Yaru and YaruColor Theming"
	3 "Install Adapta Theming"
	4 "Install Arc Theming"
	5 "Install Numix Theming"
	6 "Install Plata Theming"
	7 "Install Breeze Theming"
	I "Install Misc. Icons"
	T "Install Misc. Themes"
	A "Install All Listed Theming "
	M "Return to Main Menu"
    Q "Quit to Prompt"
)

function themingMenuCaseStatement() {

	case $themingSelection in
		1) mintThemingMenuType ;;
		2) yaruThemingMenuType ;;
		3) adaptaThemeMetaInstall ;;
		4) arcThemingMetaInstall ;;
		5) nunixThemingMetaInstall ;;
		6) plataThemeMetaInstall ;;
		7) breezeThemeMetaInstall ;;
		[iI]) miscIcons ;;
		[tT]) miscThemes ;;
		[aA]) metaThemeInstall ;;
		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;
	esac

}

function universalThemingMenuDialog() {
	createDialogMenu
}

function universalThemingMenuEcho() {
		#clear
		echo -e "******************************************************************* "
		echo -e "Not all of these listed themes may be available in all distro bases"
		echo -e "I do my best to include them all or if from a third party, only a \nTRUSTED third party, such as the developer of the theme/icon pack"

		[ "${DEName}" == "KDE" ] && echo -e "Also These themes are main for gtk I think... what I mean is that they aren't really 'supposed to be used with' Plasma 5, where you can find theming elements in the KDE Store for that" "******************************************************************* "


		userPrompt

	createEchoMenu
}

function universalThemingMenuType() {
	baseMenuName="universalThemingMenu"
	menuTitle="Xmetal Linux Scripts Theming Menu"
	currentMenuCaseStatementName="themingMenuCaseStatement"

	declare -n menuArrayName=theming_menu_items
	declare -n currentMenuSelection=themingSelection

	$menuName
}

