universalapp_menu_items=(
	1 "Display Universal App Support"
	2 "Install Snap Support"
	3 "Install Flatpak Support"
	4 "Install Flathub (Checks and installs Flatpak support, if needed)"
	S "Return to Main Software Menu"
	M "Return to Main Menu"
	Q "Quit to Prompt"
)

function universalAppMenuCaseStatement() {

	case $universalAppMenuSelection in

		1)	clear
			snapCheck
			flatpakCheck
			userPrompt
			;;

		2)	metaInstallSnapSupport
			userPrompt
			;;

		3)	metaFlatpakSupport
			userPrompt
			;;

		4)
			# Checks flatpak support and installs if neeeded
			metaFlatpakSupport
			installFlatHub
			;;

		[sS]) mainSoftwareMenuType ;;

		[mM]) mainMenuType ;;
		[qQ]) quitScript  ;;
        *) invalidSection ;;

	esac


}


function universalAppMenuDialog() {
	createDialogMenu
}

function universalAppMenuEcho() {
	createEchoMenu
}

function universalAppMenuMenuType() {
	baseMenuName="universalAppMenu"
	menuTitle="Xmetal Linux Universal Formats Menu"
	currentMenuCaseStatementName="universalAppMenuCaseStatement"

	declare -n menuArrayName=universalapp_menu_items
	declare -n currentMenuSelection=universalAppMenuSelection

	$menuName
}


