echo -e "Including Universal Software Menu Config files "
$universalSubMenusFolder/software/includeUniversalSoftwareMenus.cfg

echo -e "Including Universal Menu Config files "
$universalSubMenusFolder/f_cleanupMenus.cfg
$universalSubMenusFolder/f_themingSubMenus.cfg

# note to self: this file is there but not completed yet
$universalSubMenusFolder/f_universalAppSubMenu.cfg
