# Source: https://brave.com/linux/
# Release Channel Installation

# Arch and Solus support missing right now
# arch has "brave-bin" in the AUR
# just "brave" SEEMS like the package name for Solus


# install deps needed for Brave
function install_brave_deps() {

    fancy_message action "Installing Brave Browser Dependencies"

    case $distroBase in
        debian|opensuse|ubuntu) $install curl ;;
        fedora) $install dnf-plugins-core ;;
    esac

    userPrompt
}

function import_brave_key() {

    fancy_message action "Importing/Adding Brave Browser key"

    case $distroBase in

        debian|ubuntu) sudo curl -fsSLo /usr/share/keyrings/brave-browser-archive-keyring.gpg https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg ;;

        fedora|opensuse) sudo rpm --import https://brave-browser-rpm-release.s3.brave.com/brave-core.asc ;;

    esac

    userPrompt
}

function add_brave_repo() {

    fancy_message action "Adding Brave Browser Repo"

    # can i condense the fedora and opensuse one down to say a "add repo" var or function i am not thinking of right now?
    case $distroBase in

        debian|ubuntu) echo "deb [signed-by=/usr/share/keyrings/brave-browser-archive-keyring.gpg] https://brave-browser-apt-release.s3.brave.com/ stable main"|sudo tee /etc/apt/sources.list.d/brave-browser-release.list ;;

        fedora) sudo dnf config-manager --add-repo https://brave-browser-rpm-release.s3.brave.com/brave-browser.repo ;;

        opensuse) sudo zypper addrepo https://brave-browser-rpm-release.s3.brave.com/brave-browser.repo ;;

    esac

    userPrompt

}

#########################################################3

# what to call .. the meta function
function install_brave_meta () {
    case $distroBase in
        arch)
            if [ ${OSRELEASE_ID} == "manjaro" ] || [ ${lsbDistribID} == "ManjaroLinux" ]; then 
                $install brave-browser
            else
                aurAppInstall "brave-bin"
            fi
        ;;


        debian|ubuntu)

        # Debian, Ubuntu, Mint
            install_brave_deps

            import_brave_key

            add_brave_repo

            $update

            ;;

        fedora)

            install_brave_deps

            add_brave_repo

            import_brave_key ;;

        opensuse)

            install_brave_deps

            import_brave_key ;;

    esac

    fancy_message action "Installing Brave Browser"
    case $distroBase in
        debian|fedora|opensuse|ubuntu) $install brave-browser ;;
    esac

    userPrompt

}




