
#########################################################################################
# Chromium related

# function for default repo
function installChromiumDefault() {
	clear
	fancy_message action "Installing Chromium Web Browser"
	installApp $programName

	# Addition for (only?) Ubuntu
	case $distroBase in
		ubuntu) installApp "chromium-codecs-ffmpeg" ;;
	esac

}

function installChromiumMeta() {
	programTitle="Chromium"

	case $distroBase in
		arch|debian|fedora|opensuse|solus) programName="chromium" ;;
		ubuntu) programName="chromium-browser" ;;
	esac

	chromiumInstallMenuType

}

# End Chromium Related
################################################################################

function installUngoogledChromium() {
	programName="ungoogled-chromium"
	programTitle="Ungoogled Chromium"
	programHomepage=""

	# seems many options the official page lists haven't been maintained in years.

	# The flatpak IS updated 
	installFlatpakApp ${ungoogledChromiumFP}

}