###################################################################
# Firefox Section

# Function to download tarball from Mozilla's site
function installFirefoxTarball() {

	programURL=$(curl -s "https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64&lang=en-US" | awk -F \" '{ print $2}')

	fancy_message action "Downloading Firefox tar file from Mozilla"
	metaExternalDownload $programName $programURL

	clear
	fancy_message info "Firefox Tar file downloaded and extracted.\n"
	echo -e "To run Firefox, navigate to the Firefox folder in your Downloads folder, and run './firefox.sh' "

	## toDO: add a menu option to add it to user's menus

}


# Meta function
function installFirefoxMeta() {
	programTitle="Firefox"

	# ONLY because OpenSUSE and Debian, names it differently

	# 1 - Assign programName variable
	case $distroBase in
		debian) programName="firefox-esr" ;;
		opensuse) programName="MozillaFirefox" ;;
		arch|fedora|solus|ubuntu)  programName="firefox" ;;
	esac


	clear


	# the POINT is to give the user the choice of
		# default repo
		# tarball from Firefox's website
		# Flatpak
		# snap

	firefoxInstallMenuType

}

#############################################################################

# this seems like an issue atm since i think it will run line by line
function firefoxRepoPriority() {

	#Step 3: Next, alter the Firefox package priority to ensure the PPA/deb/apt version of Firefox is preferred. This can be done using a slither of code from FosTips (copy and paste it whole, not line by line):

	clear

	fancy_message action "Step 3 of 5: Pin the Mozilla PPA's Prioriy"

	# without the -r, the spaces/tabs preceeding the line are printed
	echo -e 'Package: firefox*
		\rPin: release o=LP-PPA-mozillateam
		\rPin-Priority: 501

		\rPackage: firefox*
		\rPin: release o=Ubuntu
		\rPin-Priority: -1
	' | sudo tee /etc/apt/preferences.d/mozilla-firefox

	userPrompt

}

function removeAndDisableFirefoxSnap(){

	# 1 - remove the snap
	clear
	fancy_message action "Step 1 of 5: Disable and Remove the Firefox Snap"

	fancy_message action "Disabling Firefox Snap"
	snap disable firefox

	fancy_message action "Removing Firefox Snap"
	snap remove --purge firefox

	fancy_message action "Removing Empty Firefox DEB wrapper"
	sudo apt remove --autoremove firefox
	userPrompt

}


function removeFirefoxSnapForPPA() {


	# Source: https://fostips.com/ubuntu-21-10-two-firefox-remove-snap/

	# 1 - Remove and Disable Firefox Snap
	removeAndDisableFirefoxSnap

	# 2 -  Add the (Ubuntu) Mozilla team PPA to your list of software sources
	clear
	fancy_message action "Step 2 of 5: Add Mozilla PPA"
	sudo add-apt-repository ppa:mozillateam/ppa
	userPrompt

	# 3
	firefoxRepoPriority

	# 4 - Allow Firefox upgrades from this new source
	clear
	fancy_message action "Step 4 of 5: Allow Upgrades from Mozilla PPA"++
	echo 'Unattended-Upgrade::Allowed-Origins:: "LP-PPA-mozillateam:${distro_codename}";' | sudo tee /etc/apt/apt.conf.d/51unattended-upgrades-firefox
	userPrompt

	# 5 - install Firefox
	clear
	fancy_message action "Step 5 of 5: Install Firefox from Mozilla PPA"
	sudo apt install -t 'o=LP-PPA-mozillateam' firefox
}

function metalFirefoxSnapChangeUbuntu() {

		clear
		echo -e "This will replace the Firefox snap with the Mozilla PPA version of Firefox"
		echo -e "Here steps are taking to allow upgrades from the new source to be done, when they are available"
		echo -e ", as well as giving the DEB/PPA/apt version (non snap I mean) priority"

		read -r -p "Do you want to continue? (Y/N) " firefoxSnapChangeSelection

		case $firefoxSnapChangeSelection in

			[yY]) removeFirefoxSnapForPPA ;;
			[nN]) return ;;
			*) fancy_message lwarn "invalid selection" ;;
		esac

}