##################################################################################
## Google Chrome Related

## Cant remember where i found instructions to add the key but does installing the DEB or RPM do that for you? (at least in Google Chrome's case? ... if so this seems like an un-needed function )

# I THINK I may have had this function for "adding the Chome repo" vs just installing the RPM or DEB
function addGoogleChromeKey
{
	## Assign Chrome Key URL to a variable
	pgpkey="https://dl.google.com/linux/linux_signing_key.pub"
	pgpkeyname=$(basename $gpgpkey)

	clear

	## Adding Google Chrome's Key
	fancy_message action "Getting key information needed for Google Chrome"

	case $distroBase in

		fedora|opensuse) sudo rpm --import $chromegpgpkey ;;

		debian|ubuntu)

			## Adding Google Chrome's Key
			addGPGKey "$gpgKey" "%gpgkeyname" ;;

		*)  fancy_message info "The distro you are on either can not be detected or is not supported by my scripts, here " ;;

	esac

}

# metaFunction for Google Chrome
function installChrome()
{
	# this name seems wrong ... like it should not be declared here 
		# idea: declare it as "google-chrome" or "google-chrome-stable", when needed
	programName="google-chrome"
	programTitle="Google Chrome"

	programDownloadURL="https://dl.google.com/linux/direct/"

	rpmURL="https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm"
	debURL="https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"

	case $distroBase in

		arch) aurAppInstall google-chrome ;;

		fedora|opensuse)

			programURL=$rpmURL
			metaExternalDownload ${programTitle} ${programURL} ;;

		solus)

			# Instructions FROM Solus themselves
			sudo eopkg bi --ignore-safety https://raw.githubusercontent.com/getsolus/3rd-party/master/network/web/browser/google-chrome-stable/pspec.xml
			sudo eopkg it google-chrome-*.eopkg;
			sudo rm google-chrome-*.eopkg
			;;

		debian|ubuntu)

			if [ "${debgetInstalled}" == "yes" ]; then fancy_message action "installing ${programName}, with deb-get"; deb-get install ${programName}-stable; userPrompt; return; fi
				
				programURL=$debURL
				metaExternalDownload ${programTitle} ${programURL}
			;;

		*)
			fancy_message action "Error installing Google Chrome"
			return ;;

		esac

}
## End of Google Chrome Section
###################################################################
