
function vivaldiAddKey() {
  	vivaldiKey="https://repo.vivaldi.com/stable/linux_signing_key.pub"

  	fancy_message action "Adding Vivaldi Key"

  	case $distroBase in
		fedora|opensuse) sudo rpm --import $vivaldiKey ;;

		ubuntu)

			# Hangle Key file
			wget -qO- "${vivaldiKey}" | gpg --dearmor | sudo dd of=/usr/share/keyrings/vivaldi-browser.gpg

			;;

		*) return ;;

  	esac


	case $distroBase in
		fedora|opensuse|ubuntu) fancy_message info "${programTitle} Key added" ;;
		*) return ;;
	esac


}


function installVivaldi() {
	programName="vivaldi-stable"
	programTitle="Vivaldi Web Browser"

	# Resource related to keys and installing: https://help.vivaldi.com/article/obtaining-official-builds/

	case $distroBase in

		arch)
			installApp "vivaldi vivaldi-ffmpeg-codecs "
			return ;;

		fedora)
			installApp "dnf-utils"

			fancy_message action "Adding Vivaldi Repo"
			sudo dnf config-manager --add-repo https://repo.vivaldi.com/archive/vivaldi-fedora.repo
			;;

		opensuse)
			# Add/Import Vivaldi Key
			vivaldiAddKey

			fancy_message action "Adding Vivaldi Repository"
			sudo zypper ar https://repo.vivaldi.com/archive/vivaldi-suse.repo

			fancy_message action "Refreshing/Updating Repo"
			$refresh
			;;

		debian|ubuntu)

			if [ "${debgetInstalled}" == "yes" ]; then fancy_message action "installing ${programName}, with deb-get"; deb-get install ${programName}; userPrompt; return; fi

				# Add/Import Vivaldi Key
				vivaldiAddKey

				fancy_message action "Creating Vivaldi Source File"
				echo "deb [signed-by=/usr/share/keyrings/vivaldi-browser.gpg arch=$(dpkg --print-architecture)] https://repo.vivaldi.com/archive/deb/ stable main" | sudo dd of=/etc/apt/sources.list.d/vivaldi-archive.list

				fancy_message action "Refreshing Repo"
				$refesh
		;;
	esac


	case $distroBase in
		debian|fedora|opensuse|solus|ubuntu) installApp "${programName}" ;;
	esac

	userPrompt
}

