# so that it doesn't pull entire DE's in
function adaptaThemeOpenSUSE() {
	# May 2022: there are more "theme-adapta" themes in opensuse ... consider different checks for them and adding them to this function


	case $DEName in
		Cinnamon) cinnamon-theme-adapta ;;
		Gnome) gnome-shell-theme-adapta ;;
	esac

}


# July 2021: not updated in 3+ years and no longer developed ... should i remove this?
function adaptaThemeMetaInstall()
{
	clear

	fancy_message warn "Note: According to https://github.com/adapta-project/adapta-gtk-theme this theme is no longer activily developed, though it may be installable in some distros still"
	echo
	fancy_message action "Installing Adapta Theming"

	# may 2022: Arch's pacman still has it, Debian/Fedora too

	case $distroBase in

		# Install the theme, icon pack if there is one but do not install "wallpaper packs" and stuff like that

		arch) $install adapta-gtk-theme ;;
	    debian|ubuntu) $install adapta-gtk-theme adapta-kde ;;
		fedora) $install adapta-backgrounds adapta-gtk-theme adapta-gtk-theme-plank adapta-gtk-theme-gedit ;;

		opensuse)
		# gtk4-metatheme-adapta adapta-gtk-theme

			$install metatheme-adapta-common gtk2-metatheme-adapta gtk3-metatheme-adapta  \
			metacity-theme-adapta plank-theme-adapta xfwm4-theme-adapta \
			openbox-theme-adapta

			adaptaThemeOpenSUSE
		;;

    	solus) $install adapta-gtk-theme adapta-kde ;;
   		 *) fancy_message warn "Distro Base not detected" ;;

    esac

    $install $packageName

}

## End of Adapta Theming
#########################################################################################
