# Todo: Add Openbox Arc Theme
function gitArcOpenBox
{

    #gitURL="https://github.com/dglava/arc-openbox.git"

    # note: even the old repo dev points to this fork now
    # april 2022: actively developed
    gitURL="https://github.com/jnsh/arc-theme"

    fancy_message action "Installing 'Unofficial' Arc Theme Component for OpenBox"
    gitClone $gitURL

    mkdir $themeHome/Arcbox

}



# July 2021: seems to still be developed
function arcThemingMetaInstall()
{

	clear
	fancy_message action "Installing Arc Theming"

	case $distroBase in

		arch)
			fancy_message action "Installing the GTK-Engine-murrine package"
			$install gtk-engine-murrine

			fancy_message action "Adding Arc Theme and Icon Pack"
			$install arc-icon-theme arc-gtk-theme gtk2-metatheme-arc gtk3-metatheme-arc ;;

		debian)
			# no arc-icon package that I can see
			$install arc-theme ;;

		fedora)
			# arc-kde, if the DE is plasma
			$install gtk-murrine-engine
			$install arc-theme arc-theme-plank
			;;

		opensuse) $install gtk2-engine-murrine arc-icon-theme ;;

		solus)
			## not 100% sure of the package name but it should be in the default repos
			## if the name is wrong, its likely arc-theme then
			$install arc-gtk-theme arc-icon-theme arc-kde arc-plank-theme ;;

    	ubuntu)

			## What about the Arc theme ... I know the Noobslab theme ppa has them but is it in the default repo?
			## if so ... use default repo's version to avoid adding PPAs if not needed

			refreshRepositories

			$install arc-theme arc-icons
			;;

  	  	*) return ;;

  	esac

	# This may not work with Arch based distros
	$install arc-theme

}
