fancy_message action "Loading Git(hub) related theme config files"
. $themingDir/themes/git_theming/f_git_themes.cfg
. $themingDir/themes/git_theming/f_git_icon_theming.cfg
. $themingDir/themes/git_theming/f_git_vinceljuice_theming.cfg

# PROBABLY needs to go somewhere more global
# to download from git (not release files, as getting the link is too hard)
function git_clone_repo() {
    # where is this downloaded?
    git clone "$git_repo" --depth=1 && cd $repo_name
}
