##################################################################################
# Numix Theming

function numixDebianInstall()
{
  case $debianBranch in

    stable) $install "numix-gtk-theme" ;;

    testing|unstable) fancy_message info "The numix-gtk-theme package is not available on these branches of Debian, not without third party sources, anyway" ;;

  esac

  installApp "numix-icon-theme" "numix-icon-theme-circle"

}

# just for the reason of not pulling entire DE's in
function numixOpenSUSEInstall() {

	case $DEName in
		Cinnamon) $install cinnamon-metatheme-numix ;;
	esac
}

function nunixThemingMetaInstall()
{
	clear
	fancy_message action "Installing Numix Theming"

	case $distroBase in

		arch)
			## Install from community repo.
			#$install numix-gtk-theme ;;
			fancy_message info "numix-gtk-theme appears missing and is no longer in the default arch repos" ;;

		debian) numixDebianInstall ;;
		fedora) $install numix-gtk-theme numix-icon-theme numix-icon-theme-square numix-icon-theme-circle ;;

		opensuse)
			### Not 100% sure what repos its coming from
			$install metatheme-numix-common gtk2-metatheme-numix gtk3-metatheme-numix cinnamon-metatheme-numix

			return ;;

		solus) $install numix-gtk-theme numix-icon-theme numix-icon-theme-square ;;
		ubuntu) $install numix-gtk-theme numix-icon-theme ;;
		*) fancy_message warn "distroBase not detected" ;;

  	esac

}

# End of Numix Theming code
#########################################################################
