theme_git_url=
theme_hompage=${theme_git_url}



function needed_murrine_theme_engine() {
	# Murrine engine — The package name depends on the distro.     

	case $distroBase in 
		arch) murrine_engine="gtk-engine-murrine" ;;
		debian|ubuntu) murrine_engine="gtk2-engines-murrine" ;;
		fedora) murrine_engine="gtk-murrine-engine" ;;
		opensuse) murrine_engine="gtk2-engine-murrine" ;;
	esac 

	$install $murrine_engine

}


# Meta function 
# 1 - install murrine engine
# 2 - Downloads the file using my new git_download (guessing the name) function
# 3 - Extracts (using existing template code i have for extractions based on the file type )
function install_orchis_theme() {


	# i feel this could be more global in a sense but i will leave this here for now
	# if the return from the check function is non-zero (the check failed)
	if ! checkFunction; then
		echo "Check failed, returning to menu..."
		userPrompt
		return 1
    fi

	needed_murrine_theme_engine



}