theme_git_url=
theme_hompage=${theme_git_url}

# minimum version of gtk... my idea is to do a check before installing the theme
# "${gtkVersion}" is the gtk version of the user's system

theme_gtk_min_version=3.20

# this seems like it could be placed somewhere more global 
#  THOUGH the function name could be more spefific
function check_gtk_version() {

	# If the user's GTK version is lower than the minimum required, exit early 	with an explanation.
	[ ${gtkVersion} -le ${theme_gtk_min_version} ] && fancy_message error "Your GTK version ${gtkVersion} does not meet the minimum requirement of ${theme_gtk_min_version} for the Orchis theme." && fancy_message error "Skipping installation of the Orchis theme." && userPrompt && return 1

	fancy_message info "Your GTK version ${gtkVersion} meets the minimum requirement of ${theme_gtk_min_version} for the Orchis theme." && userPrompt && return 0 

}






function needed_murrine_theme_engine() {
	# Murrine engine — The package name depends on the distro.     

	case $distroBase in 
		arch) murrine_engine="gtk-engine-murrine" ;;
		debian|ubuntu) murrine_engine="gtk2-engines-murrine" ;;
		fedora) murrine_engine="gtk-murrine-engine" ;;
		opensuse) murrine_engine="gtk2-engine-murrine" ;;
	esac 

	$install $murrine_engine

}

# 1 - check gtk version 
# 2 - install murrine engine
# 3 - Downloads the file using my new git_download (guessing the name) function
# 4 - Extracts (using existing template code i have for extractions based on the file type )


function install_orchis_theme() {


	check_gtk_version

	# i feel this could be more global in a sense but i will leave this here for now
	# if the return from the check function is non-zero (the check failed)
	if ! checkFunction; then
		echo "Check failed, returning to menu..."
		userPrompt
		return 1
    fi

	needed_murrine_theme_engine



}