# July 2021: not updated since 2019 ...
# Source: https://github.com/patchedsoul/plata-theme

function plataOpensuseInstall()
{
	case $openSUSEBranch in

		tumbleweed)

		## Tumbleweed Repos only (official)

			# some of this may be redundant, as they may already be included  in the metatheme packages
			$install plata-theme gtk2-metatheme-plata gtk3-metatheme-plata gtk4-metatheme-plata openbox-theme-plata metatheme-plata-common ;;

		leap)
		# Leap 15.x has community repos

		return ;;

	esac

}

function plataThemeMetaInstall()
{
  clear
  fancy_message action "Installing Plata Theming"

  # may 2022: do i really want to use the AUR for arch here ?

  case $distroBase in

    arch) aurAppInstall plata-theme plata-theme-gnome ;;

    fedora)

        fedoraCoprRepoAdd mizuo/plata-theme

        # for all themes
        $install plata-theme ;;

    opensuse) plataOpensuseInstall ;;

    solus) fancy_message info "After Solus 4.0 .. Plata is already the default theme" ;;

    ubuntu)
        plataThemePPA
        $install plata-theme ;;


    *) fancy_message warn "distroBase not detected OR "
      fancy_message info "Plata Theming code for your detected distro base is not coded yet" ;;

  esac

}
