fancy_message action "Loading YaruColors config file"
. ${themingDir}/themes/f_yaruColors.cfg

######################################################
# adding both system packages and the YaruColors option from github may result in name collision in theme settings windows

# gives warning to user
# does this apply to the icon theming too?
  ## i THINK just the gtk "theme" stuff
function yaruThemingWarning() {
  fancy_message lwarn "Existing Yaru theming detected."

  fancy_message lwarn "In my tests, I have seen possible naming collisons if both Yaru theming options are installed"

  fancy_message info "What this means is if you install Yaru from your distro's repo, AND github's YaruColors repo, there maybe multiple themes with the same name and you may see issues in your desktop's theme menu"

  userPrompt
}

# redo idea: split the yaruDetectedIcon and yaruDetectedThemes (I just made those var names up) out
function detectYaruTheming() {

  # Icons
  # the idea for the return is that right now i want it so
    # IF ANY Yaru theming is detected, nothing gets installed.
    # that means if the icon var here is true, then it DOESN'T MATTER
    # what the results of the next check under it is
  # where is this "return", returning?
  if [[ $(find ${localIconsHome} -type d -name "Yaru*" ) || \
    $(find ${sharedIconsHome} -type d -name "Yaru*" ) ]]; then
      yaruThemingWarning && yaru_icon_theming_exists="true" && return
  fi

  # themes
  if [[ $(find ${localThemesHome} -type d -name "Yaru*" ) || \
    $(find ${sharedThemesHome} -type d -name "Yaru*" ) ]]; then
      yaruThemingWarning && yaru_gtk_theming_exists="true"
  fi

}

#############################################################
# "meta" function for default repos
function yaruThemingDefaultRepos() {

  #idea: detect and exit (return) if any yaru theming is already installed due to the name collosion problem
  detectYaruTheming && [[ "${yaru_icon_theming_exists}" == "true" || "yaru_gtk_theming_exists" == "true" ]]  && return

  case $distroBase in

    arch)
      aurAppInstall yaru-gtk-theme
      aurAppInstall yaru-icon-theme
      aurAppInstall yaru-sound-theme
		;;

    fedora) $install yaru-theme ;;

    opensuse) $install yaru-icon-theme gtk2-metatheme-yaru gtk3-metatheme-yaru;;

    solus) $install yaru-icon-theme ;;

    debian|ubuntu) $install yaru-theme-icon yaru-theme-sound yaru-theme-gtk ;;

  esac

}
