# github: https://github.com/Jannomag/Yaru-Colors
# link: https://github.com/Jannomag/Yaru-Colors/releases/download/21.04snap/Yaru-Colors_21.04.zip


function installYaruColorTheme(){
    packageName="YaruTheming"
    programURL="https://github.com/Jannomag/Yaru-Colors/releases/download/21.04snap/Yaru-Colors_21.04.zip"
    fileName=$(basename $programURL)

    # for the meta function
    programName=$programURL
    # ?? is packageName needed?


	case $distroBase in

		fedora) $install yaru-theme ;;

		ubuntu)

			# *****  FOCAL AND UP only
			$install yaru-theme-gtk yaru-theme-icon yaru-theme-sound ;;

		*)
			# change pwd
			cd ~/Downloads

			fancy_message action "Downloading Yaru Color Theming" && wget -q $programURL && fancy_message action "Unzipping" && unzip -qd $packageName $fileName

			cd $fileName && fancy_message action "Installing Yaru Color Theming" && install.sh

			read -r -p "pause"

		;;

	esac






}