# github: https://github.com/Jannomag/Yaru-Colors

# for test branch 
# wget "https://github.com/Jannomag/Yaru-Colors/archive/refs/tags/21.10.3ubuntu5.tar.gz" -O YaruColors.tar.gz


# not sure if nane collison only happens for the test branch or the main branch too ... I was planning on adding a warning to the user anyway.TESTING needed 

#######################################################################################
# For test branch

function YaruColorsHandleIcons(){

	## in dirs that start with Yaru
	YaruColorsIconLocation="Yaru-Colors-21.10.3ubuntu5/icons/"

	fancy_message action "Extracting Icons"
	tar -xvf ${YaruColorsLocalTarball} --directory ${localIconsHome} --strip-components=2 --wildcards "${YaruColorsIconLocation}Yaru*"
	userPrompt && clear
}

function YaruColorsHandleThemes(){
# location inside the tarball
	YaruColorsThemeLocation="Yaru-Colors-21.10.3ubuntu5/gtk/src/"

	fancy_message action "Extracting Themes"
	tar -xvf ${YaruColorsLocalTarball} --directory ${localThemesHome} --strip-components=3 ${YaruColorThemeLocation}

}

# Meta function for test branch
function YaruExtractTestBranch() {

	# Sets up ~/.icons and ~/.themes if not already there
	setupLocalThemingLocations

	# output file for test branch, idea
	YaruColorsLocalTarball="${homeDir}/Downloads/YaruColors.tz"

	# i dont like having to hardcode this but i will (for now)
	YaruColorsTestBranchTarball="${githubBaseURL}/${repoName}/archive/refs/tags/21.10.3ubuntu5.tar.gz"

	# Download
		# thoughs: while this is a problem if the file is downloaded wrong, only download if the file is not there already
	[ ! -f ${YaruColorsLocalTarball} ] && fancy_message action "Downloading Yaru Color Theming" && wget "${YaruColorsTarball}" -O ${YaruColorsLocalTarball}

	YaruColorsHandleIcons

	YaruColorsHandleThemes
}

# End of code for test branch
########################################################################################
function YaruColorsSetVariables() {
	packageName="Yaru-Colors"
	repoName="Jannomag/${packageName}"
	gitURL="${githubBaseURL}/${repoName}.git"
}

# The "Meta" function for YaruColors (Default branch)
function installYaruColorThemeDefault() {

	YaruColorsSetVariables

	cd ${downloadDir}

	# 1- clones repo
	fancy_message action "Cloning ${repoName} into ~/Downloads" && gitClone ${gitURL}

	# 2 - install theme
	fancy_message action "Installing ${packageName} Theming" && bash "${downloadDir}/${packageName}/install.sh" && userPrompt

	# return to last pwd 
	cd -

	# 3 - Cleanup - i want to be CRITICALLY CAREFUL with rm related commands 
	# echo -e "Removing Clone repo directory" && 

}