######################################################
# adding both system packages and the YaruColors option from github may result in name collision in theme settings windows

# gives warning to user
# does this apply to the icon theming too?
  ## i THINK just the gtk "theme" stuff
function yaruThemingWarning() {
  fancy_message lwarn "Existing Yaru theming detected."

  fancy_message lwarn "In my tests, I have seen possible naming collisons if both Yaru theming options are installed"

  fancy_message info "What this means is if you install Yaru from your distro's repo, AND github's YaruColors repo, there maybe multiple themes with the same name and you may see issues in your desktop's theme menu"

  userPrompt
}



#############################################################
# "meta" function for default repos
function yaruThemingDefaultRepos() {

  #idea: detect and exit (return) if any yaru theming is already installed due to the name collosion problem
  detectYaruTheming && [[ "${yaru_icon_theming_exists}" == "true" || "yaru_gtk_theming_exists" == "true" ]]  && return

  case $distroBase in

    arch)
      aurAppInstall yaru-gtk-theme
      aurAppInstall yaru-icon-theme
      aurAppInstall yaru-sound-theme
		;;

    fedora) $install yaru-theme ;;

    opensuse) $install yaru-icon-theme gtk2-metatheme-yaru gtk3-metatheme-yaru;;

    solus) $install yaru-icon-theme ;;

    debian|ubuntu) $install yaru-theme-icon yaru-theme-sound yaru-theme-gtk ;;

  esac

}
