function installAppImageLauncherPPA() {
    PPATitle=${programTitle}
	PPAName=${programName}
	PPASource="ppa:appimagelauncher-team/stable"
	PPARef="https://launchpad.net/~appimagelauncher-team/+archive/ubuntu/stable"
	packageNames=${programName}
	supportedBases="focal jammy"

	fancy_message action "Installing software-properties-common"
    $install software-properties-common

	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}
}


# Nov 2022: MAYBE redo
function installAppImageLauncher() {
    programName="appimagelauncher"
    programTitle="AppImage Launcher"
    repoName="TheAssassin/AppImageLauncher"
    programHomepage="https://github.com/${repoName}"
	program_release=$(curl -s "https://github.com/TheAssassin/AppImageLauncher/releases/" | awk -F '"' '/64.AppImage/ {print $2}')

	programURL="${githubBaseURL}/${program_release}"

	# https://github.com/TheAssassin/AppImageLauncher has a chart showing what is supported

    case $distroBase in

        arch) $install ${programName} ;;

        debian|fedora|opensuse|ubuntu)
			fancy_message lwarn "This is now downloading an Appimage that hasn't been updated in 4 years"
			fancy_message lwarn "I have no idea if this AppImage will actually work in different distros.\v"
			userPrompt

			fancy_message lwarn "Also since this gets installed, and not ran (AppImage each time)"
			fancy_message lwarn "there maybe some errors/warnings on the next step, I will try to clean that up, later"

			# with AppImage in the name, the scripts try to download every file they have in the repo, if i dont do it like this 
			fileFormat="64.AppImage"
			gitDownload ${programURL}

			clear 
			fancy_message action "Installing AppImage Launcher's AppImage"
			# install Test 
			${downloaded_file} install

			#fancy_message info "No release in 4 years, I am planning on refactoring this in future releases to use the AppImage"

			;;

		solus)
			fancy_message info "Support for ${programName} not added for Solus in my scripts yet, (yet?)"

			# should i use the appimage here?

			;;

    esac

	userPrompt

}