function installAppImageLauncherPPA() {
    PPATitle=${programTitle}
	PPAName=${programName}
	PPASource="ppa:appimagelauncher-team/stable"
	PPARef="https://launchpad.net/~appimagelauncher-team/+archive/ubuntu/stable"
	packageNames=${programName}
	supportedBase="focal jammy"

    $install software-properties-common

	universalAddRepo ${PPATitle} ${PPASource} ${packageNames}
}

# Nov 2022: MAYBE redo
function installAppImageLauncher() {
    programName="appimagelauncher"
    programTitle="AppImage Launcher"
    repoName="TheAssassin/AppImageLauncher"
    programHomepage="https://github.com/${repoName}"

	# https://github.com/TheAssassin/AppImageLauncher has a chart showing what is supported

    case $distroBase in

        arch) $install ${programName} ;;

        fedora|opensuse)
			echo -e "There are RPM files on ${programHomepage} that haven't been updated in 2 years"
			echo -e "without knowing what distro or versions they are for, I am not sure, I feel comfortable"
			echo -e "using those, so I am not adding support for this app here, at the moment "

			# should i use the appimage here?

			;;

		solus)
			fancy_message info "Support for ${programName} not added for Solus in my scripts yet, (yet?)"

			# should i use the appimage here?

			;;

        ubuntu)
            if [ "${debgetInstalled}" == "yes" ]; then echo "installing ${programName}, with deb-get"; deb-get install ${programName}; userPrompt; return; fi

            installAppImageLauncherPPA
            ;;

    esac

}