function setup_ventoy_vars(){
	ventoy_URL_base="https://sourceforge.net/projects/ventoy/files/v"
	ventoy_version=$(curl -s "https://www.ventoy.net/en/doc_news.html" | awk '/release <\/li>/ { print $4; exit }')

	# start of the final link
	ventoy_start_link="${ventoy_URL_base}${ventoy_version}/ventoy-${ventoy_version}-"

	iso_ventoy_url="${ventoy_start_link}livecd.iso"
	tar_ventoy_url="${ventoy_start_link}linux.tar.gz"

}


#href="https://sourceforge.net/projects/ventoy/files/v' + version + '">ventoy-'+ version +'-livecd.iso</a></td>';

#href="https://sourceforge.net/projects/ventoy/files/v' + version + '">ventoy-'+ version +'-linux.tar.gz</a></td>'

# why is this at the top if it's the meta function? - 
 # Answer: the two functions below it call it, thats why
function metaVentoyDownload() {
	clear

	fancy_message action "Downloading Ventoy ${1}\n\nPlease be patience as it may SEEM like things are frozen for a few moments\n\n"

	wget -P "${downloadDir}" "${2}"

	fancy_message info "Ventoy Downloaded"
	userPrompt
}

function downloadVentoyISO() {
	setup_ventoy_vars
	metaVentoyDownload "ISO" ${iso_ventoy_url}
}

function downloadVentoyTAR() {
	setup_ventoy_vars

	metaVentoyDownload "tarball" ${tar_ventoy_url}
}

# End Ventoy Related
#######################################################################################################
