########################################################################################
# Ventoy Related

# why is this at the top if it's the meta function? - the two functions below it call it, thats why
# was I planning on simplifying something?
function metaVentoyDownload() {
	clear

	# $1 = just the type a a string
	fancy_message action "Downloading Ventoy $1\n\nPlease be patience as it may SEEM like things are frozen for a few moments\n\n"
	wget "$totalISOURL" -P "$downloadsDir"

	fancy_message info "Ventoy Downloaded"
	userPrompt
}

function downloadVentoyISO() {
	# ISO vars
	ventoyISOURL=$(curl -s "$ventoyDownloadURL" | awk -F '"' '/download/ && /livecd.iso/ {print $2;exit }'  )
	totalISOURL=$githubBaseURL$ventoyISOURL

	metaVentoyDownload "ISO" $totalISOURL
}

function downloadVentoyTAR() {

	# TAR vars
	ventoyTARURL=$(curl -s "$ventoyDownloadURL" | awk -F '"' '/download/ && /.tar.gz/ {print $2;exit }'  )
	totalTARURL=$githubBaseURL$ventoyTARURL

	metaVentoyDownload "tarball" $totalTARURL
}

# End Ventoy Related
#######################################################################################################
