fancy_message action "Loading Theming submenus"
. ${themingMenuDir}/f_mintThemingMenus.cfg
. ${themingMenuDir}/f_yaruThemingMenus.cfg

# load VincelJuice theming menus
fancy_message action "Loading VincelJuice theming menu"
. ${themingMenuDir}/git_themes/include_vj_submenus.cfg