function determineDesktopEnvironment() {

	# return if XD
	[ ! -v "XDG_CURRENT_DESKTOP" ] && fancy_message warn "XDG_CURRENT_DESKTOP NOT detect" && return

	fancy_message action "Determining Desktop"

  	# copied from screenfetch ... still not sure what the commas are for
  	case "${XDG_CURRENT_DESKTOP,,}" in

		'enlightenment') DEName="Enlightenment" ;;
		'gnome') DEName="GNOME" ;;
		'kde') DEName="KDE" ;;
		'lxde') DEName="LXDE" ;;
		'mate') DEName="MATE" ;;
		'xfce') DEName="Xfce" ;;
		'x-cinnamon') DEName="Cinnamon" ;;
    	'unity') DEName="Unity";;
    	'lxqt') DEName="LXQt" ;;
		'Budgie:GNOME') DEName="Budgie" ;;

	esac

}


function getDesktopInfoInxi()
{
	#clear

	fancy_message action "Checking if inxi is installed"
	commandCheck "inxi"

	# space after : takes care of a space in front of the output
	# Desktop Name AND Version, together
	DENameWVersion=$(inxi -S | grep 'Desktop' | sed 's/^.*Desktop://g;s/Distro:.*$//g')

	# new way - function
	determineDesktopEnvironment

	DEVersion=$(inxi -S | grep 'Desktop' | sed 's/^.*Desktop://g;s/Distro:.*$//g;s/[a-zA-Z]//g')

}
