

function getDesktopInfoInxi()
{
  #check if inxi is installed here
  commandCheck "inxi"

  # space after : takes care of a space in front of the output
  DENameWVersion=$(inxi -S | grep 'Desktop' | sed 's/^.*Desktop://g;s/Distro:.*$//g')

  DEName=$(inxi -S | grep 'Desktop' | sed 's/^.*Desktop://g;s/Distro:.*$//g;s/[[:digit:]]\.*//g')

  DEVersion=$(inxi -S | grep 'Desktop' | sed 's/^.*Desktop://g;s/Distro:.*$//g;s/[a-zA-Z]//g')
}

## Uses $XDG_CURRENT_DESKTOP
function getDesktopInfoXDG()
{
  currentDesktop=$XDG_CURRENT_DESKTOP


  # Echo's here would just be for testing
  case $XDG_CURRENT_DESKTOP in

    Budgie:Gnome)
      currentDesktop="Gnome"   ;;

  esac

}