## This will be here for now, but its a good idea to move this elsewhere so it can be used elsewhere in the scripts

###################################
function getDesktopInfo()
{

  ## Check to see if 'inxi' is installed first


  ## This is name only .. no version is displayed.  This IS ALSO THE VARIABLE to be used when needing to know the DE in if/elif statement
  #desktopName=$(inxi -Sx | grep Desktop | sed 's/^.*Desktop://g;s/Distro.*$//g' | cut -d ' ' -f 2)

  # New Idea

  # First sed = gets rid of everything to the right of "Distro"
  # second sed = ??? 
    # Doesn't seem to do anything if removed in OpenSuse TW Cinnamon but ... leave this for now 
  # third sed = removes "Desktop:"
  desktopNameWVersion=$(inxi -S | grep Desktop | sed 's/\Distro.*$//g;s/^*.\s//g;s/^.*Desktop://g')
}

#################################################################

