# do not delete these ...yet 


function osreleaseInfoOriginal()
{
  # First sed = removes double quotes, if present
  # Second sed = removes everything before the = sign, from the start (left) of the line
  cleanInfo="sed s/\"//g;s/^.*=//g"

  ################################################
  name=$(cat /etc/os-release | grep ^NAME= | $cleanInfo)

  idlike=$(cat /etc/os-release | grep ^ID_LIKE= | $cleanInfo)

  id=$(cat /etc/os-release | grep ^ID= | $cleanInfo)

  versionid=$(cat /etc/os-release | grep VERSION_ID= | $cleanInfo)

  version=$(cat /etc/os-release | grep ^VERSION= | $cleanInfo)

  # Consider this to the Ubuntu specific check function
  ubuntuName=$(cat /etc/os-release | grep ^UBUNTU_CODENAME= | $cleanInfo)

  # Function call to get info about Desktop (DE) being ran
  getDesktopInfo

}
########################################################################################
## /etc/os-release related functions 

function osreleaseInfo()
{
  

  # This new way of doing thing with awk is sort of a work in progress, and a learning curve for me. 

  osRelease="/etc/os-release"

  # first part = removes doublequotations, second part removes ... 
  removeExtras='sed s/\"//g;s/^.*=//g '
  
  name=$(awk '/^NAME=/' $osRelease | $removeExtras )
  idLike=$(awk '/^ID_LIKE=/' $osRelease | $removeExtras)
  id=$(awk '/^ID=/' $osRelease | $removeExtras)
  versionid=$(awk '/^VERSION_ID=/ ' $osRelease | $removeExtras)
  version=$(awk '/VERSION=/' $osRelease | $removeExtras)
  ubuntuName=$(awk '/^UBUNTU_CODENAME=/ ' $osRelease | $removeExtras)

  # Function call to get info about Desktop (DE) being ran
  ## Location: f_DEInfo.cfg file 
  getDesktopInfo

}


## End of /etc/os-release related functions 
#######################################################################
