################################################################
# For getting General info ... functions in other files for that should be moved here

function lsbReleaseInfo()
{

  # Seems like a "Full name"
  lsbDescription=$(lsb_release -sd )

  # Release number ... not sure if this varies from distro to distro
  lsbRelease=$(lsb_release -sr)

  # Number spelled out on Fedora
  # Codename on Ubuntu
  lsbCodename=$(lsb_release -sc)

  # more Exact name? ... this could be handy
  lsbDistribID=$(lsb_release -si)

}

# Gets info from os-release file in the /etc directory
function osreleaseInfo()
{

  OSRELEASE_NAME=$(grep "^NAME=" /etc/os-release | cut -d '=' -f 2 | sed 's/\"//g' )
  OSRELEASE_IDLIKE=$(grep "^ID_LIKE=" /etc/os-release | cut -d '=' -f 2 | sed 's/\"//g' )
  OSRELEASE_ID=$(grep "^ID=" /etc/os-release | cut -d '=' -f 2 | sed 's/\"//g' )
  OSRELEASE_VERSIONID=$(grep "^VERSION_ID=" /etc/os-release | cut -d '=' -f 2 | sed 's/\"//g')
  OSRELEASE_VERSION=$(grep "^VERSION=" /etc/os-release | cut -d '=' -f 2 | sed 's/\"//g' )

  # Consider this to the Ubuntu specific check function
  OSRELEASE_UBUNTU_CODENAME=$(grep "^UBUNTU_CODENAME="  /etc/os-release | cut -d '=' -f 2 | sed 's/\"//g' )

}

#####################################################################

# yeah ... the funct. name could be better ..
function specificChecks()
{
  ## This is the code from Screenfetch and it's in /functions/info/f_desktopDetection.cfg
  echo -e "Detecting the current Desktop being used:"
  DECheck

  # Detect GTK version
  #echo -e "Detecting GTK Version"
  # gtkVersionDetection
}

function scriptDependencyChecks()
{
  # Check for lsb_release and wget (not in arch by default)
    # not sure why but I have packageManDetection in lsbRelease
    # I can see a logic loop here ... I need to know if the distro is arch or Fedora ( I think) so i can install lsb on those distros that do not have it by default however i need to know the distroBase beforehand
    
    # I think my logic was I was relying on os-release info to detect what I needed to know 
    
  lsbReleaseCheck
  wgetAndCurlCheck

}

function obtainDistroInformation()
{
  # Get info from lsb_release
  echo "Getting info based on lsb-release"
  lsbReleaseInfo

  # Gets info from /etc/os-release
  echo "Getting info from /etc/os-release file "
  osreleaseInfo

  clear


}

function intialChecks
{
  # Get Dependencies needed by scripts 
  scriptDependencyChecks

  obtainDistroInformation
  

  if  [ "$pmanager" = "pacman" ] || \
      [ "$lsbDistribID" = "Arch" ] || \
      [ "$OSRELEASE_ID" = 'arch' ] || \
      [ "$OSRELEASE_ID" = 'anarchy' ]; then

        ## This is ok for Manjaro since the BASE is arch ... it's not saying the DISTRO is arch, here
        distroBase="arch"
        rollingRelease="yes"

    #Debian 
    elif  [ "$OSRELEASE_ID" = "debian" ] || \
          [ "$OSRELEASE_NAME" =  "Debian GNU/Linux"  ] || \
          [ "$lsbDistribID" = "debian" ]; then
            distroBase="debian"
            rollingRelease="yes"


    # Fedora
    ## on the third check, doublecheck (no pun) I have the correct file listed
    ## id may be a changed var ... it's the ID from OS release
    elif  [ "$pmanager" = "dnf" ] ||  \
          [ "$lsbDistribID" = "Fedora" ] || \
          [ -f /etc/fedora-release ] || \
          [ "$OSRELEASE_ID" = "fedora" ]; then

            distroBase="fedora"

            # ... OK ... it detects Fedora here, but I dont see where my Fedora version checks would run ... testing code below

            fedoraMainCheck

    #openSuse
    elif  [ "$pmanager" = "zypper" ] || \
          [ "$lsbDistribID" = "openSUSE" ] ||  \
          [ "$OSRELEASE_IDLIKE" = "opensuse suse" ]; then

            distroBase="opensuse"

            # Check for branch
            ## Function in /functions/checks/f_openSuseCheck.cfg

            ## update will be in openSuse Check
            opensuseCheck

    # Solus
    elif  [ "$pmanager" = "eopkg" ] || \
          [ "$lsbDistribID" = "Solus" ] || \
          [ "$OSRELEASE_ID" = "solus" ] || \
          [ "$OSRELEASE_NAME" = "Solus" ] || \
          [ -f /etc/solus-release ]; then

            distroBase="solus"
            rollingrelease="yes"

    # Ubuntu
    elif  [ "$lsbDistribID" = "Ubuntu" ] ||  \
          [ "$OSRELEASE_ID" = "ubuntu" ] ||  \
          [ "$OSRELEASE_IDLIKE" = "ubuntu" ]; then

            distroBase="ubuntu"

            ## Issues here ... 
            ubuntuBaseCheck         

            # Check if variable is empty and if so, set it's default
            # This var controls if
            if [ -z $ppaPackageInstall ]; then
                ppaPackageInstall=no
            else
              # This should mean the variable does exist (maybe user set it) and do not touch it
              return

            fi

    else
        # code to read in from config file goes here
        return
    fi

    ## Support check function call should be somewhere near here

  ## Desktop check
  #echo
  #echo -e "Specific Info Checks Started ... "
  #specificChecks

  clear
  echo "Detected Distro Base: $distroBase"

}