###########################################################
## IDEA: make this displayable from various parts of the scripts so if people forget different info, they can just hit a button and this function is called


function lsbReleaseOutput() {
    fancy_message info "${bold}LsbDescription:\t\t ${completeReset} ${lsbDescription} "
    fancy_message info "${bold}lsbRelease:\t\t ${completeReset} ${lsbRelease} "
    fancy_message info "${bold}lsbCodeName:\t\t ${completeReset} ${lsbCodename} "
    fancy_message info "${bold}Lsb Distribution ID:\t ${completeReset} ${lsbDistribID} "
}

function osreleaseFileOutput() {

  fancy_message info "OSRELEASE_NAME:\t\t ${OSRELEASE_NAME}"
  fancy_message info "OSRELEASE_IDLIKE:\t\t ${OSRELEASE_IDLIKE}"
  fancy_message info "OSRELEASE_ID:\t\t ${OSRELEASE_ID}"
  fancy_message info "OSRELEASE_VERSIONID:\t ${OSRELEASE_VERSIONID}"
  fancy_message info "OSRELEASE_VERSION:\t $OSRELEASE_VERSION"

  case $distroBase in
    ubuntu)
      # echo for a space ... since i removed the \n in the line below it since it's no longer an echo 
      fancy_message info "OSRELEASE_UBUNTU_CODENAME: ${OSRELEASE_UBUNTU_CODENAME}\n"  ;;
  esac


}

## not sure where i planned to call this from, but ... leave it for now anyway .... seems like more of a "test" output thing for debugging
function distroPackageManagementOutput() {
  echo "\nPACKAGE INFO test output"
  fancy_message info "Your distro's install command is: ${install}"
  fancy_message info "Your distro's refresh command is: ${refresh}"
  fancy_message info "Your distro's update/upgrade command is: ${update}"
  echo

  return

}

# TODO: redo function name
function desktopInfoDisplay() {
  fancy_message info "Your Desktop Environment name and version:\t\t${bold}${DENameWVersion} ${completeReset}"
  fancy_message info "Your Desktop Environment name is:\t\t\t ${bold}${DEName} ${completeReset}"
  fancy_message info "Your Desktop version number is: \t\t\t${bold}${DEVersion} ${completeReset}"


  ## fancy_message info "Your GTK Version:\t\t\t\t ${bold} ${gtkVersion:0:7} ${completeReset} \n"
  #########################################################

  # distroPackageManagementOutput

}

function distroBranchOutput() {
  case ${distroBase} in

    debian) fancy_message info "Debian Base detected: ${debianBranch}" ;;
    fedora) fancy_message info "Fedora Branch detected: Fedora ${fedoraVersion}" ;;
    opensuse) fancy_message info "OpenSuse Branch detected: ${openSUSEBranch}" ;;

    ubuntu)
      # TODO

      return ;;

    *) return ;;

  esac

}


# ?? Meta Function?
function massInfoOutput()
{
    clear
    lsbReleaseOutput

    # For a space between the two
    echo

    osreleaseFileOutput

    # consider only displaying this if no subbranch output is displayed (say arch)... there is no reason (though i could leave it) to have "distro branch detected: Fedora" then right under it "Fedora Branch: Fedora 31" ... if it's detecting a Fedora (example) branch it's obvious what the base is ... though I can also see it "makes sense" to leave this as-is
    fancy_message info  "Distro Base detected: ${bold} ${distroBase} ${completeReset}"

    distroBranchOutput

    # Do i need the check ? ... i shouldn't even get to this point if the answer is no 
    case ${supported} in
      yes) fancy_message info "The distrobution and version you are on${bold} IS ${completeReset}currently supported"
    esac
    #################################################################################
      
    fancy_message info "Your distrobution's EOL is:${bold} $EOL${completeReset}\n"
  
    desktopInfoDisplay

    userPrompt
}