## Functions related to checking to see if the detected distro and version is supported 
function checkSupportStatus()
{
  # If a supported distro is detected but its NOT a rolling replease
  if [ "$supported" = 'yes' ] && [ "$rollingRelease" = 'no' ]; then
    # Gets EOL info from a config
    echo -e "The version of Linux you are currently on, ${bold}IS still ${normal}supported"

    echo -e "The End of your distro/version's support is: ${bold}\t $EOL ${normal}"

  # If a supported Rolling Release is detected
  elif [ "$supported" = 'yes' ] && [ "$rollingRelease" = 'yes' ]; then
      echo -e "The version of Linux you are currently on, ${bold}IS still ${normal}supported"
      # Goal: not to display anything
      return
      s
  # If distro is not supported     
  elif [ "$supported" = 'no' ]; then
    echo -e "The version of Linux you are currently on, is no longer supported."
  fi


  # with the second elif above this wouldn't make sense expect for the fact that THIS BELOW is just a test 
  if [ "$rollingRelease" = 'yes' ]; then
    echo -e "You are on a ${bold} Rolling Release ${normal}"
  fi

}