kernel=`uname -r`

#############################################
## Path Variables

menusDir=$(eval pwd)/menus/
#themeDir=$(eval pwd)/tasks/themes/

fedoraDir=$(eval pwd)/functions/fedora/
opensuseDir=$(eval pwd)/functions/opensuse/
ubuntuFunctDir=$(eval pwd)/functions/ubuntu/
UniSoftFunctDir=$(eval pwd)/functions/universal/software/


#######################################################################
themeHome=~/.themes
iconHome=~/.icons

##############################################################################

packageName=${packageURL/*\//}

# Trial at Bash formatting text 
#bold=$(tput bold)
#normal=$(tput sgr0)