kernel=`uname -r`

#############################################
## Path Variables

menusDir=$(eval pwd)/menus/

####################################################################
## Function Directories for each distro base 

fedoraDir=$(eval pwd)/functions/fedora/
opensuseDir=$(eval pwd)/functions/opensuse/
ubuntuFunctDir=$(eval pwd)/functions/ubuntu/

#####################################################################
themeHome=~/.themes
iconHome=~/.icons

#######################################################################

packageName=${packageURL/*\//}
