. $dir/functions/info/f_DEInfo.cfg
. $dir/functions/info/f_getInfo.cfg
. $dir/functions/info/f_variables.cfg
. $dir/functions/info/f_distroCheck.cfg

# File to contain EOL info
. $dir/functions/info/support/distroEOLinfo.cfg 

