. $infoDir/f_generalInfo.cfg


# contains function for getting DE info via inxi command 
. $infoDir/f_DEInfo.cfg

# new code from screenfetch for DE detection
# commented out for now ... for bug fixing 
. $infoDir/f_desktopDetection.cfg


# Functions with more Specific checks 
. $infoDir/specific/f_getGTKInfo.cfg 
. $infoDir/specific/getPlasmaInfo.cfg 


# File to contain EOL info
. $infoDir/support/distroEOLinfo.cfg 

. $infoDir/f_infoOutput.cfg