. $dir/functions/info/f_generalInfo.cfg


# contains function for getting DE info via inxi command 
. $dir/functions/info/f_DEInfo.cfg

# new code from screenfetch for DE detection
. $dir/functions/info/f_desktopDetection.cfg


# Functions with more Specific checks 
. $dir/functions/info/specific/f_getGTKInfo.cfg 
. $dir/functions/info/specific/getPlasmaInfo.cfg 





# File to contain EOL info
. $dir/functions/info/support/distroEOLinfo.cfg 

