##########################################
# Functions to install AUR Helpers

function aurhelper_install_dependencies() {

	fancy_message action "Installing dependencies needed for AUR Helpers"
	$install debugedit fakeroot make

	# this maybe somewhat redundant ...
	universalBuildEssentials
}


function installyay() {
	# yay commands seem to be very similar to pacman's
	gitRepoName="yay"
	gitURL="https://aur.archlinux.org/yay.git"

	clear
	aurhelper_install_dependencies

	fancy_message action "Installing ${gitRepoName}"
	archGitInstall $gitRepoName $gitURL

	assignAURHelperVars

}

function installtrizen() {
	# Source: https://github.com/trizen/trizen
	gitRepoName="trizen"
	gitURL="https://aur.archlinux.org/trizen.git"

	clear
	aurhelper_install_dependencies
	
	fancy_message action "Installing ${gitRepoName}"
	archGitInstall $gitRepoName $gitURL

	assignAURHelperVars

}

# End of AUR Helper Installation functions
############################################################
