##########################################
# Functions to install AUR Helpers

function installYAY()
{
	# yay commands seem to be very similar to pacman's
	gitRepoName="yay"
	gitURL="https://aur.archlinux.org/yay.git"

	clear
	fancy_message action "Installing ${gitRepoName}"
	archGitInstall $gitRepoName $gitURL

	# Export user's choice to settings file
	exportAURHelper

}

function installTrizen
{
	# Source: https://github.com/trizen/trizen
	gitRepoName="trizen"
	gitURL="https://aur.archlinux.org/trizen.git"

	clear
	fancy_message action "Installing ${gitRepoName}"
	archGitInstall $gitRepoName $gitURL

	# Export user's choice to settings file
	exportAURHelper

}

# End of AUR Helper Installation functions
############################################################
