## specifically theme, icons and cursors related to one repo_owner 

# for vinceliuice repos since most code is the same
function git_install_vinceljuice_repo() {
    repo_owner="vinceliuice"

    git_repo="https://github.com/$repo_owner/$repo_name"

    # where is this downloaded?
    # also when i see into the repo_name what is the PWD before-hand
    git clone "$git_repo" --depth=1 && cd $repo_name

    fancy_message action "Installing $repo_name"
    ./install.sh

}

###################################################################
# Start Icon Themes

# ref: https://github.com/vinceliuice/McMojave-circle
function install_mcmojave_circle_theme() {
    repo_name="McMojave-circle"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/WhiteSur-icon-theme
function install_whiteslur_theme() {
    repo_name="WhiteSur-icon-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/vimix-icon-theme
function install_vimix_gtk_theme() {
    repo_name="vimix-icon-theme"
    git_install_vinceljuice_repo "$repo_name"
}


# End Icon Themes
#####################################################

#####################################################
# Start GTK Themes

#ref: https://github.com/vinceliuice/MacTahoe-gtk-theme
function install_MacTahoe_gtk_theme() {
    repo_name="MacTahoe-gtk-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/WhiteSur-gtk-theme
function install_whitesur_gtk_theme() {
    repo_name="WhiteSur-gtk-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/Orchis-theme
function install_orchis_gtk_theme() {
    repo_name="Orchis-theme"
    git_install_vinceljuice_repo "$repo_name"
}

