[Desktop Entry]
Type=Application
Name=Tiny Media Manager
Terminal=false
Comment=Tiny Media Manager Media Organizer
GenericName=tinyMediaManager
Categories=AudioVideo;Video;