function gitArcThemes
{
    # Source: https://github.com/horst3180/Arc-theme

    echo "Installing horst3180's Arc Theme from Git "
    URL=https://github.com/horst3180/arc-theme

    gitDL $URL

    ./autogen.sh --prefix=/usr
    sudo make install


    ### MY WAY BELOW .. .offical dev way above
    #cd arc-theme
    #mkdir $themeHome/arc-theme
    #mv common/* $themeHome/arc-theme
    #cd ..


    # cleanup
    #rm -rf arc-theme

    userPrompt

}

function gitArcIcons
{
    clear
    echo "Installing horst3180's Arc Icons "
    userPrompt

    URL=https://github.com/horst3180/arc-icon-theme.git

    gitDL URL

    mkdir $iconHome/arc-git-icon
    mv Arc $iconHome/arc-git-icon
    cd ..

    #cleanup
    rm -rf arc-icon-theme

    URL=""
}

# Todo: Add Openbox Arc Theme
function gitArcOpenBox
{
  # Source: https://github.com/dglava/arc-openbox/

  clear

  echo "Installing 'Unofficial' Arc Theme Component for OpenBox"
  userPrompt
  gitCloneDL https://github.com/dglava/arc-openbox.git

  mkdir $themeHome/Arcbox

}

function ArchRequired
{
    # In the future run a check to see if the packages are installed

    # Step  1 - gnome-themes-standard


      # If Arch-based
          # archPacInstall gtk-engine-murrine (Arch Linux)

      # If Ubuntu
          ## aptInstall gtk2-engines-murrine ( Ubuntu)


      # If Fedora
          # fedoraInstall gtk-murrine-engine (Fedora)


      # If Suse
        # suseInstall gtk2-engine-murrine (openSUSE)



}

##############################################################################


function MintyIcons
{

    echo "Installing Mint-y Icons "
    git clone https://github.com/linuxmint/mint-y-icons.git
    clear
    mkdir $iconHome/mint-y-icons
    cd mint-y-icons/usr/share/icons
    mv * $iconHome/mint-y-icons
    clear
}
