chromium_install_menu_items=(
    1 "Download Chromium from your distro's default repo"
    2 "Install Chromium Flatpak"
    3 "Install Chromium Snap"
    M "Back to Main Menu"
    Q "Quit to Prompt"
)

function chromiumInstallMenuCaseStatement() {

    case $chromiumInstallMenuSelection in


	    1) installChromiumDefault ;;

        2)
            # flatpak support is checked in the function below
            installFlatpakApp $chromiumFP ;;

        3)
            # snap support is checked

            snapType="normal"
            snapName="chromium"
            installSnapApp $snapType $snapName

            snapName="chromium-ffmpeg"
            installSnapApp $snapType $snapName

            # clear vars
            snapType=""
            snapName=""
            ;;

        [mM]) mainMenuType ;;
        [qQ]) quitScript ;;
        *) invalidSection ;;

    esac
}




function chromiumInstallMenuDialog() {
    createDialogMenu
}

function chromiumInstallMenuEcho() {
    createEchoMenu
}


function chromiumInstallMenuType() {
    baseMenuName="chromiumInstallMenu"
    currentMenuCaseStatementName="chromiumInstallMenuCaseStatement"
    menuTitle="Xmetal Linux Scripts Chromium Install Choice Menu"

    declare -n menuArrayName=chromium_install_menu_items
    declare -n currentMenuSelection=chromiumInstallMenuSelection


    $menuName
}


###################################################################################################################

firefox_install_menu_items=(
    1 "Download Firefox from your distro's default repo"
    2 "Download the LATEST Firefox Archive from Mozilla?"
    3 "Install Firefox Flatpak"
    4 "Install Firefox Snap"
    5 "(For Ubuntu) Remove Firefox Snap, and replace with Mozilla PPA"
    M "Back to Main Menu"
    Q "Quit to Prompt"
)

function firefoxInstallMenuCaseStatement() {

    case $firefoxInstallMenuSelection in

        ## Inside the f_universalSoftware.cfg file
        # $programName used since some distros have other names than just "firefox" for the package
        1) installApp "$programName" ;;
        2) installFirefoxTarball ;;

        3)
            # flatpak support is checked in the function below
            installFlatpakApp $firefoxFP
            ;;

        4)
            # snap support is checked
            snapName="firefox"
            snapType="normal"

            installSnapApp $snapName $snapType
            ;;

        5) metalFirefoxSnapChangeUbuntu ;;

        [mM]) mainMenuType ;;
        [qQ]) quitScript ;;
        *) invalidSection ;;

	esac

}


function firefoxInstallMenuDialog() {
    createDialogMenu
}

function firefoxInstallMenuEcho() {
    createEchoMenu
}

function firefoxInstallMenuType() {
    baseMenuName="firefoxInstallMenu"
    currentMenuCaseStatementName="firefoxInstallMenuCaseStatement"
    menuTitle="Xmetal Linux Scripts Firefox Install Choice Menu"

    declare -n menuArrayName=firefox_install_menu_items
    declare -n currentMenuSelection=firefoxInstallMenuSelection

    $menuName
}
