fancy_message info "Loading Universal Software Menus"
$universalSubMenusFolder/software/f_browserMenus.cfg
$universalSubMenusFolder/software/f_ventoyMenu.cfg


$universalSubMenusFolder/software/multimedia/f_makeMKVMenu.cfg

# wine note: only include the non-menu "menu related" file here
# that file will include the inclusion of f_wineMenu.cfg

$universalSubMenusFolder/software/wine/f_wineMenuRelated.cfg
