$universalSubMenusFolder/software/f_browserMenus.cfg


$universalSubMenusFolder/software/multimedia/f_makemkv_menu.cfg

# wine note: only include the non-menu "menu related" file here
# that file will include the inclusion of f_wineMenu.cfg

$universalSubMenusFolder/software/wine/f_wineMenuRelated.cfg