function set_source_file_vars(){
    # ? in a source.list.d sub-folder?
    sources_file="/etc/apt/sources.list"
    sources_list_originalBackup=${sources_file}".original_backup"
    sources_list_backup=${sources_list}".backup"
    tmp_sources_list_file=${sources_list}".tmp"
}

function backup_sources_list_file() {

    # backup original file if it doesn't exist.
    # if it does, it should not run this code
    [ ! -f ${sources_list_originalBackup} ] && fancy_message action "Backing up Apt source file" && sudo cp "${sources_file}" "${sources_list_originalBackup}" && userPrompt && return

    # if the backup NOT related to the original (first backup) doesn't exist create it
    [ ! -f ${sources_list_backup} ] && fancy_message action "Backing up Apt source file" && sudo cp "${sources_file}" "${sources_list_backup}" && userPrompt
}

# to check and add component line if needed
function add_component_to_sourcelist() {
    # just to be clear
    component="${1}"

    componentExists=$(sed -n "/^deb.*${component}/p" ${sources_file} )

    # if zero, meaning component doesn't exist in the line 
	[ -z "${componentExists}" ] && sudo sed -ir "/^deb/ s/$/ ${component}/g" ${sources_file}

}


# "Meta" function
function sourceListAdd() {
    # sets variables
    set_source_file_vars

    # backs up sources.list file
    backup_sources_list_file

    # clear possible spaces at end lines in source.list
    echo -e "trimming possible spaces at end of source file lines"
    sudo sed -i 's/[[:blank:]]*$//g' ${sources_file}
    sleep 2

    fancy_message action "Checking for and Adding components to source.list file, if needed"
    add_component_to_sourcelist "contrib"
    add_component_to_sourcelist "non-free-firmware"
    add_component_to_sourcelist "non-free"

    fancy_message action "Refreshing/Updating Repos"
    $refresh

}

