function debianLinuxFirmmware()
{
    #$install gdebi gksu firmware-linux-free firmware-linux-nonfree 
    $install gdebi firmware-linux-free firmware-linux-nonfree
}

function debianIntelMicroCode()
{
    $install intel-microcode
}


function debianArchiveSupport()
{

    $install file-roller rar unrar
}
