function set_source_file_vars(){
    sources_file="/etc/apt/sources.list"
    sources_list_originalBackup=${sources_file}".original_backup"
    sources_list_backup=${sources_list}".backup"
    tmp_sources_list_file=${sources_list}".tmp"
}

function backup_sources_list_file() {

    # backup original file if it doesn't exist.
    # if it does, it should not run this code
    [ ! -f ${sources_list_originalBackup} ] && fancy_message action "Backing up Apt source file" && sudo cp "${sources_file}" "${sources_list_originalBackup}" && userPrompt && return

    # if the backup NOT related to the original (first backup) doesn't exist create it
    [ ! -f ${sources_list_backup} ] && fancy_message action "Backing up Apt source file" && sudo cp "${sources_file}" "${sources_list_backup}" && userPrompt
}

# clear possible spaces at end lines in source.list
function trim_source_file_spaces() {

    echo -e "trimming possible spaces at end of source file lines"
    sudo sed -i 's/[[:blank:]]*$//g' ${sources_file}
    sleep 2

}

# idea: sort of a meta function during reorganizing things
function get_sourcelist_file_ready() {

    # backs up sources.list file
    backup_sources_list_file

    trim_source_file_spaces

}

#############################################################################################

# to check and add component line if needed
# this should be first as if the component line is already there, its just extra processing for no reason, otherwise
function add_component_to_sourcelist() {
    # just to be clear
    component="${1}"

    componentExists=$(grep -E "^deb.*$component" ${sources_file} )

    # if zero, meaning component doesn't exist in the line
	[ -z "${componentExists}" ] && echo -e "About to add ${component} to source.list file" && get_sourcelist_file_ready && sudo sed -ir "/^deb/ s/$/ ${component}/g" ${sources_file}

}


# "Meta" function
function sourceListAdd() {
    # sets variables
    # if this is not here, the vars dont get set when they need to 
    set_source_file_vars

    # idea: the check should be first as if things are already setup there is no reason for extra processing
    # refactoring: the check is now in the add_component_to_sourcelist function

    fancy_message action "Checking for and Adding components to source.list file, if needed"

    # doesn't depend on the branch
    add_component_to_sourcelist "contrib"
    add_component_to_sourcelist "non-free"

    # only for Debian 12 or above
    # should i put another check in
    [ -n ${debianBranch} ] && [ ${debianBranch} != 'oldstable' ] && add_component_to_sourcelist "non-free-firmware"

    fancy_message action "Refreshing/Updating Repos"
    $refresh

}
