
# Celluloid is the new name for Gnome-mpv ... I will just go with this
# META FUNCTION
function installCelluloid
{
	programTitle="Gnome Mpv (old Name)/Celluloid (New Name)"
	programName="celluloid"
	programHomepage="https://celluloid-player.github.io/"

	clear

	fancy_message action "Installing ${programTitle}"

	case $distroBase in

    arch|debian|fedora|opensuse) installApp $programName ;;

    solus|ubuntu)

		# Jan 2022 - gnome-mpv in bionic ... newer distros do not have that but have it named "celluloid"

		# WAIT - if codename is not bionic or anything else in this case statement THEN install $packageName
		if [ $OSRELEASE_UBUNTU_CODENAME != "bionic" ]; then
			installApp $packageName
			# my thinking is as long as the above ISN'T TRUE (even debian and solus), this will trigger
		else
			installApp "gnome-mpv"
		fi

		;;

    esac

    userPrompt

	# idea: to clear var
	programName=""

}