
# Celluloid is the new name for Gnome-mpv ... I will just go with this
# META FUNCTION
function installCelluloid
{
	progTitle="Gnome Mpv (old Name)/Celluloid (New Name)"
	progName="celluloid"
	progHomepage="https://celluloid-player.github.io/"

	clear

	echo -e "Installing Celluloid (formerly Gnome-Mpv), not all distro seem to have the program under the new name yet, so you MAY still see \"gnome-mpv\" as the name"

	case $distroBase in

    arch|debian|fedora|opensuse) installApp $progName ;;

    solus|ubuntu)

		# Jan 2022 - gnome-mpv in bionic ... newer distros do not have that but have it named "celluloid"

		# WAIT - if codename is not bionic or anything else in this case statement THEN install $packageName
		if [ $OSRELEASE_UBUNTU_CODENAME != "bionic" ]; then
			installApp $packageName
			# my thinking is as long as the above ISN'T TRUE (even debian and solus), this will trigger
		else
			installApp "gnome-mpv"
		fi

		;;

    esac

    userPrompt

	# idea: to clear var
	progName=""

}