function openSuseCodecInstall()
{
    # MY FAULT: BELOW'S function has a repo that has nothing to do with codec, but has multimedia apps

    # location: /functions/opensuse/f_openSuseMultimedia.cfg
    # manualOpenSuseCodecInstall 
    

    # note: this is only for 15.0 
    # also note: this does NOT take into account packman ... just assume that packman is not being installed 

    case $openSUSEBranch in 

    15.0|15.1) 
    # Taking a guess that it'd be ok with 15.1... would this work on Tumbleweed too? 
    $install x264 libx265-130 libx264-148 ffmpeg gstreamer-plugins-bad gstreamer-plugins-libav gstreamer-plugins-ugly ;; 
    
    *) return ;; 
    
    esac 

}


function universalCodecInstall()
{
  clear
  echo -e "Checking to see if Third party Repos are installed, first, installing them if they are not"
  echo -e "In the case of Fedora and Opensuse, third party repos need to be added first "
  thirdPartyRepoCheck
  userPrompt

  clear
  echo -e "Preparing Codecs"
  case $distroBase in 

    arch) 
      $install a52dec faac faad2 flac jasper lame libdca libdv libmad libmpeg2 libtheora libvorbis libxv \
      wavpack x264 xvidcore libdvdcss libdvdread libdvdnav dvd+rw-tools dvdauthor dvgrab cdrdao \
      gst-libav gst-plugins-base gst-plugins-good gst-plugins-ugly gst-plugins-bad  ;; 


    fedora) 
      sudo dnf -y groupinstall multimedia

      # why this too? ... eh well ... leave it for now 
      $install gstreamer1-libav ;; 

    opensuse) openSuseCodecInstall ;;

    solus) $install gst-plugins-base gst-plugins-good gst-plugins-bad gst-plugins-ugly gstreamer-0.10 gst-plugins-base-devel libav gstreamer-1.0-libav ;;

    ubuntu) 
      $refresh
      $install libdvdnav4 libdvdread4 gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly libdvd-pkg
      $install ubuntu-restricted-extras
      ;;

  esac 

  echo -e "Codecs are now installed"
  userPrompt

}