function openSuseCodecInstall() {
    # source: https://en.opensuse.org/SDB:Installing_codecs_from_Packman_repositories
    openSUSECodecList="ffmpeg-3 lame gstreamer-plugins-bad gstreamer-plugins-ugly gstreamer-plugins-ugly-orig-addon gstreamer-plugins-libav libavdevice57 vlc-codecs"


    detectPackageStatus "opi"

    clear

    # THERE HAS TO BE A CLEARER WAY to do this
    # Opi or not there is a need for packman

    # if opi IS installed
    if [ "$(command -v opi)" ]; then

	    fancy_message info "opi detected"
	    opi codecs

  	else

  		echo -e "About to check for third party repo - \"packman\" "
      echo -e "If you say \"no\" to third party repos, codecs will not install"
      echo -e "${menuBorder}"

      thirdPartyRepoSoftwareNotice

      case $thirdPartyRepoExists in
        yes)
          clear
          fancy_message action "Running a dist-upgrade, from Packman and allowing vender changes"
          sudo zypper dist-upgrade --from packman --allow-vendor-change
          userPrompt

          fancy_message action "Installing Codecs for OpenSUSE"
          $install --allow-vendor-change  $openSUSECodecList

        ;;

        *)  # where does this return to ?
            return  ;;
      esac

  	fi
}

function debianCodecs() {
    #Install non-free codecs and other media components. ( Optional )

    # NOTE: These must be installed seperatly to avoid errors / conflicts.

    $install libav-tools
    $install ttf-mscorefonts-installer
    $install icedtea-plugin
    $install libdvdcss2
    $install libdvd-pkg
    sudo dpkg-reconfigure libdvd-pkg

    $install browser-plugin-vlc
    $install libffmpegthumbnailer4
    $install ffmpegthumbnailer
    $install gstreamer1.0-plugins-bad
    $install gstreamer1.0-plugins-ugly
    $install gstreamer1.0-libav
    $install tumbler-plugins-extra
}

function debianSectionMessage() {
  clear
  echo -e "I am unsure how to/if i can set this up to have it check and edit sources.list manually so I will just give the"
  echo -e "user this message"
  echo
  echo -e "For some applications your sources.list line may have  \"main\" "
  echo -e " You may need to add \"contrib nonfree\" to the end of the line and then"
  echo -e "\"sudo apt update\" afterwards, before these apps can be installed"

}


function ubuntudvdreadcheck() {
   #######################################################
   # Trial without wildcards
    case $OSRELEASE_UBUNTU_CODENAME in
      bionic)  libdvdreadVar="libdvdread4"  ;;
      focal) libdvdreadVar="libdvdread7" ;;
      jammy) libdvdreadVar="libdvdread8" ;;
    esac

    $install $libdvdreadVar
    #################################################


    # trial with wildcards (probably doesn't need to be a seperate function if this works)
    # this would be for any ubuntu base BUT it would pull in libdvdread's -dev package too

    # ? is not supported as a RE item in apt apparently ... * was removed RE wise but introuduced again and backported
    $install "libdvdread.*"

}

function universalCodecInstall() {

    # Dec 2019: the only reason for these new vars is an idea so i can use them with the template function to check if the user wants to continue
    programName="codecs"
    programTitle="Multimedia Codecs"

    clear

    fancy_message action "Preparing Codecs"
    case $distroBase in

      arch)
        $install a52dec faac faad2 flac jasper lame libdca libdv libmad libmpeg2 libtheora libvorbis libxv \
        wavpack x264 xvidcore libdvdcss libdvdread libdvdnav dvd+rw-tools dvdauthor dvgrab cdrdao \
        gst-libav gst-plugins-base gst-plugins-good gst-plugins-ugly gst-plugins-bad  ;;


      debian)
        debianSectionMessage
        debianCodecs ;;

      fedora)
        sudo dnf -y groupinstall multimedia

      # why this too? ... eh well ... leave it for now
      $install gstreamer1-libav ;;

      opensuse) openSuseCodecInstall ;;

      solus) $install gst-plugins-base gst-plugins-good gst-plugins-bad gst-plugins-ugly gstreamer-0.10 gst-plugins-base-devel libav gstreamer-1.0-libav ;;

      ubuntu)
        refreshRepositories

        $install gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly libdvd-pkg
        $install ubuntu-restricted-extras

        ubuntudvdreadcheck

  esac

}