## May be a bad idea but I am splitting this up to cleanup the MakeMKV file/code 
## This file is for compiling and installing from the tarball 
###################################################

# I shouldn't need to do this here but ... whatever
# question: can i move these vars to the f_variables.cfg file and skip this extra function?

function makeMKVFileInfo()
{
  # $1 = URL for current file being downloaded

  fileNameFULL=${1##*/}
  fileName=${fileNameFULL%.tar.gz}

}
################################################################


# Compile and install makeMKVOSS package
function makeMKVOSSInstall()
{
  clear

  makeMKVFileInfo $makeMKVOSSURL

  # Download MakeMKV-OSS tarball
  fancy_message action "Downloading MakeMKVOSS"
  wget $makeMKVOSSURL

  # Extract and enter directory
  tar -zxvf $fileNameFULL --one-top-level && cd $fileName

  # compile and install
  fancy_message action "Compile MakeMKVOSS"
  ./configure

  fancy_message action "Make makeMKVOSS"
  make

  fancy_message action "Install MakeMKVOSS"
  sudo make install

  # Cleanup
  cd ..
  rm -rf $fileName

  userPrompt

}



# Compile and install makeMKVBin package
function makeMKVBinInstall()
{

    makeMKVFileInfo $makeMKVBinURL

    # Download MakeMKVBin tarball
    wget $makeMKVBinURL

    # Extract and enter directory
    tar -zxvf $fileNameFULL --one-top-level && cd $fileName

    # Make/Make install
    clear
    fancy_message action "Make MakeMKVBin"
    userPrompt
    make

    clear
    fancy_message action "Install MakeMKVBin"
    sudo make install

    # Cleanup
    cd ..
    rm -rf $fileName

}



# note to self: this is for both OSS and BIN file
function compileAndInstallMakeMKV()
{
  # Source: https://www.makemkv.com/forum/viewtopic.php?f=3&t=224

  # Here codecs (assuming its a fresh install of a distro) are install and any extra dependencies I have found during my testing, are installed


  # 2 - Build Dependencies
  universalBuildEssentials

  # 3 - get extra dependencies if needed
  makeMKVDependencies
  
  # change pwd, to user's Downloads folder
  cd ~/Downloads

  # Create and enter directory - the thinking is this is sort of a "master" directory but still subdirs will go inside for each tarball

  # the idea is to keep the user's Downloads directory clean 
  mkdir makeMKVInstall
  cd makeMKVInstall

  
  # 4 - These userPrompts will be removed later .. they are only there for testing
  fancy_message action "Compiling and Installing MakeMKVOSS"
  userPrompt
  makeMKVOSSInstall

  # clear to be UNcommented out later, after testing
  clear
  fancy_message action "Compiling and Installing MakeMKVBin"
  userPrompt
  makeMKVBinInstall

}
