
# Switch to use the packman repos (vs Flatpak) on openSUSE but keep this functtion here anyway
function makeMKVFlatpakInstall()
{
  # Info/Source: https://flathub.org/apps/details/com.makemkv.MakeMKV
  flatpakName="com.makemkv.MakeMKV"
  flatpakRep="flathub"

  # installFlatpakApp DOES check and install (if the user picks it, I think) to install Flatpak support, so nothing extra like that is needed here

  # install software
  installFlatpakApp $flatpakRepo $flatpakName

}


###################################################################


function makeMKVKeyInfo()
{
  betaKeyURL="https://forum.makemkv.com/forum/viewtopic.php?f=5&t=1053"


  	# curl -s = silent curling
  	#currentBetaKey=$(curl -sL "$betaKeyURL" | grep -o -P '(?<=<code>).*(?=</code>)')

	# I understand this better
	currentBetaKey=$(curl -L "$betaKeyURL" | awk '/<pre><code>/ {print}' | sed 's/^.*<code>//g;s/<\/code>.*$//g')

	# End of this period
	currentBetaKeyExpiration=$(curl -sL "$betaKeyURL" | grep -o -P '(?<=end of).*(?=. Please)')

  fancy_message info "${bold}${currentBetaKey}${completeReset}"

  ## Message about the key and the link to the site should be here
  #clear
  echo -e "MakeMKV is free, though every 30 or so days the key changes"
  echo -e "if you are prompted for the key, here is the current info (at script run time)\n "
  echo -e "MakeMKV Beta Key:  ${bold}${fglightred}$currentBetaKey${completeReset}"
  echo -e "This key expires at the end of ${bold}${fglightyellow}$currentBetaKeyExpiration${completeReset}\n"

  userPrompt

}

# MakeMKV Dependency installs
function makeMKVDependencies()
{
  # Clears the screen
  clear

  fancy_message action "Installing needed dependencies that distros need to compile and install"
  echo

  case $distroBase in

	  debian) $install expat-dev openssl-dev libavcodec-dev pkg-config ffmpeg qt4-defaults qt5-defaults ;;

    fedora) $install openssl-devel expat-devel qt5-devel ffmpeg-devel ;;

    solus)

        # install needed dependencies
        # qt5-base-devel is needed for Budgie (test)... not sure if the other two are "needed", but i will leave them for now
        $install gstreamer-1.0-devel ffmpeg-devel qt5-base-devel ;;

    ubuntu)
      # This list is from MakeMKV itself and may have duplicates from the Develop packages addition i did at the start
      $install build-essential pkg-config libc6-dev libssl-dev libexpat1-dev libavcodec-dev libgl1-mesa-dev zlib1g-dev qt5-default ;;

  esac

  userPrompt

}

function installMakeMKVOpenSuse()
{

    case $openSUSEBranch in

        leap|tumbleweed)

          # 1 - enable/add packman repo
          installPackmanSuseRepo

          # 2 - install makemkv
          installApp makemkv ;;

        *) echo -e "OpenSUSE branch not detected " ;;

    esac
}


###############################################################################################################




###################################################################################
# Meta-function to install MakeMKV
function installMakeMKV()
{
  programName="makemkv"
  programTitle="MakeMKV"
  programHomepage="http://www.makemkv.com"
  makeMKVURL="https://forum.makemkv.com/forum/viewtopic.php?f=3&t=224"

  # to get the newest tarballs of either the OSS or BIN file
  makeMKVOSSURL=$(curl -s "$makeMKVURL" | awk -F '"' '/oss/ {print $2; exit}')
  makeMKVBinURL=$(curl -s "$makeMKVURL" | awk -F '"' '/bin/ && /href=/  {print $2;exit}')

  makeMKVInstallMenuType

  # Show Key info
  makeMKVKeyInfo

  ###################
  userPrompt
}

. $softwareDir/multimedia/f_makeMKVSource.cfg
