
function installMediaElch
{
    programName="mediaElch"
    programTitle="Media Elch"
    programHomepage="https://www.kvibes.de/mediaelch/"

    # https://github.com/Komet/MediaElch/releases

	mediaElchURL=$(curl -sL https://github.com/Komet/MediaElch/releases | awk -F\" '/AppImage/ && /\/Komet/ {print $2;exit}')


    ## TODO: Make this non-static
    programURL=$githubURL$mediaElchURL

    # ? -  Do I need to put this in quotes/dquotes?
    iconFile=mediaelch.png


    case $distroBase in

      arch|debian|fedora|opensuse|solus|ubuntu)
        metaExternalDownload $programName $programURL ;;
    esac

   	# this will call the function that A) moves what is needed to the custom Programs dir (and set that up IF needed)
	# and offer to create a menu entry
	extractedApp

}

##########################################
# note: this installs the latest version 4.x if i remember

function installTinyMediaManager()
{
	## Note to self: Java has to be installed
  	## I need to put a check/install if not installed thing in for java/jre

  	programTitle="Tiny Media Manager"
  	programName="tinyMediaManager"
  	programHomepage="https://www.tinymediamanager.org/"
  	#releaseDomain="http://release.tinymediamanager.org/"
  	#latestVersion=$(curl -s "https://release.tinymediamanager.org/" | grep -m 1 "linux" | cut -d\' -f2 )

  	# version 4.x has some things disabled ... that is why I added this
  	versionThree="https://release.tinymediamanager.org/v3/dist/tmm_3.1.16.1_linux-amd64.tar.gz"

	programURL="$versionThree"

	# this is needed but MAY not be needed HERE 
	iconFile="$programName.svg"
	
	programFile="$programName.sh"

	# Check for Java, as this app can not run without jre/java
	# Location: f_universalSoftware.cfg file
	clear
	fancy_message action "Checking for Java support"
	checkForJava

	clear
	fancy_message action  "Installing/Downloading/Extracting Tiny Media Manager in your Downloads folder "
	userPrompt
	metaExternalDownload $programName $programURL
	clear
	fancy_message info "Tiny Media Manager setup and ready to use"

	# this will call the function that A) moves what is needed to the custom Programs dir (and set that up IF needed)
	# and offer to create a menu entry
	extractedApp
	
	userPrompt

}
