
# only reason i named this like i did here is i dont have internet and i want to test this before removing the function above
function installMediaElch() {

    programName="mediaElch"
    programTitle="Media Elch"
    programHomepage="https://www.kvibes.de/mediaelch/"
    repoName="Komet/MediaElch"
    fileFormat="AppImage"
	iconFile="${programName}.png"

    nameFormat="${programName}_"

	programCatagories="AudioVideo;Video;"

	Comment="mediaElch Media Organizer"
	Terminal=false

	gitDownload ${repoName} ${fileFormat}

}

##########################################

# setup some vars
function tinyMediaMangerVarSetup() {

  	programTitle="Tiny Media Manager"
  	programName="tinyMediaManager"
  	programHomepage="https://www.tinymediamanager.org/"
  	releaseDomain="http://release.tinymediamanager.org/"
  	#latestVersion=$(curl -s ${releaseDomain} | grep -m 1 "linux" | cut -d\' -f2 )

  	# version 4.x has some things disabled ... that is why I added this
  	# this is a static OLD 3.x version ... the rest of the URLs seem offline/404'ing
  	programURL="https://archive.tinymediamanager.org/v3.1.18/tmm_3.1.18_linux.tar.gz"

	# this is needed but MAY not be needed HERE
	iconFile="${programName}.svg"

	# this is WRONG but i am using it to test if "TMM works now" displays if it shouldn't 
	#execFile=$(basename ${programURL})

	# note this is correct .... i am testing an issue where when this is not correct the menu gets created with blank values
	execFile="${programName}.sh"

	# for menu
	programCatagories="AudioVideo;Video;"
	Terminal="false"
	Comment="Tiny Media Manager Media Organizer"

}


function installTinyMediaManager() {
	# sets up variables
	tinyMediaMangerVarSetup

	# Jan 2023: maybe make this it's own function .. .checking for java that is
	# Check for Java, as this app can not run without jre/java
	# Location: f_universalSoftware.cfg file
	clear
	fancy_message info "Java IS needed for tinyMediaManager to work"
	fancy_message action "Checking for Java support"
	# this will install if needed so there is no need for exiting "because no java support detected "
	checkForJava

	metaExternalDownload ${programName} ${programURL}
	#clear

	# march 2023 update: things work here that i know of but i think this should 100% get called in "handleDownloads" function
	setupExtractedApps

	# issue: is this displaying "ready to use" either way? successful or failed 
	checkLastCommandStatus "Tiny Media Manager setup and ready to use"  "Issue setting up Tiny Media Manager"

	userPrompt

}