
# only reason i named this like i did here is i dont have internet and i want to test this before removing the function above
function installMediaElch() {

    programName="mediaElch"
    programTitle="Media Elch"
    programHomepage="https://www.kvibes.de/mediaelch/"
    repoName="Komet/MediaElch"
    fileFormat="AppImage"
	iconFile="${programName}.png"

    nameFormat="${programName}_"

	gitDownload ${repoName} ${fileFormat}

}

##########################################

# setup some vars
function tinyMediaMangerVarSetup() {

  	programTitle="Tiny Media Manager"
  	programName="tinyMediaManager"
  	programHomepage="https://www.tinymediamanager.org/"
  	releaseDomain="http://release.tinymediamanager.org/"
  	#latestVersion=$(curl -s ${releaseDomain} | grep -m 1 "linux" | cut -d\' -f2 )

  	# version 4.x has some things disabled ... that is why I added this
  	# this is a static OLD 3.x version ... the rest of the URLs seem offline/404'ing
  	programURL="https://release.tinymediamanager.org/v3/dist/tmm_3.1.17_linux.tar.gz"

	# this is needed but MAY not be needed HERE
	iconFile="$programName.svg"

	programFile="$programName.sh"

}


function installTinyMediaManager()
{
	# sets up variables
	tinyMediaMangerVarSetup

	# Jan 2023: maybe make this it's own function .. .checking for java that is
	# Check for Java, as this app can not run without jre/java
	# Location: f_universalSoftware.cfg file
	clear
	fancy_message info "Java IS needed for tinyMediaManager to work"
	fancy_message action "Checking for Java support"
	checkForJava

	metaExternalDownload ${programName} ${programURL}
	#clear

	# dec 2022: should this be here? should i put this in the metaExternalDownload function? .. really not sure
	setupExtractedApps


	checkLastCommandStatus "Tiny Media Manager setup and ready to use"  "Issue setting up Tiny Media Manager"

	userPrompt

}