
function getOcenAudioURL() {
	fancy_message action "Getting URL for ocenAudio"

	case $distroBase in

		arch) ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_archlinux.pkg.tar.xz"
			;;
		debian)
			if [ "${cpuArchType}" == "64" ]; then ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_debian9_64.deb"; fi
			if [ "${cpuArchType}" == "32" ]; then ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_debian9_32.deb"; fi
			;;

		fedora) ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_fedora35.rpm";;

		opensuse) ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_opensuse.rpm" ;;

		solus) echo -e "${programName} installation code not done for ${ditroBase} yet" ;;

		ubuntu)
			# TODO put a check for deb-get here

			if [ "${cpuArchType}" == "64" ]; then ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_mint64.deb"; fi
			if [ "${cpuArchType}" == "32" ]; then ocenAudioURL="${ocenAudioDownloadBaseURL}/ocenaudio_mint32.deb"; fi
			;;
	esac

	echo -e "${ocenAudioURL}"

}


function download_ocenAudio(){
	case $distroBase in
		arch|fedora|opensuse)
			fancy_message action "Downloading ${programTitle}"
			#TODO: put check in that will prevent redownloading
			wget -P ${downloadDir} "${programURL}"

			ocenAudioFilename=$(basename "${programURL}" )
			;;
		debian|ubuntu) metaExternalDownload ${programURL} ;;
	esac
}


function installOcenAudio() {
	programName="ocenaudio"
	programTitle="Ocen Audio"
	programHomepage="https://www.ocenaudio.com/"
	ocenAudioDownloadBaseURL="https://www.ocenaudio.com/downloads"

	# Nov 2022: why? ... why dont i just assign programURL in the first place?
	getOcenAudioURL
	programURL=${ocenAudioURL}

	# message here since installApp is not being used
	#fancy_message action "Installing ${programTitle}"

	# if var is zero 
	[ -z ${programURL} ] && return 

	download_ocenAudio

	fancy_message action "Installing ${programTitle}"
	case $distroBase in
		arch) echo -e "not coded for Arch yet" ;;
		fedora|opensuse) $install "${downloadDir}/${ocenAudioFilename}" ;;
		solus)
			echo -e "I am not sure if ${programTitle} is installable in $distroBase"
			echo -e "If it can be, look in Solus's Software Center and the third party section"
			;;
	esac


}
