. ${softwareDir}/multimedia/strawberry/f_strawberry_branch_checks.cfg


function strawberry_set_variables() {
  programName="strawberry"
  programTitle="Strawberry Media Player"
  programHomepage="https://www.strawberrymusicplayer.org/"
  strawberryDownload="https://www.strawberrymusicplayer.org/#download"

  PPASource="https://launchpad.net/~jonaski/+archive/ubuntu/strawberry"
}

######################################################
# do i need to pass anything as $1 or can i use distro codenames?
function getStrawberryURL() {


      # I think at this point "${nameFormat}*.${fileFormat}" is detected
      case $distroBase in
        debian) programURL=$(curl -s ${strawberryDownload} | awk -F '"' '/${debian_codename}/ { print $2}') ;;

        fedora) programURL=$(curl -s ${strawberryDownload} | awk -F '"' '/fc${fedora_branch}/ { print $2}') ;;

        opensuse) programURL=$(curl -s ${strawberryDownload} | awk -F '"' '/lp${leap_branch}/ { print $2}') ;;

        ubuntu) programURL=$(curl -s ${strawberryDownload} | awk -F '"' '/${ubuntuBranch}/ { print $2}') ;;

      esac

}
###############################################################################################

function strawberry_experimental_download_install() {

  strawberry_exp_latest=$(curl -s "${strawberry_exp_base}" | awk -F '"' '/64.rpm/ && $0 !~ "debug" { print $6 }' | tail -n1)
  programURL="${strawberry_exp_base}/${strawberry_exp_latest}"
  strawberry_local_download=$(basename ${programURL})

  # not REALLY needed but i will leave it for now ... you know its opensuse or fedora by this point
  case ${distroBase} in

    fedora|opensuse) metaExternalDownload ${program_url}  ;;

  esac
}

# i am only going to use this "when i have to"
function strawberry_experimental_releases(){
  strawberry_exp_base_url="https://builds.strawberrymusicplayer.org/${distroBase}"

  case ${distroBase} in

    fedora)
      [ "${fedora_branch}" == "40" ] && strawberry_exp_base="${strawberry_exp_base_url}/40/" && strawberry_experimental_download_install
      ;;

    opensuse)
      [ "${leap_branch}" == "15.6" ] && strawberry_exp_base="${strawberry_exp_base_url}/lp156/" && strawberry_experimental_download_install
      ;;

    ubuntu)
      if [ "${ubuntuBranch}" == "noble" ]; then

        strawberry_exp_base="${strawberry_exp_base_url}/ubuntu/noble/"
        strawberry_exp_latest=$(curl -s "${strawberry_exp_base}" | awk -F '"' '/href/ {print $6} ' | tail -n1)

        strawberry_experimental_download_install

        gdebiInstall ${programURL}
      fi
      ;;

  esac

}


###############################################################################
# Meta function
function installStrawberry() {
  strawberry_set_variables

  clear
  fancy_message action "Installing $programTitle"


  # Nov 2022 idea: this may be redone (or maybe just the functions listed in the case's will be) to maybe all use "gitDownload" when i get that working
  case $distroBase in

    arch|solus) installApp "strawberry" ;;
    debian|fedora|opensuse|ubuntu) strawberry_branch_distro_check
    userPrompt
     ;;

  esac

  userPrompt

}
