






######################################################
# do i need to pass anything as $1 or can i use distro codenames? 
function getStrawberryURL_redo() {


      # I think at this point "${nameFormat}*.${fileFormat}" is detected
      case $distroBase in
        debian) programURL=$(curl -s ${strawberryDownload} | awk -F '"' '/${debian_codename}/ { print $2}') ;;

        fedora) programURL=$(curl -s ${strawberryDownload} | awk -F '"' '/fc${fedoraBranch}/ { print $2}') ;;

        opensuse) programURL=$(curl -s ${strawberryDownload} | awk -F '"' '/fc${fedoraBranch}/ { print $2}') ;;

        ubuntu) programURL=$(curl -s ${strawberryDownload} | awk -F '"' '/${ubuntuBranch}/ { print $2}') ;;

      esac


}




#####################################

# Nov 2022 idea: use the gitdownload function here too just have "AppImage" as fileFormat
function strawberryAppImage() {
  fileFormat="AppImage"

  # Nov 2022 way (not done or tested )
  gitDownload ${fileFormat}

  # old way - delete when gitDownload way works
  #	getStrawberryURL "AppImage"

	# Mark as executable
	sudo chmod +X $strawberryPackage
}

function strawberry_fedora_branch_check() {

  # Fedora
  case ${fedoraBranch} in
    39|40) getStrawberryURL_redo "fc${fedoraBranch}"

    metaExternalDownload ${programTitle} ${programURL}  ;;
  esac

}


function strawberry_openSUSE_branch_check() {
  # OpenSuse Leap and/or Tumbleweed

  # this is in the tumbleweed default repo - nothing more is needed
  [ "$openSUSEBranch" = "tumbleweed" ] && installApp "strawberry" && return 

  case $leapBranch in
    15.6) echo "no release for 15.6 yet"  ;;
    15.5) getStrawberryURL_redo "lp155"
          metaExternalDownload ${programTitle} ${programURL} ;;
  esac


}



function strawberry_branch_distro_check() {

  # debian
  [ "$distroBase" == "debian" ] && getStrawberryURL_redo && metaExternalDownload ${programTitle} ${programURL} && return

  # Fedora
  [ "$distroBase" == "fedora" ] && strawberry_fedora_branch_check && return

  # openSUSE
  [ "$distroBase" == "opensuse" ] && strawberry_openSUSE_branch_check && return 

}


###############################################################################
# Meta function
function installStrawberry() {
  programName="strawberry"
  programTitle="Strawberry Media Player"
  programHomepage="https://www.strawberrymusicplayer.org/"
  strawberryDownload="https://www.strawberrymusicplayer.org/#download"

  PPASource="https://launchpad.net/~jonaski/+archive/ubuntu/strawberry"

  clear
  fancy_message action "Installing $programTitle"


  # Nov 2022 idea: this may be redone (or maybe just the functions listed in the case's will be) to maybe all use "gitDownload" when i get that working
  case $distroBase in

    arch|solus) installApp "strawberry" ;;
    debian|fedora|opensuse) strawberry_branch_distro_check ;;
    ubuntu)

      debGetInstall && return

      fancy_message action "Adding Official Strawberry PPA" && installStrawberryPPA && fancy_message action "Installing Strawberry after the official PPA was added" && $install strawberry

      ;;

  esac

  userPrompt

}
