#  idea 

# 1 - keep getStrawberryURL function 
# 2 - in each other function assign packageURL=totalStrawberryURL
#   - this should be out of the loop that calls getStrawberryURL
# 3 - do the usual pass to massExternalDownload




######################################################333
function getStrawberryURL()
{
  # $1 is used to determine what package to download

  strawberryURLBase="https://github.com/"

  strawberryURL=$(curl -s "https://github.com/strawberrymusicplayer/strawberry/releases" | awk -F \" -v branch="$1" '$2 ~ branch && !/dbgsym/ {print $2;exit}')

  totalStrawberryURL="$strawberryURLBase$strawberryURL"


  # Idea strip everything in the full URL to the left of the last / mark
  strawberryPackage=${totalStrawberryUR##*/}

}

function downloadIfStrawberryVarExists() {

  if [ -v totalStrawberryURL ]; then
    packageURL=$totalStrawberryURL
  else 
    # debugging echo 
    echo -e "totalStrawberryURL var doesn't exist" 
    echo -e "$totalStrawberryURL"
  fi 

  metaExternalDownload $progName $progTitle $packageURL 
}
#####################################


function strawberryAppImage
{

  getStrawberryURL "AppImage"

  # Mark as executable
  sudo chmod +X $strawberryPackage
}

# For Debian
function strawberryDebian()
{
  case $debianBranch in

    buster|stable) getStrawberryURL buster ;;

    bullseye|testing) getStrawberryURL bullseye ;;

    *)
      echo -e "Unable to detect Debian branch"
      userPrompt
      return ;;

  esac

  downloadIfStrawberryVarExists

}

function strawberryFedora()
{
    case $fedoraVersion in
    	35) getStrawberryURL fc35 ;;
      34) getStrawberryURL fc34 ;;
      *) echo "Fedora version not detected or supported" ;;
    esac

    downloadIfStrawberryVarExists
}


# OpenSuse Leap (nothing listed for TW ... maybe in the TW repos )
function strawberryOpensuse()
{

    if [ "$openSUSEBranch" = "leap" ]; then

      case $leapVersion in
        15.3) getStrawberryURL lp153 ;;
      esac

    sudo rpm -i $strawberryPackage

    elif [ "$openSUSEBranch" = "tumbleweed" ]; then
    	# this is in the tumbleweed default repo - nothing more is needed 
      installApp "strawberry"

    fi
}



# For Ubuntu
function strawberryUbuntu()
{
  


  
  case $OSRELEASE_UBUNTU_CODENAME in
    bionic|focal|impish|jammy) getStrawberryURL $OSRELEASE_UBUNTU_CODENAME ;;
  esac

  downloadIfStrawberryVarExists
  userPrompt
}



#################################################################################
# Meta function
function installStrawberry()
{
  progName="strawberry"
  progTitle="Strawberry Media Player"
  progHomepage="https://www.strawberrymusicplayer.org/"

  clear
  echo -e "Installing $progTitle"

  case $distroBase in

    arch|solus) installApp "strawberry" ;;
    debian) strawberryDebian $debianBranch ;;
    fedora) strawberryFedora ;;
    opensuse) strawberryOpensuse ;;
    ubuntu) strawberryUbuntu ;;

    *) echo -e "Distro base can not be detected, Strawberry Music Player was not installed"
		return ;;

  esac

}
