# Celluloid/MPV
. $softwareDir/multimedia/f_celluloid.cfg


. $softwareDir/multimedia/f_codecs.cfg
. $softwareDir/multimedia/f_makeMKV.cfg
. $softwareDir/multimedia/f_mediaOrganizer.cfg


. $softwareDir/multimedia/strawberry/f_strawberry.cfg