# this will be a catch-all file for stuff i had related to Strawberry Music Player Experimental releases ... I really can not recall much about this, but i will clean up the main Strawberry Music Player file, moving stuff here 

######################################################################## 
# Sept 2025: experimental builds
# I really dont know what needs this... the appimages I found are unoffical btw
# function strawberry_experimental_download_install() {

#   # Sept 2025: is this overcomplicated? can it be condensed?
#   strawberry_exp_latest=$(curl -s "${strawberry_exp_base}" | awk -F '"' '/64.rpm/ && $0 !~ "debug" { print $6 }' | tail -n1)

#   programURL="${strawberry_exp_base}/${strawberry_exp_latest}"
  
#   # Sept 2025: this seems exactly the say as (close enough 4 this comment) FileNameWEXT var wise
#   # why do i need this? 
#   strawberry_local_download=$(basename ${programURL})

#   # not REALLY needed but i will leave it for now ... you know its opensuse or fedora by this point
#   case ${distroBase} in

#     fedora|opensuse) metaExternalDownload ${programURL}  ;;

#   esac
# }

# Sept 2025: experimental builds ... do i need this? 
function strawberry_experimental_releases(){
  strawberry_exp_base_url="https://builds.strawberrymusicplayer.org/${distroBase}"
}
