######################################################################################
# RPM based

function strawberry_rpmbased_branh_check() {

	case $distroBase in 

	fedora) 

		get_strawberry_url

  		metaExternalDownload ${programTitle} ${programURL} 

  		;;

	opensuse) 

		# OpenSuse Leap and/or Tumbleweed

  		# this is in the tumbleweed default repo - nothing more is needed
  		[ "$openSUSEBranch" = "tumbleweed" ] && installApp "strawberry" && return


		# ? can i simplify this later?
		case $leap_branch in

    		15.6) get_strawberr_url "lp156"
          	metaExternalDownload ${programTitle} ${programURL} ;;

			16.0) get_strawberr_url "lp160"
          	metaExternalDownload ${programTitle} ${programURL} ;;


		esac

}

# End of RPM based functions
############################################################################ Ubuntu based functions
# Start of Debian/Ubuntu functions

function strawberry_ppa_check() {

  fancy_message question "Would you like to install the Official Strawberry Music Player PPA, or Would you like to download and install the latest DEB?"

  read -p "(P)PA or (D)EB? " strawberry_choice

  case ${strawberry_choice} in

    p|P)
      fancy_message action "Adding Official Strawberry PPA"
      installStrawberryPPA
      fancy_message action "Installing Strawberry after the official PPA was added"
      $install strawberry
      ;;

    d|D)
      # that function name here seems wrong .. .i think it should be "deb_get_check" now that i think of it
      deb_get_install ${programURL} && return
      ;;

     *) fancy_message error "invalid selection" && userPrompt ;;

  esac

}

####################################################################

function strawberry_deb_branch_check() {

	case $distroBase in 

		debian) 
			programURL=$(curl -s "https://www.strawberrymusicplayer.org/#download" | awk -v d_branch=$debian_codename -F '"' '$0 ~ "deb" && $0 ~ d_branch {print $2}')

 			# that function name here seems wrong .. .i think it should be "deb_get_check" now that i think of it

			deb_get_install ${programURL} && return

			;;

		ubuntu)

	 		programURL=$(curl "${strawberryDownload}" | awk -F '"' -v ubranch="$ubuntu_branch" '$0 ~ ubranch { print $2 }' )

		  	strawberry_ppa_check


	esac 	
}



function strawberry_branch_distro_check() {

  case $distroBase in

    # Arch and Solus have this in their default repos
    debian|ubuntu)  strawberry_deb_branch_check ;;
    fedora|opensuse) strawberry_rpm_branch_check ;;
    *) return ;; 

  esac


}
