############################################################
# Arch related 

function originalMirrorlistBackup
{
  
  ## Check if original mirrorlist has been created/backed up yet 
  if [ -f $originalMirrorlist ]
    ## Exit and DO NOT re-create file if it exists 
    # Note: this may be an issue if some other program or script created that exact file

    return

  else
    clear

    echo -e "Backing up original mirrorlist"
    echo -e "Note: THIS backup file is only created once and is the original mirrorlist file before my scripts ever did anything"
    
    # For a space
    echo

    echo "The original mirrorlist is backed up at: $originalMirrorlist"

    sudo cp $mirrorlist $originalMirrorlist

  fi

}

function backupMirrorlistCommon
{
  ## named "common" to keep things straight .. .this is the function that CAN run over and over 
  echo -e "Making a backup of your current mirrorlist"
  sudo cp $mirrorlist $backupMirrorlist
  echo -e "Mirrorlist successfully backed up"
  clear

}

function optimizeArchMirrors()
{

  clear
  echo -e "About to Optimize Pacman Mirrors, while backing up  the current mirror list"

  # Backing up Current mirror list, TODO: Add option to "auto-reset" mirrorlist in the case of a bork
  sudo cp /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak

  # Install Reflector
  installApp reflector

  # Run Reflector - this is a basic run
  sudo reflector --verbose -l 6 --sort rate --save /etc/pacman.d/mirrorlist

}


function backupArchMirrorsMeta
{
  
  # Variables

  mirrorlist="/etc/packman.d/mirrorlist"

  # backup of original mirrorlist before my scripts do anything 
  originalMirrorlistBackup="/etc/pacman.d/mirrorlist.original"

  # backup file to be created "each time"
  backupMirrorlist"="/etc/pacman.d/mirrorlist.backup"

  ######################################################################

  # Checks if the original list was backed up, and if not, creates a backup of it
  originalMirrorlistBackup

  backupMirrorlistCommon
}

#######################################################################################
#######################################################################################
## Manjaro Related 

function manjaroRankMirrors()
{
  clear 
  echo -e "About to run a command optimizing the download mirrors for Manjaro"
  sudo pacman-mirrors -f 0 && sudo pacman -Syy
  clear
  echo -e "Mirrors have been optimized and updated, successfully "
  userPrompt
}

function manjaroRankMirrorsFastTrack()
{
  clear 
  echo -e "About to run a command optimizing the download mirrors for Manjaro, using the five fastest detected mirrors"
  sudo pacman-mirrors -f 5 && sudo pacman -Syy
   clear
  echo -e "Mirrors have been optimized and updated, successfully "
  userPrompt
}

## Do not use 
function manjaroOptDBSpeed()
{
  clear
  echo -e "Attention: This command defragments Pacman's database, which boosts performance on slow hard drives but is harmful on SSDs. So, DO NOT use this command on SSDs! "
  userPrompt 

  sudo pacman-optimize && sync
  userPrompt

}
