## Declare Variables
mirrorlist=/etc/pacman.d/mirrorlist

# backup of original mirrorlist before my scripts do anything
# the idea of this vs .backup is you still have the original list you have that once backed up here, will not be touched at all
originalMirrorlist=/etc/pacman.d/mirrorlist.original

# backup file to be created "each time"
backupMirrorlist=/etc/pacman.d/mirrorlist.backup


###################################################################################################
### Backup section

## This could be for arch or Manjaro
function backupMirrorlist()
{
	clear
	fancy_message action "Backing up Mirror List"

	if [ -f ${originalMirrorlist} ]; then

		fancy_message info "${originalMirrorlist} already exists"

		# backup mirrorlist to a .backup file, that will be changing with each run
		fancy_message action "Making a backup of your current mirrorlist"
		sudo cp  ${mirrorlist} ${backupMirrorlist}
		fancy_message info "Your mirrorlist successfully backed up"

	elif [ ! -f ${originalMirrorlist} ]; then

		fancy_message info "${originalMirrorlist} DOES NOT exists"

		fancy_message action "Making a backup of your original mirrorlist"
		sudo cp ${mirrorlist} ${originalMirrorlist}
		fancy_message info "Your original Mirrorlist successfully backed up"

	else
		fancy_message error "Detecting mirrorlist info, during backup step"

	fi

	userPrompt

}

# End of the Backup Section
################################################################################

# this code was here already

function resetMirrorsArch() {

	# Backup current list (just in case)
	fancy_message action "Backing up current mirrors"
	sudo cp ${mirrorlist} /etc/pacman.d/mirrorlist.restoredfrom

	# retoring original list
	fancy_message action "Resetting to default Mirrors"
	sudo cp ${originalMirrorlist} ${mirrorlist}

}

# source: https://wiki.manjaro.org/index.php/Pacman-mirrors
function resetMirrorsManjaroOfficial() {
	fancy_message action "Resetting Manjaro Mirrors based on offical instructions on the Manjaro Wiki"
	sudo pacman-mirrors --country all --api --protocols all --set-branch stable && sudo pacman -Syyu
}

function resetMirrorsDistroCheck() {

	fancy_message action "Checking Arch vs Manjaro"

	# is this check overkill ?
	if [ "$distroBase" = "arch" ];then

		if [ "$isManjaro" = "true" ];then
			resetMirrorsManjaroOfficial
		else
			resetMirrorsArch
		fi

	else
		fancy_message info "this code is not made for your system"
	fi

	userPrompt
}


function resetMirrors()
{

	#prompt user to be sure
	clear
	echo "This will reset the original mirrorlist ... are you SURE you want to do this?"
	read -r -p  "Yes(reset)/No(Abort) " resetMirrorChoice

	case $resetMirrorChoice in

		[yY]|yes|YES) resetMirrorsDistroCheck ;;

		[nN]|no|NO)
			echo -e "nothing done, task aborted"
			return ;;

  		*) return ;;

  	esac


}

###################################################################################################
# Arch related

function optimizeArchMirrorsReflector()
{

	clear

	backupMirrorlist

	fancy_message action "About to Optimize Pacman Mirrors, while backing up the current mirror list"

	#a a check for rreflector and only install if not installed, should be here insstead

	installApp "reflector"

	if [ -f ${backupMirrorlist} ]; then
		sudo reflector --verbose --latest 20 --sort rate --save ${mirrorlist}

	elif [ -f  ${originalMirrorlist} ]; then
		sudo reflector --verbose --latest 20 --sort rate --save ${mirrorlist}

	fi

	# Force refresh
	sudo pacman -Syy

	fancy_message info "\nArch mirrors now optimized"
	userPrompt

}


function optimizeArchMirrorsRankMirror() {
	clear
	fancy_message action "About to Optimize Pacman Mirrors, while backing up the current mirror list"

	commandCheck "pacman-contrib"

	# Backups are done before this is called .. no need to have another backup mirrorlist call here
	if [ -f ${backupMirrorlist} ]; then
		sudo rankmirrors -v -n 6 "${backupMirrorlist}" | sudo tee "${mirrorlist}"

	elif [ -f ${originalMirrorlist} ]; then
		sudo rankmirrors -v -n 6 "${originalMirrorlist}" | sudo tee "${mirrorlist}"

	fi

	# Force refresh
	sudo pacman -Syy

	fancy_message info "\nArch mirrors now optimized"
	userPrompt


}

## End Arch Section
#######################################################################################

#######################################################################################
## Manjaro Related

# pacman-mirrors exclusive to manjaro it seems
# source: https://wiki.manjaro.org/index.php/Pacman-mirrors
function optimizeManjaroMirror() {
	clear
	fancy_message action "About to run a command optimizing the download mirrors for Manjaro"
	# --fasttrack OVERRIDES --geoip
	sudo pacman-mirrors --geoip && sudo pacman -Syy
	fancy_message info "Mirrors have been optimized and updated, successfully "
	fancy_message info "note: this does NOT run an actual update after the sync"
	userPrompt
}



## End Manjaro Section
#####################################################################################
