
#####################################################################
# App Image Related Code

function appImageExecutable() {
    clear

    # Dec 2022 TODO: maybe redo this menu ... this is the old way i was doing things 

    # Obviously an AppImage name has to be passed and it has to be exactly the same as the file name
    echo -e "\nDo You want to set $programTitle's AppImage, as executable"
    echo -e "If you selected 'no', you will have to do it manually to be able to run $programTitle's AppImage"
    echo -e "You can do this in your file mananger, right clicking and going to properties or from the terminal\n"
    
    read -r -p "Your Choice? (Y/N) " executableSelection

    case ${executableSelection} in

        [yY]|yes|YES)
            
            fancy_message action "Setting ${fileNameWEXT} to executable"
            sudo chmod +x ${downloaded_file}
            checkLastCommandStatus "${programTitle} AppImage, marked as executable" "error marking ${programTitle} as executable"

            ;;

        [nN]|no|NO) return ;;

        *) fancy_message warn "Invalid Selection" ;; 

    esac

    userPrompt
}