# decided to put custm stuff for ME, in it's own config file


# to install on most any system
function xmetalEssentialFP() {

	installFlatpakApp ${firefoxFP}
	installFlatpakApp ${hexchatFP}
	installFlatpakApp ${thunderbirdFP}
	installFlatpakApp ${firefoxFP}
	installFlatpakApp ${xnviewmpFP}
	installFlatpakApp ${celluloidFP}
	installFlatpakApp ${pavucontolFP}
	installFlatpakApp ${bitwardenFP}
	installFlatpakApp ${keepassxcFP}
	installFlatpakApp ${delugeFP}
	installFlatpakApp ${okularFP}
}

function xmetalExtrasFP() {
	installFlatpakApp ${aisleriotSolitaireFP}
	installFlatpakApp ${mediainfoFP}
	installFlatpakApp ${easytagFP}
	installFlatpakApp ${gitkrakenFP}
	installFlatpakApp ${vscodeFP}

}

function xmetalFlatpakMassInstall() {

	xmetalEssentialFP
	xmetalExtrasFP

}
