 # note to self: do not mix cases ... the app names should all be lowercase here

# Browsers
chromiumFP="org.chromium.Chromium"
ungoogledChromiumFP="com.github.Eloston.UngoogledChromium"
firefoxFP="org.mozilla.firefox"
librewolfFP="io.gitlab.librewolf-community"
braveFP="com.brave.Browser"

# Internet Related
filezillaFP="org.filezillaproject.Filezilla"
gpodderFP="org.gpodder.gpodder"
hexchatFP="io.github.Hexchat"
thunderbirdFP="org.mozilla.Thunderbird"

# torrent related
delugeFP="org.deluge_torrent.deluge"
qbittorrentFP="org.qbittorrent.qBittorrent"

# Graphics
figmaFP="io.github.Figma_Linux.figma_linux"
gimpFP="org.gimp.GIMP"
kritaFP="org.kde.krita"
pintaFP="com.github.PintaProject.Pinta"
shotwellFP="org.gnome.Shotwell"
xnviewmpFP="com.xnview.XnViewMP"

# Multimedia
handbrakeFP="fr.handbrake.ghb"
makemkvFP="com.makemkv.MakeMKV"
mediainfoFP="net.mediaarea.MediaInfo"
pavucontolFP="org.pulseaudio.pavucontrol"
pithosFP="io.github.Pithos"
soundconverterFP="org.soundconverter.SoundConverter"
soundjuicerFP="org.gnome.SoundJuicer"
## Media Players 
celluloidFP="io.github.celluloid_player.Celluloid"
spotifyFP="com.spotify.Client"
strawberryFP="org.strawberrymusicplayer.strawberry"
vlcFP="org.videolan.VLC"
##ID3 Tag related
easytagFP="org.gnome.EasyTAG"
picardFP="org.musicbrainz.Picard"

# Password Managers
bitwardenFP="com.bitwarden.desktop"
keepassxcFP="org.keepassxc.KeePassXC"

# coding related
atomFP="io.atom.Atom"
gitkrakenFP="com.axosoft.GitKraken"
vscodeFP="com.visualstudio.code"
vscodium="com.vscodium.codium"
microtexteditorFP="io.github.zyedidia.micro"

# System Tools
arkFP="org.kde.ark"
dconfeditorFP="ca.desrt.dconf-editor"
diskusageanalyzerFP="org.gnome.baobab"

patheontweaksFP="io.github.pantheon_tweaks.pantheon-tweaks"

#document viewer
okularFP="org.kde.okular"

# Various
aisleriotSolitaireFP="org.gnome.Aisleriot"
gnuoctaveFP="org.octave.Octave"


