# this file may be deletable when i fully switch DEB installs to using apt 

########################################################################
## Gdebi related

# function gdebi_check() {
#   	# checks for gdebi and installs it if needed
#     clear
#     fancy_message action "Checking for Gdebi for the install"
#     installApp "gdebi"
# 	sleep 1
# }


# this should get a URL passed to it
# Nov 2024: after the gdebi check .. what is the point? .. shouldn't my "universal" thirdparty function handle all that at once?
# function gdebiInstall() {
# 	# 1 - Checks for gdebi
# 	gdebi_check

# 	metaExternalDownload
# }

## End Gdebi related
###################################################################################
