## gets the version of gtk being used
function gtkVersionDetection() {

	case $distroBase in

		arch) gtkVersion=$(pacman -Qi gtk3 | awk ' /^Version/ { print $3 }') ;;

		ubuntu) ## What happens on XFCE/Xubuntu? .. isn't that still on Gtk2 only?
		gtkVersion=$(dpkg -s libgtk-3-0 | awk '/^Version/ {print $2}') ;;

		fedora)
		#gtkVersion=$( $gtk3Info | grep Version | cut -d : -f 2 | cut -d " " -f 2 )
		# rpm -qa | awk -F - '/^gtk3/ { print $2,$3 }' | sed 's/x86_64//g;s/fc[0-9*2]*//g'
		gtkVersion=$(rpm -qa | awk -F - '/^gtk3/ { print $2,$3 }' | sed 's/.fc*.*$//g' ) ;;

		opensuse)
		## UNCOMMENT if what is below (the rpm -qa line) DOESN'T WORK ... this command directly below, works
		# gtkVersion=$(zypper info gtk3-data | grep Version | cut -d : -f 2 | sed 's/\s//g')

		## IF this works on Opensuse ... combine the elif for Fedora and OpenSuse to cut down on code
		#gtkVersion=$(rpm -qa | grep "^gtk3-data" | sed 's/gtk3-data-//g;s/.noarch//g') ;;
		gtkVersion=$(rpm -qa | awk -F- '/^gtk3-data/ {print $3}') ;; 

		solus)
		gtkVersion=$(eopkg info libgtk-3 | awk ' /version/ {print $5}') 
		#gtkVersion=$(eopkg blame libgtk-3 | grep version: | cut -d , -f 2 | cut -d : -f 2) ;;
		;; 


	esac

}

## idea only
function gtkThemeInfo() {
	gtkTheme=$(gsettings list-recursively | awk '/theme name/ {print $3}' | tr -d \' )

	# debugging type echo
	#echo ${gtkTheme}
}