
function gtkVersionDetection()
{
  ## Fill this out as I go 

  # REALLY not happy with this var name ... but i will leave it for now 
  

  sortGTKVersion='grep Version | cut -d : -f 2 | sed s/\s//g '


  if [ "$distroBase" == 'arch' ]; then 
    gtkVersion=$(pacman -Qi gtk3 | awk ' /^Version/ { print $3 }')

  elif [ "$distroBase" == 'ubuntu' ]; then
    # I am testing this on 18.04 nightly ... not sure if this works on all ubuntu flavors/versions
    ## What happens on XFCE/Xubuntu? .. isn't that still on Gtk2 only? 
    gtkVersion=$(dpkg -s libgtk-3-0 | grep Version | cut -d ' ' -f2)

  # 100% test/guess atm 
  elif [ "$distroBase" == 'fedora' ]; then

    # What else do i need 
    gtkVersion=$(dnf list installed | grep gtk3)

  elif [ "$distroBase" == 'opensuse' ]; then
    gtkVersion=$(zypper info gtk3-data | grep Version | cut -d : -f 2 | sed 's/\s//g')

  elif [ "$distroBase" == "solus" ]; then
    gtkVersion=$(eopkg info libgtk-3 | awk ' /version/ {print $5}')


  fi 
}