## gets the version of gtk being used
function gtkVersionDetection() {
	gtkVersion=$(gtk-launch --version)
}


## idea only
function gtkThemeInfo() {
	gtkTheme=$(gsettings list-recursively | awk '/theme name/ {print $3}' | tr -d \' )

	# debugging type echo
	#echo ${gtkTheme}
}