## Functions if plasma 5 is detected as the DE 

## with new code from screenfetch ... this may be un-needed ... 

function getPlasmaInfo()
{
  
  getPlasmaInfoTestCode distroName
  
  # If Plasma 5 is detected, running
    if [ "$distroName" == 'ubuntu' ]; then

      ### plasma-desktop = KDE Plasma Version

      
      installedVerInfoUbuntu plasma-desktop
      # since extra processing is needed for "plasma-desktop", here
      plasmaDEVersion=$($installedPkgVer | sed 's/^.*4://g')

      ### plasma-framework = KDE Framework Version
      # since no extra processing is needed for "plasma-desktop", here
      plasmaFrameworkVersion=$($installedPkgVer)

    elif [ "$distroBase" == 'opensuse' ]; then

      #openSuse plasma-framework, and plasma5-desktop are the package names

      return 
    fi




  #### This appears to work in OpenSuse Plasma 5 and the Ubuntu base so this next command may be more DE specific than distro specific
  #qtversion=$(qtdiag | grep ^Qt | cut -d ' ' -f 2)



}

function displayPlasmaInfo()
{
  getPlasmaInfo

  clear
  echo -e "Plasma 5 info"
  echo
  echo -e "KDE Plasma Version: $plasmaDEVersion"

  echo
  echo -e "KDE Framework Version: $plasmaFrameworkVersion"
  echo
  echo -e "QT Version: $qtversion "
  echo
  userPrompt

}


function getPlasmaInfoTestCode()
{
  
  # WHY do I seemingly need this here? 
  ## Gets info about distro
  ## This is located in the f_distoCheck.cfg file
  
  #############################
  # Test 
  #echo -e "distroName:$distroName"
  #userPrompt
  ##############################

  return 
}
