## Functions if plasma 5 is detected as the DE

## with new code from screenfetch ... this may be un-needed ...

function getPlasmaInfo() {
    ## plasma-desktop = KDE Plasma Version
    ## plasma-framework = KDE Framework Version

	case ${distroBase} in

		ubuntu)
			plasmaDEVersion=$(plasmashell --version | awk ' { print $2 } ')
			plasmaFrameworkVersion=$()

			;;

			opensuse)

			#openSuse: plasma-framework, and plasma5-desktop are the package names

			return

			;;

			fedora)
				plasmaDEVersion=$(plasmashell --version)

				plasmaFrameworkVersion=$(rpm -qa |  awk -F- '/kf5-frameworkintegration-[0-9]/ { print $3 } ')

			;;

	esac

}

function displayPlasmaInfo() {
	getPlasmaInfo

	clear
	fancy_message info "Plasma 5 info\n"
	fancy_message info "KDE Plasma Version: ${plasmaDEVersion}\n"
	fancy_message info "KDE Framework Version: ${plasmaFrameworkVersion}\n"
	fancy_message info "QT Version: ${qtversion}\n"
	userPrompt

}

