# github: https://github.com/Jannomag/Yaru-Colors
# link: https://github.com/Jannomag/Yaru-Colors/releases/download/21.04snap/Yaru-Colors_21.04.zip


function installYaruColorTheme(){
    packageName="YaruTheming"
    packageURL="https://github.com/Jannomag/Yaru-Colors/releases/download/21.04snap/Yaru-Colors_21.04.zip"
    fileName=$(basename $packageURL)

    # for the meta function
    progName=$packageURL
    # ?? is packageName needed? 

    # change pwd 
    cd ~/Downloads

    echo -e "Downloading Yaru Color Theming" && wget -q $packageURL && echo -e "Unzipping" && unzip -qd $packageName $fileName

    cd $fileName && echo "Installing Yaru Color Theming" && install.sh

    read -p "pause"
}