# just an idea doing this in a function ...
function gitThemingExtract()
{
    ## ?? do i need to pass any vars or is this un-needed code?
    ## keep this here for now, assuming "yes"
    # $1 = gitRepoName
    # $2 = themeType - NEW var i just created in my head typing this
        # this will be "theme" or "icon"

    # Here the theme related git repo HAS been cloned

    case $themeType in

        icon)
            themeExtractDir="$iconHome"
            ;;

        theme)
            themeExtractDir="$themeHome"
            ;;

    esac

}



##############################################################################

# leave this here for now
# Aug 2021 idea:  when i get the WM detection up ... detect openbox and offer to install this when installing the arc theme
# when that happens/works  .... delete this function 

function gitThemesMenu
{

  x=1
  clear

  while [[ $x=1 ]]; do


      echo -e   "What Theme would you like to install?\n "
      echo -e   "1) \t Arc Theme and Icons Pack (includes Openbox Support)"

      echo -e   "M) \t Return to Main Menu"
      echo -e   "Q) \t Exit to Prompt\n\n"

      read -p "Your Choice?:" gitThemeSelection

      case $gitThemeSelection in

    1)
        # TODO: add universal call for the arc theme
        # function for OpenBox support
        gitArcOpenBox\
        echo "installed Arc"
        x=1
        ;;

    [mM]) bash "$rootdir"/xmetalLinuxScripts.sh
          ;;

    [qQ]) $commonFunctions
          quitScript
          ;;

      esac

  done
}
