# source: http://www.devpy.me/10-of-the-best-linux-themes-compared/

. $uniFunctionDir/tic/themes/includeThemeDir.cfg

# decided to split this out to "cleanup" the miscIcons and miscTheme (i NEED To convert that to snake_case too)
function install_elementary_icons() {
	
	# base icon pack package (in all distro bases i support) 
	fancy_message action "Installing Elementary Icon pack"
	$install elementary-icon-theme ;;
	
	case $distroBase in 
		debian|opensuse) $install elementary-xfce-icon-theme  ;;
	ecas 
}

function install_specific_icon_packs() {

	install_elementary_icons

	fancy_message action "Installing Papirus Icon theme"
	case $distroBase in
		fedora|opensuse) $install papirus-icon-theme ;;
	esac
	
	# for humanity-icon-theme
	fancy_message action "Installing Humanity Icon theme"
	case $distroBase in
		fedora|opensuse|ubuntu) $install humanity-icon-theme ;;
	esac

	# for ubuntu-mate-icon-theme
	# debian has "mate-icon-theme" which is more basic (think fedora mate) than Ubuntu Mate's 
	fancy_message action "Installing Ubuntu-Mate Icon theme"
	case $distroBase in
		opensuse|ubuntu) $install ubuntu-mate-icon-theme  ;;
	esac

	# for suru RELATED icon packs
	fancy_message action "Installing Suru RELATED Icon theme(s)"
	case $distroBase in
		fedora) $install suru-icon-theme ;;
		solus) $install suru-plus-icon-theme ;;
	esac

}

################################################################################
# The two Misc functions here are only for things in the default repos (though if different things are in different branches, that can be a pain )
## April 2026: this should be a sort of "catch all" though it can call other functions 
function miscIcons() {

	clear
	fancy_message action "Installing Various Icon Packs, not truly tied to a listed icon pack i have included elsewhere"

	# moved to another function during "cleanup"
	install_specific_icon_packs
	

	case $distroBase in

		fedora) $install cosmic-icon-theme pop-icon-theme numix-icon-theme ;;
		solus) $install surfn-arc-icon-theme yaru-icon-theme ;;
	esac


}


# End of Icon based functions 
######################################################################

######################################################################
# Start of Theme based functions 

function install_specific_theming() {

	# for materia-gtk-theme
	fancy_message action "Installing Materia theming "
	case $distroBase in
		arch|debian|fedora|solus|ubuntu) $install materia-gtk-theme ;;

		opensuse)

			# only for Tumbleweed
			if [[ "$openSUSEBranch" == "tumbleweed" ]]; then
				$install materia-gtk-theme
			fi
			;;
  	esac

	# for greybird RELATED themes
	fancy_message action "Installing Greybird RELATED theming "
	case $distroBase in

		debian) $install greybird-gtk-theme ;;
		fedora) $install greybird-dark-theme ;;

  	esac

}

function miscThemes() {
	clear
	fancy_message action "Installing Various Themes"

	install_specific_theming


	# "Catch all"
	case $distroBase in

		debian) $install bluebird-gtk-theme ;;
		solus) $install vertex-gtk-theme ;;
		ubuntu) $install shimmer-themes ;;

  	esac

}

## End of Misc theming section
####################################################################################

#########################################################################################
## Breeze

function breezeThemeMetaInstall() {

	fancy_message info "Not all options are available in all distro bases, installs happen, when available"
	userPrompt

	fancy_message action "Installing Breeze Meta packages"
	case $distroBase in
		opensuse) $install gtk2-metatheme-breeze gtk3-metatheme-breeze ;;
  	esac

	# for breeze gtk theming
	fancy_message action "Installing Breeze GTK theming"
	case $distroBase in
		debian|solus|ubuntu) $install breeze-gtk-theme ;;
		arch|fedora) $install breeze-gtk  ;;
  	esac

	# for (specifically) breeze-icon-theme
	fancy_message action "Installing Breeze Icons"
	case $distroBase in
		arch) $install breeze-icons ;;
		debian|fedora) $install breeze-icon-theme ;;
  	esac

	# ? will the gtk2- theme packs be removed soon?
	# "Catch-all"
  	case $distroBase in
		debian) $install breeze-cursor-theme ;;
  	esac

}

## End Breeze
########################################################################################

# tar extracts will not work unless these dir(s?) exist first .. 
# the idea is to call this to set anything up first 
function setupLocalThemingLocations() {

	[ ! -d $localIconsHome ] && echo "Creating .icons dir in ~/.icons" && mkdir $localIconsHome

	[ ! -d $localThemesHome ] && echo "Creating .themes dir in ~/.themes" && mkdir $localThemesHome

}
##############################################################################
function metaThemeInstall
{

	arcThemingMetaInstall
	adaptaThemeMetaInstall
	mintYThemingMetaInstall
	nunixThemingMetaInstall
	yaruThemeMetaInstall
	breezeThemeMetaInstall

	miscIcons
	miscThemes
}