# source: http://www.devpy.me/10-of-the-best-linux-themes-compared/

. $uniFunctionDir/tic/themes/includeThemeDir.cfg

################################################################################
# The two Misc functions here are only for things in the default repos (though if different things are in different branches, that can be a pain )
function miscIcons()
{

	clear
	fancy_message action "Installing Various Icon Packs, not truly tied to a listed icon pack i have included elsewhere "

	# for icon themes with the same names in multiple distros
	case $distroBase in
		fedora|opensuse) $install elementary-icon-theme humanity-icon-theme papirus-icon-theme ;;
	esac



	case $distroBase in

		arch) $install elementary-icon-theme ;;

		fedora) $install pop-icon-theme numix-icon-theme suru-icon-theme humanity-icon-theme ;;

		opensuse) $install fazenza-icon-theme ubuntu-mate-icon-theme elementary-xfce-icon-theme ;;

		solus) $install suru-plus-icon-theme surfn-arc-icon-theme elementary-icon-theme yaru-icon-theme ;;

		ubuntu) $install ubuntu-mate-icon-themes humanity-icon-theme bluebird-gtk-theme greybird-gtk-theme elementary-icon-theme ;;

	esac

}

function miscThemes()
{
	clear
	fancy_message action "Installing Various Themes"

	case $distroBase in

    arch|debian) $install materia-gtk-theme ;;

    fedora) $install pop-gtk-theme bluebird-gtk3-theme clearlooks-phenix-gtk3-theme greybird-gtk3-theme bluebird-gtk2-theme greybird-gtk2-theme adwaita-gtk2-theme clearlooks-phenix-gtk2-theme pop-gtk-theme ;;

    solus) $install materia-gtk-theme vertex-gtk-theme ;;

    ubuntu) $install shimmer-themes materia-gtk-theme ;;

  esac

}

## End of Misc theming section
####################################################################################

########################################################################################
## Yaru Theming

function yaruThemeMetaInstall()
{
  case $distroBase in

    arch)
		aurAppInstall yaru-gtk-theme
		aurAppInstall yaru-icon-theme
		aurAppInstall yaru-sound-theme
		;;

    debian) fancy_message info "Yaru theming info for Debian is not coded" ;;

    fedora) $install yaru-theme ;;

    opensuse) $install yaru-icon-theme gtk2-metatheme-yaru gtk3-metatheme-yaru;;

    solus) $install yaru-icon-theme ;;

    ubuntu) $install yaru-theme-icon yaru-theme-sound yaru-theme-gtk ;;

  esac

}


## End Yaru
########################################################################################

#########################################################################################
## Breeze

function breezeThemeMetaInstall()
{

  case $distroBase in

    arch) $install breeze-gtk breeze-icons ;;

    debian) $install breeze-gtk-theme breeze-icon-theme breeze-cursor-theme ;;

    fedora) $install breeze-gtk breeze-icon-theme ;;

    opensuse) $install gtk2-metatheme-breeze gtk3-metatheme-breeze ;;

    solus) $install breeze-gtk-theme ;;

    ubuntu) $install breeze-gtk-theme ;;

  esac

}

## End Breeze
########################################################################################


##############################################################################
function metaThemeInstall
{

	arcThemingMetaInstall
	adaptaThemeMetaInstall
	mintYThemingMetaInstall
	nunixThemingMetaInstall
	plataThemeMetaInstall
	yaruThemeMetaInstall
	breezeThemeMetaInstall

	miscIcons
	miscThemes
}