# source: http://www.devpy.me/10-of-the-best-linux-themes-compared/

. $uniFunctionDir/tic/themes/includeThemeDir.cfg

################################################################################
# The two Misc functions here are only for things in the default repos (though if different things are in different branches, that can be a pain )
function miscIcons() {

	clear
	fancy_message action "Installing Various Icon Packs, not truly tied to a listed icon pack i have included elsewhere "

	# for icon themes with the same names in multiple distros
	case $distroBase in
		fedora) $install elementary-icon-theme papirus-icon-theme ;;
		opensuse)  $install elementary-icon-theme humanity-icon-theme papirus-icon-theme ;;
	esac


	case $distroBase in

		arch) $install elementary-icon-theme ;;

		fedora) $install pop-icon-theme numix-icon-theme suru-icon-theme humanity-icon-theme ;;

		opensuse) $install fazenza-icon-theme ubuntu-mate-icon-theme elementary-xfce-icon-theme ;;

		solus) $install suru-plus-icon-theme surfn-arc-icon-theme elementary-icon-theme yaru-icon-theme ;;

		ubuntu) $install ubuntu-mate-icon-themes humanity-icon-theme elementary-icon-theme ;;

	esac

}

function miscThemes() {
	clear
	fancy_message action "Installing Various Themes"

	case $distroBase in

		arch) $install materia-gtk-theme ;;

		debian) $install materia-gtk-theme bluebird-gtk-theme greybird-gtk-theme ;;

		fedora) $install greybird-dark-theme ;;

		solus) $install materia-gtk-theme vertex-gtk-theme ;;

		ubuntu) $install shimmer-themes materia-gtk-theme ;;

  	esac

}

## End of Misc theming section
####################################################################################

#########################################################################################
## Breeze

function breezeThemeMetaInstall() {

  case $distroBase in

    arch) $install breeze-gtk breeze-icons ;;

    debian) $install breeze-gtk-theme breeze-icon-theme breeze-cursor-theme ;;

    fedora) $install breeze-gtk breeze-icon-theme ;;

    opensuse) $install gtk2-metatheme-breeze gtk3-metatheme-breeze ;;

    solus) $install breeze-gtk-theme ;;

    ubuntu) $install breeze-gtk-theme ;;

  esac

}

## End Breeze
########################################################################################

# tar extracts will not work unless these dir(s?) exist first .. 
# the idea is to call this to set anything up first 
function setupLocalThemingLocations() {

	[ ! -d $localIconsHome ] && echo "Creating .icons dir in ~/.icons" && mkdir $localIconsHome

	[ ! -d $localThemesHome ] && echo "Creating .themes dir in ~/.themes" && mkdir $localThemesHome

}
##############################################################################
function metaThemeInstall
{

	arcThemingMetaInstall
	adaptaThemeMetaInstall
	mintYThemingMetaInstall
	nunixThemingMetaInstall
	yaruThemeMetaInstall
	breezeThemeMetaInstall

	miscIcons
	miscThemes
}