fancy_message action "Loading main Git icon and theming config files"
. $git_theming_dir/f_git_themes.cfg
. $git_theming_dir/f_git_icons.cfg

fancy_message action "Loading Universal Theming file"
. $uni_theming_dir/f_universal_theming.cfg

fancy_message action "Loading Theme config files"
. $themes_dir/f_arc.cfg
# . $themes_dir/f_minty.cfg
. $themes_dir/f_numix.cfg
. $themes_dir/f_yaru.cfg

fancy_message "Loading VincelJuice Theming configs"
. $vj_git_theming_dir/include_vj_themes.cfg
