# ref: https://github.com/vinceliuice/Matcha-gtk-theme
# ref: https://github.com/vinceliuice/Matcha-kde

function install_matcha_theme() {

    # if Plasma, run seperate function
    case $DEName in

        KDE) repo_name="Matcha-kde" && return ;;
        *) repo_name="Matcha-gtk-theme" ;;
    esac

    git_install_vinceljuice_repo "$repo_name"
}
