# ref: https://github.com/vinceliuice/Orchis-theme
# ref: https://github.com/vinceliuice/Orchis-kde


function install_orchis_theme() {
    # if Plasma, run seperate function
    case $DEName in

        KDE) repo_name="Orchis-kde" && return ;;
        *) repo_name="Orchis-theme" ;;
    esac

    git_install_vinceljuice_repo "$repo_name"
}