# ref: https://github.com/vinceliuice/Mojave-gtk-theme
# ref: https://github.com/vinceliuice/McMojave-kde


# ref: https://github.com/vinceliuice/McMojave-circle
function install_mcmojave_icon_circle_theme() {
    repo_name="McMojave-circle"
    git_install_vinceljuice_repo "$repo_name"
}

# meta-theme (not for icon packs)
function install_mcmojave_theme() {
    # if Plasma, run seperate function
    case $DEName in

        KDE) repo_name="McMojave-kde" && return ;;
        *) repo_name="Mojave-gtk-theme" ;;
    esac

    git_install_vinceljuice_repo "$repo_name"
}
