# ref: https://github.com/vinceliuice/Vimix-kde
function install_vimix_plasma_plasma_theme() {
    repo_name="Vimix-kde"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/Vimix-cursors
