# ref: https://github.com/vinceliuice/Qogir-theme
# gtk
function install_qoqir_gtk_theme() {
    repo_name="Qogir-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/Qogir-icon-theme
function install_qoqir_icon_theme() {
    repo_name="Qogir-icon-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/Qogir-kde
function install_qoqir_plasma_theme() {
    repo_name="Qogir-kde"
    git_install_vinceljuice_repo "$repo_name"
}
