# (gtk) ref: https://github.com/vinceliuice/Qogir-theme
# ref: https://github.com/vinceliuice/Qogir-kde

# ref: https://github.com/vinceliuice/Qogir-icon-theme
function install_qoqir_icon_theme() {
    repo_name="Qogir-icon-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# meta-theme function
function install_qoqir_theme() {
    # if Plasma, run seperate function
    case $DEName in

        KDE) repo_name="Qogir-kde" && return ;;
        *) repo_name="Qogir-theme" ;;
    esac

    git_install_vinceljuice_repo "$repo_name"

}