# ref: https://github.com/vinceliuice/WhiteSur-gtk-theme
# ref: https://github.com/vinceliuice/WhiteSur-kde


# ref: https://github.com/vinceliuice/WhiteSur-icon-theme
function install_whitesur_icon_theme() {
    repo_name="WhiteSur-icon-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/WhiteSur-cursors
function install_whitesur_cursor_theme() {
    repo_name="WhiteSur-cursors"
    git_install_vinceljuice_repo "$repo_name"
}

# Meta Theme function
function install_whitesur_theme() {
    # if Plasma, run seperate function
    case $DEName in
        KDE) repo_name="WhiteSur-kde" && return ;;
        *) repo_name="WhiteSur-gtk-theme" ;;
    esac

    git_install_vinceljuice_repo "$repo_name"

}
