# ref: https://github.com/vinceliuice/McMojave-circle
function install_mcmojave_icon_circle_theme() {
    repo_name="McMojave-circle"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/McMojave-kde
function install_mcmojave_plasma_theme() {
    repo_name="McMojave-kde"
    git_install_vinceljuice_repo "$repo_name"
}