# ref: https://github.com/vinceliuice/Vimix-gtk-themes
# ref: https://github.com/vinceliuice/Vimix-kde

# ref: https://github.com/vinceliuice/Vimix-icon-theme
function install_vimix_icon_theme() {
    repo_name="Vimix-icon-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/Vimix-cursors
function install_vimix_cursor_theme() {
    repo_name="Vimix-cursors"
    git_install_vinceljuice_repo "$repo_name"
}


# Meta Theme Function
function install_vimix_theme() {
    # if Plasma, run seperate function
    case $DEName in

        KDE) repo_name="Vimix-kde" && return ;;
        *) repo_name="Vimix-kde" ;;
    esac

    git_install_vinceljuice_repo "$repo_name"
}