# ref: https://github.com/vinceliuice/Fluent-gtk-theme
# ref: https://github.com/vinceliuice/Fluent-kde

# ref: https://github.com/vinceliuice/Fluent-icon-theme
function install_fluent_icon_theme() {
    repo_name="Fluent-icon-theme"
    git_install_vinceljuice_repo "$repo_name"
}

function install_fluent_theme() {

    # if Plasma, run seperate function
    case $DEName in
        KDE) repo_name="Fluent-kde" && return ;;
        *) repo_name="Fluent-gtk-theme" ;;
    esac

    git_install_vinceljuice_repo "$repo_name"

}
