# ref: https://github.com/vinceliuice/WhiteSur-icon-theme
function install_whiteslur_icon_theme() {
    repo_name="WhiteSur-icon-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/WhiteSur-gtk-theme
function install_whitesur_gtk_theme() {
    repo_name="WhiteSur-gtk-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/WhiteSur-kde
function install_whitesur_plasma_theme() {
    repo_name="WhiteSur-kde"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/WhiteSur-cursors
