# for vinceliuice repos since most code is the same

function obtain_vj_theme_repo() {
    if [ -d "$target_dir/.git" ]; then
        fancy_message "Updating local git dir for $repo_name theme"
        cd "$target_dir" || return 1
        git pull
    else
        git clone "$git_repo" --depth=1 "$target_dir" || return 1
    fi

}

function git_vj_theme_install() {
    (
        fancy_message action "Installing $repo_name (defaults)"

        cd "$target_dir" || exit 1


        echo -e "Debug\npwd is $PWD\ntarget_dir:\t$target_dir"
        userPrompt
        ls
        userPrompt

        ./install.sh
    )
}

function git_vj_theme_install_cleanup() {
    fancy_message action "Cleaning up $target_dir"

    if [[ -n "$target_dir" && -d "$target_dir" ]]; then
        rm -rvf "$target_dir"
    fi


    fancy_message action "clearing variables"
    unset repo_name target_dir
}


#############################################################

# new idea .... to pass to functions ahove, based on the DE
function git_install_vinceljuice_repo() {

    local repo_name="$1"
    local repo_owner="vinceliuice"
    local git_repo="https://github.com/$repo_owner/$repo_name"
    local target_dir="$downloadDir/$repo_name"

    echo -e "debugging: in git_install_vinceljuice_repo with repo_name: $repo_name"
    userPrompt

    # gets the git repo onto the local systme
    obtain_vj_theme_repo "$repo_name" "$git_repo" "$target_dir"

    # installs the theme running the installl script in a sub-shell
    git_vj_theme_install "$repo_name" "$target_dir"

    # Runs cleanup
    git_vj_theme_install_cleanup "$target_dir"

    echo "at end of git_install_vinceljuice_repo function"
    userPrompt

}

function vj_no_icon_theme_available() {
    fancy_message warn "No VincelJuice icon theme is available for this option yet."
}

