# for vinceliuice repos since most code is the same
function git_install_vinceljuice_repo() {
    repo_owner="vinceliuice"

    git_repo="https://github.com/$repo_owner/$repo_name"

    # where is this downloaded?
    # also when i see into the repo_name what is the PWD before-hand
    git clone "$git_repo" --depth=1 && cd $repo_name

    fancy_message action "Installing $repo_name (defaults)"
    ./install.sh

}


# ? make a different one for plasma?
    # the idea is the same sort of thing, but a check for the Plasma DE inside

function git_install_vinceljuice_plasma_repo() {
    repo_owner="vinceliuice"

    git_repo="https://github.com/$repo_owner/$repo_name"

    # not sure i have this 100% correct var name wise ..
    ## i am pretty sure i need all caps for "KDE"
    # idea: "exit" function if not KDE
    [ "$DEName" != "KDE" ] && return

    # where is this downloaded?
    # also when i see into the repo_name what is the PWD before-hand
    git clone "$git_repo" --depth=1 && cd $repo_name

    fancy_message action "Installing $repo_name (defaults)"
    ./install.sh

}