# ref: https://github.com/vinceliuice/MacTahoe-gtk-theme
function install_mactahoe_gtk_theme() {
    repo_name="MacTahoe-gtk-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/Matcha-gtk-theme
function install_matcha_gtk_theme() {
    repo_name="Matcha-gtk-theme"
    git_install_vinceljuice_repo "$repo_name"
}

# ref: https://github.com/vinceliuice/Layan-gtk-theme
function install_layan_gtk_theme() {
    repo_name="Layan-gtk-theme"
    git_install_vinceljuice_repo "$repo_name"
}
