# the "utility" type functions for VJ's theming
fancy_message action "Loading VincelJuice 'utility' function config"
. $vj_git_theming_dir/f_git_vinceljuice_utilities.cfg

# the sort of catch-all theming files
# that are not in the specific group files
fancy_message action "Loading generic VincelJuice theming config files"
. $vj_git_theming_dir/f_git_vinceljuice_gtk.cfg
. $vj_git_theming_dir/f_git_vinceljuice_icons.cfg
. $vj_git_theming_dir/f_git_vinceljuice_plasma.cfg

fancy_message action "Loading specific VincelJuice theming config files"
. $vj_git_theming_dir/specific/include_specific_vj_themes.cfg