

##########################################################################################

function InstallLokiAdditions
{
		# Update System
		clear
		aptUpdate
		echo "Installing PPA Support, Gnome Tweak Tools, GDebi, and Synaptic"
	  userPrompt

    aptInstall software-common-properties synaptic gnome-tweak-tool gdebi

}

function addUMateDevPPA
{
      clear
      echo -p "Adding the Ubuntu Mate Dev(lopment) PPA"

      addPPA ppa:ubuntu-mate-dev/xenial-mate
      clear
      aptUpdate

}

#######################################################

## Suppose to be an AllInOne Function but with changes I have made this could get messy atm

function multimediaAppsInstall
{
			echo -e "Installing Multimedia Programs"

			aptUpdate
			aptInstall mpv audacious audacious-plugins mpv easytag vlc

			# Install Filebot
			installFilebot

			## Install Deadbeef
			installDeadBeef

}

# Use PPA on Ubuntu distros to get the newest stable version of mpv, not always in repos yet
function updatedPPAMPV
{
		# Source: https://launchpad.net/~mc3man/+archive/ubuntu/mpv-tests

		clear
		echo "Installing MPV Testing PPA "

		sudo add-apt-repository ppa:mc3man/mpv-tests
		aptUpdate
		sudo apt install mpv

}

######################################################################
## Office related items here

function RepoLibreOffice
{
    echo " Installing Libre Office via your distributions repository "
    sudo apt update
    clear

		sudo apt install libreoffice

		# Cleanup Needed

}

function PPALatestLibreOffice
{

  echo "Installing Libre Offices latest version via PPA "
  sudo add-apt-repository ppa:libreoffice/ppa
  sudo apt update
  clear

	sudo apt install libreoffice
  echo "Libre Office Installed via LibreOffice PPA"
  sleep 2

}

function installWPSOffice
{
		  clear
			echo -e "Installing WPS Office 10"
			wget http://kdl.cc.ksosoft.com/wps-community/download/a21/wps-office_10.1.0.5672~a21_amd64.deb

			sudo dpkg -i wps-office_10.1.0.5672~a21_amd64.deb

			# Cleanup
			rm wps-office*.deb
}
