
function audioRecorderUbuntu
{
	addPPA ppa:audio-recorder/ppa
	ubuntuUpdate && installApp audio-recorder 

}


# Use PPA on Ubuntu distros to get the newest stable version of mpv, not always in repos yet
function updatedPPAMPV
{
	# Source: https://launchpad.net/~mc3man/+archive/ubuntu/mpv-tests

	clear
	echo "Installing MPV Testing PPA "

	addPPA ppa:mc3man/mpv-tests

	# This is not found for some reason, when i do tests
	ubuntuUpdate

	# Install MPV
	installApp mpv

}

function updatedSMPlayer
{
	clear
	echo -e "Installing latest Smplayer from Official PPA"
	# Change to addPPA 
	addPPA ppa:rvm/smplayer
	ubuntuUpdate

	clear
	installApp smplayer smplayer-themes smplayer-skins
}

function makeMKVPPA
{
	addPPA ppa:heyarje/makemkv-beta
	ubuntuUpdate
	installApp makemkv-bin makemkv-oss
}


## Maybe put in Universal Software cfg file later 

function mediaElchInstall
{
	addPPA ppa:kvibes/mediaelch
	ubuntuUpdate
	installApp mediaelch
}
