function AddNoobslabPPA()
{
  addPPA ppa:noobslab/icons2 && addPPA ppa:noobslab/icons && addPPA ppa:noobslab/themes
}

function addLTSThemePPAs()
{
    addPPA ppa:ravefinity-project/ppa && addPPA ppa:moka/stable && addPPA  ppa:noobslab/nitrux-os && addPPA ppa:noobslab/potenza && addPPA ppa:noobslab/evolvere
}

##############################################################################
## Installing the actual themes, cursors or Icons

function ubuntuBudgieBackportsPackages()
{
	## Placeholder function to list things I may want to install from this PPA

	# evopop-gtk-theme
	#  ?? - materia-theme
	# paper-icon-theme
	# paper-gtk-theme
	return

}

function adaptaThemeInstall()
{
	# This actually adds the theme, after adding the PPA

	adaptaPPA

	echo -e "Installing Adapta theming"
	sudo apt install adapta-backgrounds adapta-gtk-theme


}


function solusTheming()
{

		## Note to self: with Solus 3.x+ I THINK Adapta is included so consider adding that
		## This should be another function call that is separate


 		echo -e "Adding the ACTUAL Theming"
  	installApp arc-firefox-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme vertex-theme

  	## Moka Icons ARE in the Noobslab PPA so I removed that here since that PPA supports more versions of Ubuntu's base anyway - FOR THIS should I add the addition of the Noobslab PPA here?

  	# I want to have arc-icons and arc-themes .. are these in default PPAs now?

  	# I think i made a mistake removing these themes/icons here ... EVEN if they are coming from a "better" repo, the point of this function is to download the themes, EVEN if that means they are coming from a non-Ubuntu Budgie PPA
}


#####################################################
# This is for 16.10 or ABOVE


function budgieTheme()
{
    # I need to install the Budgie Remix/ubuntu budgie repo first

    installApp arc-firefox-theme arc-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme moka-icon-theme vertex-theme
}

######################################################################################
function installPPAThemes()
{
    clear

    ## I am guessing these will not work the way i have it now since the functions i call below HAVE TO BE above this function

    addThemePPAs
    
    noobslabTheming

    clear

    echo -e "Installing the Ambiance, Radiance, Numix, Vertex, Moka, kawaiki, and Arc Themes via PPA"
    userPrompt

    ## Install Themes from PPAs Added
    installApp ambiance-colors radiance-colors moka-gtk-theme arc-icons vertex-icons kawaiki-icons arc-theme numix-icon-theme numix-icon-theme-circle numix-gtk-theme
    clear

}
