# For more possible options  http://www.ubuntubuzz.com/2016/11/list-of-ppa-repositories-for-ubuntu-16.04-xenial-xerus.html

function getDebsPPA
{
      wget -q -O - http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -
      sudo sh -c 'echo "deb http://archive.getdeb.net/ubuntu xenial-getdeb apps" >> /etc/apt/sources.list.d/getdeb.list'
      clear

      # Update Repo
      ubuntuUpgrade

}

function AddAppPPAs
{

    clear
    ## Add Application PPAs
    echo "Adding Application/Program PPA "
    universalAddRepo ppa:costales/anoise && universalAddRepo -y ppa:danielrichter2007/grub-customizer
    universalAddRepo ppa:gnumdk/lollypop && universalAddRepo -y ppa:heyarje/makemkv-beta && universalAddRepo ppa:kvibes/mediaelch
    universalAddRepo ppa:libreoffice/ppa && universalAddRepo -y ppa:linvinus/altyo && universalAddRepo ppa:nathandyer/vocal-daily
    universalAddRepo ppa:dimula73/krita && universalAddRepo -y ppa:peterlevi/ppa

    getDebsPPA

    ## addPPA ppa:peterlevi/ppa is for Variety
}

function getGamesPPA
{
    clear

    echo "Adding Gaming PPA from Getdebs.net"
    wget -q -O - http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -

    sudo sh -c 'echo "deb http://archive.getdeb.net/ubuntu xenial-getdeb games" >> /etc/apt/sources.list.d/getdeb.list'

    clear

}

function addThemePPAs
{
    clear

    echo "Adding Theme and Icon Pack, next ... Press [Enter] key to continue"
    read

    # Works on 14.04, 16.04, and 16.10
    universalAddRepo ppa:snwh/pulp && addPPA ppa:numix/ppa

    addLTSThemePPAs
    noobslabTheming

    userPrompt
    ubuntuUpdate

    
    echo  "PPAs/ Repositories added for Themes and Icons."
    userPrompt
    clear

}


function noobslabTheming
{
  universalAddRepo ppa:noobslab/icons2 && universalAddRepo ppa:noobslab/icons && universalAddRepo ppa:noobslab/themes
}

function addLTSThemePPAs
{
    universalAddRepo ppa:ravefinity-project/ppa && universalAddRepo ppa:moka/stable && universalAddRepo ppa:noobslab/nitrux-os && universalAddRepo ppa:noobslab/potenza && universalAddRepo ppa:noobslab/evolvere
}

function installPPAThemes
{
    clear
    addThemePPAs
    addLTSThemePPAs
    noobslabTheming

    clear


    echo -e "Installing the Ambiance, Radiance, Numix, Vertex, Moka, kawaiki, and Arc Themes via PPA"
    userPrompt

    ## Install Themes from PPAs Added
    installApp ambiance-colors radiance-colors moka-gtk-theme arc-icons vertex-icons kawaiki-icons arc-theme numix-icon-theme numix-icon-theme-circle numix-gtk-theme
    clear

}

#####################################################
# This is for 16.10 or ABOVE

function budgieRemixPPA
{
    universalAddRepo ppa:budgie-remix/ppa

    aptUpdate

}

function budgieTheme
{
    installApp arc-firefox-theme arc-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme moka-icon-theme vertex-theme
}

############################################

function addBriskMenuPPA
{

    # Checks should be in place to check your version of Ubuntu

    # Code itself 
    universalAddRepo ppa:flexiondotorg/brisk-menu
    sudo apt update
    sudo apt install mate-applet-brisk-menu


}
