# For more possible options  http://www.ubuntubuzz.com/2016/11/list-of-ppa-repositories-for-ubuntu-16.04-xenial-xerus.html


########################################
f_ubuntuThirdParty= . "$basedir"/tasks/functions/ubuntu/f_ubuntuThirdPartySources.cfg 
$f_ubuntuThirdParty

###########################################################

function addThemePPAs
{
    clear

    echo "Adding Theme and Icon Pack, next ... Press [Enter] key to continue"
    read

    # pulp repo - works on 14.04 through 17.10 
    # numix repo - works on 14.04 to 18.04 alpha 
    universalAddRepo ppa:snwh/pulp && addPPA ppa:numix/ppa



    addLTSThemePPAs
    noobslabTheming



    userPrompt
    ubuntuUpdate

    
    echo  "PPAs/ Repositories added for Themes and Icons."
    userPrompt
    clear

}


############################################

function addBriskMenuPPA
{

    # Checks should be in place to check your version of Ubuntu

    # Code itself 
    universalAddRepo ppa:flexiondotorg/brisk-menu
    sudo apt update
    sudo apt install mate-applet-brisk-menu

}

##############################################

function kubuntuBackportsPPA
{
    sudo add-apt-repository ppa:kubuntu-ppa/backports
    
    sudo apt-get update
}