
##########################################################################################

function InstallLokiAdditions
{
	 	## Check os-release file for if id="elementary" ... to make sure this is the distro detected


		# Update System
		clear
		ubuntuUpdate

		echo "Installing PPA Support, Gnome Tweak Tools, GDebi, and Synaptic"
	  userPrompt

    installApp software-common-properties synaptic gnome-tweak-tool gdebi

}

function addUMateDevPPA
{
	# Put check to make sure this is done only on Ubuntu mate


	clear
    echo -p "Adding the Ubuntu Mate Dev(lopment) PPA"

    addPPA ppa:ubuntu-mate-dev/xenial-mate
    clear
    ubuntuUpdate

}

#######################################################

## Suppose to be an AllInOne Function but with changes I have made this could get messy atm



# Use PPA on Ubuntu distros to get the newest stable version of mpv, not always in repos yet
function updatedPPAMPV
{
	# Source: https://launchpad.net/~mc3man/+archive/ubuntu/mpv-tests

	clear
	echo "Installing MPV Testing PPA "

	addPPA ppa:mc3man/mpv-tests

	# This is not found for some reason, when i do tests
	ubuntuUpdate


	# Install MPV
	installApp mpv

}

function multimediaAppsInstall
{
	echo -e "Installing Multimedia Programs"

	ubuntuUpdate
	installApp mpv audacious audacious-plugins mpv easytag vlc

	# Install Filebot
	installFilebot

	## Install Deadbeef
	installDeadBeef

	# Install MPV
	updatedPPAMPV

}



######################################################################
## Office related items here


function PPALatestLibreOffice
{

  echo "Installing Libre Offices latest version via PPA "
  sudo add-apt-repository ppa:libreoffice/ppa
  ubuntuUpdate

	sudo apt install libreoffice
  echo "Libre Office Installed via LibreOffice PPA"
  sleep 2

}


function gpartedFromSource
{
	echo -e "Make sure you have source packages enabled or this wil l not work"
	echo -e "I am seeing if i can add something to do this automatically"
	userPrompt


	## Reference: http://sourcedigit.com/19790-install-use-gparted-partition-manager-on-ubuntu-linux/

	clear
	echo -e "Installing build dependencies for Gparted"
	sudo apt-get build-dep gparted

	echo -e "Installing a few needed packages"
	sudo apt-get install git gnome-common

	echo -e "Getting source"
	git clone git://git.gnome.org/gparted
	cd gparted


	clearsudo add-apt-repository ppa:rvm/smplayer
	echo -e "Building Gparted from git source"

	./autogen.sh
	make

	clear
	echo -e "Installing Gparted that was just compiled"
	sudo make install


	## Code to Add Menu Entry
	sudo touch /usr/share/applications/gparted.desktop

}

function ukuuInstall
{
	sudo add-apt-repository ppa:teejee2008/ppa
	ubuntuUpdate && installApp ukuu

}


function setupLAMP
{
	installApp apache2 mysql-server php libapache2-mod-php

}

function updatedSMPlayer
{
	clear
	echo -e "Installing latest Smplayer from Official PPA"
	sudo add-apt-repository ppa:rvm/smplayer
	ubuntuUpdate

	clear
	installApp smplayer smplayer-themes smplayer-skins


}
