#####################################################

function ubuntuBudgieBackportsPackages
{
	## Placeholder function to list things I may want to install from this PPA 

	# evopop-gtk-theme
	#  ?? - materia-theme
	# paper-icon-theme
	# paper-gtk-theme
	return

}


function adaptaTheming
{
	# FOR NOW this will be a PPA ... in the future I may want to move this to the universal section for inclusion in other distros 

	## From PPA comments
	## https://launchpad.net/~tista/+archive/ubuntu/adapta

	### * Supported Xenial, Zesty, Artful and Bionic (Gtk+ 3.18.x or higher)

	sudo add-apt-repository ppa:tista/adapta
	sudo apt update
	clear

	echo -e "Installing Adapta theming"
	sudo apt install adapta-backgrounds adapta-gtk-theme


}




function solusTheming
{

	# Note to self: with Solus 3.x+ I THINK Adapta is included so consider adding that

 	echo -e "Adding the ACTUAL Theming"
  	installApp arc-firefox-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme vertex-theme

  	## Moka Icons ARE in the Noobslab PPA so I removed that here since that PPA supports more versions of Ubuntu's base anyway 

  	# I THINK the arc theme should be in Noobslab as well, so I will remove that here 


  	# I think i made a mistake removing these themes/icons here ... EVEN if they are coming from a "better" repo, the point of this function is to download the themes... I am guessing if there is a newer version in Noobslab's PPA, that will be the one that installs, by default anyway 
}



function installPPAThemes
{
    clear


    ## I am guessing these will not work the way i have it now since the functions i call below HAVE TO BE above this function 
    addThemePPAs


    addLTSThemePPAs


    noobslabTheming

    clear


    echo -e "Installing the Ambiance, Radiance, Numix, Vertex, Moka, kawaiki, and Arc Themes via PPA"
    userPrompt

    ## Install Themes from PPAs Added
    installApp ambiance-colors radiance-colors moka-gtk-theme arc-icons vertex-icons kawaiki-icons arc-theme numix-icon-theme numix-icon-theme-circle numix-gtk-theme
    clear

}


#####################################################
# This is for 16.10 or ABOVE


function budgieTheme
{
    # I need to install the Budgie Remix/ubuntu budgie repo first 

    installApp arc-firefox-theme arc-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme moka-icon-theme vertex-theme
}





