#####################################################
# This is for 16.10 or ABOVE

function budgieRemixPPA
{
  
  # PPA only supports xenial and Yakkety 

  echo -e "Adding PPA for Ubuntu Budgie (formerly Budgie Remix) and Refreshing repos"
  addPPA ppa:budgie-remix/ppa

  universalUpgrade

}

function ubuntuBudgieBackportsPPA
{
	## This MAY be the more updated/new/whatever version of the PPA I should use, vs Budgie-Remix 

	## Support Zesty and Artiful

	addPPA ppa:ubuntubudgie/backports
}

function ubuntuBudgieBackportsPackages
{
	## Placeholder function to list things I may want to install from this PPA 

	# evopop-gtk-theme
	#  ?? - materia-theme
	# paper-icon-theme
	# paper-gtk-theme
	return

}



function adaptaTheming
{
	# FOR NOW this will be a PPA ... in the future I may want to move this to the universal section for inclusion in other distros 

	## From PPA comments
	## https://launchpad.net/~tista/+archive/ubuntu/adapta

	### * Supported Xenial, Zesty, Artful and Bionic (Gtk+ 3.18.x or higher)

	sudo add-apt-repository ppa:tista/adapta
	sudo apt update
	clear

	echo -e "Installing Adapta theming"
	sudo apt install adapta-backgrounds adapta-gtk-theme


}




function solusTheming
{

	# Note to self: with Solus 3.x+ I THINK Adapta is included so consider adding that

 	echo -e "Adding the ACTUAL Theming"
  	installApp arc-firefox-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme vertex-theme





  	## Moka Icons ARE in the Noobslab PPA so I removed that here since that PPA supports more versions of Ubuntu's base anyway 

  	# I THINK the arc theme should be in Noobslab as well, so I will remove that here 


  	# I think i made a mistake removing these themes/icons here ... EVEN if they are coming from a "better" repo, the point of this function is to download the themes... I am guessing if there is a newer version in Noobslab's PPA, that will be the one that installs, by default anyway 
}


