# For more possible options  http://www.ubuntubuzz.com/2016/11/list-of-ppa-repositories-for-ubuntu-16.04-xenial-xerus.html


########################################
f_ubuntuThirdParty= . "$basedir"/tasks/functions/ubuntu/f_ubuntuThirdParty.cfg 
$f_ubuntuThirdParty

###########################################################
function installPPAThemes
{
    clear
    addThemePPAs
    addLTSThemePPAs
    noobslabTheming

    clear


    echo -e "Installing the Ambiance, Radiance, Numix, Vertex, Moka, kawaiki, and Arc Themes via PPA"
    userPrompt

    ## Install Themes from PPAs Added
    installApp ambiance-colors radiance-colors moka-gtk-theme arc-icons vertex-icons kawaiki-icons arc-theme numix-icon-theme numix-icon-theme-circle numix-gtk-theme
    clear

}


function addThemePPAs
{
    clear

    echo "Adding Theme and Icon Pack, next ... Press [Enter] key to continue"
    read

    # Works on 14.04, 16.04, and 16.10
    universalAddRepo ppa:snwh/pulp && addPPA ppa:numix/ppa

    addLTSThemePPAs
    noobslabTheming

    userPrompt
    ubuntuUpdate

    
    echo  "PPAs/ Repositories added for Themes and Icons."
    userPrompt
    clear

}


#####################################################
# This is for 16.10 or ABOVE

function budgieRemixPPA
{
    universalAddRepo ppa:budgie-remix/ppa

    aptUpdate

}

function budgieTheme
{
    installApp arc-firefox-theme arc-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme moka-icon-theme vertex-theme
}

############################################

function addBriskMenuPPA
{

    # Checks should be in place to check your version of Ubuntu

    # Code itself 
    universalAddRepo ppa:flexiondotorg/brisk-menu
    sudo apt update
    sudo apt install mate-applet-brisk-menu


}

##############################################

function kubuntuBackportsPPA
{
    sudo add-apt-repository ppa:kubuntu-ppa/backports
    
    sudo apt-get update



}