
function audioRecorderUbuntu
{
	sudo addPPA ppa:audio-recorder/ppa
	sudo apt update && sudo apt install audio-recorder 

}
# Use PPA on Ubuntu distros to get the newest stable version of mpv, not always in repos yet
function updatedPPAMPV
{
	# Source: https://launchpad.net/~mc3man/+archive/ubuntu/mpv-tests

	clear
	echo "Installing MPV Testing PPA "

	addPPA ppa:mc3man/mpv-tests

	# This is not found for some reason, when i do tests
	ubuntuUpdate


	# Install MPV
	installApp mpv

}

function updatedSMPlayer
{
	clear
	echo -e "Installing latest Smplayer from Official PPA"
	# Change to addPPA 
	sudo add-apt-repository ppa:rvm/smplayer
	ubuntuUpdate

	clear
	installApp smplayer smplayer-themes smplayer-skins

}

function makeMKVInstall
{
	sudo add-apt-repository ppa:heyarje/makemkv-beta
	sudo apt-get update
	sudo apt-get install makemkv-bin makemkv-oss

}




## Maybe put in Universal Software cfg file later 

function mediaElchInstall
{
	sudo add-apt-repository ppa:kvibes/mediaelch
	sudo apt-get update
	sudo apt-get install mediaelch

}
