## IDEA: remember to keep the adding the PPA and installing the app code seperate as I may just want to add a PPA and let the user add what packages they want FROM said-PPA on their own 


## PPAProgramName - The idea is that this is in double quotes and could be more than one thing (say "makemkv-oss makemkv-bin")... for the functions with all features ... $PPAProgramName gets passed ... so a universal "installApp $PPAPackageName" would be used 

## This function is likely not needed here and I have a function already done that is similar, though to reduce code below, I will do it here ... for now, anyway.

function addPPAFunction
{
	# $1 is the PPAName
	# $2 is the PPALink

	clear
	echo "Installing $1 PPA "

	sudo apt-add-repository $2

	# This is not found for some reason, when i do tests - this will be removed here anyway as I "template-afy" things
 	
 	ubuntuUpdate

}

#####################################

function PPAAudioRecorder
{

	PPAName="Audio Recorder"
	PPAProgramName=audio-recorder
	PPALink=ppa:audio-recorder/ppa

	addPPAFunction $PPAName $PPALink

	installApp $PPAProgramName


}


# Use PPA on Ubuntu distros to get the newest stable version of mpv, not always in repos yet
function PPAMPV
{
	# Source: https://launchpad.net/~mc3man/+archive/ubuntu/mpv-tests

	PPAName=MPV
	PPAProgramName=mpv
	PPALink=ppa:mc3man/mpv-tests

	addPPAFunction $PPAName $PPALink

	# Install MPV
	installApp $PPAProgramName

}

function PPASMPlayer
{
	PPAName=SMPlayer 
	PPAProgramName="smplayer smplayer-themes smplayer-skins"
	PPALink=ppa:rvm/smplayer

	addPPAFunction $PPAName $PPALink
	
	installApp $PPAProgramName
}

function PPAmakeMKV
{
	PPAName=MakeMKV
	PPAProgramName="makemkv-bin makemkv-oss"
	PPALink=ppa:heyarje/makemkv-beta

	addPPAFunction $PPAName $PPALink

	installApp $PPAProgramName
}
