
. common.conf

#################################################
# Functions 

function dupZypper
{
    clear
    # 1 - Upgrade
    echo "Starting Tumbleweed Distrobution upgrade"
    sudo zypper dup
    echo "Tumbleweed Upgrde Done"
    prompB4proceeding
}


function installVSCode 
{

    #  Install vscode via RPM 
    echo "Installing vscode via RPM "

    sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc

    sudo zypper refresh
    $localInstall code 
    echo "vscode Installed"
    prompB4proceeding

}

function pacmanRepo
{
    # 2 - Add Pacman Repo 
    echo "Adding Pacman Repo"
    $addRepo http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Tumbleweed/
    echo "Some multimedia related notes say to 1. Add Pacman and then switch to that (priority) repo "
    prompB4proceeding
    ####################

}

function installCodecs
{
    sudo zypper install x264 libx265-130 libx264-148

}

## Software I use 
function installCommonSoftware
{
    # Install software 
    $zypperInstall $software

    installVSCode

}

function mintThemeInstall
{
    sudo zypper install metatheme-mint-common
}
