
. common.conf

#################################################
# Functions 

function dupZypper
{
    clear
    # 1 - Upgrade
    echo "Starting Tumbleweed Distrobution upgrade"
    sudo zypper dup
    prompB4proceeding
    echo "Tumbleweed Upgrde Done"
}   


function installVSCode 
{

    #  Install vscode via RPM 
    echo "Installing vscode via RPM "

    sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc

    sudo zypper refresh
    $localInstall code 
    echo "vscode Installed"
    prompB4proceeding

}

function pacmanRepo
{
    # Add Pacman Repo 
    echo "Adding Pacman Repo"
    $addRepo http://download.opensuse.org/repositories/X11:/Cinnamon:/Current/openSUSE_Tumbleweed/
    echo "Some multimedia related notes say to 1. Add Pacman and then switch to that (priority) repo "
    prompB4proceeding

    echo "Packman Repo Added"
    ####################

}

function installCodecs
{
    susudo zypper install ffmpeg lame gstreamer-plugins-bad gstreamer-plugins-ugly gstreamer-plugins-ugly-orig-addon gstreamer-plugins-libav vlc-codecsdo zypper install x264

}

## Software I use 
function installCommonSoftware
{
    # Install software 
    $zypperInstall $software

    installVSCode

}


function mintThemeInstall
{
    sudo zypper install metatheme-mint-common
}
