########################################################################
## Gdebi related

# function gdebi_check() {
#   	# checks for gdebi and installs it if needed
#     clear
#     fancy_message action "Checking for Gdebi for the install"
#     installApp "gdebi"
# 	sleep 1
# }


# this should get a URL passed to it
# Nov 2024: after the gdebi check .. what is the point? .. shouldn't my "universal" thirdparty function handle all that at once?
# function gdebiInstall() {
# 	# 1 - Checks for gdebi
# 	gdebi_check

	metaExternalDownload
}

## End Gdebi related
###################################################################################

# June 2024: did i ever test this?
# installs DEB file via apt commnd
function aptInstallDEB () {
	fancy_message action "Installing ${programName} DEB"

	# idea: to surpress the notice about _apt, the DEB and sandboxing, but it sends it to a file
	$install ${downloadedFile} 2>> apt.txt

	checkLastCommandStatus "${programName} installed successfully" "Error occured when installing ${programName}"
}

# function to check if deb-get is installed and if so installs select packages that way (sometimes easier since some things are not in default repos )
function deb_get_install() {
	# where is this var set ?
		# this is checked when Ubuntu is detected (?? Debian supported)
	if [ ${debgetInstalled} == "yes" ]; then
		fancy_message action "installing ${programName}, with deb-get"
		deb-get install ${programName}
	else
 		fancy_message info "deb-get not detected as installed, installing via other methods"
		gdebiInstall $1
	fi

	userPrompt
}