########################################################################
## Gdebi related

# function gdebi_check() {
#   	# checks for gdebi and installs it if needed
#     clear
#     fancy_message action "Checking for Gdebi for the install"
#     installApp "gdebi"
# 	sleep 1
# }


# this should get a URL passed to it
# Nov 2024: after the gdebi check .. what is the point? .. shouldn't my "universal" thirdparty function handle all that at once?
# function gdebiInstall() {
# 	# 1 - Checks for gdebi
# 	gdebi_check

# 	metaExternalDownload
# }

## End Gdebi related
###################################################################################

# installs DEB file via apt commnd
# remember ... the deb has to be 
 ## A) the full path to the DEB
 ## B) if in the PWD .. "apt install ./foobar.deb"
	### "apt install foobar.deb" will result in apt thinking the deb is 
	### from the active repos 

# * takes programURL 
function aptInstallDEB () {

	# Step 1 
	# Download the DEB (message not here since i am sure i have one in this download_file function)
	# I think the code should download it into ~/Downloads
	download_file ${programURL}

	# Step 2 
	# Install the deb using apt 
	fancy_message action "Installing ${programName} DEB"

	# Step 2 - A - Check to see if the DEB actually exists 
	# Step 2 - B - use apt to install the DEB
	sudo apt install ${downloadDir}/${fileNameWEXT}

	# Sept 2025: note to self: this step is not needed but i just dont want to remove it yet 
		## it is leftover from the old way 
	# idea: to surpress the notice about _apt, the DEB and sandboxing, but it sends it to a file
	# $install ${downloadedFile} 2>> apt.txt

	checkLastCommandStatus "${programName} installed successfully" "Error occured when installing ${programName}"

	# ? - DEB cleanup/removal here?
}


# Deb-get is from Wimpy who was behind Ubuntu Mate and was in charge of 
# Ubuntu, for a bit if i am not mistaken 

# function to check if deb-get is installed and if so installs select packages that way (sometimes easier since some things are not in default repos )
function deb_get_install() {
	# where is this var set ?
		# this is checked when Ubuntu is detected (?? Debian supported)
	if [ ${debgetInstalled} == "yes" ]; then
		fancy_message action "installing ${programName}, with deb-get"
		deb-get install ${programName}
	else
 		fancy_message info "deb-get not detected as installed, installing via other methods"
		gdebiInstall $1
	fi

	userPrompt
}