[Desktop Entry]
Type=Application
Name=Dead Beef
Terminal=false
Comment=Dead Beef Media Player 
GenericName=deadbeef
Categories=AudioVideo;Video;
Icon=//home/xmetal/Programs/deadbeef/deadbeef.svg
Exec=//home/xmetal/Programs/deadbeef/deadbeef.sh