[Desktop Entry]
Type=Application
Name=Media Elch
Terminal=false
Comment=Media Elch Media Organizer
GenericName=mediaElch
Categories=AudioVideo;Video;
