[Desktop Entry]
Encoding=UTF-8
Exec=/home/$USER/tinyMediaManager/tinyMediaManager.sh
Icon=/home/$USER/tinyMediaManager/tmm.png
Type=Application
Terminal=false
Comment=Tiny Media Manager Media Organizer
Name=Tiny Media Manager
GenericName=tinyMediaManager
StartupNotify=false
Categories=Video;
