[Desktop Entry]
Type=Application
Terminal=false
Comment=XnViewMP Image Editor/Organizer/Viewer
Name=XnViewMP
GenericName=xnviewmp
StartupNotify=false
Categories=Graphics;
