[Desktop Entry]
Type=Application
Terminal=false
Comment=XnViewMP
Name=XnViewMP
GenericName=xnviewmp
StartupNotify=false
Categories=Graphics;
Icon=//home/xmetal/Programs/XNViewMP/xnview.png
Exec=//home/xmetal/Programs/XNViewMP//home/xmetal/Programs/XNViewMP/xnview.sh
