variables= . "$rootdir"/tasks/functions/f_variables.cfg
$variables


distroCheck= . "$rootdir"/tasks/functions/f_distroCheck.cfg
$distroCheck


# EOL info for distros stored in variables 
eolInfo= . "$rootdir"/tasks/functions/support/distroEOL.cfg
$eolInfo


##############################################################################

## Trying, this task as a variable 
removeQuotesVar='sed s/\"//g"'




function quitScript
{
    clear
    echo "Goodbye"
    exit
}


function invalidSection
{
    echo "invalid selection "
    sleep 2s
    x=1
}


function extractTar
{
   tar -zxvf  %1
}

function userPrompt
{
  read -p "Press [Enter] to continue "
}


# git Download function to download from git repos 
function gitDL
{
    stripFileInfo

    git clone $1
    echo -e "File Variable is now ${file}"
    userPrompt

    cd $file

    pwd
    userPrompt

}

function stripFileInfo
{
  # This is in Testing mode

  # get a URL from the theme function
  url=$1

  filename=${url##*/}

  # Filename by itself
  file=${filename%%.*}

  extonly=${filename#*.}

  # Strip Numbers and Periods
  extfinal=`echo "$extonly" | sed 's/[0-9]*//g;s/\.//g' `

}

###################################

## Putting this here ... for now anyway

### Setup Git on ubuntu based repos.  This may be a newer version then is in repos 
function setupGitUbuntu
{
  addPPA ppa:git-core/ppa


  ## Change the update lines, down the line
  sudo apt-get update
  

  installApp build-essential libssl-dev libcurl4-gnutls-dev libexpat1-dev gettext unzip git-all

}

function setupGit
{
    // Separating this since this can be used on any distro

      ## SETUP GIT
      # Ask and read in name from user
      git config --global user.name "$userName"

      # Ask and read in email from user
      git config --global user.email "$userEmail"

}

## Not really sure what this fuction does but i am keeping it - just in case, for now 
function stripName
{

  strippedName="${prettyname#\"PRETTY_NAME=\"}"

  # remove quotations AND periods

  ## Commenting out, for debugging 
  # finalStrippedName=`echo "$strippedName" | sed 's/\"//g;s/\.//g' `

  echo "$finalStrippedName"

  userPrompt

}

########################################################
function mainDisplayDistroInfo 
{
  
  echo -e "The base of your distro, appears to be: \t\t\t $distroBase "
  
  echo -e "The Distro you seem to be on is: \t $id"

  echo -e "Your version, appears to be: \t\t\t\t\t $lsbDescription"
  
  echo -e "Your Active Kernel: \t\t\t $kernel"


  # For Space
  echo 
  echo 
}
