postInstallsDir="$rootdir"/postInstalls
themeDir="$rootdir"/tasks/themes

## Variables
themeHome=~/.themes
iconHome=~/.icons


function quitScript
{
    clear
    echo "Goodbye"
    exit
}


function invalidSection
{
    echo "invalid selection "
    sleep 2s
    x=1
}

function checkDistro
{
    osrelease="$(grep 'ID_LIKE' /etc/os-release)"

    distro2=${osrelease#"ID_LIKE="}


     if [ "${distro}" == 'ubuntu' ]; then
          distro=Ubuntu
     elif [ "${distro}" == 'fedora' ]; then
          distro=Fedora
     elif [ "${distro}" == 'opennsuse' ]; then
          distro=Opensuse
     elif [ "${distro}" == 'arch' ]; then
        distro=Arch
     else
        echo "Tarball download and installs coming soon"
    fi

}


function extractTar
{
   tar -zxvf  %1
}

function userPrompt
{

  read -p "Press [Enter] to continue "
}

function gitDL
{
    stripFileInfo

    git clone $1
    echo -e "File Variable is now ${file}"
    userPrompt


    cd $file

    pwd
    userPrompt


}

function stripFileInfo
{
    #This is in Testing mode

  # get a URL from the theme function
  url=$1

  url2=${url}

  clear
  # Display Test for the full URl
  #echo -e "\n\nFull URL is:\t $url2"

  filename=${url2##*/}

  # Display Test for Total file Extension
  #echo -e "\nTotal Filename is:\t $filename"

  # Filename by itself
  file=${filename%%.*}
  #echo -e "Filename by itself: \t $file"

  extonly=${filename#*.}

  # Strip Numbers
  extnonum=`echo "$extonly" | sed 's/[0-9]*//g' `

  # Strip Periods
  extfinal=`echo "$extnonum" | sed 's/\.//g' `

  ## Display Test for final output
  #echo -e "Final Extension for test loop:\t $extfinal"

}
