postInstallsDir="$rootdir"/postInstalls
themeDir="$rootdir"/tasks/themes

Packages= . "$rootdir"/tasks/functions/f_packageManager.cfg
$Packages

distroCheck= . "$rootdir"/tasks/functions/f_distroCheck.cfg
$distroCheck

## Variables
themeHome=~/.themes
iconHome=~/.icons




###########################################################
### For the idea of a universal extra software function
usefulApps="filezilla deadbeef mpv geany hexchat atom pidgin pinta"

function installUsefulApps
{

    # ???  - How to handle stuff not in default repos, like Atom in OpenSuse where zypper would be no use

    # ?? - How to handle Submenus ? I think I should still have them but this idea would be for a batch install
		#  "method" (? my phrasing there)


    # distro ==Arch
        archPacInstall $usefulApps

    # distro ==Fedora
        fedoraInstall $usefulApps

    # distro == OpenSuse
        suseInstall $usefulApps

    # distro == Ubuntu
        aptInstall $usefulApps

}



##############################################################################
function quitScript
{
    clear
    echo "Goodbye"
    exit
}


function invalidSection
{
    echo "invalid selection "
    sleep 2s
    x=1
}



function extractTar
{
   tar -zxvf  %1
}

function userPrompt
{
  read -p "Press [Enter] to continue "
}

function gitDL
{
    stripFileInfo

    git clone $1
    echo -e "File Variable is now ${file}"
    userPrompt

    cd $file

    pwd
    userPrompt

}

function stripFileInfo
{
    # This is in Testing mode

  # get a URL from the theme function
  url=$1

  url2=${url}

  clear

  filename=${url2##*/}

  # Filename by itself
  file=${filename%%.*}

  extonly=${filename#*.}

  # Strip Numbers and Periods
  extfinal=`echo "$extonly" | sed 's/[0-9]*//g;s/\.//g' `

}

#   finalStrippedName=`echo "$strippedName" | sed 's/\"//g;s/\.//g' `
