function getPlasmaInfo
{
  # If Plasma 5 is detected, running 
    if [ "$distroName" == 'ubuntu' ]; then 

      ### plasma-desktop = KDE Plasma Version
      plasmaDEVersion=`apt-cache policy plasma-desktop | grep Installed | cut -d ' ' -f4 | sed 's/4://g' `
      
      ### plasma-framework = KDE Framework Version 
      plasmaFrameworkVersion=`apt-cache policy plasma-framework | grep Installed | cut -d ' ' -f4 | sed 's/4://g' `
      echo -e "Filler so bash doesn't give errors "

    elif [ "$distroBase" == 'opensuse' ]; then
      echo -e "Filler so bash doesn't give errors " 
      #openSuse plasma-framework, and plasma5-desktop are the package names 
    fi

  ### qtdiag | grep ^Qt | cut -d ' ' -f2     = QT Version
  #### This appears to work in OpenSuse Plasma 5 and the Ubuntu base so this next command may be more DE specific than distro specific 
  
  qtversion=`qtdiag | grep ^Qt | cut -d ' ' -f 2`

}


function getDesktopInfo
{
  
  ## Check to see if 'inxi' is installed first 

  #desktopNoVersionInfo=`inxi -S | grep Desktop | cut -d ':' -f 2 | sed 's/Distro//g;s/^\  //g' | cut -d '(' -f 1 `

  removeStartSpace='sed s///g'

  ## This may be better as it doesn't get thrown off if the # of components/spaces are different 
  # From Spotchat and zcot = inxi -S | grep -o -P '(?<=Desktop:).*(?=Distro)'
  
  desktopName=$(inxi -S | grep -o -P '(?<=Desktop:).*(?=Distro)' | cut -d ' ' -f 2 ) 
  desktopNameWVersion=$(inxi -S | grep -o -P '(?<=Desktop:).*(?=Distro)') 

  ## What I came up with before zcot's line 
  # desktopName=$(inxi -S | grep Desktop | cut -d " " -f 13)

  
}
