getinfo= . "$basedir"/tasks/functions/f_getInfo.cfg
$getinfo

DEinfo= . "$basedir"/tasks/functions/f_DEInfo.cfg
$DEinfo

##########################################
fedoraCheck= . "$rootdir"/tasks/functions/check/f_fedoraSupportCheck.cfg
$fedoraCheck 

opensuseCheck= . "$rootdir"/tasks/functions/check/f_openSuseCheck.cfg
$opensuseCheck 

ubuntuCheck= . "$rootdir"/tasks/functions/check/f_ubuntuSupportCheck.cfg
$ubuntuCheck 

rollingCheck= . "$rootdir"/tasks/functions/check/f_rollingCheck.cfg
$rollingCheck 
##################################################

## What is the point of this IF the EOL checks are done in each sub-section 
function universalEOLCheck
{ 

  eolFedoraCheck  
  #EOL OpenSuse Check goes here 

  EOLUbuntuCheck

}

function completeDistroCheck
{

  # Gets info from /etc/os-release file
  osreleaseInfo

  # Various more specific checks
  archCheck
  fedoraSupportCheck
  openSuseCheck
  solusCheck
  ubuntuCheck


  ## Location of function: f_getinfo.cfg 
  checkSupportStatus $supported

}