distroVersion="$(cat /etc/os-release | grep PRETTY_NAME)"


function osreleaseInfo
{
    osrelease="$(grep 'ID_LIKE' /etc/os-release)"

    idlike=${osrelease#"ID_LIKE="}
    id=${osrelease#"ID="}
    versionid=$(osrelease#VERSION_ID="}
    version=$(osrelease#VERSION="}

    ubuntuName=${osrelease#"UBUNTU_CODENAME="}


    ## I need to run checks based on this info 

}

################################
function completeDistroCheck
{
  
  # Pass to idCheck

}

function idCheck
{
  if [ "${id}" == 'arch' ]; then
    distro="arch"

  elif [ "${id}" == 'fedora' ]; then
    distro="fedora"

  elif [ "${id}" == 'opennsuse' ]; then
    distro="suse"       

  elif [ "${id}" == 'ubuntu' ]; then
    distro="ubuntu"


  else
    echo "FILLER TEXT FOR NOW ... "
  fi


}



function fedoraCheck
{
  


}


function openSuseCheck
{
  # If idlike="suse" (with quotes?) then distro=opensuse 
  
  # else EXIT this function 



  ## Check for branch here 
    ### name for TW is - name="openSUSE Tumbleweed" 

}

function ubuntuCheck
{
  ## if id=ubuntu (no quotes), then distroBase=ubuntu 


  ## if distroBase is NOT ubuntu, exit this function 

   ### Example versionid="17.10"

}



################################################################
function stripName
{

      ## This function's point is to get PRETTY_NAME
			prettyname="$(grep 'PRETTY_NAME' /etc/os-release)"

			strippedName="${prettyname#"PRETTY_NAME="}"

      # remove quotations AND periods
      finalStrippedName=`echo "$strippedName" | sed 's/\"//g;s/\.//g' `

      echo "$finalStrippedName"

      userPrompt

}


## Test from a post on Github
### lsb_release -ds | sed 's/^\"//g;s/\"$//g'
