function UpdateFedora
{
    clear
		echo "Upgrading Fedora to latest packages"
		read -p "Press a Key to continue "
		sudo dnf upgrade

		clear
		return
}

function InstallFedy
{

	echo "installing Fedy"
	# Instructions for fedy found via http://folkswithhats.org/
	bash -c 'su -c "curl http://folkswithhats.org/fedy-installer -o fedy-installer && chmod +x fedy-installer && ./fedy-installer"'

}

function AddRPMFusion
{

	# Add RPM Fusion repos
	echo "Adding BOTH RPM free and non-free Repos"
	su -c 'dnf install http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm'

}

function InstallExtraSoftware
{
  clear 
  echo "Add Extra software"
  echo -e "Software including: Hexchat, mpv, audacious and filezilla" 
  read -p "Press any key to continue, or Control + Z to exit script" 
  sudo dnf install hexchat mpv audacious audacious-plugins filezilla

}


function fedoraAddArcTheme
{
  sudo dnf install gtk-murrine-engine

  echo "Install Arc Repo "

  sudo dnf config-manager --add-repo http://download.opensuse.org/repositories/home:Horst3180/Fedora_24/home:Horst3180.repo
  sudo dnf install arc-theme

}
