#f_getInfo.cfg 

function osreleaseInfo
{
  

  ## Remove any quotes that may appear in the results = the sed command 
  ## Removes everything before the equals sign = the cut command 
  
  cleanupReleaseInfo=${cut -d = -f 2 | sed s/\"//g}

  osrelease="cat /etc/os-release"

  name=$($osrelease | grep ^NAME= | $cleanupReleaseInfo)
  
  idlike=$($osrelease  | grep ^ID_LIKE= | $cleanupReleaseInfo)
  
  id=$($osrelease | grep ^ID= | $cleanupReleaseInfo)
  
  versionid=$($osrelease | grep VERSION_ID= | $cleanupReleaseInfo)
  
  version=$($osrelease | grep ^VERSION= | $cleanupReleaseInfo)
  
  # Consider this to the Ubuntu specific check function
  ubuntuName=$($osrelease | grep ^UBUNTU_CODENAME= | $cleanupReleaseInfo)

  # Function call to get info about Desktop (DE) being ran 
  getDesktopInfo

}

################################################################

function checkSupportStatus
{
  
  ## This is for any distro
  if [ "$supported" == 'yes' ]; then
    universalEOLCheck

    echo -e "The version of Linux you are currently on, ${bold}IS still ${normal}supported"
  

    echo -e "The End of your distro/version's support is: ${bold}\t $EOL ${normal}"
  else
    echo -e "The version of Linux you are currently on, is no longer supported."
  fi 


  if [ "$rollingrelease" == 'yes' ]; then
    echo -e "You seem to be on a ${bold} Rolling Release${normal}"
    echo -e "PLEASE NOTE: that if you HAVEN'T updated in awhile, things can break with a bulk update, sometimes"
    echo
    echo -e "At this time I can not detect when the last time you updated.  Just note that if you haven't updated in awhile and do a ton of updates at once, things may get broken on some rolling releases."
    
  fi 

}

################################################################


function lsbreleaseCheck
{
 
  lsbreleaseCut='cut -d = -f 2'


  lsbDescription='$lsb_release | grep DISTRIB_DESCRIPTION | $lsbreleaseCut'

  lsbRelease='$lsb_release | grep DISTRIB_RELEASE | $lsbreleaseCut'

  lsbCodename='$lsb_release | grep DISTRIB_CODENAME | $lsbreleaseCut'

  lsbDistribID='$lsb_release | grep DISTRIB_ID | $lsbreleaseCut'

}


