################################################################################################

function mainArchMenu
{

	. $functionsdir/arch/f_arch.cfg
	. $functionsdir/arch/f_manjaro.cfg

	###############################################################################
	x=1

	while [[ $x=1 ]]; do

		clear
		echo -e "Xmetal's Arch Linux based,  Post-Installation Script \n"
		echo -e "Please NOTE: Many of these tasks are predone on distros such as Antergos or Manjaro \n\n"
		echo -e "In some installs like Anarchy Linux's, they are also done already, if you installed that way"
		echo 
		echo -e "Please Select task: \n"

		echo -e 	"1.\t ${bold}[Sub-Menu] Manjaro specific${completeReset}"
		echo -e 	"2.\t Optimize Mirrors"
		echo -e 	"3.\t Add Yaourt"
		echo -e 	"4.\t Add Sound Support"
		echo -e  	"5.\t Adds Archive Support"
		echo -e  	"6.\t Adds Arc Theme and Icon Pack"
		echo -e   	"7.\t Add Packer (AUR and Pacman combined)"
		
		echo -e 	"m. \t Return to Main Menu"
		echo -e		"q. \t Exit to Prompt\n\n"

		read -p 	"Your Choice?:"  archSelection

		case $archSelection in
	    
	     
		 1)	manjaroMenu
			x=1 ;; 

	     2)  optimizeArchMirrors
				x=1	;;

	      3)  addYaourt
				x=1	;;

	      4)  soundSupport
				x=1	;;

	      5) archiveSupport
				x=1 ;;

	      6) archInstallArc
				x=1	;;

	      7) 	## This needs TESTING
	        	yaourt -s packer
				x=1  ;;


		 [aA]) sudo pacman -Syyu
		       OptimizeMirrors
				addYaourt
				SoundSupport
				archiveSupport
				archInstallArc
				yaourt -s packer
				x=1
				;;

			[mM]) 	clear 
					exit
					;;

			[qQ])  quitScript   ;;

			* ) invalidSection ;;

	    esac

	done

} 

##########################################################################

function mainFedoraMenu
{
	

	. $functionsdir/fedora/includeFedoraFunctions.cfg

	#######################################################################################
	clear 
	x=1

	while [[ $x=1 ]]; do

		#clear
		echo -e "Xmetal's Fedora based Script \n"
		echo -e "Please Select your Choice \n"

		echo -e   "1. \t ${bold}[Submenu] {$completeReset}Add RPM Fusion and/or UnitedRPM Repositories"
		echo -e   "2. \t Add Fedy"
		echo -e   "3. \t Perform Common Fedy Tasks"
		echo -e   "4. \t Add Extra Software"
		
		echo -e   "m. \t Return to Main Menu"
		echo -e   "q.Exit to Prompt \n\n"

	    read -p "Your Choice?:" fedoraSelection

		case $fedoraSelection in

		  	1) ExtraRepos $fedoraSupported
			  x=1
			  ;;

			2) InstallFedy
			   x=1
			   ;;

			3) massFedyTasks
			   x=1
			   ;;

			[mM])	clear 
					exit
					;;

			[qQ]) quitScript	;;

			* ) invalidSection ;;

		esac
		
	done

}

######################################################################################

function mainOpenSuseMenu
{
	
	## include files with functions 
	. $functionsdir/includeUniversalFunctions.cfg
	. $functionsdir/opensuse/includeOpenSuseFunctions.cfg

	####################################################################################################

	x=1

	while [[ $x=1 ]]; do

		clear

		echo -e 	"Xmetal's OpenSuse Script \n"
		echo -e 	"Please Select your Choice \n"

		echo -e     "1. \t Add Packman Repositories"
		#echo -e    "2. \t Setup Multimedia/Codecs"
		echo -e   	"3. \t Add Cimmamon to OpenSuse"

	  	echo -e 	"m. \t Return to Main Menu"
		echo -e     "q. \t Exit to Prompt  \n\n"

		read -p "Your Choice?:" openSuseSelection

			case $openSuseSelection in

			  1) packmanSuseRepo
					x=1	;;

			  #2) setupMultimediaLeap
				#	x=1	;;

			  3) cinnamonSuseRepo
					x=1	 ;;

				[mM])	
					clear 
					exit
					;;

				[qQ]) quitScript ;;

				* ) invalidSection ;;

			esac

	done

}

##################################################################################

function mainUbuntuMenu
{

	. $functionsdir/ubuntu/includeUbuntuFunctions.cfg



	x=1

	clear

	while [[ $x=1 ]]; do

			echo -e   "Xmetal's Ubuntu based,  Post-Installation Script \n"

			echo -e   "Please Select Task \n"

			echo -e   "\v1. \t Adds Theme PPAs (Ravenfinity, Moka, Noobslab's Icon Repo (both), \n \t Noobslab's Theme Repo, Numix, and snwh's (Paper Theme) )"
			echo -e   "\v2. \t Install PPA Themes/Icons \n \t (Ambiance, Radiance, Moka, The Arc Theme AND Arc Icons, \n \t Numix Themes and Icons, Vertex Icons, AND Kawaiki Icons "
				
			echo -e   	"\v m. \tReturn to Main Menu"
			echo -e		"q. \tExit to Prompt \n\n"

			read -p "Your Choice?: " ubuntuSelection

			case $ubuntuSelection in

			  1) addThemePPAs
				 x=1 ;;

			  2) installPPAThemes
				 x=1 ;;

			[mM])	clear 
					exit
					;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

			esac

	done
}