## Idea: This depends on distro detection and what version.
## Have ONE function for say adding pacman and then based on the distro (if statement?) add the repo APPROPRIATE to the OpenSuse version
###########################################################
# Test functions here

function suseKDEMultimedia
{
    # Check for OpenSuse Leap 42.1

    # Check for OpenSuse Leap 42.2

    # Check for OpenSuse TW ("else here? ")



}


#####################################################
function leapMultimediaKDE
{
    clear
    echo -e "Install Extra Multimedia Codecs for KDE"

    # Enabled Libdvdcss repo
        <repository recommended="true" format="auto">
            <name>Packman Repository</name>
            <summary>Packman Software Repository</summary>
            <description>Packman build software packages to enable users to easily install and remove software on Linux. More specifically, they do so for software that is not shipped as part of distributions or that are shipped as an outdated version.</description>
            <url>http://packman.inode.at/suse/openSUSE_Leap_42.1/</url>
        </repository>


zypper addrepo

      #####
      # enable packman repo
=======

zypper addrepo

      #####
      # enable packman repo

      <repository recommended="true" format="auto">
          <name>Packman Repository</name>
          <summary>Packman Software Repository</summary>
          <description>Packman build software packages to enable users to easily install and remove software on Linux. More specifically, they do so for software that is not shipped as part of distributions or that are shipped as an outdated version.</description>
          <url>http://packman.inode.at/suse/openSUSE_Leap_42.1/</url>
      </repository>


    <repository recommended="true" format="auto">
            <name>Non-oss</name>
            <summary>Repository with non-oss software</summary>
            <description>Non-oss Repository</description>
            <url>http://download.opensuse.org/distribution/leap/42.1/repo/non-oss/</url>
    </repository>


      ########################################
      #packages to install

      packman-gstreamer-meta-package vlc-codecs k3b-codecs ffmpeg lame gstreamer-plugins-libav gstreamer-plugins-bad  gstreamer-plugins-ugly gstreamer-plugins-ugly-orig-addon gstreamer-plugins-good gstreamer-fluendo-mp3



      }



      ## Put The summary info in a guide for later
      packman-gstreamer-meta-package

      <summary>Meta package to ensure consistent installation of required GStreamer packages.</summary>
      <description>Meta package to compensate for lack of dependencies on GStreamer packages to ensure consistent versions of installed packages.</description>

      <name>vlc-codecs</name>
          <summary>Codecs for VideoLan Client (VLC).</summary>
            <description>This Package enhances the functionality of the VLC VideoLAN Client with Codecs that are not available in a stock openSUSE distribution.</description>

      <name>k3b-codecs</name>
          <summary>Extra Multimedia Codecs for K3b</summary>
          <description>This package extends the opensuse package with some codecs. K3b is a CD burning application that supports Ogg Vorbis, MP3 audio files, DVD burning, CDDB, and much more.</description>

      <name>ffmpeg</name>
          <summary>Hyper fast MPEG1/MPEG4/H263/RV and AC3/MPEG audio encoder</summary>
          <description>Hyper fast MPEG1/MPEG4/H263/RV and AC3/MPEG audio encoder.</description>

        <name>lame</name>
          <summary>LAME adds support for encoding audio data into the MP3 format</summary>
          <description>LAME is an educational tool to be used for learning about MP3 encoding.  The goal of the LAME project is to use the open source model to improve the psycho acoustics, noise shaping and speed of MP3.  Another goal of the LAME project is to use these improvements for the basis of a patent free audio compression codec for the GNU project.</description>



          <name>gstreamer-plugins-libav</name>
          <summary>GStreamer libav plug-in</summary>
          <description>GStreamer libav plug-in contains one plugin with a set of elements using the libav library code. It contains most popular decoders as well as very fast colorspace conversion elements.</description>


              <name>gstreamer-plugins-bad</name>
              <summary>GStreamer Bad Plug-ins</summary>
              <description>GStreamer Bad Plug-ins is a set of plug-ins that aren't up to par compared to the rest. They might be close to being good quality, but they're missing something - be it a good code review, some documentation, a set of tests, a real live maintainer, or some actual wide use.</description>


              <name>gstreamer-plugins-ugly</name>
              <summary>GStreamer Ugly Plug-ins</summary>
              <description>GStreamer Ugly Plug-ins is a set of plug-ins that have good quality and correct functionality, but distributing them might pose problems. The license on either the plug-ins or the supporting libraries might not be how we'd like. The code might be widely known to present patent problems.</description>


              <name>gstreamer-plugins-ugly-orig-addon</name>
              <summary>GStreamer Ugly Plug-ins</summary>
              <description>GStreamer Ugly Plug-ins is a set of plug-ins that have good quality and correct functionality, but distributing them might pose problems. The license on either the plug-ins or the supporting libraries might not be how we'd like. The code might be widely known to present patent problems.</description>


              <name>gstreamer-plugins-good</name>
              <summary>GStreamer Streaming-Media Framework Plug-Ins</summary>
              <description>GStreamer is a streaming media framework based on graphs of filters that operate on media data. Applications using this library can do anything media-related, from real-time sound processing to playing videos. Its plug-in-based architecture means that new data types or processing capabilities can be added simply by installing new plug-ins.</description>

              <name>gstreamer-fluendo-mp3</name>
              <summary>GStreamer plug-in from Fluendo for MP3 support</summary>
              <description>This package contains the fully licensed MP3 decoder binary as available from http://shop.fluendo.com free of charge..</description>


}




##################################################################################
function twMultimedia
{
   clear
   echo -e "Codecs for openSUSE Tumbleweed with KDE"

   ## Repos to Enable
      suseAddRepo http://ftp.gwdg.de/pub/linux/packman/suse/openSUSE_Tumbleweed/packman.repo

        ## Keep Some of This for Documentation later
          #  <name>Packman Repository</name>
          #  <summary>Packman Software Repository</summary>
          #  <description>Packman build software packages to enable users to easily install and remove software on Linux. More specifically, they do so for software that is not shipped as part of distributions or that are shipped as an outdated version.</description>



        <repository recommended="true" format="auto">
            <name>libdvdcss repository</name>
            <summary>Repository with libdvdcss</summary>
            <description>Encrypted DVD support</description>
            <url>http://opensuse-guide.org/repo/openSUSE_Tumbleweed/</url>

    ### software
          libdvdcss2

        <!--
            vlc-codecs k3b-codecs ffmpeg lame gstreamer-plugins-libav gstreamer-plugins-bad gstreamer-plugins-ugly gstreamer-plugins-ugly-orig-addon gstreamer-plugins-good
}

function twMultimediaKDEYMP
{
    # This may do all of what i have in the non-YMP function, in a much simplier format
    OCICLI http://opensuse-community.org/codecs-kde.ymp

}
