

distro=${osrelease#"ID_LIKE="}

##########################################################################
function installCommonSoftware
{
		clear
		echo -e "Installing some Common Software"
	  userPrompt

		echo -e "Software including: Pidgin Libre Office, MPV, Audacious, DeadBeef, Hexchat"
		suseInstall deadbeef pidgin libreoffice hexchat mpv audacious audacious-plugins

		# Note to self: I think there is one more audacious-* package needed for mp3 playback
}


function SuseAddArcTheme
{
      suseInstall gtk2-engine-murrine

      echo "Adding Arc Theme repo to OpenSuse and Installing "
      suseAddRepo http://download.opensuse.org/repositories/home:Horst3180/openSUSE_Leap_42.1/home:Horst3180.repo

	  zypper refresh
      suseInstall arc-theme

}


function installGoogleChrome
{

		## Install google's PGP key
		wget https://dl.google.com/linux/linux_signing_key.pub
		sudo rpm --import linux_signing_key.pub

		## Add google chrome repository
		suseAddRepo http://dl.google.com/linux/chrome/rpm/stable/x86_64 google-chrome

		## Refresh repository
		sudo zypper ref

		# Install google chrome browser #
		echo "Line to add Google Chrome has been commented out .. open up script and remove # (comment) to have it installed, or copy and paste the line, without the # into a terminal "
		#sudo zypper in google-chrome-stable

}

###############################################################################


function packmanReposAll
{
	clear
	echo -e "Installing Packman Repo "

	## ?? 'suseVer' = output of mockDistroSpecificFunction specific to OpenSuse?

	repoName=Packman Repository

	echo "Adding Packman Repo for added Software"

		if [ "${suseVer}" == 'leap421' ]; then
				packmanURL=http://ftp.gwdg.de/pub/linux/packman/suse/openSUSE_Leap_42.1/

		elif [ "${suseVer}" == 'leap422' ]; then
				## If Leap 42.2
				packmanURL=http://ftp.gwdg.de/pub/linux/packman/suse/openSUSE_Leap_42.2/

		elif [ "${suseVer}" == 'tumbleweed' ]; then
				## If Tumbleweed
				packmanURL=http://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Tumbleweed/

		else
			 echo "Version can not be determined"
		fi


	## OUTSIDE OF IF Statement(s?)
	suseAddRepoName $repoName $packmanURL

}
