
function installPackmanRepoLeap
{
		echo "Adding Packman Repo for added Software"
		sudo zypper ar -G -t YUM http://ftp.gwdg.de/pub/linux/packman/suse/openSUSE_Leap_42.1/ Packman-Repository
}


function setupMultimediaLeap
{

	echo "Setting up Multimedia codecs"
	# Step 3 - Setup multimedia  codecs
	sudo zypper install k3b-codecs ffmpeg lame phonon-backend-vlc phonon4qt5-backend-vlc vlc-codecs

	## Remove below Media Codecs packages #
	$ sudo zypper remove phonon-backend-gstreamer phonon4qt5-backend-gstreamer
	echo "Multimedia Codecs Setup Completed "
	read -p "Click [Enter] to continue"

}
