function installAtomEditor
{
  wget https://atom.io/download/rpm

}

## installPackmanRepoTW will be deletable once PackmanReposAll is tested and working
function installPackmanRepoTW
{

  clear
  echo "Installing Packman Repo for extra software"
  zypper ar -f -n packman http://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Tumbleweed/ packman

  clear
  echo "Packman Repo for Tumbleweed now installed"

}

function installChromium
{
  # This is 1000% UN-tested as far as ymp files
  url=https://software.opensuse.org/ymp/openSUSE:Factory/standard/chromium.ymp

  ympInstall $url
}
