function installCommonSoftware
{
	echo "Installing some Common Software"
	sudo zypper install deadbeef pidgin libreoffice hexchat mpv audacious audacious-plugins

	# Note to self: I think there is one more audacious-* package needed for mp3 playback
}


function updateOpenSuse
{

		clear
    echo "Updating OpenSuse - Note: you may have to scroll down and agree to the agreement for this to work"
    read -p "Press a Key to Continue"
		sudo zypper up
		echo "Update Complete"
}

function SuseAddArcTheme
{
      sudo zypper install gtk2-engine-murrine

      echo "Adding Arc Theme repo to OpenSuse and Installing "
      zypper addrepo http://download.opensuse.org/repositories/home:Horst3180/openSUSE_Leap_42.1/home:Horst3180.repo
      zypper refresh
      zypper install arc-theme

}


function installGoogleChrome
{

		## Install google's PGP key
		wget https://dl.google.com/linux/linux_signing_key.pub
		sudo rpm --import linux_signing_key.pub

		## Add google chrome repository
		sudo zypper ar http://dl.google.com/linux/chrome/rpm/stable/x86_64 google-chrome

		## Refresh repository
		sudo zypper ref

		# Install google chrome browser #
		echo "Line to add Google Chrome has been commented out .. open up script and remove # (comment) to have it installed, or copy and paste the line, without the # into a terminal "
		#sudo zypper in google-chrome-stable

}
