<<<<<<< HEAD:tasks/functions/f_oSuseTW.cfg
<<<<<<< HEAD:tasks/functions/f_oSuseTW.cfg
=======

>>>>>>> 69ac26b... moving ubuntu functions around and adding Xenial:postInstalls/functions/f_oSuseTW.cfg
=======
>>>>>>> 38621a6... maintenance:tasks/functions/f_oSuseTW.cfg
function installAtomEditor
{
  # Placeholder

}

function installPackmanRepoTW
{

  clear
  echo "Installing Packman Repo for extra software"
  zypper ar -f -n packman http://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Tumbleweed/ packman
  clear
  echo "Packman Repo for Tumbleweed now installed"

}
