## To prevent breaking everything I will leave these functions in the other file
## THOUGH THESE will be no longer needed when universal install functions are working

### REPEAT: THESE FUNCTION IN THIS FILE ARE THE ONES NO LONGER NEEDED


########################################
## Functions for OpenSuse
########################################

function suseInstall
{
    # How to install in Suse
    sudo zypper install $1 $2 $3 $4 $5 $6 $7 $8 $9 $10 $11
}

## not 100% sure about this one "no being needed"
function ympInstall
{
	OCICLI $1 $2 $3 %4

}

########################################
## Functions for Ubuntu Based Distros
########################################
function aptInstall
{
      ## Idea: put in loop to see if 'apt' works and IF NOT use apt-get
      sudo apt install $1 $2 $3 $4 $5 $6 $7 $8 -y
}


########################################
## Functions for Arch
########################################
function archPacInstall
{
    sudo pacman -S --noconfirm $1 $2 $3 $4 $5 $6 $7 $8

}

function archAURInstall
{
    # Yaourt? ... Packer? ... I need a script to install that
	echo -e "To Fill in Later"
}

########################################
## Functions for Fedora
########################################

function fedoraInstall
{
  sudo dnf install $1 $2 $3 $4 $5 $6 $7 $8

}
