## I moved install functions to another .cfg file that I can remove in one shot
## When my universal installer function works the way I want
installs= . $functionfolder/f_installs.cfg
$installs


########################################
## Functions for OpenSuse
########################################
function suseAddRepo
{
      #Adding Repos in OpenSuse
      sudo zypper addrepo -f $1
}

function suseAddRepoName
{
      ## $1 is the Repo Name
      ## $2 is the Repo "URL"

      #Adding Repos in OpenSuse
      sudo zypper addrepo -f -n $1 $2
}

function suseUpdate
{
		clear
    echo "Updating OpenSuse - Note: you may have to scroll down and agree to the agreement for this to work"
    userPrompt
    sudo zypper up
		echo "Update Complete"
    clear
}

function ympInstall
{
	OCICLI $1 $2 $3 %4

}

########################################
## Functions for Ubuntu Based Distros
########################################

function addPPA
{
  sudo apt-add-repository -y $1 $2 $3 $4 $5 $6 $7 $8
}

function aptUpdate
{
  clear
  echo -e "Refreshing Repo List"
  userPrompt
  sudo apt update
  clear
  echo "Repos Refreshed"
}

function aptUpgrade
{
  aptUpdate

  clear
  echo "Upgrading (with a prompt to the user)"
  userPrompt

  sudo apt upgrade
  clear
  echo -e "System Updated \n\n"

}

########################################
## Functions for Arch
########################################

function archPacUpdate
{
  sudo pacman -Syy
}

function archAURInstall
{
    # Yaourt? ... Packer? ... I need a script to install that
	echo -e "To Fill in Later"
}

########################################
## Functions for Fedora
########################################
function fedoraUpdate
{
  sudo dnf upgrade

}
