## This is for the meta function (??) below ... if its Ubuntu's base that is detected .. this will get called vs having all this code in the other function 
function ubuntuInstalledVer
{
  # $1, here = the package you want info on

  ## Clear Var if it was assigned a value before
  unset pkgVersion


  pkgVersion=$(apt-cache policy $1 | grep Installed | sed 's/^.*Installed: //g')

  ## test output
  clear
  echo -e "pkgVersion:\t $pkgVersion"
  echo
  ## end test output 


  if [ -n "$pkgVersion" ] || [ "$pkgVersion" == '' ]; then
    echo -e "sorry $1 package is not installed" 
  else
    echo -e "HORRAY Package $1 is installed"
  fi

  echo 
}


## To Detect the package version
function detectPackage
{
   # $1 is the package you want info on

  if [ "$distroBase" == 'ubuntu' ]; then
    # Ubuntu
    ubuntuInstalledVer $1

  elif [ "$distroBase" == 'fedora' ]; then
    # Fedora  I THINK I found this works on OpenSuse too ... 99% sure of that
    packageInstalled="rpm -q $1"
   

  fi

  # note to self: I should limit the number of char's from the left ... to remove the stuff like "foobar-3.033_ubuntu2..." or "foobar3.033_f26_x86_64...." as it may be the same version (what i would want to detect... in a sense) but it'd come up different because of the extra part, specific to distros
}
