# The IDEA of this file is to put the "installChrome" functions which will have all the code needed to install
# NO MATTER the distro (to a degree ..)

## DISTRO DETECTION HAS TO BE PERFECTED

## Note about Atom from atom.io ... it IS in the arch repos .. .no NEED for the AUR there

functions installRepoApp
{
    if [ "${distroBase}" == 'ubuntu' ]; then
        ## Calls the Ubuntu install function
        ubuntuInstall
    elif [ "${distroBase}" == 'fedora' ]; then
        sudo dnf install $appList
    elif [ "${distroBase}" == 'opennsuse' ]; then
        sudo zypper install $appList
    elif [ "${distroBase}" == 'arch' ]; then
        sudo pacman -S $appList
    else
       echo "FILLER TEXT FOR NOW ... "
    fi


}

function ubuntuInstall
{

    if [ $(command -v apt) ]; then
        sudo apt install $appList -y
    else [ $(command -v apt-get) ]; then
        sudo apt-get install $appList -y 
    fi

}
