# The IDEA of this file is to put the "installChrome" functions which will have all the code needed to install
# NO MATTER the distro (to a degree ..)

## DISTRO DETECTION HAS TO BE PERFECTED

## Note about Atom from atom.io ... it IS in the arch repos .. .no NEED for the AUR there

###############################################################################

installs= . $functionfolder/f_packageManager_installs.cfg
$installs

function installApp
{
    ## THIS is the universal installer function

    ## For now (I .. think) This WILL assume that the package is in the repos that
    ## are on the system when this is called, though i am thinking of ideas around this

    clear
    echo $1 $2 $3
    ## Pause for testing
    userPrompt

    if [ "${distroBase}" == 'ubuntu' ]; then
      ubuntuInstall

    elif [ "${distroBase}" == 'fedora' ]; then
        sudo dnf install $appList
    elif [ "${distroBase}" == 'opennsuse' ]; then
        sudo zypper install $appList
    elif [ "${distroBase}" == 'arch' ]; then
        sudo pacman -S $appList
    else
       echo "FILLER TEXT FOR NOW ... "
    fi


}

function ubuntuInstall
{


      if [ "$(command -v apt)" ]; then
          sudo apt install $appList -y

      elif [ "$(command -v apt-get)" ]; then
          sudo apt-get install $appList -y

      fi
}

function DEBInstall
{

    ## To call this maybe an example like the comment below
    ## would be the way to go

    ### atom="URL HERE"
    ### DEBInstall atom


    ##########################################
    # $1 needs to be a URL ... i think

    # Step 1: stripFileInfo function to get info
    stripFileInfo $1

    # Step 2 - download DEB file
    wget $1

    # Step 3 - run dpkg -i to install
    sudo dpkg -i "filenamewithdeb from stripFileInfo"

}
