
#########################################################################################
## Specific Distro Checking 
# Arch based 
function archCheck 
{
  if [ "$id" == "arch" ]; then 
    distroBase="arch"
  fi
}


########################################################################################
#Fedora Based 
function fedoraCheck
{

  # Fedora check 
  if [ -f /etc/fedora-release ] || [ "$id" == "fedora" ]; then
    distroBase="fedora"
  else 
    return    
  fi

  if [ "$versionid" == "26" ] || [ "$versionid" == "27" ] || [ "$versionid" == "rawhide" ]]; then
    fedoraSupported="yes"
  else 
    fedoraSupported="no"
    # echo "Your version of Fedora is not currently supported"
    return 
  fi 
}


###############################################################################
# OpenSUSE Related 
function openSuseCheck
{

 	if [ "$id" == "opensuse" ]; then 
    	distroBase="opensuse"
      opensuseName=`$name | sed s/openSUSE //g `

  fi
    clear
    echo -e "test name is: \t $name"
    echo -e "test opensuseName is: \t $opensuseName"
    userPrompt
    clear

    #name=($($osrelease | grep ^NAME= | sed 's/NAME=//g' | $removeQuote))


    ### name for TW is - NAME="openSUSE Tumbleweed" 
    ## This hopefully strips the "OpenSUSE " part out of things to leave "Leap 42.2" or "Tumbleweed"

    
    # I need to strip "openSUSE" out of the name when i read it in 
    ### if name= Tumbleweed, Leap 422 (?), Leap423 THAN supported=yes/true
    ## Should have some variable for near EOL versions that tell the user when their support will run out 


    ## This is NOT filled out yet, so to speak 
    if [ "$opensuseName" == "Leap" ] || [ "$opensuseName" == "Tumbleweed" ]; then
      supported="yes"
    else 
      supported="no"
    fi 
}

##################################################################

function solusCheck 
{
  if [ -f /etc/solus-release ] || [ "$id" == "solus" ]; then 
    distroBase="solus"
  fi
}

#####################################################################
function ubuntuCheck
{

  # This will expand, as needed later to include more distros that are Ubuntu based, later 
  if [ "$id" == "linuxmint" ] || [ "$id" == "ubuntu" ]; then
    distroBase="ubuntu"
  fi

 


  ################################################################

  ## If the distro base is NOT ubuntu, then there is no point for any of the code in the nested if statement to run 

  if [ "$distroBase" == 'ubuntu' ]; then 

      echo "Now inside SPECIFIC Ubuntu if/elif statement."
      userPrompt
      
      # if the detected versions is 14.04 or 16.04 ... either of the current LTS versions
      if [ "$UBUNTU_CODENAME" == 'trusty' ] || [ "$UBUNTU_CODENAME" == 'xenial' ]; then
        supported="yes"
        ubuntuLTS="yes"


      # If 17.04 or 17.10, is detected.
      elif [ "$UBUNTU_CODENAME" == 'zesty' ] || [ "$UBUNTU_CODENAME" == 'artiful' ] ; then
        supported="yes"
        ubuntuLTS="no"
      else
        supported="no"
        ubuntuLTS="no"

      fi

  fi

}