## Include file with info of when different distro versions EOL is 

## Gets EOL info 
EOLInfo= . "$rootdir"/tasks/functions/support/distroEOL.cfg
$EOLInfo 

###########################################################

ubuntuCheck= . "$rootdir"/tasks/functions/check/f_ubuntuCheck.cfg
$ubuntuCheck 

opensuseCheck= . "$rootdir"/tasks/functions/check/f_openSuseCheck.cfg
$opensuseCheck 


#################################################
function universalEOLCheck
{ 

  if [ "$distroBase" == 'fedora' ]; then
    
    if [ "$versionid" == '26' ]; then
      EOL=$fedora26EOL
    elif [ "$versionid" == '27' ]; then
      EOL=$fedora27EOL
    elif [ "$versionid" == 'rawhide']; then
      EOL=$fedoraRawhideEOL
    fi 
  
  fi 
  # Not Fedora if it passes this point 


  if [ "$distroBase" == 'opensuse' ]; then
      
    if [ "$name" == "openSUSE Leap" ] ; then
      EOL="filler for now"

      # This is correct for Leap
      ## Action? - Pass to more specific OpenSuse Check? ... yes ... thats what I will do 

    elif [ "$name" == "openSUSE Tumbleweed" ]; then
      EOL=$twEOL

    fi 

    # This shouldn't be reached without going past next fi ... this is "It's OpenSuse but not Leap or Tumbleweed" ... WHICH WOULDN'T make sense  
      
  fi
  # Not OpenSuse (... or Fedora if this point is reached)


  if [ "$distroBase" == 'ubuntu' ]; then
    ## LTS Related 
    if [ "$ubuntuName" == 'trusty' ]; then
      EOL=$LTS1404EOL
    elif [ "$ubuntuName" == 'xenial' ]; then
      EOL=$LTS1604EOL

    ## NON-LTS
    ## 1704
    elif [ "$ubuntuName" == 'zesty' ]; then
      EOL=$ubuntu1704EOL
    # 1710
    elif [ "$ubuntuName" == 'artful' ]; then
      EOL=$ubuntu1710EOL
    fi

  fi 




}


#########################################################################################
## Specific Distro Checking 
# Arch based 

function archCheck 
{
  if [ "$id" == 'arch' ] || [ "$id" == 'manjaro' ]; then 
    distroBase="arch"

    ## shouln't a "rolling release = yes " var be here? 

    supported="yes" 
    rollingrelease="yes"


      if [ "$id" == 'manjaro' ]; then 
        
        manjaroVersion=`cat /etc/lsb-release | grep 'DISTRIB_RELEASE=' | sed 's/DISTRIB_RELEASE=//g' `

        version=${manjaroVersion}

      fi 

  fi
}



########################################################################################
#Fedora Based 

function fedoraCheck
{

  # Fedora check 
  if [ -f /etc/fedora-release ] || [ "$id" == 'fedora' ]; then
    distroBase="fedora"
  
    if [ "$versionid" == '26' ] || [ "$versionid" == '27' ] || [ "$versionid" == 'rawhide' ]; then
      supported="yes"
    else 
      supported="no"
    fi 
  fi

}


##################################################################

function solusCheck 
{
  ## Not sure why I have both checks but ...eh 
  if [ -f /etc/solus-release ] || [ "$id" == 'solus' ]; then 
    distroBase="solus"
    supported="yes" 
    rollingrelease="yes"
  fi
}

#####################################################################
