## This is for 16.04 or ABOVE


function budgieRemixPPA
{
    sudo add-apt-repository ppa:budgie-remix/ppa

    aptUpdate

}

function budgieTheme
{
    sudo apt install arc-firefox-theme arc-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme moka-icon-theme vertex-theme
}
