<<<<<<< HEAD
autoAddRepo=sudo sudo add-apt-repository -y
=======
function variables
{

    autoAddRepo= sudo sudo add-apt-repository -y
}
varibles
>>>>>>> 719107e... Changed common tasks to variables


function AddAppPPAs
{

    clear
    ## Add Application PPAs
    echo "Adding Application/Program PPA "
    autoAddRepo ppa:costales/anoise && sudo add-apt-repository -y ppa:danielrichter2007/grub-customizer
    autoAddRepo ppa:gnumdk/lollypop && sudo add-apt-repository -y ppa:heyarje/makemkv-beta && autoAddRepo ppa:kvibes/mediaelch
    autoAddRepo ppa:libreoffice/ppa && sudo add-apt-repository -y ppa:linvinus/altyo && autoAddRepo ppa:nathandyer/vocal-daily
    autoAddRepo ppa:dimula73/krita && sudo add-apt-repository -y ppa:peterlevi/ppa

    GetDebsPPA

    ## sudo add-apt-repository ppa:peterlevi/ppa is for Variety
}


function aptUpdate
{
  clear
  echo -e "Refreshing Repo List"
  read -p "Press a key to continue "
  sudo apt update
  echo "Repos Refreshed"
}

function aptUpgrade
{
  aptUpdate

  clear
  echo "Upgrading (with a prompt to the user)"
  read -p "Press a key to continue "

  sudo apt upgrade
  read -p
}

function getDebsPPA
{
  wget -q -O - http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -
  sudo sh -c 'echo "deb http://archive.getdeb.net/ubuntu xenial-getdeb apps" >> /etc/apt/sources.list.d/getdeb.list'
  clear

  aptUpdate

}

function getGamesPPA
{
    clear

    echo "Adding Gaming PPA from Getdebs.net"
    wget -q -O - http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -

    sudo sh -c 'echo "deb http://archive.getdeb.net/ubuntu xenial-getdeb games" >> /etc/apt/sources.list.d/getdeb.list'

    clear

}

function addThemePPAs
{
    clear

    echo "Adding Theme and Icon Pack, next ... Press [Enter] key to continue"
    read

    # Works on 14.04, 16.04, and 16.10
    sudo add-apt-repository -y ppa:snwh/pulp && sudo add-apt-repository -y ppa:numix/ppa

    clear
    sudo apt-get update
    echo  "PPAs/ Repositories added for Themes and Icons.  Press [Enter] key to continue"
    read
    clear

}

function addLTSThemes
{
    autoAddRepo ppa:ravefinity-project/ppa && autoAddRepo ppa:moka/stable


}

function installPPAThemes
{

  clear
  echo -e "Installing the Ambiance, Radiance, Numix, Vertex, Moka, kawaiki, and Arc Themes via PPA"
  read -p "Press a Key to continue"


  ## Install Themes from PPAs Added
  sudo apt-get install ambiance-colors radiance-colors moka-gtk-theme arc-icons vertex-icons kawaiki-icons arc-theme numix-icon-theme numix-icon-theme-circle numix-gtk-theme
  clear

}


##########################################################################################

function InstallLokiAdditions
{
		# Update System
		clear
		echo "Refreshing repos"
		echo "Installing PPA Support, Gnome Tweak Tools, GDebi, and Synaptic"
		read -p "Press [Enter] to continue"

    sudo apt install software-common-properties synaptic gnome-tweak-tool gdebi

}

function addUMateDevPPA
{
      clear
      echo -p "Adding the Ubuntu Mate Dev(lopment) PPA"
      autoAddRepo ppa:ubuntu-mate-dev/xenial-mate
      clear
      aptUpdate

}
#######################################################
function installChrome
{
	read "Adding Google Chrome (Stable)"
	wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
	sudo sh -c 'echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
	sudo apt update
	clear
	sudo apt-get install google-chrome-stable
	clear
}

function installAtom
{
	echo "Downloading and Installing the Atom Text Editor"
	wget https://atom.io/download/deb
	clear

	# Converting the downloaded file to a deb file
	sudo mv deb atom.deb
	sudo gdebi atom.deb
	clear
	echo "Atom Text Editor installed"
}
