# For more possible options  http://www.ubuntubuzz.com/2016/11/list-of-ppa-repositories-for-ubuntu-16.04-xenial-xerus.html

function AddAppPPAs
{

    clear
    ## Add Application PPAs
    echo "Adding Application/Program PPA "
    addPPA ppa:costales/anoise && addPPA -y ppa:danielrichter2007/grub-customizer
    addPPA ppa:gnumdk/lollypop && addPPA -y ppa:heyarje/makemkv-beta && addPPA ppa:kvibes/mediaelch
    addPPA ppa:libreoffice/ppa && addPPA -y ppa:linvinus/altyo && addPPA ppa:nathandyer/vocal-daily
    addPPA ppa:dimula73/krita && addPPA -y ppa:peterlevi/ppa

    GetDebsPPA

    ## addPPA ppa:peterlevi/ppa is for Variety
}


function getDebsPPA
{
  wget -q -O - http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -
  sudo sh -c 'echo "deb http://archive.getdeb.net/ubuntu xenial-getdeb apps" >> /etc/apt/sources.list.d/getdeb.list'
  clear

  aptUpdate

}

function getGamesPPA
{
    clear

    echo "Adding Gaming PPA from Getdebs.net"
    wget -q -O - http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -

    sudo sh -c 'echo "deb http://archive.getdeb.net/ubuntu xenial-getdeb games" >> /etc/apt/sources.list.d/getdeb.list'

    clear

}

function addThemePPAs
{
    clear

    echo "Adding Theme and Icon Pack, next ... Press [Enter] key to continue"
    read

    # Works on 14.04, 16.04, and 16.10
    addPPA ppa:snwh/pulp && addPPA ppa:numix/ppa

    aptUpdate
    echo  "PPAs/ Repositories added for Themes and Icons."
    userPrompt
    clear

}

function addLTSThemes
{
    addPPA ppa:ravefinity-project/ppa && addPPA ppa:moka/stable
}

function installPPAThemes
{
  clear
  echo -e "Installing the Ambiance, Radiance, Numix, Vertex, Moka, kawaiki, and Arc Themes via PPA"
  userPrompt

  ## Install Themes from PPAs Added
  aptInstall ambiance-colors radiance-colors moka-gtk-theme arc-icons vertex-icons kawaiki-icons arc-theme numix-icon-theme numix-icon-theme-circle numix-gtk-theme
  clear

}
