<<<<<<< HEAD
<<<<<<< HEAD
## This is for 16.04 or ABOVE

=======
>>>>>>> 38621a6... maintenance
=======
## This is for 16.04 or ABOVE

>>>>>>> 719107e... Changed common tasks to variables

function budgieRemixPPA
{
    sudo add-apt-repository ppa:budgie-remix/ppa

    aptUpdate

}

function budgieTheme
{
    sudo apt install arc-firefox-theme arc-theme budgie-wallpapers budgie-wallpapers-xenial faba-icon-theme moka-icon-theme vertex-theme
}
