kernel=`uname -r`


#############################################
## Path Variables
postInstallsDir="$rootdir"/postInstalls
themeDir="$rootdir"/tasks/themes
scriptsDir="$rootdir"/scripts
functionfolder="$rootdir"/tasks/functions

themeHome=~/.themes
iconHome=~/.icons


##############################################################################

# Make sure these are most likely in the default repo ... no extra processing needed 

usefulApps="hexchat filezilla smplayer mpv clementine deluge gparted pidgin libreoffice makemkv picard sound-juicer soundconverter pavucontrol bleachbit"