
## Package Managment related
pManager= . $functionfolder/f_packageManager.cfg
$pManager

installFunction= . $functionfolder/f_installs.cfg
$installFunction

## Ubuntu specific function files

ubuntuFunction= . $functionfolder/ubuntu/f_ubuntu.cfg
$ubuntuFunction

UbuntuSoftwareFunction= . $functionfolder/ubuntu/f_ubuntuSoftware.cfg
$UbuntuSoftwareFunction

UbuntuMenusFunction= . $functionfolder/ubuntu/f_ubuntuMenus.cfg
$UbuntuMenusFunction

UbuntuThemeFunction= . $functionfolder/ubuntu/f_ubuntuTheming.cfg
$UbuntuThemeFunction


## Universal Functions
UniversalInstallFunction= . $functionfolder/universal/f_universalSoftware.cfg
$UniversalInstallFunction
