commonFunctions= . "$rootdir"/tasks/functions/f_common.cfg
$commonFunctions

postInstallsDir="$rootdir"/postInstalls
themeDir="$rootdir"/tasks/themes

###################################################################

suseFunction= . "$rootdir"/tasks/functions/opensuse/f_oSuse.cfg
$suseFunction

suseMultiFunction= . "$rootdir"/tasks/functions/opensuse/f_openSuseMultimedia.cfg
$suseMultiFunction

openSuseTWFunction= . "$rootdir"/tasks/functions/opensuse/f_oSuseTW.cfg
$openSuseTWFunction

openSuseLeapFunction= . "$rootdir"/tasks/functions/opensuse/f_oSuseLeap.cfg
$UbuntuSoftwareFunction
