functionfolder="$rootdir"/tasks/functions

## Ubuntu specific function files

ubuntuFunction= . $functionfolder/ubuntu/f_ubuntu.cfg
$ubuntuFunction

UbuntuSoftwareFunction= . $functionfolder/ubuntu/f_ubuntuSoftware.cfg
$UbuntuSoftwareFunction

UbuntuMenusFunction= . $functionfolder/ubuntu/f_ubuntuMenus.cfg
$UbuntuMenusFunction

UbuntuThemeFunction= . $functionfolder/ubuntu/f_ubuntuTheming.cfg
$UbuntuThemeFunction

## Universal Functions

pManagerUniversal= . $functionfolder/universal/f_universal_pmanager.cfg
$pManagerUniversal

#applist= . $functionfolder/universal/f_applist.cfg
#$applist
