## Hopefully this variable I am using is passed ... that is the intent
universalFunctiondir="$rootdir"/tasks/functions/universal

###################################################





####################################################
universalSoftwareFunctions= . $universalFunctiondir/f_universalSoftware.cfg
$universalSoftwareFunctions

universalThemingFunctions= . $universalFunctiondir/f_universalTheming.cfg
$universalThemingFunctions

packageManagerFunctions= . $universalFunctiondir/f_universal_pmanager.cfg
$packageManagerFunctions

universalMenusFunctions= . $universalFunctiondir/menus/f_universal_menus.cfg
$universalMenusFunctions