universalFunctiondir="$rootdir"/tasks/functions/universal


####################################################
##  File that contains theme related items that can be applied to any supported distro
universalThemingFunctions= . $universalFunctiondir/themes/f_universalThemes.cfg
$universalThemingFunctions

packageManagerFunctions= . $universalFunctiondir/f_universal_pmanager.cfg
$packageManagerFunctions

universalMenusFunctions= . $universalFunctiondir/menus/f_universal_menus.cfg
$universalMenusFunctions

universalSoftwareFunctions= . $universalFunctiondir/f_universalSoftware.cfg
$universalSoftwareFunctions

