function fedoraCheck
{

  # Fedora check 
  if [[ -f /etc/fedora-release || "${id}" == 'fedora' ]]; then
  {
    distroBase="fedora"
  }
  else 
  {
    # These echos are not going to stay ... just not sure what else to put here atm 
    echo "Not Fedora"
  }
  fi


  if [ $distroBase="fedora " ]; then
  
    if [ "${versionid}" == '26' ] || [ "${versionid}" == '27' ] || [ "${version}" == 'rawhide' ]; then
    {
      supported=yes
    }
    else 
    {
      supported=no
    }
    fi 

  fi 

}


function openSuseCheck
{
  ## Check for branch here 
   
  ### name for TW is - name="openSUSE Tumbleweed" 

  echo "opensuse Check filler"

  # I need to strip "openSUSE" out of the name when i read it in 

  ### if name= Tumbleweed, Leap 422 (?), Leap423 THAN supported=yes/true

  ## Should have some variable for near EOL versions that tell the user when their support will run out 

  if [ "${name}" == 'Leap' ] || [ "${version}" == 'Tumbleweed' ]; then
  {
    supported=yes
  }
  else 
  {
    supported=no
  }
  fi 

}


function ubuntuCheck
{

  if [[ "${id}" == 'linuxmint' || ${id} == 'ubuntu' ]]; then
    distroBase="ubuntu"

  else
    echo "Ubuntu Check Filler "
  fi



  ## Example versionid="17.10"

  if [ $distroBase="ubuntu" ]; then 

      if [ "${UBUNTU_CODENAME}" == 'trusty' ] || [ "${UBUNTU_CODENAME}" == 'xenial' ]; then
      {
        supported=yes
        ubuntuLTS=yes
      }
      elif [ "${UBUNTU_CODENAME}" == 'artiful' ]; then
      {
        supported=yes
        ubuntuLTS=no
      } 
      else
      {
        supported=no
        ubuntuLTS=no
      } 
      fi

  fi 

}