function fedoraCheck
{

  # Fedora check 
  if [ -f /etc/fedora-release ] || [ "${id}" == 'fedora' ]; then
  {
    distroBase="fedora"
  }
  else 
  {
    return    
  }
  fi


  if [ "${versionid}" == '26' ] ||  [ "${versionid}" == '27' ] || [ "${version}" == 'rawhide' ]; then
  {
    supported=yes
  }
  else 
  {
    supported=no
    echo "Your version of Fedora is not currently supported"
    return 
  }
  fi 


}

function fedoraSupport
{
  # Quick check for Fedora AND a supported version 
  if [ "${distroBase}" == 'fedora' ] && [ "${supported}" == 'yes' ]
  {
    fedorasupported=yes

  }
  else 
  {
    fedorasupported=no 

  }



}


function openSuseCheck
{
   
  ### name for TW is - name="openSUSE Tumbleweed" 

  ## This hopefully strips the "OpenSUSE " part out of things to leave "Leap 42.2" or "Tumbleweed"
  
  #opensuseName= ${name} | sed s/openSUSE //g


  # I need to strip "openSUSE" out of the name when i read it in 

  ### if name= Tumbleweed, Leap 422 (?), Leap423 THAN supported=yes/true

  ## Should have some variable for near EOL versions that tell the user when their support will run out 

  if [ "${version}" == 'Leap' ] || [ "${version}" == 'Tumbleweed' ]; then
  {
    supported=yes
  }
  else 
  {
    supported=no
  }
  fi 

}


function ubuntuCheck
{

  
  if [[ "${id}" == 'linuxmint' || ${id} == 'ubuntu' ]]; then
    distroBase="ubuntu"

  else
    return 
    # Hopefully exits ubuntuCheck here 
  fi


      # if the detected versions is 14.04 or 16.04 ... either of the current LTS versions
      if [ "${UBUNTU_CODENAME}" == 'trusty' ] || [ "${UBUNTU_CODENAME}" == 'xenial' ]; then
      {
        supported=yes
        ubuntuLTS=yes

        echo -e "You are currently on a SUPPORTED version of a Long-term support release"
      }
      # If 17.04 or 17.10, is detected.
      elif [ "${UBUNTU_CODENAME}" == 'zesty' ] || [ "${UBUNTU_CODENAME}" == 'artiful' ] ; then
      {
        supported=yes
        ubuntuLTS=no
      } 
      else
      {
        supported=no
        ubuntuLTS=no

        echo -e "You are NOT currently on a supported version of Ubuntu's base"


      } 
      fi

}