function archCheck 
{
	// Check to see if distro is arch or an arch derrivative 


}

function fedoraCheck
{
  echo "Fedora Check Filler"


}


function openSuseCheck
{
  ## Check for branch here 
   
  ### name for TW is - name="openSUSE Tumbleweed" 

  echo "opensuse Check filler"

}

function ubuntuCheck
{

  ## Example versionid="17.10"

  echo "ubuntuCheck Filler" 

}