functionsdir="$rootdir"/tasks/functions

updateFunctions= . $functionsdir/universal/pmanagement/upgrade.cfg
$updateFunctions

addSourceFunction= . $functionsdir/universal/pmanagement/addSource.cfg
$addSourceFunction

addInstallFunction= . $functionsdir/universal/pmanagement/installDistro.cfg
$addInstallFunction 

# ... Is this needed here? 
addInstallSoftwareFunction= . $functionsdir/universal/menus/f_universal_menus.cfg
$addInstallSoftwareFunction