
###############################################################################

## Ubuntu Functions

# I think this was from a quidsup tutorials 
function ubuntuInstall
{
      if [ "$(command -v apt)" ]; then
          sudo apt install $appList -y

      elif [ "$(command -v apt-get)" ]; then
          sudo apt-get install $appList -y

      fi
}



#############################################################################
## new idea 


## Takes three arguements ... $1 is the program Name, $2 (based on $3, but edited down elsewhere being the package name.  say "Filebot.deb"), and $3 is the full path to said-file mentioned with $2
#### Think of this as a sort of "template function "

function packageInstall
{
	
	## If distro is Fedora OR OpenSuse (the exact compatible file for EACH DISTRO will be controlled elsewhere... I think )
	echo "rpm -i packageNameHere code goes here"

	## If distro is Ubuntu (based) 
	echo "dpkg -i packageNameHere code goes here "
	sudo dpkg -i $1


	


}
