
## Ubuntu Functions

function ubuntuInstall
{
      if [ "$(command -v apt)" ]; then
          sudo apt install $appList -y

      elif [ "$(command -v apt-get)" ]; then
          sudo apt-get install $appList -y

      fi
}

function dpkgInstall
{

  sudo dpkg -i $1
}