function ubuntuUpdate
{
    ## The purpose of this is to refresh the repos WITHOUT HAVING TO do an upgrade too .. say after a repo is added for example 


    clear
    echo -e "Refreshing Repo List"
    userPrompt

    if [ "$(command -v apt)" ]; then
      sudo apt update

    elif [ "$(command -v apt-get)" ]; then
      sudo apt-get update
        
    fi

    echo "Repos Refreshed"
    clear

}


function ubuntuUpgrade
{
    ubuntuUpdate


    if [ "$(command -v apt)" ]; then

      sudo apt upgrade

    elif [ "$(command -v apt-get)" ]; then
      sudo apt-get upgrade
    fi

   echo -e "System Updated \n\n"

}

#####################################

## For OpenSuse

function refreshRepoSuse
{
  clear
  echo "Refreshing OpenSuse Repositories"
  userPrompt
  sudo zypper ref 
  clear
  echo "Repostories Refreshed"
}



function suseUpgrade
{
		clear
    echo "Updating OpenSuse - Note: you may have to scroll down and agree to the agreement for this to work"
    echo
    echo "You May also have to decide to trust or not trust a third party repo "
    echo 
    # Keep This
    userPrompt


    # No need to call ref function here since zypper up ALREADY refreshes the repos 

    #Would a pass to the universal Updater function be more appropriate here? 
    sudo zypper up
		echo "OpenSuse Update Complete"
    echo 
    echo "IF you see that zypper is NOT upgrading something, that may be normal ... sometimes a more updated package in a different repo is found but since you did not give that other repo a higher PRIORITY, those newer versions will be heald back"
    

    # I decided to put this here to show what zypper is saying to the user, even if nothing "had to be" upgraded 

    userPrompt
    



    clear
}

#####################################
function UpdateFedora
{
    clear
		echo "Upgrading Fedora to latest packages"
		userPrompt
		fedoraUpdate

		clear
		return
}
