function ubuntuSpecificSoftwareMenu
{

	x=1
	clear
	while [ $x=1 ]; do


		echo -e   	"Please Select Task \n"
		echo -e 	"Note: I do not have "random PPAs", the ones I have in my code are legit sources, or even by the official team who makes a program, in question" 
		echo -e "Another thing: Sometimes these programs ARE in default repos, but adding the offical PPAs will let you have a newER version than your current repos have."

		echo -e   "1.) Install Audio Recorder [via PPA]"
		echo -e   "2.) Install MPV [via PPA]"
		echo -e   "3.) Install SMPlayer [via PPA] "
		echo -e   "4.) Install makeMKV [via PPA]"



		echo -e  "\v m. \tReturn to Main Menu"
		echo -e	"q. \tExit to Prompt \n\n"

		read -p "Your Choice?: " ubuntuMMediaSelection

		case $ubuntuMMediaSelection in


	      	1) PPAAudioRecorder
	            x=1 ;;

	        2) PPAMPV
	        	x=1 ;;

 			3) PPASMPlayer
	        	x=1 ;;

	        4) PPAmakeMKV
	        	x=1 ;;

			[mM]) clear
				  exit
				  ;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

		esac

	done

}



#######################################
## Sort of the main menu so to speak 
function ubuntuSpecificSoftwareMenu
{

	x=1
	clear
	while [ $x=1 ]; do


		echo -e   "Please Select Task \n"


		echo -e   "1. \t Add Official LibreOffice PPA - Which may contain newer versions than more distros have in their current repo"

    	echo -e   "2. \t Add UKUU GUI App for installing mainline Ubuntu Kernels"

    	## Should this include "non-third party stuff", as options too?... I think "yes"
    	echo -e  "3. \t [Sub-Menu] Multimedia Related Program "


    	echo -e   ". \t [Elementary OS] Setup Common things like gdebi, Gnome Tweak, and Synaptic"
		echo -e   ". \t [Ubuntu Mate] Add Ubuntu Mate Dev PPA   "

		echo -e   ". \t [Stock Ubuntu/Unity as the DE] Install Unity Tweak Tool"
		echo -e   ". \t [Stock Ubuntu/Unity as the DE] Install Unsettings to tweak Unity"


	    echo

		echo -e  "\v m. \tReturn to Main Menu"
		echo -e	"q. \tExit to Prompt \n\n"

		read -p "Your Choice?: " ubuntuSoftwareSelection

		case $ubuntuSoftwareSelection in

		

	      	1) PPALatestLibreOffice
	            x=1 ;;

	        2) ukuuInstall
	        	x=1 ;;

			
			) InstallElementaryAdditions
				x=1	;;

			) addUMateDevPPA
				x=1 ;;

			) 




			[mM]) clear
				  exit
				  ;;

			[qQ]) quitScript ;;

			* ) invalidSection ;;

		esac

	done

}