
# Checks if installed
function lsbReleaseCheck() {
	# Detect Package Manager
    packageManDetection

	fancy_message "Checking for a few packages that are needed for the scripts to run"
	echo -e "\tThis includes LSB related packages, inxi, wget, curl, and lsb-release\n"

    # Check for /usr/bin/lsb_release
    if [ -f /usr/bin/lsb_release ]; then
        # Installed - no tasks needed
        fancy_message info "lsb_release is already installed"
        return

    else
    # If not installed
    fancy_message info "lsb release package not installed"
    userPrompt

        # note to self: here the package manager is known, but NOT the distro
        # ?? what about Solus? and OpenSuse?

        case $pmanager in

            apt) installApp "lsb-base lsb-release" ;;
            dnf) installApp "redhat-lsb-core" ;;
            pacman|zypper) installApp "lsb-release" ;;

        esac

    fi

}

# Needed since arch default repos do not have inxi
# I probably should move this function elsewhere  .. /function/f_arch.cfg maybe?
# HOWEVER /(@ order of importing these files) that amy break things
function inxiArchInstall() {
    # 1 - Install Build Essentials
    fancy_message action "Installing Build Essentials"
    userPrompt
    universalBuildEssentials

    # 2 - AurHelper check/install
    fancy_message action "Installing inxi from the AUR"
    userPrompt
    aurAppInstall "inxi"
}


#idea: metafunction
function commandCheck()
{
    fancy_message action "Checking for $1"
    if [ $(command -v $1 ) ]; then
        # command/command package is installed

        # unsure if i will keep this echo
        fancy_message info "$1 already installed"

        return
    else

		echo
		fancy_message info "$1 is not installed, now installing"
        # if the package i am checking is inxi
        # ?? - Do i know distroBase at this point?

        if [ "${1}" == "inxi" ] && [ "${distroBase}" == "arch" ]; then
            inxiArchInstall
        else
            installApp "$1"
        fi
    fi

}

function wgetAndCurlCheck()
{

    # 1 - pass to installApp
	# 2 - installApps passes to detection function which runs a "which" command
	installApp "wget curl"
}