function debianCheck(){
# Check var names 
    if  [ "$OSRELEASE_ID" = "debian" ] || \
        [ "$lsbDistribID" = "debian" ]; then
            distroBase="debian"
            rollingRelease="yes"
    fi
}