

# Branch to get/check for info on supported version of Debian
function debianBranchCheck()
{
   # Here distroBase=Debian should be set

    ## TODO: added code for os-release file

    # July 2021: there has to be a cleaner way to do the code below
	# in Sparky Linux .. lsbRelase is the Sparky version NUMBER
    if  [ "${lsbRelease}" = "oldstable" ] || \
        [ "${lsbCodeName}" = "buster" ] || \
        [ "${lsbRelease}" = "10" ]; then

        debianBranch="oldstable"

    elif 	[ "${lsbRelease}" = "stable" ] || \
            [ "${lsbCodeName}" = "bullseye" ] || \
            [ "${lsbRelease}" = "11" ] || \
			[ ${OSRELEASE_DEBIAN_CODENAME} == "bullseye" ]; then

		debianBranch="stable"

    elif 	[ "${lsbRelease}" = "testing" ] || \
          [ "${lsbCodeName}" = "bookworm" ] || \
          [ "${lsbRelease}" = "12" ]; then

        debianBranch="testing"

    elif 	[ "${lsbRelease}" = "unstable" ] || \
		      [ "${lsbCodeName}" = "sid" ]; then

       debianBranch='unstable'

    else
        fancy_message warn "Debian branch could NOT be detected"
        return
    fi


    ## Check the support status
    debianSupportedCheck

    # Sets the Debian Codename (helpful refactoring some code down)
    setDebianCodename
}