function debianSupportCheck() {
    case "${debian_branch}" in
    oldoldstable|oldstable|stable|testing)
        supported="yes"
        ;;
    *)
        supported="no"
        ;;
  
    esac
}


# Branch to get/check for info on supported version of Devuan
function devuanBranchCheck() {
    if [ "${lsbCodename}" = 'chimaera' ] || \
       [ "${OSRELEASE_VERSION_CODENAME}" = 'chimaera' ]; then

        debian_branch="oldoldstable"
        devuan_codename="chimaera"

    elif [ "${lsbCodename}" = 'daedalus' ] || \
         [ "${OSRELEASE_VERSION_CODENAME}" = 'daedalus' ]; then

        debian_branch="oldstable"
        devuan_codename="daedalus"

    elif [ "${lsbCodename}" = 'excalibur' ] || \
         [ "${OSRELEASE_VERSION_CODENAME}" = 'excalibur' ]; then

        debian_branch="stable"
        devuan_codename="excalibur"

    elif [ "${lsbCodename}" = 'ceres' ] || \
         [ "${OSRELEASE_VERSION_CODENAME}" = 'ceres' ]; then

        devuanBranch="unstable"
        devuan_codename="ceres"

    fi
}

# Branch to get/check for info on supported version of Debian
function debianBranchCheck() {
   # Here distroBase="debian" should be set
    if  [ ${lsbRelease} = 'oldoldstable' ] || \
        [ ${lsbCodename} = 'bullseye' ] || \
        [ ${lsbRelease} = '11' ]; then

            debian_branch="oldoldstable"
            debian_codename="bullseye"
    elif
        [ ${lsbRelease} = 'oldstable' ] || \
        [ ${lsbCodename} = 'bookworm' ] || \
        [ ${lsbRelease} = '12' ]; then

            debian_branch="oldstable"
            debian_codename="bookworm"

    elif
        [ ${lsbRelease} = 'stable' ] || \
        [ ${lsbCodename} = 'trixie' ] || \
        [ ${lsbRelease} = '13' ]; then

            debian_branch="stable"
            debian_codename="trixie"

    elif
        [ ${lsbCodename} = 'forky' ]; then

            debian_branch="testing"
            debian_codename="forky"


    elif 	[ ${lsbRelease} = 'unstable' ] || \
		    [ ${lsbCodename} = 'sid' ]; then

            debian_branch='unstable'

    else
        fancy_message warn "Debian branch could NOT be detected"
    fi

    # in case Devuan is installed
    devuanBranchCheck

    # Check if the debian_branch is supported
    debianSupportCheck

}

