fedoraVersion=$OSRELEASE_VERSIONID

function fedoraUnsupportedEOLCheck
{
    
    # Not sure if this is sort of pointless but this will grab the EOL info for the last few versions to display it to the user
    case $OSRELEASE_VERSIONID in

        26) EOL=$fedora26EOL ;;

        27) EOL=$fedora27EOL ;;

        28) EOL=$fedora28EOL ;;

        *) echo -e "Version unable to be detected or too old" ;;

    esac
}

function fedoraSupportedEOLCheck()
{
    case $OSRELEASE_VERSIONID in

        29) EOL=$fedora29EOL ;;

        30) EOL=$fedora30EOL ;;

        31) EOL=$fedora31EOL ;;


    esac


}



function fedoraSupportedCheck()
{
    ## Check Support Status
    case $fedoraVersion in

        29|30|31|rawhide)  supported=yes ;;

        # anything else
        *)  supported=no
            fedoraUnsupportedEOLCheck
            ;;

    esac

}
###################################################################################################

## This is all in f_generalInfo.cfg (I think) now ... this code is not needed here ... all redundent
function fedoraMainCheck()
{

    # Check Support Status
    fedoraSupportedCheck

    # Check version, and assigns info, accordingly
    case $OSRELEASE_VERSIONID in

    29) EOL=$fedora28EOL
        rollingRelease=no ;;

    30) EOL=$fedora30EOL
        rollingRelease=no ;;

    rawhide)  EOL=$fedoraRawhideEOL
                rollingRelease=yes ;;

    esac


}