
function fedoraSupportedCheck()
{


  ## Check Support Status 
    if [ "$OSRELEASE_VERSIONID" == '28' ] || [ "$OSRELEASE_VERSIONID" == '29' ] || [ "$OSRELEASE_VERSIONID" == 'rawhide' ]; then
      supported=yes

    

    else 
      supported=no
    fi 
}


## This is all in f_generalInfo.cfg (I think) now ... this code is not needed here ... all redundent 
function fedoraMainCheck()
{

  distroBase='fedora'

  # Check Support Status 
  fedoraSupportedCheck


    # Check version, and assigns info, accordingly 
    if [ "$OSRELEASE_VERSIONID" == '29' ]; then
      EOL=$fedora28EOL
      rollingRelease=no
    elif [ "$OSRELEASE_VERSIONID" == '28' ]; then
      EOL=$fedora28EOL
      rollingRelease=no 

    elif [ "$OSRELEASE_VERSIONID" == 'rawhide' ]; then
      EOL=$fedoraRawhideEOL
      rollingRelease=yes
    fi 

}