
function fedoraSupportedCheck()
{


  ## Check Support Status 
    if [ "$versionid" == '28' ] || [ "$versionid" == '29' ] || [ "$versionid" == 'rawhide' ]; then
      supported=yes

    else 
      supported=no
    fi 
}



function fedoraMainCheck()
{

  # Fedora check ...if Fedora is detected, then the version is checked and then EOL info is detected 
  if [ -f /etc/fedora-release ] || [ "$id" == 'fedora' ] || [ "$lsbDistribID" = "Fedora"]; then
      distroBase='fedora'

    # Check Support Status 
    fedoraSupportedCheck


    # Check version, and assigns info, accordingly 
    if [ "$versionid" == '29' ]; then
      EOL=$fedora28EOL
      rollingRelease=no
    elif [ "$versionid" == '28' ]; then
      EOL=$fedora28EOL
      rollingRelease=no 

    elif [ "$versionid" == 'rawhide' ]; then
      EOL=$fedoraRawhideEOL
      rollingRelease=yes
    fi 


  fi
}