function fedoraCheck()
{
    fedoraVersion=$OSRELEASE_VERSIONID

    # support check
    case $fedoraVersion in
        32|rawhide)
            support="yes"
            rollingRelease="no"
            ;;

        rawhide)
            supported="yes"
            rollingRelease="yes"
            ;;
        *) supported="no" ;;
    esac


    ## Check Support Status
    case $fedoraVersion in

		# Fedora 30 is EOL as of May 26, 2020.... this is just to get the date
        30) EOL=$fedora30EOL ;;

		31) EOL=$fedora31EOL ;;

		# Fedora 32 is not out yet ... ETA for July 2020, I think
		32) EOL=$fedora32EOL ;;

        # anything else
        *)  supported="no" ;;

    esac

}