
function fedoraCheck()
{
	fedoraVersion=${OSRELEASE_VERSIONID}

    # support check
    case ${fedoraVersion} in
        35|36)
                supported="yes"
                rollingRelease="no"
                ;;

        rawhide)
                supported="yes"
                rollingRelease="yes"
                ;;

        *)      supported="no"
                fancy_message info "It appears you may be on an unsupported version of Fedora"
                userPrompt
                ;;

    esac

    # Get EOL date info .... supported yes or no is already set here
    # note to self: keep only the last two EOL versions for displaying the date
    # July 2021: active releases are F33 and F34
    case ${fedoraVersion} in

        35) EOL=${fedora35EOL} ;;
        36) EOL=${fedora36EOL} ;;

        # anything else
        *)  fancy_message warn "Fedora version either can't be detected OR is older than the last two releases that are no longer supported" ;;

    esac
}