########################################
# OpenSUSE Related 

function leapCheck()
{

    ## Leap 15 = VERSION_ID="15"

    ## Version AND Version ID are both "42.3" on Leap 42.3 branch

    # os-release file specific 
    # this var being checked would be the DATE of the snapshot IF it was tumbleweed 
    if [ $versionid == '15' ] || [ $versionid == '42.3' ]; then
      supported=yes

    else
      supported=no
      return 

    fi
}

#####################################################################
## Meta-function
function opensuseCheck
{

  if [ $lsbDescription = "openSUSE Tumbleweed" ]; then
    openSUSEBranch="tumbleweed"
    rollingRelease=yes
    supported=yes

  ## Guess for now ... remove this comment when confirmed 
  elif [ $lsbDescription = "openSUSE Leap" ]; then
    openSUSEBranch="leap"

    ## Checks to see if its a supported version of Leap 
    leapCheck

    
  fi 

}
