########################################
# OpenSUSE Related 

# making this a different function just to keep code cleaner 
function leapCheck()
{

    ## VERSION_ID="15"

    ## Version AND Version ID are both "42.3" on that branch
    ## on 42.3 .... NAME="OpenSUSE Leap"... other vars seem the same and NOT branch specific

    if [ $versionid == '15' ] || [ $versionid == '42.3' ]; then
      supported=yes

    else
      supported=no
      return 

    fi
}

## Function to check version of opensuse that is running - Leap or TW 
function openSuseCheck()
{

  if [ "$id" == 'opensuse' ]; then 
    
    # Seems like overkill 
      #openSUSEName=$(awk 'BEGIN{FS="="} /^PRETTY_NAME/ {print $2}' /etc/os-release  | sed 's/\"//g' | cut -d ' ' -f 2 )

    ## no matter the version ... will this detect "leap" if Leap is the OS 
    openSUSEName=$(lsb-release -sd | sed 's/\"//g' | cut -d " "  -f 2)

    # If Leap is detected 
    if [ $openSUSEName = 'Leap' ]; then
      
      rollingRelease=no
      # Leap Check function call 
      leapCheck
      

    # If Tumbleweed is detected 
    elif [ $openSUSEName == 'Tumbleweed' ]; then
        
      supported=yes
      rollingRelease=yes

    fi 

  fi 
}