########################################
# OpenSUSE Related

function leapCheck()
{

    ## Leap 15 = VERSION_ID="15"
    ## Version AND Version ID are both "42.3" on Leap 42.3 branch


    case $OSRELEASE_VERSIONID in

        42.3)
            # EOL July 2019
            supported="no"
            EOL=leap423EOL
            ;;

        15.0) EOL=leap15EOL
            supported="yes"
            leapVersion="15.0"
            ;;

        15.1) EOL=leap15EOL
            supported="yes"
            leapVersion="15.1"
            ;;

    *) supported="no"

    ;;

    esac
}


###################################################################################
# Meta function

function openSuseCheck
{

    if  [ "$OSRELEASE_ID" = "opensuse-tumbleweed" ] || \
        [ "$OSRELEASE_NAME" = "openSUSE Tumbleweed" ] || \
        [ "$lsbDescription" = "\"openSUSE Tumbleweed\"" ]; then

        openSUSEBranch="tumbleweed"
        rollingRelease=yes
        supported="yes"
        EOL=$twEOL

        update=$admin$pmanager" dup"

    ## Guess for now ... remove this comment when confirmed
    elif [ "$OSRELEASE_ID" = "opensuse-leap" ]; then

        openSUSEBranch="leap"
        rollingRelease=no

        update=$admin$pmanager" up"

        ## Checks to see if its a supported version of Leap
        leapCheck

    fi

}
