
#########################################################################################
## Specific Distro Checking 


# of course OpenSuse Tumbleweed will be in the f_openSuseCheck.cfg file


###############################################################
# Manjaro Check 
function manjaroCheck()
{
  if [ "$id" == 'manjaro' ]; then 
    distroBase="manjaro"
    manjaroVersion=$(cat /etc/lsb-release | grep 'DISTRIB_RELEASE=' | sed 's/DISTRIB_RELEASE=//g')

    version=$manjaroVersion

  fi 
}

# Arch based check
function archCheck()
{
  # This is not right ... Manjaro should be seperate 
  if [ "$id" == 'arch' ] || [ '$id' == 'anarchy' ]; then 
    distroBase="arch"

  fi
}

## The "total" function for arch 
function archBasedCheck
{
  # Check for arch 
  archCheck

  # Check for Manjaro
  manjaroCheck

  supported="yes" 
  rollingrelease="yes"

}

#######################################################################################

function solusCheck()
{
  ## Not sure why I have both checks but ...eh 
  if [ -f /etc/solus-release ] || [ "$id" == 'solus' ]; then 
    distroBase="solus"
    supported="yes" 
    rollingrelease="yes"
  fi
}

