
#########################################################################################
## Specific Distro Checking 

# Manjaro Check 
## ?? Where does this get called? 
function manjaroCheck()
{
  if [ "$id" == 'manjaro' ]; then 
    distroBase="manjaro"
    manjaroVersion=$(lsb-release -sr)

    version=$manjaroVersion

  fi 
}
