
## I THINK UbuntuName is an old reference to OSRELEASE_UBUNTU_CODENAME

function ubuntuVersionCheck()
{
  ## $UbuntuName is OSRELEASE_UBUNTU_CODENAME I think now


  ##################################################
  # Support Check first (how does this effect EOL stuff )

  case $OSRELEASE_UBUNTU_CODENAME in

  ## work/research for ubuntu based distros may need to be done here
  # loki = elementary
  xenial|bionic|disco|eoan|loki) supported="yes" ;;
  *) supported="no" ;;

  esac

  ########################################

  case $OSRELEASE_UBUNTU_CODENAME in

    xenial|bionic)

      ubuntuLTS="yes"

      ## Consider moving this elsewhere
      echo
      echo -e "You are currently on a ${bold}Long Term Supported Version ${normal}of Ubuntu"

      ;;

    cosmic|loki)

      # only put NON-EOL point releases in this check
        ### WAIT A SECOND ... Loki as a Codename? ... that seems like it SHOULD BE "Xenial" or something like that? ... this seems off
        ubuntuLTS="no"

        echo
        echo -e "You are ${bold}NOT on a long term supported release of Ubuntu"

    ;;

    eoan) ubuntuLTS="no"
        echo
        echo -e "You are currently on Eoan, a non-LTS version of Ubuntu"
        ;;

  *)  supported="no"

    ## Unsupported distro is detected
    echo
    echo "You are possibly on a distro that is no longer supported, or is not supported in these scripts"

    ;;

  esac

}


function EOLUbuntuCheck()
{

    case $OSRELEASE_UBUNTU_CODENAME in

      # LTS releases - last few LTSs ... supported and not supported

        # No longer supported - EOL April 2019
        trusty) EOL=$LTS1404EOL ;;

        #Still supported
        xenial) EOL=$LTS1604EOL ;;
        bionic) EOL=$LTS1804EOL ;;



        # non-LTS, still supported
        disco) EOL=ubuntu1904EOL ;;

        # beta ATM
        eoan) EOL=ubuntu1910EOL ;;

    esac

}

function specificUbuntuDistroCheck()
{
  if [ "$lsbDistribID" = "LinuxMint" ] || [ "$OSRELEASE_NAME" = "Linux Mint" ] || [ "$OSRELEASE_ID" = "linuxmint" ]; then

      distroName="linuxMint"

  elif [ "$OSRELEASE_NAME" = "KDE neon" ] || [ "$OSRELEASE_ID" = "neon" ] || [ "$lsbDistribID" = "neon" ]; then

      distroName="neon"

  fi

}



##########################################################################
###########################################################################

## Metafunction - if distro is/'is based on' Ubuntu
function ubuntuBaseCheck()
{
  # This will expand, as needed later to include more distros that are Ubuntu based, later
  # Currently supports: Linux Mint, Ubuntu (and many of it's flavors), (KDE) Neon, Peppermint, and ElementaryOS

    case $OSRELEASE_ID in

      ubuntu|linuxmint|neon|peppermint|elementary)

        ## Function call to detect "version" or "branch" of ubuntu
        ubuntuVersionCheck

        # Gets support info for the ubuntu based distro
        EOLUbuntuCheck

        # More Specific Ubuntu distro check
        specificUbuntuDistroCheck

    esac

}