
function debGetCheck(){

	if [ $(command -v deb-get) ]; then
		debgetInstalled="yes"
	else
		debgetInstalled="no"
	fi
}


function ubuntuVersionCheck() {

	# echo -e "${UBUNTU_CODENAME}"
	# sleep 3

	## Note to self: DO NOT include releases that are pre-beta/beta as "supported"

	# Supported? ... yes or no
	case ${UBUNTU_CODENAME} in

		bionic|focal|loki|jammy)

			supported="yes"
			ubuntuLTS="yes"

			## Consider moving this elsewhere
			echo
			fancy_message info "You are currently on a supported ${bold}Long Term Supported version ${normal}of Ubuntu"

		;;

		*)
			supported="no"

			## Unsupported distro is detected
			echo
			fancy_message warn "You are possibly on a distro that is no longer supported, or is not supported in these scripts"
		# this needed?
		userPrompt
		;;

	esac
	}

# to keep the above function "cleaner"... keep this seperate
function EOLUbuntuCheck() {

    case ${ubuntuCodename} in

        # LTS
        bionic) EOL=${bionicLTS1804EOL} ;;
		focal) EOL=${focalLTS2004EOL} ;;
		jammy) EOL=${jammy2204EOL} ;; 
    esac

	debGetCheck

}

function specificUbuntuDistroCheck() {

  if  [ "${lsbDistribID}" = "LinuxMint" ] || \
      [ "${OSRELEASE_NAME}" = "Linux Mint" ] || \
      [ "${OSRELEASE_ID}" = "linuxmint" ]; then

      distroName="linuxMint"

  elif  [ "${OSRELEASE_NAME}" = "KDE neon" ] || \
        [ "${OSRELEASE_ID}" = "neon" ] || \
        [ "${lsbDistribID}" = "neon" ]; then

      distroName="neon"

  elif  [ "${OSRELEASE_ID}" = "elementary" ] || \
        [ "${OSRELEASE_VERSION_CODENAME}" = "loki" ] || \
        [ "${OSRELEASE_VERSION_CODENAME}" = "juno" ]; then

        # I admit loki is a test/guess here
        distroName="elementaryOS"
  fi

}



##########################################################################
###########################################################################

## Metafunction - if distro is/'is based on' Ubuntu
function ubuntuBaseCheck() {
  # This will expand, as needed later to include more distros that are Ubuntu based, later
  # Currently supports: Linux Mint, Ubuntu (and many of it's flavors), (KDE) Neon, Peppermint, and ElementaryOS

    case $OSRELEASE_ID in

    	ubuntu|linuxmint|neon|peppermint|elementary)

			## Function call to detect "version" or "branch" of ubuntu
			ubuntuVersionCheck

			# Gets support info for the ubuntu based distro
			EOLUbuntuCheck

			# More Specific Ubuntu distro check
			specificUbuntuDistroCheck

    esac

}
