# Checks if deb-get is installed
function debGetCheck(){
	[ $(command -v deb-get) ] && debgetInstalled="yes" || debgetInstalled="no"
}

# Check for ElementaryOS version
function elementaryVersionCheck() {
	# REMEMBER 18.04 says its EOL in April 2023
	# 5.0  Juno 		Ubuntu 18.04 LTS (bionic)
	# 5.1 	Hera 		Ubuntu 18.04 LTS (bionic) 
	# 6.0 	Odin 	 	Ubuntu 20.04 LTS (focal)[77]
	# 6.1 	Jólnir 	 	Ubuntu 20.04 LTS (focal)[79]
	# 7.0 	Horus 		Ubuntu 22.04 LTS (jammy) 

	case ${VERSION_CODENAME} in 

		juno|hera|odin|jólnir|horus) echo -e "You are on a supported version of ElementaryOS, ${VERSION_CODENAME}" ;;

		*) echo -e "Elementary either not detected or not supported" ;; 

	esac 
}


function ubuntuVersionCheck() {

	ubuntuBranch=${UBUNTU_CODENAME}

	# Supported? ... yes or no
	case ${ubuntuBranch} in

		bionic|focal|jammy)
			supported="yes" && ubuntuLTS="yes" && ubuntuBranchMessage="You are currently on a supported ${bold}Long Term Supported version ${normal}of Ubuntu" ;;

		lunar) 
			supported="yes" && ubuntuLTS="no" && ubuntuBranchMessage="You are currently on a supported version of Ubuntu" ;;

		*)  supported="no"

			## Unsupported distro is detected
			ubuntuBranchMessage="You are possibly on a distro that is no longer supported, or is not supported in these scripts"
		;;

	esac

	# last part for debugging only 
	[ "$supported" = "yes" ] && fancy_message info "${ubuntuBranchMessage}" || fancy_message warn "${ubuntuBranchMessage}"

}

# to keep the above function "cleaner"... keep this seperate
function EOLUbuntuCheck() {

    case ${ubuntuBranch} in

        # LTS
        bionic) EOL=${bionicLTS1804EOL} ;;
		focal) EOL=${focalLTS2004EOL} ;;
		jammy) EOL=${jammy2204EOL} ;; 

		# non-LTS
		# TODO: add Lunar info
    esac

	debGetCheck

}

function specificUbuntuDistroCheck() {

  if  [ "${lsbDistribID}" = "LinuxMint" ] || \
      [ "${OSRELEASE_NAME}" = "Linux Mint" ] || \
      [ "${OSRELEASE_ID}" = "linuxmint" ]; then

      distroName="Linux Mint"

  elif  [ "${OSRELEASE_NAME}" = "KDE neon" ] || \
        [ "${OSRELEASE_ID}" = "neon" ] || \
        [ "${lsbDistribID}" = "neon" ]; then

      distroName="neon"

  elif  [ "${OSRELEASE_ID}" = "elementary" ]; then
		# i removed alot of the code name checks here since that is what the function i call in this elif does anyway 
        distroName="elementaryOS"

		elementaryVersionCheck
  fi

}

##########################################################################
###########################################################################

## Metafunction - if distro is/'is based on' Ubuntu
function ubuntuBaseCheck() {
  # This will expand, as needed later to include more distros that are Ubuntu based, later
  # Currently supports: Linux Mint, Ubuntu (and many of it's flavors), (KDE) Neon, Peppermint, and ElementaryOS

    case $OSRELEASE_ID in

    	ubuntu|linuxmint|neon|peppermint|elementary)

			## Function call to detect "version" or "branch" of ubuntu
			ubuntuVersionCheck

			# Gets support info for the ubuntu based distro
			EOLUbuntuCheck

			# More Specific Ubuntu distro check
			specificUbuntuDistroCheck

    esac

}
